<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2018.
  ~ This file was written by fancyears·milos·malvis @connor. Any question/bug you can post to 1243093366@qq.com.
  ~ ALL RIGHTS RESERVED.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.connor.hozon.bom.bomSystem.dao.modelColor.HzCmcrChangeDao">
    <resultMap id="BaseResultMap" type="sql.pojo.cfg.modelColor.HzCmcrChange">
        <!--主键，从序列中获得-->
        <id column="CMCR_CG_ID" jdbcType="DECIMAL" property="cmcrCgId"/>
        <!--VWO号，外键，级联删除-->
        <result column="CMCR_CHANGE_ORDER_UID" jdbcType="DECIMAL" property="cmcrCgVwoId"/>
        <!--车身颜色代码，要从特性中获取，万一特性删除了，还能保留该值，该值与CMCR_CG_MODEL_SHELL保持一致-->
        <result column="CMCR_CG_SHELL_CODE" jdbcType="VARCHAR" property="cmcrCgShellCode"/>
        <!--变更创建时间-->
        <result column="CMCR_CG_CREATE_DATE" jdbcType="TIMESTAMP" property="cmcrCgCreateDate"/>
        <!--创建者-->
        <result column="CMCR_CG_CREATOR" jdbcType="VARCHAR" property="cmcrCgCreator"/>
        <!--变更修改时间-->
        <result column="CMCR_CG_UPDATE_DATE" jdbcType="TIMESTAMP" property="cmcrCgUpdateDate"/>
        <!--修改者-->
        <result column="CMCR_CG_UPDATER" jdbcType="VARCHAR" property="cmcrCgUpdater"/>
        <!--保留-->
        <result column="CMCR_CG_RESERVE1" jdbcType="VARCHAR" property="cmcrCgReserve1"/>
        <!--保留-->
        <result column="CMCR_CG_RESERVE2" jdbcType="VARCHAR" property="cmcrCgReserve2"/>
        <!--保留-->
        <result column="CMCR_CG_RESERVE3" jdbcType="VARCHAR" property="cmcrCgReserve3"/>
        <!--保留-->
        <result column="CMCR_CG_RESERVE4" jdbcType="VARCHAR" property="cmcrCgReserve4"/>
        <!--保留-->
        <result column="CMCR_CG_RESERVE5" jdbcType="VARCHAR" property="cmcrCgReserve5"/>
        <!--保留-->
        <result column="CMCR_CG_RESERVE6" jdbcType="VARCHAR" property="cmcrCgReserve6"/>
        <!--保留-->
        <result column="CMCR_CG_RESERVE7" jdbcType="VARCHAR" property="cmcrCgReserve7"/>
        <!--保留-->
        <result column="CMCR_CG_RESERVE8" jdbcType="VARCHAR" property="cmcrCgReserve8"/>
        <!--主配置UID，外键，级联删除-->
        <result column="CMCR_SRC_MAIN_CFG" jdbcType="VARCHAR" property="cmcrSrcMainCfg"/>
        <!--源数据UID，外键，级联删除-->
        <result column="CMCR_SRC_PUID" jdbcType="VARCHAR" property="cmcrSrcPuid"/>
        <!--油漆车身总成，保存的是真实的颜色值，创建成功后将不可修改-->
        <result column="CMCR_SRC_MODEL_SHELL" jdbcType="VARCHAR" property="cmcrSrcModelShell"/>
        <!--颜色UID，外键，当颜色被删除之后，该值将被set null，其Code值将从CMCR_CG_MODEL_SHELL中获得，-->
        <result column="CMCR_SRC_COLOR_UID" jdbcType="VARCHAR" property="cmcrSrcColorUid"/>
        <!--特性值的外键，只能是车身颜色的特性值，车身颜色的值与油漆车身总成的值一样-->
        <result column="CMCR_SRC_SHELL_CFG0_PUID" jdbcType="VARCHAR" property="cmcrSrcShellCfg0Puid"/>
        <!--是否多色-->
        <result column="CMCR_SRC_COLOR_IS_MULTIPLY" jdbcType="VARCHAR" property="cmcrSrcColorIsMultiply"/>
        <!--源创建时间-->
        <result column="CMCR_SRC_CREATE_DATE" jdbcType="TIMESTAMP" property="cmcrSrcCreateDate"/>
        <!--源创建人-->
        <result column="CMCR_SRC_CREATOR" jdbcType="VARCHAR" property="cmcrSrcCreator"/>
        <!--源修改时间-->
        <result column="CMCR_SRC_UPDATE_DATE" jdbcType="TIMESTAMP" property="cmcrSrcUpdateDate"/>
        <!--源修改时间-->
        <result column="CMCR_SRC_UPDATER" jdbcType="VARCHAR" property="cmcrSrcUpdater"/>
        <!--颜色车型代码-->
        <result column="CMCR_SRC_CODE_OF_COLOR_MOD" jdbcType="VARCHAR" property="cmcrSrcCodeOfColorMod"/>
        <!--颜色车型描述-->
        <result column="CMCR_SRC_DESC_OF_COLOR_MOD" jdbcType="VARCHAR" property="cmcrSrcDescOfColorMod"/>
        <!--变更状态标志，0为审核中，1为生效-->
        <result column="CMCR_CHANGE_STATUS" jdbcType="DECIMAL" property="cmcrChangeStatus"/>
    </resultMap>
    <sql id="Base_Column_List">
    CMCR_CG_ID,
    CMCR_CHANGE_ORDER_UID,
    CMCR_CG_SHELL_CODE,
    CMCR_CG_CREATE_DATE,
    CMCR_CG_CREATOR,
    CMCR_CG_UPDATE_DATE,
    CMCR_CG_UPDATER,
    CMCR_CG_RESERVE1,
    CMCR_CG_RESERVE2,
    CMCR_CG_RESERVE3,
    CMCR_CG_RESERVE4,
    CMCR_CG_RESERVE5,
    CMCR_CG_RESERVE6,
    CMCR_CG_RESERVE7,
    CMCR_CG_RESERVE8,
    CMCR_SRC_MAIN_CFG,
    CMCR_SRC_PUID,
    CMCR_SRC_MODEL_SHELL,
    CMCR_SRC_COLOR_UID,
    CMCR_SRC_SHELL_CFG0_PUID,
    CMCR_SRC_COLOR_IS_MULTIPLY,
    CMCR_SRC_CREATE_DATE,
    CMCR_SRC_CREATOR,
    CMCR_SRC_UPDATE_DATE,
    CMCR_SRC_UPDATER,
    CMCR_SRC_CODE_OF_COLOR_MOD,
    CMCR_SRC_DESC_OF_COLOR_MOD,
    CMCR_CHANGE_STATUS
  </sql>
    <!--**************************************select**************************************-->
    <select id="selectByPrimaryKey" parameterType="sql.pojo.cfg.modelColor.HzCmcrChange" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ${whichTable}
        where CMCR_CG_ID = #{cmcrCgId,jdbcType=DECIMAL}
    </select>
    <!--**************************************delete**************************************-->
    <delete id="deleteByPrimaryKey" parameterType="sql.pojo.cfg.modelColor.HzCmcrChange">
    delete from ${whichTable}
    where CMCR_CG_ID = #{cmcrCgId,jdbcType=DECIMAL}
  </delete>
    <!--**************************************insert**************************************-->
    <insert id="insert" parameterType="sql.pojo.cfg.modelColor.HzCmcrChange">
        <selectKey order="BEFORE"
                   keyColumn="CMCR_CG_ID" keyProperty="cmcrCgId" resultType="java.lang.Long">
            select ${seqName}.Nextval from dual
        </selectKey>
        insert into ${whichTable} (
        <include refid="Base_Column_List"/>
        )
        values (#{cmcrCgId,jdbcType=DECIMAL}, #{cmcrCgVwoId,jdbcType=DECIMAL}, #{cmcrCgShellCode,jdbcType=VARCHAR},
        #{cmcrCgCreateDate,jdbcType=TIMESTAMP}, #{cmcrCgCreator,jdbcType=VARCHAR},
        #{cmcrCgUpdateDate,jdbcType=TIMESTAMP},
        #{cmcrCgUpdater,jdbcType=VARCHAR}, #{cmcrCgReserve1,jdbcType=VARCHAR}, #{cmcrCgReserve2,jdbcType=VARCHAR},
        #{cmcrCgReserve3,jdbcType=VARCHAR}, #{cmcrCgReserve4,jdbcType=VARCHAR}, #{cmcrCgReserve5,jdbcType=VARCHAR},
        #{cmcrCgReserve6,jdbcType=VARCHAR}, #{cmcrCgReserve7,jdbcType=VARCHAR}, #{cmcrCgReserve8,jdbcType=VARCHAR},
        #{cmcrSrcMainCfg,jdbcType=VARCHAR}, #{cmcrSrcPuid,jdbcType=VARCHAR}, #{cmcrSrcModelShell,jdbcType=VARCHAR},
        #{cmcrSrcColorUid,jdbcType=VARCHAR}, #{cmcrSrcShellCfg0Puid,jdbcType=VARCHAR},
        #{cmcrSrcColorIsMultiply,jdbcType=VARCHAR}, #{cmcrSrcCreateDate,jdbcType=TIMESTAMP},
        #{cmcrSrcCreator,jdbcType=VARCHAR}, #{cmcrSrcUpdateDate,jdbcType=TIMESTAMP}, #{cmcrSrcUpdater,jdbcType=VARCHAR},
        #{cmcrSrcCodeOfColorMod,jdbcType=VARCHAR}, #{cmcrSrcDescOfColorMod,jdbcType=VARCHAR},#{cmcrChangeStatus,jdbcType=DECIMAL}
        )
    </insert>

    <insert id="insertList" parameterType="java.util.List">
        insert into ${whichTable} (
        CMCR_CG_ID,
        CMCR_CHANGE_ORDER_UID,
        CMCR_CG_SHELL_CODE,

        CMCR_CG_CREATOR,

        CMCR_CG_UPDATER,
        CMCR_CG_RESERVE1,
        CMCR_CG_RESERVE2,
        CMCR_CG_RESERVE3,
        CMCR_CG_RESERVE4,
        CMCR_CG_RESERVE5,
        CMCR_CG_RESERVE6,
        CMCR_CG_RESERVE7,
        CMCR_CG_RESERVE8,
        CMCR_SRC_MAIN_CFG,
        CMCR_SRC_PUID,
        CMCR_SRC_MODEL_SHELL,
        CMCR_SRC_COLOR_UID,
        CMCR_SRC_SHELL_CFG0_PUID,
        CMCR_SRC_COLOR_IS_MULTIPLY,
        CMCR_SRC_CREATE_DATE,
        CMCR_SRC_CREATOR,
        CMCR_SRC_UPDATE_DATE,
        CMCR_SRC_UPDATER,
        CMCR_SRC_CODE_OF_COLOR_MOD,
        CMCR_SRC_DESC_OF_COLOR_MOD,
        CMCR_CHANGE_STATUS,
        CMCR_CG_CREATE_DATE,
        CMCR_CG_UPDATE_DATE
        )
        select ${seqName}.Nextval, A.* ,sysdate,sysdate from (
        <foreach collection="hzCmcrChangeList" index="index" item="hzCmcrChange" separator="union all">
            select
                #{hzCmcrChange.cmcrCgVwoId,jdbcType=DECIMAL}, #{hzCmcrChange.cmcrCgShellCode,jdbcType=VARCHAR},
                #{hzCmcrChange.cmcrCgCreator,jdbcType=VARCHAR},
                #{hzCmcrChange.cmcrCgUpdater,jdbcType=VARCHAR}, #{hzCmcrChange.cmcrCgReserve1,jdbcType=VARCHAR}, #{hzCmcrChange.cmcrCgReserve2,jdbcType=VARCHAR},
                #{hzCmcrChange.cmcrCgReserve3,jdbcType=VARCHAR}, #{hzCmcrChange.cmcrCgReserve4,jdbcType=VARCHAR}, #{hzCmcrChange.cmcrCgReserve5,jdbcType=VARCHAR},
                #{hzCmcrChange.cmcrCgReserve6,jdbcType=VARCHAR}, #{hzCmcrChange.cmcrCgReserve7,jdbcType=VARCHAR}, #{hzCmcrChange.cmcrCgReserve8,jdbcType=VARCHAR},
                #{hzCmcrChange.cmcrSrcMainCfg,jdbcType=VARCHAR}, #{hzCmcrChange.cmcrSrcPuid,jdbcType=VARCHAR}, #{hzCmcrChange.cmcrSrcModelShell,jdbcType=VARCHAR},
                #{hzCmcrChange.cmcrSrcColorUid,jdbcType=VARCHAR}, #{hzCmcrChange.cmcrSrcShellCfg0Puid,jdbcType=VARCHAR},
                #{hzCmcrChange.cmcrSrcColorIsMultiply,jdbcType=VARCHAR}, #{hzCmcrChange.cmcrSrcCreateDate,jdbcType=TIMESTAMP},
                #{hzCmcrChange.cmcrSrcCreator,jdbcType=VARCHAR}, #{hzCmcrChange.cmcrSrcUpdateDate,jdbcType=TIMESTAMP}, #{hzCmcrChange.cmcrSrcUpdater,jdbcType=VARCHAR},
                #{hzCmcrChange.cmcrSrcCodeOfColorMod,jdbcType=VARCHAR}, #{hzCmcrChange.cmcrSrcDescOfColorMod,jdbcType=VARCHAR},#{hzCmcrChange.cmcrChangeStatus,jdbcType=DECIMAL}
            from
              dual
        </foreach>
        )A
    </insert>
    <insert id="insertSelective" parameterType="sql.pojo.cfg.modelColor.HzCmcrChange">
        <selectKey order="BEFORE"
                   keyColumn="CMCR_CG_ID" keyProperty="cmcrCgId" resultType="java.lang.Long">
            select ${seqName}.Nextval from dual
        </selectKey>
        insert into ${whichTable}
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cmcrCgId != null">
                CMCR_CG_ID,
            </if>
            <if test="cmcrCgVwoId != null">
                CMCR_CHANGE_ORDER_UID,
            </if>
            <if test="cmcrCgShellCode != null">
                CMCR_CG_SHELL_CODE,
            </if>
            <if test="cmcrCgCreateDate != null">
                CMCR_CG_CREATE_DATE,
            </if>
            <if test="cmcrCgCreator != null">
                CMCR_CG_CREATOR,
            </if>
            <if test="cmcrCgUpdateDate != null">
                CMCR_CG_UPDATE_DATE,
            </if>
            <if test="cmcrCgUpdater != null">
                CMCR_CG_UPDATER,
            </if>
            <if test="cmcrCgReserve1 != null">
                CMCR_CG_RESERVE1,
            </if>
            <if test="cmcrCgReserve2 != null">
                CMCR_CG_RESERVE2,
            </if>
            <if test="cmcrCgReserve3 != null">
                CMCR_CG_RESERVE3,
            </if>
            <if test="cmcrCgReserve4 != null">
                CMCR_CG_RESERVE4,
            </if>
            <if test="cmcrCgReserve5 != null">
                CMCR_CG_RESERVE5,
            </if>
            <if test="cmcrCgReserve6 != null">
                CMCR_CG_RESERVE6,
            </if>
            <if test="cmcrCgReserve7 != null">
                CMCR_CG_RESERVE7,
            </if>
            <if test="cmcrCgReserve8 != null">
                CMCR_CG_RESERVE8,
            </if>
            <if test="cmcrSrcMainCfg != null">
                CMCR_SRC_MAIN_CFG,
            </if>
            <if test="cmcrSrcPuid != null">
                CMCR_SRC_PUID,
            </if>
            <if test="cmcrSrcModelShell != null">
                CMCR_SRC_MODEL_SHELL,
            </if>
            <if test="cmcrSrcColorUid != null">
                CMCR_SRC_COLOR_UID,
            </if>
            <if test="cmcrSrcShellCfg0Puid != null">
                CMCR_SRC_SHELL_CFG0_PUID,
            </if>
            <if test="cmcrSrcColorIsMultiply != null">
                CMCR_SRC_COLOR_IS_MULTIPLY,
            </if>
            <if test="cmcrSrcCreateDate != null">
                CMCR_SRC_CREATE_DATE,
            </if>
            <if test="cmcrSrcCreator != null">
                CMCR_SRC_CREATOR,
            </if>
            <if test="cmcrSrcUpdateDate != null">
                CMCR_SRC_UPDATE_DATE,
            </if>
            <if test="cmcrSrcUpdater != null">
                CMCR_SRC_UPDATER,
            </if>
            <if test="cmcrSrcCodeOfColorMod != null">
                CMCR_SRC_CODE_OF_COLOR_MOD,
            </if>
            <if test="cmcrSrcDescOfColorMod != null">
                CMCR_SRC_DESC_OF_COLOR_MOD,
            </if>
            <if test="cmcrChangeStatus != null">
                CMCR_CHANGE_STATUS,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cmcrCgId != null">
                #{cmcrCgId,jdbcType=DECIMAL},
            </if>
            <if test="cmcrCgVwoId != null">
                #{cmcrCgVwoId,jdbcType=DECIMAL},
            </if>
            <if test="cmcrCgShellCode != null">
                #{cmcrCgShellCode,jdbcType=VARCHAR},
            </if>
            <if test="cmcrCgCreateDate != null">
                #{cmcrCgCreateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="cmcrCgCreator != null">
                #{cmcrCgCreator,jdbcType=VARCHAR},
            </if>
            <if test="cmcrCgUpdateDate != null">
                #{cmcrCgUpdateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="cmcrCgUpdater != null">
                #{cmcrCgUpdater,jdbcType=VARCHAR},
            </if>
            <if test="cmcrCgReserve1 != null">
                #{cmcrCgReserve1,jdbcType=VARCHAR},
            </if>
            <if test="cmcrCgReserve2 != null">
                #{cmcrCgReserve2,jdbcType=VARCHAR},
            </if>
            <if test="cmcrCgReserve3 != null">
                #{cmcrCgReserve3,jdbcType=VARCHAR},
            </if>
            <if test="cmcrCgReserve4 != null">
                #{cmcrCgReserve4,jdbcType=VARCHAR},
            </if>
            <if test="cmcrCgReserve5 != null">
                #{cmcrCgReserve5,jdbcType=VARCHAR},
            </if>
            <if test="cmcrCgReserve6 != null">
                #{cmcrCgReserve6,jdbcType=VARCHAR},
            </if>
            <if test="cmcrCgReserve7 != null">
                #{cmcrCgReserve7,jdbcType=VARCHAR},
            </if>
            <if test="cmcrCgReserve8 != null">
                #{cmcrCgReserve8,jdbcType=VARCHAR},
            </if>
            <if test="cmcrSrcMainCfg != null">
                #{cmcrSrcMainCfg,jdbcType=VARCHAR},
            </if>
            <if test="cmcrSrcPuid != null">
                #{cmcrSrcPuid,jdbcType=VARCHAR},
            </if>
            <if test="cmcrSrcModelShell != null">
                #{cmcrSrcModelShell,jdbcType=VARCHAR},
            </if>
            <if test="cmcrSrcColorUid != null">
                #{cmcrSrcColorUid,jdbcType=VARCHAR},
            </if>
            <if test="cmcrSrcShellCfg0Puid != null">
                #{cmcrSrcShellCfg0Puid,jdbcType=VARCHAR},
            </if>
            <if test="cmcrSrcColorIsMultiply != null">
                #{cmcrSrcColorIsMultiply,jdbcType=VARCHAR},
            </if>
            <if test="cmcrSrcCreateDate != null">
                #{cmcrSrcCreateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="cmcrSrcCreator != null">
                #{cmcrSrcCreator,jdbcType=VARCHAR},
            </if>
            <if test="cmcrSrcUpdateDate != null">
                #{cmcrSrcUpdateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="cmcrSrcUpdater != null">
                #{cmcrSrcUpdater,jdbcType=VARCHAR},
            </if>
            <if test="cmcrSrcCodeOfColorMod != null">
                #{cmcrSrcCodeOfColorMod,jdbcType=VARCHAR},
            </if>
            <if test="cmcrSrcDescOfColorMod != null">
                #{cmcrSrcDescOfColorMod,jdbcType=VARCHAR},
            </if>
            <if test="cmcrChangeStatus != null">
                #{cmcrChangeStatus,jdbcType=DECIMAL}
            </if>
        </trim>
    </insert>
    <!--**************************************update**************************************-->
    <update id="updateByPrimaryKeySelective" parameterType="sql.pojo.cfg.modelColor.HzCmcrChange">
        update ${whichTable}
        <set>
            <if test="cmcrCgVwoId != null">
                CMCR_CHANGE_ORDER_UID = #{cmcrCgVwoId,jdbcType=DECIMAL},
            </if>
            <if test="cmcrCgShellCode != null">
                CMCR_CG_SHELL_CODE = #{cmcrCgShellCode,jdbcType=VARCHAR},
            </if>
            <if test="cmcrCgCreateDate != null">
                CMCR_CG_CREATE_DATE = #{cmcrCgCreateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="cmcrCgCreator != null">
                CMCR_CG_CREATOR = #{cmcrCgCreator,jdbcType=VARCHAR},
            </if>
            <if test="cmcrCgUpdateDate != null">
                CMCR_CG_UPDATE_DATE = #{cmcrCgUpdateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="cmcrCgUpdater != null">
                CMCR_CG_UPDATER = #{cmcrCgUpdater,jdbcType=VARCHAR},
            </if>
            <if test="cmcrCgReserve1 != null">
                CMCR_CG_RESERVE1 = #{cmcrCgReserve1,jdbcType=VARCHAR},
            </if>
            <if test="cmcrCgReserve2 != null">
                CMCR_CG_RESERVE2 = #{cmcrCgReserve2,jdbcType=VARCHAR},
            </if>
            <if test="cmcrCgReserve3 != null">
                CMCR_CG_RESERVE3 = #{cmcrCgReserve3,jdbcType=VARCHAR},
            </if>
            <if test="cmcrCgReserve4 != null">
                CMCR_CG_RESERVE4 = #{cmcrCgReserve4,jdbcType=VARCHAR},
            </if>
            <if test="cmcrCgReserve5 != null">
                CMCR_CG_RESERVE5 = #{cmcrCgReserve5,jdbcType=VARCHAR},
            </if>
            <if test="cmcrCgReserve6 != null">
                CMCR_CG_RESERVE6 = #{cmcrCgReserve6,jdbcType=VARCHAR},
            </if>
            <if test="cmcrCgReserve7 != null">
                CMCR_CG_RESERVE7 = #{cmcrCgReserve7,jdbcType=VARCHAR},
            </if>
            <if test="cmcrCgReserve8 != null">
                CMCR_CG_RESERVE8 = #{cmcrCgReserve8,jdbcType=VARCHAR},
            </if>
            <if test="cmcrSrcMainCfg != null">
                CMCR_SRC_MAIN_CFG = #{cmcrSrcMainCfg,jdbcType=VARCHAR},
            </if>
            <if test="cmcrSrcPuid != null">
                CMCR_SRC_PUID = #{cmcrSrcPuid,jdbcType=VARCHAR},
            </if>
            <if test="cmcrSrcModelShell != null">
                CMCR_SRC_MODEL_SHELL = #{cmcrSrcModelShell,jdbcType=VARCHAR},
            </if>
            <if test="cmcrSrcColorUid != null">
                CMCR_SRC_COLOR_UID = #{cmcrSrcColorUid,jdbcType=VARCHAR},
            </if>
            <if test="cmcrSrcShellCfg0Puid != null">
                CMCR_SRC_SHELL_CFG0_PUID = #{cmcrSrcShellCfg0Puid,jdbcType=VARCHAR},
            </if>
            <if test="cmcrSrcColorIsMultiply != null">
                CMCR_SRC_COLOR_IS_MULTIPLY = #{cmcrSrcColorIsMultiply,jdbcType=VARCHAR},
            </if>
            <if test="cmcrSrcCreateDate != null">
                CMCR_SRC_CREATE_DATE = #{cmcrSrcCreateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="cmcrSrcCreator != null">
                CMCR_SRC_CREATOR = #{cmcrSrcCreator,jdbcType=VARCHAR},
            </if>
            <if test="cmcrSrcUpdateDate != null">
                CMCR_SRC_UPDATE_DATE = #{cmcrSrcUpdateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="cmcrSrcUpdater != null">
                CMCR_SRC_UPDATER = #{cmcrSrcUpdater,jdbcType=VARCHAR},
            </if>
            <if test="cmcrSrcCodeOfColorMod != null">
                CMCR_SRC_CODE_OF_COLOR_MOD = #{cmcrSrcCodeOfColorMod,jdbcType=VARCHAR},
            </if>
            <if test="cmcrSrcDescOfColorMod != null">
                CMCR_SRC_DESC_OF_COLOR_MOD = #{cmcrSrcDescOfColorMod,jdbcType=VARCHAR},
            </if>
            <if test="cmcrChangeStatus != null">
                CMCR_CHANGE_STATUS =  #{cmcrChangeStatus,jdbcType=DECIMAL},
            </if>
        </set>
        where CMCR_CG_ID = #{cmcrCgId,jdbcType=DECIMAL}
    </update>
    <update id="updateByPrimaryKey" parameterType="sql.pojo.cfg.modelColor.HzCmcrChange">
    update ${whichTable}
    set CMCR_CHANGE_ORDER_UID = #{cmcrCgVwoId,jdbcType=DECIMAL},
      CMCR_CG_SHELL_CODE = #{cmcrCgShellCode,jdbcType=VARCHAR},
      CMCR_CG_CREATE_DATE = #{cmcrCgCreateDate,jdbcType=TIMESTAMP},
      CMCR_CG_CREATOR = #{cmcrCgCreator,jdbcType=VARCHAR},
      CMCR_CG_UPDATE_DATE = #{cmcrCgUpdateDate,jdbcType=TIMESTAMP},
      CMCR_CG_UPDATER = #{cmcrCgUpdater,jdbcType=VARCHAR},
      CMCR_CG_RESERVE1 = #{cmcrCgReserve1,jdbcType=VARCHAR},
      CMCR_CG_RESERVE2 = #{cmcrCgReserve2,jdbcType=VARCHAR},
      CMCR_CG_RESERVE3 = #{cmcrCgReserve3,jdbcType=VARCHAR},
      CMCR_CG_RESERVE4 = #{cmcrCgReserve4,jdbcType=VARCHAR},
      CMCR_CG_RESERVE5 = #{cmcrCgReserve5,jdbcType=VARCHAR},
      CMCR_CG_RESERVE6 = #{cmcrCgReserve6,jdbcType=VARCHAR},
      CMCR_CG_RESERVE7 = #{cmcrCgReserve7,jdbcType=VARCHAR},
      CMCR_CG_RESERVE8 = #{cmcrCgReserve8,jdbcType=VARCHAR},
      CMCR_SRC_MAIN_CFG = #{cmcrSrcMainCfg,jdbcType=VARCHAR},
      CMCR_SRC_PUID = #{cmcrSrcPuid,jdbcType=VARCHAR},
      CMCR_SRC_MODEL_SHELL = #{cmcrSrcModelShell,jdbcType=VARCHAR},
      CMCR_SRC_COLOR_UID = #{cmcrSrcColorUid,jdbcType=VARCHAR},
      CMCR_SRC_SHELL_CFG0_PUID = #{cmcrSrcShellCfg0Puid,jdbcType=VARCHAR},
      CMCR_SRC_COLOR_IS_MULTIPLY = #{cmcrSrcColorIsMultiply,jdbcType=VARCHAR},
      CMCR_SRC_CREATE_DATE = #{cmcrSrcCreateDate,jdbcType=TIMESTAMP},
      CMCR_SRC_CREATOR = #{cmcrSrcCreator,jdbcType=VARCHAR},
      CMCR_SRC_UPDATE_DATE = #{cmcrSrcUpdateDate,jdbcType=TIMESTAMP},
      CMCR_SRC_UPDATER = #{cmcrSrcUpdater,jdbcType=VARCHAR},
      CMCR_SRC_CODE_OF_COLOR_MOD = #{cmcrSrcCodeOfColorMod,jdbcType=VARCHAR},
      CMCR_SRC_DESC_OF_COLOR_MOD = #{cmcrSrcDescOfColorMod,jdbcType=VARCHAR},
      CMCR_CHANGE_STATUS =  #{cmcrChangeStatus,jdbcType=DECIMAL}
    where CMCR_CG_ID = #{cmcrCgId,jdbcType=DECIMAL}
  </update>

    <select id="selectLastAfter" parameterType="java.util.List" resultMap="BaseResultMap">
        <!--SELECT-->
          <!--<include refid="Base_Column_List"/>-->
        <!--from-->
          <!--${whichTable}-->
        <!--where-->
          <!--CMCR_SRC_MAIN_CFG = #{mainId,jdbcType=VARCHAR}-->
        <!--and-->
          <!--CMCR_CG_UPDATE_DATE in(-->
            <!--SELECT-->
            <!--max(t.CMCR_CG_UPDATE_DATE)-->
            <!--FROM-->
            <!--HZ_CMCR_AFTER_CHANGE t-->
            <!--WHERE-->
            <!--t.CMCR_SRC_MAIN_CFG = #{mainId,jdbcType=VARCHAR}-->
            <!--AND-->
            <!--t.CMCR_SRC_PUID IN-->
            <!--<foreach collection="hzCmcrChangesLastAfter" index="index" item="hzCmcrChange" open="(" separator="," close=")">-->
                  <!--#{hzCmcrChange.cmcrSrcPuid,jdbcType=VARCHAR}-->
            <!--</foreach>-->
            <!--GROUP BY	CMCR_SRC_PUID-->
          <!--)-->
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        HZ_CMCR_AFTER_CHANGE
        WHERE
        CMCR_CG_ID IN （SELECT ID
        FROM
        (
        SELECT
        MAX (CMCR_CG_ID) ID
        FROM
        HZ_CMCR_AFTER_CHANGE
        WHERE
        CMCR_SRC_PUID IN
        <foreach collection="hzCmcrChangesLastAfter" index="index" item="hzCmcrChange" open="(" separator="," close=")">
        #{hzCmcrChange.cmcrSrcPuid,jdbcType=VARCHAR}
        </foreach>
        AND CMCR_CHANGE_STATUS = 1
        GROUP BY
        CMCR_SRC_PUID
        ) T
        )
    </select>

    <select id="doQueryCmcrDetailChangeBeforAndAfter" parameterType="sql.pojo.cfg.modelColor.HzCmcrChange" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from(
        select
        <include refid="Base_Column_List"/>,ROWNUM rn
        from
        HZ_CMCR_AFTER_CHANGE t
        WHERE
        t.CMCR_SRC_PUID=#{cmcrSrcPuid,jdbcType=VARCHAR}
        and
        t.CMCR_CHANGE_ORDER_UID &lt;= #{cmcrCgVwoId,jdbcType=INTEGER}
        ORDER BY t.CMCR_CG_ID DESC
        ) te
        where
        te.rn &lt; 3
        order by
        te.CMCR_CG_ID
    </select>

    <select id="doQueryCmcrChangeBefor" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--select-->
        <!--<include refid="Base_Column_List"/>-->
        <!--from-->
        <!--HZ_CMCR_AFTER_CHANGE-->
        <!--where-->
        <!--CMCR_CHANGE_ORDER_UID = (-->
        <!--select MAX(CMCR_CHANGE_ORDER_UID) from-->
          <!--(select CMCR_SRC_PUID,CMCR_CHANGE_ORDER_UID from HZ_CMCR_AFTER_CHANGE where-->
            <!--CMCR_CHANGE_ORDER_UID &lt;#{vwoId,jdbcType=INTEGER} and-->
            <!--CMCR_SRC_PUID in (select CMCR_SRC_PUID from HZ_CMCR_AFTER_CHANGE where CMCR_CHANGE_ORDER_UID=#{vwoId,jdbcType=INTEGER}))-->
        <!--)-->
        <!--and-->
        <!--CMCR_SRC_PUID in (-->
        <!--select CMCR_SRC_PUID from HZ_CMCR_AFTER_CHANGE where CMCR_CHANGE_ORDER_UID=#{vwoId,jdbcType=INTEGER}-->
        <!--)-->
        <!--and CMCR_CG_SHELL_CODE is not null-->
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        HZ_CMCR_AFTER_CHANGE
        WHERE
        CMCR_CG_ID in  (SELECT ID FROM (SELECT MAX(CMCR_CG_ID) id,CMCR_SRC_PUID FROM HZ_CMCR_AFTER_CHANGE WHERE CMCR_SRC_PUID IN (
        SELECT
        CMCR_SRC_PUID
        FROM
        HZ_CMCR_AFTER_CHANGE
        WHERE
        CMCR_CHANGE_ORDER_UID = #{vwoId,jdbcType=INTEGER}
        ) and CMCR_CHANGE_STATUS=1 GROUP BY CMCR_SRC_PUID) t )

    </select>

    <select id="doQueryCmcrChangeBeforFirst" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        HZ_CMCR_AFTER_CHANGE
        where
        CMCR_CHANGE_ORDER_UID=#{vwoId,jdbcType=INTEGER}
        and ROWNUM&lt;(select (count(*)/2+1) from HZ_CMCR_AFTER_CHANGE where CMCR_CHANGE_ORDER_UID=#{vwoId,jdbcType=INTEGER})
    </select>

    <select id="doQueryCmcrChangeAfterFirst" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from(
            select
            <include refid="Base_Column_List"/>,ROWNUM rn
            from
            HZ_CMCR_AFTER_CHANGE
            where
            CMCR_CHANGE_ORDER_UID=#{vwoId,jdbcType=INTEGER}
        )
        where
          rn&gt;(select (count(*)/2) from HZ_CMCR_AFTER_CHANGE where CMCR_CHANGE_ORDER_UID=#{vwoId,jdbcType=INTEGER})
    </select>

    <select id="doQueryCmcrChangeAfter" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--select-->
        <!--<include refid="Base_Column_List"/>-->
        <!--from-->
        <!--HZ_CMCR_AFTER_CHANGE-->
        <!--where-->
        <!--CMCR_CHANGE_ORDER_UID=#{vwoId,jdbcType=INTEGER}-->
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        HZ_CMCR_AFTER_CHANGE
        WHERE
        CMCR_CG_ID in  (SELECT ID FROM (SELECT MAX(CMCR_CG_ID) id,CMCR_SRC_PUID FROM HZ_CMCR_AFTER_CHANGE WHERE CMCR_SRC_PUID IN (
        SELECT
        CMCR_SRC_PUID
        FROM
        HZ_CMCR_AFTER_CHANGE
        WHERE
        CMCR_CHANGE_ORDER_UID = #{vwoId,jdbcType=INTEGER}
        ) and CMCR_CHANGE_STATUS=0 GROUP BY CMCR_SRC_PUID) t )
    </select>
</mapper>