<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HzEplManageRecord">
  <resultMap id="BaseResultMap" type="sql.pojo.epl.HzEPLManageRecord">
    <id column="PUID" jdbcType="VARCHAR" property="puid" />
    <result column="P_LINE_INDEX" jdbcType="VARCHAR" property="lineIndex" />
    <result column="P_BOM_LINE_IS_HAS" jdbcType="INTEGER" property="isHas" />
    <result column="P_BOM_LINE_ID" jdbcType="VARCHAR" property="lineID" />
    <result column="P_BOM_LINE_IS_2Y" jdbcType="INTEGER" property="is2Y" />
    <result column="P_BOM_OF_WHICH_DEPT" jdbcType="VARCHAR" property="pBomOfWhichDept" />
    <result column="P_PARENT_UID" jdbcType="VARCHAR" property="parentUid"/>
    <result column="P_BOM_DIGIFAX_ID" jdbcType="VARCHAR" property="bomDigifaxId"/>
    <result column="P_BOM_LINE_PUID" jdbcType="VARCHAR" property="linePuid"/>
    <result column="P_BOM_LINE_IS_PART" jdbcType="INTEGER" property="isPart"/>
    <result column="P_BOM_ORDER_NUM" jdbcType="INTEGER" property="orderNum"/>
    <result column="P_BOM_LINE_IS_DEPT" jdbcType="INTEGER" property="isDept"/>
    <result column="P_BOM_LINE_PART_NAME" jdbcType="VARCHAR" property="pBomLinePartName"/>
    <result column="P_BOM_LINE_PART_CLASS" jdbcType="VARCHAR" property="pBomLinePartClass"/>
      <result column="P_BOM_LINE_PART_EN_NAME" jdbcType="VARCHAR" property="pBomLinePartEnName" />
      <result column="P_BOM_LINE_PART_RESOURCE" jdbcType="VARCHAR" property="pBomLinePartResource" />


      <result column="P_BOM_LINE_BLOCK" jdbcType="BLOB" property="bomLineBlock"/>
      <result column="P_FNA_INFO" jdbcType="VARCHAR" property="fna" />
      <result column="P_FASTENER" jdbcType="VARCHAR" property="pFastener" />
      <result column="P_LOUA_FLAG" jdbcType="INTEGER" property="pLouaFlag" />
      <result column="P_3CPART_FLAG" jdbcType="INTEGER" property="p3cpartFlag" />
      <result column="P_IN_OUT_SIDE_FLAG" jdbcType="INTEGER" property="pInOutSideFlag" />
      <result column="P_UPC" jdbcType="VARCHAR" property="pUpc" />
      <result column="P_FNA_DESC" jdbcType="VARCHAR" property="pFnaDesc" />
      <result column="P_CREATE_NAME" jdbcType="VARCHAR" property="pCreateName" />
      <result column="P_UPDATE_NAME" jdbcType="VARCHAR" property="pUpdateName" />
      <result column="P_UNIT" jdbcType="VARCHAR" property="pUnit" />
      <result column="P_PICTURE_NO" jdbcType="VARCHAR" property="pPictureNo" />
      <result column="P_PICTURE_SHEET" jdbcType="VARCHAR" property="pPictureSheet" />
      <result column="P_MATERIAL_HIGH" jdbcType="VARCHAR" property="pMaterialHigh" />
      <result column="P_MATERIAL1" jdbcType="VARCHAR" property="pMaterial1" />
      <result column="P_MATERIAL2" jdbcType="VARCHAR" property="pMaterial2" />
      <result column="P_MATERIAL3" jdbcType="VARCHAR" property="pMaterial3" />
      <result column="P_DENSITY" jdbcType="VARCHAR" property="pDensity" />
      <result column="P_MATERIAL_STANDARD" jdbcType="VARCHAR" property="pMaterialStandard" />
      <result column="P_SURFACE_TREAT" jdbcType="VARCHAR" property="pSurfaceTreat" />
      <result column="P_TEXTURE_COLOR_NUM" jdbcType="VARCHAR" property="pTextureColorNum" />
      <result column="P_MANU_PROCESS" jdbcType="VARCHAR" property="pManuProcess" />
      <result column="P_SYMMETRY" jdbcType="VARCHAR" property="pSymmetry" />
      <result column="P_IMPORTANCE" jdbcType="VARCHAR" property="pImportance" />
      <result column="P_REGULATION_FLAG" jdbcType="INTEGER" property="pRegulationFlag" />
      <result column="P_BWG_BOX_PART" jdbcType="VARCHAR" property="pBwgBoxPart" />
      <result column="P_DEVELOP_TYPE" jdbcType="VARCHAR" property="pDevelopType" />
      <result column="P_DATA_VERSION" jdbcType="VARCHAR" property="pDataVersion" />
      <result column="P_TARGET_WEIGHT" jdbcType="VARCHAR" property="pTargetWeight" />
      <result column="P_FEATURE_WEIGHT" jdbcType="VARCHAR" property="pFeatureWeight" />
      <result column="P_ACTUAL_WEIGHT" jdbcType="VARCHAR" property="pActualWeight" />
      <result column="P_FASTENER_STANDARD" jdbcType="VARCHAR" property="pFastenerStandard" />
      <result column="P_FASTENER_LEVEL" jdbcType="VARCHAR" property="pFastenerLevel" />
      <result column="P_TORQUE" jdbcType="VARCHAR" property="pTorque" />
      <result column="P_DUTY_ENGINEER" jdbcType="VARCHAR" property="pDutyEngineer" />
      <result column="P_SUPPLY" jdbcType="VARCHAR" property="pSupply" />
      <result column="P_SUPPLY_CODE" jdbcType="VARCHAR" property="pSupplyCode" />
      <result column="P_REMARK" jdbcType="VARCHAR" property="pRemark" />
      <result column="P_REGULATION_CODE" jdbcType="VARCHAR" property="pRegulationCode" />
      <result column="P_EBOM_STATUS" jdbcType="VARCHAR" property="status" />
      <result column="P_NUMBER" jdbcType="INTEGER" property="number" />
      <result column="P_BUY_ENGINEER" jdbcType="INTEGER" property="pBuyEngineer" />

    <!--PBOM-->
    <result column="P_ITEM_RESOURCE" jdbcType="VARCHAR" property="itemResource" />
    <result column="P_RESOURCE" jdbcType="VARCHAR" property="resource" />
    <result column="P_TYPE" jdbcType="INTEGER" property="type" />
    <result column="P_BUY_UNIT" jdbcType="INTEGER" property="buyUnit" />
    <result column="P_WORK_SHOP1" jdbcType="VARCHAR" property="workShop1" />
    <result column="P_WORK_SHOP2" jdbcType="VARCHAR" property="workShop2" />
    <result column="P_PRODUCT_LINE" jdbcType="VARCHAR" property="productLine" />
    <result column="P_MOULD_TYPE" jdbcType="VARCHAR" property="mouldType" />
    <result column="P_OUTER_PART" jdbcType="VARCHAR" property="outerPart" />
    <result column="P_COLOR_PART" jdbcType="INTEGER" property="colorPart" />
    <!--MBOM-->
    <result column="P_SPARE_PART" jdbcType="VARCHAR" property="sparePart" />
    <result column="P_SPARE_PART_NUM" jdbcType="VARCHAR" property="sparePartNum" />
    <result column="P_PROCESS_ROUTE" jdbcType="VARCHAR" property="processRoute" />
    <result column="P_LABOR_HOUR" jdbcType="VARCHAR" property="laborHour" />
    <result column="P_RHYTHM" jdbcType="VARCHAR" property="rhythm" />
    <result column="P_SOLDER_JOINT" jdbcType="VARCHAR" property="solderJoint" />
    <result column="P_MACHINE_MATERIAL" jdbcType="VARCHAR" property="machineMaterial" />
    <result column="P_STANDARD_PART" jdbcType="VARCHAR" property="standardPart" />
    <result column="P_TOOLS" jdbcType="VARCHAR" property="tools" />
    <result column="P_WASTER_PRODUCT" jdbcType="VARCHAR" property="wasterProduct" />
    <result column="P_CHANGE" jdbcType="VARCHAR" property="change" />
    <result column="P_CHANGE_NUM" jdbcType="VARCHAR" property="changeNum" />
  </resultMap>

    <sql id="EBOM_COLUMN">
    PUID, P_PARENT_UID, P_BOM_DIGIFAX_ID, P_LINE_INDEX, P_BOM_LINE_IS_HAS, P_BOM_LINE_PUID,
    P_BOM_LINE_ID, P_BOM_LINE_IS_2Y, P_BOM_LINE_IS_PART, P_BOM_ORDER_NUM, P_BOM_LINE_IS_DEPT,
    P_BOM_OF_WHICH_DEPT, P_BOM_LINE_PART_NAME, P_BOM_LINE_PART_CLASS, P_BOM_LINE_PART_EN_NAME,
    P_BOM_LINE_PART_RESOURCE,P_BOM_LINE_BLOCK
  </sql>

  <!--<sql id="Pbom_List">-->
    <!--P_PUID,P_LINE_INDEX,P_BOM_LINE_IS_HAS,P_BOM_LINE_ID,P_BOM_LINE_IS_2Y,P_BOM_OF_WHICH_DEPT-->
  <!--</sql>-->
  <!--联表查询 EPL全信息-->
  <select id="HzEplManageRecordDAOImpl_getHzEplManageRecord" resultMap="BaseResultMap">
      SELECT t1.* from HZ_BOM_LINE_RECORD t1
      LEFT OUTER JOIN HZ_MBOM_RECORD t4 on t1.Puid = t4.P_BOM_PUID
      LEFT OUTER JOIN HZ_PBOM_RECORD t5 on t1.PUID=t5.P_E_BOM_PUID
      where t1.p_bom_digifax_id=(
      select t3.puid from Hz_Bom_Main_Record t3 where t3.p_cfg0_of_which_project_puid=(
      select t2.puid from Hz_project_libs t2
      <where>
        t2.puid=#{projectId,jdbcType=VARCHAR}))
      <if test="lineIndex != null and lineIndex!=''">
        and LENGTH(TRANSLATE(t1.P_LINE_INDEX,',0123456789','.'))=#{lineIndex,jdbcType=VARCHAR}
      </if>
      <if test="isHas != null and isHas==0">
          and (t1.P_BOM_LINE_IS_HAS = 0 or t1.P_BOM_LINE_IS_HAS = 1)
      </if>
      <if test="isHas != null and isHas==1">
          and t1.P_BOM_LINE_IS_HAS = 1
      </if>
      <if test="lineId != null and lineId!=''" >
          and t1.P_BOM_LINE_ID like CONCAT(CONCAT('%',#{lineId,jdbcType=VARCHAR}),'%')
      </if>
      <if test="pBomOfWhichDept != null and  pBomOfWhichDept!='' " >
          and t1.P_BOM_OF_WHICH_DEPT like CONCAT(CONCAT('%',#{pBomOfWhichDept,jdbcType=VARCHAR}),'%')
      </if>
      <if test="pFastener ==1 " >
          and t1.P_FASTENER is not null
      </if>
      <if test="pFastener ==2 " >
          and t1.P_FASTENER is  null
      </if>
      </where>
  </select>

  <!--查询EPL信息总数-->
  <select id="HzEplManageRecordDAOImpl_findTotalCount" resultType="java.lang.Integer" parameterType="java.util.HashMap">
      select count(*) from HZ_BOM_LINE_RECORD t1
      LEFT OUTER JOIN HZ_MBOM_RECORD t4 on t1.Puid = t4.P_BOM_PUID
      LEFT OUTER JOIN HZ_PBOM_RECORD t5 on t1.PUID=t5.P_E_BOM_PUID
      where t1.p_bom_digifax_id=(
      select t3.puid from Hz_Bom_Main_Record t3 where t3.p_cfg0_of_which_project_puid=(
      select t2.puid from Hz_project_libs t2
      <where>
          t2.puid=#{projectId,jdbcType=VARCHAR}))
      <if test="lineIndex != null and lineIndex!=''">
          and LENGTH(TRANSLATE(t1.P_LINE_INDEX,',0123456789','.'))=#{lineIndex,jdbcType=VARCHAR}
      </if>
      <if test="isHas != null and isHas==0">
          and (t1.P_BOM_LINE_IS_HAS = 0 or t1.P_BOM_LINE_IS_HAS = 1)
      </if>
      <if test="isHas != null and isHas==1">
          and t1.P_BOM_LINE_IS_HAS = 1
      </if>
      <if test="lineId != null and lineId!=''" >
          and t1.P_BOM_LINE_ID like CONCAT(CONCAT('%',#{lineId,jdbcType=VARCHAR}),'%')
      </if>
      <if test="pBomOfWhichDept != null and  pBomOfWhichDept!='' " >
          and t1.P_BOM_OF_WHICH_DEPT like CONCAT(CONCAT('%',#{pBomOfWhichDept,jdbcType=VARCHAR}),'%')
      </if>
      <if test="pFastener == 1" >
          and t1.P_FASTENER is not null
      </if>
      <if test="pFastener ==2 " >
          and t1.P_FASTENER is  null
      </if>
      </where>
  </select>

  <!--分页查询 EBOM全信息-->
  <select id="HzEbomRecordDAOImpl_getHzEbomList" resultMap="BaseResultMap" parameterType="java.util.HashMap">
      select * FROM
      (SELECT u.*,rownum as rn from
      (SELECT * from HZ_BOM_LINE_RECORD
      where p_bom_digifax_id=(
      select t3.puid from Hz_Bom_Main_Record t3 where t3.p_cfg0_of_which_project_puid=(
      select t2.puid from Hz_project_libs t2
      <where>
        t2.puid=#{projectId,jdbcType=VARCHAR}))
      <if test="puid != null">
           and puid = #{puid,jdbcType=VARCHAR}
      </if>
      <if test="lineIndex != null and lineIndex!=''">
          and LENGTH(TRANSLATE(P_LINE_INDEX,',0123456789','.'))=#{lineIndex,jdbcType=VARCHAR}
      </if>
      <if test="isHas != null and isHas==0">
          and (P_BOM_LINE_IS_HAS = 0 or P_BOM_LINE_IS_HAS = 1)
      </if>
      <if test="isHas != null and isHas==1">
          and P_BOM_LINE_IS_HAS = 1
      </if>
      <if test="lineId != null and lineId!=''" >
          and P_BOM_LINE_ID like CONCAT(CONCAT('%',#{lineId,jdbcType=VARCHAR}),'%')
      </if>
      <if test="pBomOfWhichDept != null and  pBomOfWhichDept!='' " >
          and P_BOM_OF_WHICH_DEPT like CONCAT(CONCAT('%',#{pBomOfWhichDept,jdbcType=VARCHAR}),'%')
      </if>
          and P_EBOM_STATUS=1 order by P_BOM_ORDER_NUM)u
      </where>
         WHERE ROWNUM &lt;=#{limit,jdbcType=INTEGER}) where rn &gt;#{offset,jdbcType=INTEGER}
  </select>


  <!--查询 EBOM总数-->
  <select id="HzEbomRecordDAOImpl_findTotalCount" resultType="java.lang.Integer" parameterType="java.util.HashMap">
    SELECT count(*) from HZ_BOM_LINE_RECORD t1
    where t1.p_bom_digifax_id=(
    select t3.puid from Hz_Bom_Main_Record t3 where t3.p_cfg0_of_which_project_puid=(
    select t2.puid from Hz_project_libs t2
    <where>
      t2.puid=#{projectId,jdbcType=VARCHAR}))
    <if test="lineIndex != null and lineIndex!=''">
        and LENGTH(TRANSLATE(t1.P_LINE_INDEX,',0123456789','.'))=#{lineIndex,jdbcType=VARCHAR}
    </if>
    <if test="isHas != null and isHas==0">
        and (t1.P_BOM_LINE_IS_HAS = 0 or t1.P_BOM_LINE_IS_HAS = 1)
    </if>
    <if test="isHas != null and isHas==1">
        and t1.P_BOM_LINE_IS_HAS = 1
    </if>
    <if test="lineId != null and lineId!=''" >
        and t1.P_BOM_LINE_ID like CONCAT(CONCAT('%',#{lineId,jdbcType=VARCHAR}),'%')
    </if>
    <if test="pBomOfWhichDept != null and  pBomOfWhichDept!='' " >
        and t1.P_BOM_OF_WHICH_DEPT like CONCAT(CONCAT('%',#{pBomOfWhichDept,jdbcType=VARCHAR}),'%')
    </if>
     and t1.P_EBOM_STATUS=1
    </where>
  </select>


  <!--查询bomLine的子bom 信息-->
  <select id="HzEbomRecordDAOImpl_getHzBomLineChildren"  resultMap="BaseResultMap" parameterType="java.util.HashMap">
    SELECT t1.* from HZ_BOM_LINE_RECORD t1
    where t1.p_bom_digifax_id=(
    select t3.puid from Hz_Bom_Main_Record t3 where t3.p_cfg0_of_which_project_puid=(
    select t2.puid from Hz_project_libs t2
    <where>
      t2.puid=#{projectId,jdbcType=VARCHAR}))
    </where>
      start with t1.puid = #{puid,jdbcType=VARCHAR} and t1.P_EBOM_STATUS=1
      connect by prior t1.puid = t1.p_parent_uid  and t1.P_EBOM_STATUS=1
  </select>

    <!--查询 一条EBOM全信息-->
    <select id="HzEbomRecordDAOImpl_findEbomById" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        SELECT t1.*from HZ_BOM_LINE_RECORD t1
        where t1.p_bom_digifax_id=(
        select t3.puid from Hz_Bom_Main_Record t3 where t3.p_cfg0_of_which_project_puid=(
        select t2.puid from Hz_project_libs t2
        <where>
          t2.puid=#{projectId,jdbcType=VARCHAR}))
          and t1.puid = #{puid,jdbcType=VARCHAR}
          and t1.P_EBOM_STATUS=1
        </where>
    </select>

    <!--查询 一条已删除EBOM全信息-->
    <select id="HzEbomRecordDAOImpl_findHasDeletedBom" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        SELECT t1.*from HZ_BOM_LINE_RECORD t1
        where t1.p_bom_digifax_id=(
        select t3.puid from Hz_Bom_Main_Record t3 where t3.p_cfg0_of_which_project_puid=(
        select t2.puid from Hz_project_libs t2
        <where>
            t2.puid=#{projectId,jdbcType=VARCHAR}))
            and t1.puid = #{puid,jdbcType=VARCHAR}
            and t1.P_EBOM_STATUS=0
        </where>
    </select>

    <!-- 查找重名 -->
    <select id="HzEbomRecordDAOImpl_checkItemIdIsRepeat" parameterType="map" resultType="int">
        SELECT count(*) from HZ_BOM_LINE_RECORD t1
        where t1.p_bom_digifax_id=(
        select t3.puid from Hz_Bom_Main_Record t3 where t3.p_cfg0_of_which_project_puid=(
        select t2.puid from Hz_project_libs t2
        <where>
            t2.puid=#{projectId,jdbcType=VARCHAR}))
            and
            t1.P_BOM_LINE_ID = #{lineID,jdbcType=VARCHAR}
            and t1.P_EBOM_STATUS=1
        </where>
    </select>

    <!--分页查询 EBOM全信息 回收站-->
    <select id="HzEbomRecordDAOImpl_getHzRecycleRecord" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select * FROM
        (SELECT u.*,rownum as rn from
        (SELECT <include refid="EBOM_COLUMN"/> from HZ_BOM_LINE_RECORD
        where p_bom_digifax_id=(
        select t3.puid from Hz_Bom_Main_Record t3 where t3.p_cfg0_of_which_project_puid=(
        select t2.puid from Hz_project_libs t2
        <where>
            t2.puid=#{projectId,jdbcType=VARCHAR}))
            and (P_UPDATE_TIME BETWEEN
            (SYSDATE-7) and
            (sysdate)) and
            P_EBOM_STATUS = 0 ORDER BY P_UPDATE_TIME DESC)u
        </where>
        WHERE ROWNUM &lt;=#{limit,jdbcType=INTEGER}) where rn &gt;#{offset,jdbcType=INTEGER}
    </select>


    <!--查询 EBOM总数 回收站-->
    <select id="HzEbomRecordDAOImpl_findRecycleTotalCount" resultType="java.lang.Integer" parameterType="java.util.HashMap">
        SELECT count(*) from HZ_BOM_LINE_RECORD t1
        where t1.p_bom_digifax_id=(
        select t3.puid from Hz_Bom_Main_Record t3 where t3.p_cfg0_of_which_project_puid=(
        select t2.puid from Hz_project_libs t2
        <where>
            t2.puid=#{projectId,jdbcType=VARCHAR}))
            and  (t1.P_UPDATE_TIME BETWEEN
            (SYSDATE-7) and
            (sysdate)) and
            t1.P_EBOM_STATUS = 0
        </where>
    </select>

    <!--根据零件号查询bom-->
    <select id="HzEbomRecordDAOImpl_findEbom" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        SELECT t1.*from HZ_BOM_LINE_RECORD t1
        where t1.p_bom_digifax_id=(
        select t3.puid from Hz_Bom_Main_Record t3 where t3.p_cfg0_of_which_project_puid=(
        select t2.puid from Hz_project_libs t2
        <where>
            t2.puid=#{projectId,jdbcType=VARCHAR}))
            <if test="puid != null and puid!=''">
                and t1.puid = #{puid,jdbcType=VARCHAR}
            </if>
            <if test="lineID != null and lineID!=''">
                and t1.P_BOM_LINE_ID = #{lineID,jdbcType=VARCHAR}
            </if>
            and t1.P_EBOM_STATUS=1
        </where>
    </select>

    <!--找出大于当前排序号的最小排序号-->
    <select id="HzEbomRecordDAOImpl_findMinOrderNumWhichGreaterThanThisOrderNum" parameterType="java.util.HashMap" resultType="java.lang.Integer">
       SELECT min(P_BOM_ORDER_NUM) FROM HZ_BOM_LINE_RECORD
        where p_bom_digifax_id=(
        select t3.puid from Hz_Bom_Main_Record t3 where t3.p_cfg0_of_which_project_puid=(
        select t2.puid from Hz_project_libs t2
        <where>
        t2.puid=#{projectId,jdbcType=VARCHAR}))
        </where>
       and  P_BOM_ORDER_NUM &gt;#{orderNum,jdbcType=INTEGER}
    </select>
</mapper>