<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HzEplManageRecord">
  <resultMap id="BaseResultMap" type="sql.pojo.epl.HzEPLManage">
    <id column="P_PUID" jdbcType="VARCHAR" property="pPuid" />
    <result column="P_UNIT" jdbcType="VARCHAR" property="pUnit" />
    <result column="P_RENT_LOW" jdbcType="VARCHAR" property="pRentLow" />
    <result column="P_RENT_HIGH" jdbcType="VARCHAR" property="pRentHigh" />
    <result column="P_PICTURE_NO" jdbcType="VARCHAR" property="pPictureNo" />
    <result column="P_INSTALL_PICTURE_NO" jdbcType="VARCHAR" property="pInstallPictureNo" />
    <result column="P_MAP" jdbcType="VARCHAR" property="pMap" />
    <result column="P_MATERIAL_HIGH" jdbcType="VARCHAR" property="pMaterialHigh" />
    <result column="P_MATERIAL1" jdbcType="VARCHAR" property="pMaterial1" />
    <result column="P_MATERIAL2" jdbcType="VARCHAR" property="pMaterial2" />
    <result column="P_MATERIAL3" jdbcType="VARCHAR" property="pMaterial3" />
    <result column="P_DENSITY" jdbcType="VARCHAR" property="pDensity" />
    <result column="P_MATERIAL_STANDARD" jdbcType="VARCHAR" property="pMaterialStandard" />
    <result column="P_SURFACE_MANAGE" jdbcType="VARCHAR" property="pSurfaceManage" />
    <result column="P_TEXTURE_NO" jdbcType="VARCHAR" property="pTextureNo" />
    <result column="P_MADE_ART" jdbcType="VARCHAR" property="pMadeArt" />
    <result column="P_SYMMETRIC" jdbcType="VARCHAR" property="pSymmetric" />
    <result column="P_IMPORTANCE" jdbcType="VARCHAR" property="pImportance" />
    <result column="P_IS_RULE_PART" jdbcType="VARCHAR" property="pIsRulePart" />
    <result column="P_RULE_PART_NO" jdbcType="VARCHAR" property="pRulePartNo" />
    <result column="P_BOM_PUID" jdbcType="VARCHAR" property="pBomPuid" />
    <result column="P_STATE" jdbcType="DECIMAL" property="pState" />
  </resultMap>


  <resultMap extends="BaseResultMap" id="EPLManageRecord" type="sql.pojo.epl.HzEPLManageRecord">
    <id column="P_PUID" jdbcType="VARCHAR" property="pPuid" />
    <result column="P_UNIT" jdbcType="VARCHAR" property="pUnit" />
    <result column="P_RENT_LOW" jdbcType="VARCHAR" property="pRentLow" />
    <result column="P_RENT_HIGH" jdbcType="VARCHAR" property="pRentHigh" />
    <result column="P_PICTURE_NO" jdbcType="VARCHAR" property="pPictureNo" />
    <result column="P_INSTALL_PICTURE_NO" jdbcType="VARCHAR" property="pInstallPictureNo" />
    <result column="P_MAP" jdbcType="VARCHAR" property="pMap" />
    <result column="P_MATERIAL_HIGH" jdbcType="VARCHAR" property="pMaterialHigh" />
    <result column="P_MATERIAL1" jdbcType="VARCHAR" property="pMaterial1" />
    <result column="P_MATERIAL2" jdbcType="VARCHAR" property="pMaterial2" />
    <result column="P_MATERIAL3" jdbcType="VARCHAR" property="pMaterial3" />
    <result column="P_DENSITY" jdbcType="VARCHAR" property="pDensity" />
    <result column="P_MATERIAL_STANDARD" jdbcType="VARCHAR" property="pMaterialStandard" />
    <result column="P_SURFACE_MANAGE" jdbcType="VARCHAR" property="pSurfaceManage" />
    <result column="P_TEXTURE_NO" jdbcType="VARCHAR" property="pTextureNo" />
    <result column="P_MADE_ART" jdbcType="VARCHAR" property="pMadeArt" />
    <result column="P_SYMMETRIC" jdbcType="VARCHAR" property="pSymmetric" />
    <result column="P_IMPORTANCE" jdbcType="VARCHAR" property="pImportance" />
    <result column="P_IS_RULE_PART" jdbcType="VARCHAR" property="pIsRulePart" />
    <result column="P_RULE_PART_NO" jdbcType="VARCHAR" property="pRulePartNo" />
    <result column="P_BOM_PUID" jdbcType="VARCHAR" property="pBomPuid" />
    <result column="P_STATE" jdbcType="DECIMAL" property="pState" />
    <!--PBOM-->
    <result column="P_ITEM_RESOURCE" jdbcType="VARCHAR" property="itemResource" />
    <result column="P_RESOURCE" jdbcType="VARCHAR" property="resource" />
    <result column="P_TYPE" jdbcType="DECIMAL" property="type" />
    <result column="P_BUY_UNIT" jdbcType="DECIMAL" property="buyUnit" />
    <result column="P_WORK_SHOP1" jdbcType="VARCHAR" property="workShop1" />
    <result column="P_WORK_SHOP2" jdbcType="VARCHAR" property="workShop2" />
    <result column="P_PRODUCT_LINE" jdbcType="VARCHAR" property="productLine" />
    <result column="P_MOULD_TYPE" jdbcType="VARCHAR" property="mouldType" />
    <result column="P_OUTER_PART" jdbcType="VARCHAR" property="outerPart" />
    <result column="P_COLOR_PART" jdbcType="DECIMAL" property="colorPart" />
    <!--PBOM-->
    <result column="P_SPARE_PART" jdbcType="VARCHAR" property="sparePart" />
    <result column="P_SPARE_PART_NUM" jdbcType="VARCHAR" property="sparePartNum" />
    <result column="P_PROCESS_ROUTE" jdbcType="VARCHAR" property="processRoute" />
    <result column="P_LABOR_HOUR" jdbcType="VARCHAR" property="laborHour" />
    <result column="P_RHYTHM" jdbcType="VARCHAR" property="rhythm" />
    <result column="P_SOLDER_JOINT" jdbcType="VARCHAR" property="solderJoint" />
    <result column="P_MACHINE_MATERIAL" jdbcType="VARCHAR" property="machineMaterial" />
    <result column="P_STANDARD_PART" jdbcType="VARCHAR" property="standardPart" />
    <result column="P_TOOLS" jdbcType="VARCHAR" property="tools" />
    <result column="P_WASTER_PRODUCT" jdbcType="VARCHAR" property="wasterProduct" />
    <result column="P_CHANGE" jdbcType="VARCHAR" property="change" />
    <result column="P_CHANGE_NUM" jdbcType="VARCHAR" property="changeNum" />
    <!--bomLine-->
    <result column="P_LINE_INDEX" jdbcType="VARCHAR" property="lineIndex" />
    <result column="P_BOM_LINE_IS_HAS" jdbcType="INTEGER" property="isHas" />
    <result column="P_BOM_LINE_ID" jdbcType="VARCHAR" property="lineId" />
    <result column="P_BOM_LINE_IS_2Y" jdbcType="INTEGER" property="is2Y" />
    <result column="P_BOM_OF_WHICH_DEPT" jdbcType="VARCHAR" property="pBomOfWhichDept" />
  </resultMap>


  <sql id="Base_Column_List">
    P_PUID, P_UNIT, P_RENT_LOW, P_RENT_HIGH, P_PICTURE_NO, P_INSTALL_PICTURE_NO, P_MAP, 
    P_MATERIAL_HIGH, P_MATERIAL1, P_MATERIAL2, P_MATERIAL3, P_DENSITY, P_MATERIAL_STANDARD, 
    P_SURFACE_MANAGE, P_TEXTURE_NO, P_MADE_ART, P_SYMMETRIC, P_IMPORTANCE, P_IS_RULE_PART, 
    P_RULE_PART_NO, P_BOM_PUID, P_STATE
  </sql>

  <!--<sql id="Pbom_List">-->
    <!--P_PUID,P_LINE_INDEX,P_BOM_LINE_IS_HAS,P_BOM_LINE_ID,P_BOM_LINE_IS_2Y,P_BOM_OF_WHICH_DEPT-->
  <!--</sql>-->
  <!--联表查询 EPL全信息-->
  <select id="HzEplManageRecordDAOImpl_getHzEplManageRecord" resultMap="EPLManageRecord">
     SELECT t1.*,t2.*,t3.*,t4.*,t5.* from HZ_BOM_LINE_RECORD t1

     LEFT OUTER JOIN HZ_EPL_BOM_MANAGE t2 on T1.P_PUID = T2.P_BOM_PUID

     LEFT OUTER JOIN HZ_EPL_MANAGE  t3 on t1.P_PUID=t3.P_BOM_PUID

     LEFT OUTER JOIN HZ_PBOM_MAINTAIN_RECORD t4 on t1.P_Puid = t4.P_BOM_PUID

     LEFT OUTER JOIN HZ_PBOM_RECORD t5 on t1.P_PUID=t5.P_E_BOM_PUID
  </select>


  <!--联表查询 EBOM全信息-->
  <select id="HzEbomRecordDAOImpl_getHzEbomList" resultMap="EPLManageRecord">
     SELECT t1.*,t2.*,t3.* from HZ_BOM_LINE_RECORD t1

     LEFT OUTER JOIN HZ_EPL_BOM_MANAGE t2 on T1.P_PUID = T2.P_BOM_PUID

     LEFT OUTER JOIN HZ_EPL_MANAGE  t3 on t1.P_PUID=t3.P_BOM_PUID
  </select>


  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from HZ_EPL_MANAGE
    where P_PUID = #{pPuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from HZ_EPL_MANAGE
    where P_PUID = #{pPuid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="sql.pojo.epl.HzEPLManage">
    insert into HZ_EPL_MANAGE (P_PUID, P_UNIT, P_RENT_LOW, 
      P_RENT_HIGH, P_PICTURE_NO, P_INSTALL_PICTURE_NO, 
      P_MAP, P_MATERIAL_HIGH, P_MATERIAL1, 
      P_MATERIAL2, P_MATERIAL3, P_DENSITY, 
      P_MATERIAL_STANDARD, P_SURFACE_MANAGE, P_TEXTURE_NO, 
      P_MADE_ART, P_SYMMETRIC, P_IMPORTANCE, 
      P_IS_RULE_PART, P_RULE_PART_NO, P_BOM_PUID, 
      P_STATE)
    values (#{pPuid,jdbcType=VARCHAR}, #{pUnit,jdbcType=VARCHAR}, #{pRentLow,jdbcType=VARCHAR}, 
      #{pRentHigh,jdbcType=VARCHAR}, #{pPictureNo,jdbcType=VARCHAR}, #{pInstallPictureNo,jdbcType=VARCHAR}, 
      #{pMap,jdbcType=VARCHAR}, #{pMaterialHigh,jdbcType=VARCHAR}, #{pMaterial1,jdbcType=VARCHAR}, 
      #{pMaterial2,jdbcType=VARCHAR}, #{pMaterial3,jdbcType=VARCHAR}, #{pDensity,jdbcType=VARCHAR}, 
      #{pMaterialStandard,jdbcType=VARCHAR}, #{pSurfaceManage,jdbcType=VARCHAR}, #{pTextureNo,jdbcType=VARCHAR}, 
      #{pMadeArt,jdbcType=VARCHAR}, #{pSymmetric,jdbcType=VARCHAR}, #{pImportance,jdbcType=VARCHAR}, 
      #{pIsRulePart,jdbcType=VARCHAR}, #{pRulePartNo,jdbcType=VARCHAR}, #{pBomPuid,jdbcType=VARCHAR}, 
      #{pState,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="sql.pojo.epl.HzEPLManage">
    insert into HZ_EPL_MANAGE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pPuid != null">
        P_PUID,
      </if>
      <if test="pUnit != null">
        P_UNIT,
      </if>
      <if test="pRentLow != null">
        P_RENT_LOW,
      </if>
      <if test="pRentHigh != null">
        P_RENT_HIGH,
      </if>
      <if test="pPictureNo != null">
        P_PICTURE_NO,
      </if>
      <if test="pInstallPictureNo != null">
        P_INSTALL_PICTURE_NO,
      </if>
      <if test="pMap != null">
        P_MAP,
      </if>
      <if test="pMaterialHigh != null">
        P_MATERIAL_HIGH,
      </if>
      <if test="pMaterial1 != null">
        P_MATERIAL1,
      </if>
      <if test="pMaterial2 != null">
        P_MATERIAL2,
      </if>
      <if test="pMaterial3 != null">
        P_MATERIAL3,
      </if>
      <if test="pDensity != null">
        P_DENSITY,
      </if>
      <if test="pMaterialStandard != null">
        P_MATERIAL_STANDARD,
      </if>
      <if test="pSurfaceManage != null">
        P_SURFACE_MANAGE,
      </if>
      <if test="pTextureNo != null">
        P_TEXTURE_NO,
      </if>
      <if test="pMadeArt != null">
        P_MADE_ART,
      </if>
      <if test="pSymmetric != null">
        P_SYMMETRIC,
      </if>
      <if test="pImportance != null">
        P_IMPORTANCE,
      </if>
      <if test="pIsRulePart != null">
        P_IS_RULE_PART,
      </if>
      <if test="pRulePartNo != null">
        P_RULE_PART_NO,
      </if>
      <if test="pBomPuid != null">
        P_BOM_PUID,
      </if>
      <if test="pState != null">
        P_STATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pPuid != null">
        #{pPuid,jdbcType=VARCHAR},
      </if>
      <if test="pUnit != null">
        #{pUnit,jdbcType=VARCHAR},
      </if>
      <if test="pRentLow != null">
        #{pRentLow,jdbcType=VARCHAR},
      </if>
      <if test="pRentHigh != null">
        #{pRentHigh,jdbcType=VARCHAR},
      </if>
      <if test="pPictureNo != null">
        #{pPictureNo,jdbcType=VARCHAR},
      </if>
      <if test="pInstallPictureNo != null">
        #{pInstallPictureNo,jdbcType=VARCHAR},
      </if>
      <if test="pMap != null">
        #{pMap,jdbcType=VARCHAR},
      </if>
      <if test="pMaterialHigh != null">
        #{pMaterialHigh,jdbcType=VARCHAR},
      </if>
      <if test="pMaterial1 != null">
        #{pMaterial1,jdbcType=VARCHAR},
      </if>
      <if test="pMaterial2 != null">
        #{pMaterial2,jdbcType=VARCHAR},
      </if>
      <if test="pMaterial3 != null">
        #{pMaterial3,jdbcType=VARCHAR},
      </if>
      <if test="pDensity != null">
        #{pDensity,jdbcType=VARCHAR},
      </if>
      <if test="pMaterialStandard != null">
        #{pMaterialStandard,jdbcType=VARCHAR},
      </if>
      <if test="pSurfaceManage != null">
        #{pSurfaceManage,jdbcType=VARCHAR},
      </if>
      <if test="pTextureNo != null">
        #{pTextureNo,jdbcType=VARCHAR},
      </if>
      <if test="pMadeArt != null">
        #{pMadeArt,jdbcType=VARCHAR},
      </if>
      <if test="pSymmetric != null">
        #{pSymmetric,jdbcType=VARCHAR},
      </if>
      <if test="pImportance != null">
        #{pImportance,jdbcType=VARCHAR},
      </if>
      <if test="pIsRulePart != null">
        #{pIsRulePart,jdbcType=VARCHAR},
      </if>
      <if test="pRulePartNo != null">
        #{pRulePartNo,jdbcType=VARCHAR},
      </if>
      <if test="pBomPuid != null">
        #{pBomPuid,jdbcType=VARCHAR},
      </if>
      <if test="pState != null">
        #{pState,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="sql.pojo.epl.HzEPLManage">
    update HZ_EPL_MANAGE
    <set>
      <if test="pUnit != null">
        P_UNIT = #{pUnit,jdbcType=VARCHAR},
      </if>
      <if test="pRentLow != null">
        P_RENT_LOW = #{pRentLow,jdbcType=VARCHAR},
      </if>
      <if test="pRentHigh != null">
        P_RENT_HIGH = #{pRentHigh,jdbcType=VARCHAR},
      </if>
      <if test="pPictureNo != null">
        P_PICTURE_NO = #{pPictureNo,jdbcType=VARCHAR},
      </if>
      <if test="pInstallPictureNo != null">
        P_INSTALL_PICTURE_NO = #{pInstallPictureNo,jdbcType=VARCHAR},
      </if>
      <if test="pMap != null">
        P_MAP = #{pMap,jdbcType=VARCHAR},
      </if>
      <if test="pMaterialHigh != null">
        P_MATERIAL_HIGH = #{pMaterialHigh,jdbcType=VARCHAR},
      </if>
      <if test="pMaterial1 != null">
        P_MATERIAL1 = #{pMaterial1,jdbcType=VARCHAR},
      </if>
      <if test="pMaterial2 != null">
        P_MATERIAL2 = #{pMaterial2,jdbcType=VARCHAR},
      </if>
      <if test="pMaterial3 != null">
        P_MATERIAL3 = #{pMaterial3,jdbcType=VARCHAR},
      </if>
      <if test="pDensity != null">
        P_DENSITY = #{pDensity,jdbcType=VARCHAR},
      </if>
      <if test="pMaterialStandard != null">
        P_MATERIAL_STANDARD = #{pMaterialStandard,jdbcType=VARCHAR},
      </if>
      <if test="pSurfaceManage != null">
        P_SURFACE_MANAGE = #{pSurfaceManage,jdbcType=VARCHAR},
      </if>
      <if test="pTextureNo != null">
        P_TEXTURE_NO = #{pTextureNo,jdbcType=VARCHAR},
      </if>
      <if test="pMadeArt != null">
        P_MADE_ART = #{pMadeArt,jdbcType=VARCHAR},
      </if>
      <if test="pSymmetric != null">
        P_SYMMETRIC = #{pSymmetric,jdbcType=VARCHAR},
      </if>
      <if test="pImportance != null">
        P_IMPORTANCE = #{pImportance,jdbcType=VARCHAR},
      </if>
      <if test="pIsRulePart != null">
        P_IS_RULE_PART = #{pIsRulePart,jdbcType=VARCHAR},
      </if>
      <if test="pRulePartNo != null">
        P_RULE_PART_NO = #{pRulePartNo,jdbcType=VARCHAR},
      </if>
      <if test="pBomPuid != null">
        P_BOM_PUID = #{pBomPuid,jdbcType=VARCHAR},
      </if>
      <if test="pState != null">
        P_STATE = #{pState,jdbcType=DECIMAL},
      </if>
    </set>
    where P_PUID = #{pPuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="sql.pojo.epl.HzEPLManage">
    update HZ_EPL_MANAGE
    set P_UNIT = #{pUnit,jdbcType=VARCHAR},
      P_RENT_LOW = #{pRentLow,jdbcType=VARCHAR},
      P_RENT_HIGH = #{pRentHigh,jdbcType=VARCHAR},
      P_PICTURE_NO = #{pPictureNo,jdbcType=VARCHAR},
      P_INSTALL_PICTURE_NO = #{pInstallPictureNo,jdbcType=VARCHAR},
      P_MAP = #{pMap,jdbcType=VARCHAR},
      P_MATERIAL_HIGH = #{pMaterialHigh,jdbcType=VARCHAR},
      P_MATERIAL1 = #{pMaterial1,jdbcType=VARCHAR},
      P_MATERIAL2 = #{pMaterial2,jdbcType=VARCHAR},
      P_MATERIAL3 = #{pMaterial3,jdbcType=VARCHAR},
      P_DENSITY = #{pDensity,jdbcType=VARCHAR},
      P_MATERIAL_STANDARD = #{pMaterialStandard,jdbcType=VARCHAR},
      P_SURFACE_MANAGE = #{pSurfaceManage,jdbcType=VARCHAR},
      P_TEXTURE_NO = #{pTextureNo,jdbcType=VARCHAR},
      P_MADE_ART = #{pMadeArt,jdbcType=VARCHAR},
      P_SYMMETRIC = #{pSymmetric,jdbcType=VARCHAR},
      P_IMPORTANCE = #{pImportance,jdbcType=VARCHAR},
      P_IS_RULE_PART = #{pIsRulePart,jdbcType=VARCHAR},
      P_RULE_PART_NO = #{pRulePartNo,jdbcType=VARCHAR},
      P_BOM_PUID = #{pBomPuid,jdbcType=VARCHAR},
      P_STATE = #{pState,jdbcType=DECIMAL}
    where P_PUID = #{pPuid,jdbcType=VARCHAR}
  </update>
</mapper>