<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HzEplRecordMapper">
    <resultMap id="BaseResultMap" type="sql.pojo.epl.HzEPLRecord">
        <id column="ID" jdbcType="DOUBLE" property="id" />
        <result column="PROJECT_ID" jdbcType="VARCHAR" property="projectId" />
        <result column="PART_ID" jdbcType="VARCHAR" property="partId" />
        <result column="PART_OF_WHICH_DEPT" jdbcType="VARCHAR" property="partOfWhichDept" />
        <result column="PART_NAME" jdbcType="VARCHAR" property="partName" />
        <result column="PART_CLASS" jdbcType="VARCHAR" property="partClass" />
        <result column="PART_EN_NAME" jdbcType="VARCHAR" property="partEnName" />
        <result column="PART_RESOURCE" jdbcType="VARCHAR" property="partResource" />
        <result column="STATUS" jdbcType="INTEGER" property="status" />
        <result column="CREATE_TIME" jdbcType="DATE" property="createTime" />
        <result column="UPDATE_TIME" jdbcType="DATE" property="updateTime" />
        <result column="FASTENER" jdbcType="VARCHAR" property="fastener" />
        <result column="IS_3CPART" jdbcType="INTEGER" property="is3cpart" />
        <result column="IN_OUT_SIDE_FLAG" jdbcType="INTEGER" property="inOutSideFlag" />
        <result column="CREATE_ID" jdbcType="DOUBLE" property="createId" />
        <result column="UPDATE_ID" jdbcType="DOUBLE" property="updateId" />
        <result column="UNIT" jdbcType="VARCHAR" property="unit" />
        <result column="PICTURE_NO" jdbcType="VARCHAR" property="pictureNo" />
        <result column="PICTURE_SHEET" jdbcType="VARCHAR" property="pictureSheet" />
        <result column="MATERIAL_HIGH" jdbcType="VARCHAR" property="materialHigh" />
        <result column="MATERIAL1" jdbcType="VARCHAR" property="material1" />
        <result column="MATERIAL2" jdbcType="VARCHAR" property="material2" />
        <result column="MATERIAL3" jdbcType="VARCHAR" property="material3" />
        <result column="DENSITY" jdbcType="VARCHAR" property="density" />
        <result column="MATERIAL_STANDARD" jdbcType="VARCHAR" property="materialStandard" />
        <result column="SURFACE_TREAT" jdbcType="VARCHAR" property="surfaceTreat" />
        <result column="TEXTURE_COLOR_NUM" jdbcType="VARCHAR" property="textureColorNum" />
        <result column="MANU_PROCESS" jdbcType="VARCHAR" property="manuProcess" />
        <result column="SYMMETRY" jdbcType="VARCHAR" property="symmetry" />
        <result column="IMPORTANCE" jdbcType="VARCHAR" property="importance" />
        <result column="REGULATION_FLAG" jdbcType="INTEGER" property="regulationFlag" />
        <result column="BWG_BOX_PART" jdbcType="VARCHAR" property="bwgBoxPart" />
        <result column="DEVELOP_TYPE" jdbcType="VARCHAR" property="developType" />
        <result column="DATA_VERSION" jdbcType="VARCHAR" property="dataVersion" />
        <result column="TARGET_WEIGHT" jdbcType="VARCHAR" property="targetWeight" />
        <result column="FEATURE_WEIGHT" jdbcType="VARCHAR" property="featureWeight" />
        <result column="ACTUAL_WEIGHT" jdbcType="VARCHAR" property="actualWeight" />
        <result column="FASTENER_STANDARD" jdbcType="VARCHAR" property="fastenerStandard" />
        <result column="FASTENER_LEVEL" jdbcType="VARCHAR" property="fastenerLevel" />
        <result column="TORQUE" jdbcType="VARCHAR" property="torque" />
        <result column="DUTY_ENGINEER" jdbcType="VARCHAR" property="dutyEngineer" />
        <result column="SUPPLY" jdbcType="VARCHAR" property="supply" />
        <result column="SUPPLY_CODE" jdbcType="VARCHAR" property="supplyCode" />
        <result column="REMARK" jdbcType="VARCHAR" property="remark" />
        <result column="REGULATION_CODE" jdbcType="VARCHAR" property="regulationCode" />
        <result column="BUY_ENGINEER" jdbcType="VARCHAR" property="buyEngineer" />
        <result column="ORDER_ID" jdbcType="DOUBLE" property="orderId" />
        <result column="REVISION" jdbcType="VARCHAR" property="revision" />
        <result column="EFFECT_TIME" jdbcType="TIMESTAMP" property="effectTime" />
    </resultMap>

    <sql id="Base_Column_List">
    ID, PROJECT_ID, PART_ID, PART_OF_WHICH_DEPT, PART_NAME, PART_CLASS, PART_EN_NAME,
    PART_RESOURCE, STATUS, CREATE_TIME, UPDATE_TIME, FASTENER, IS_3CPART, IN_OUT_SIDE_FLAG,
    CREATE_ID, UPDATE_ID, UNIT, PICTURE_NO, PICTURE_SHEET, MATERIAL_HIGH, MATERIAL1,
    MATERIAL2, MATERIAL3, DENSITY, MATERIAL_STANDARD, SURFACE_TREAT, TEXTURE_COLOR_NUM,
    MANU_PROCESS, SYMMETRY, IMPORTANCE, REGULATION_FLAG, BWG_BOX_PART, DEVELOP_TYPE,
    DATA_VERSION, TARGET_WEIGHT, FEATURE_WEIGHT, ACTUAL_WEIGHT, FASTENER_STANDARD, FASTENER_LEVEL,
    TORQUE, DUTY_ENGINEER, SUPPLY, SUPPLY_CODE, REMARK, REGULATION_CODE, BUY_ENGINEER,
    ORDER_ID, REVISION, EFFECT_TIME
  </sql>

    <!--insert-->
    <insert id="HzEPLDAOImpl_insert" parameterType="sql.pojo.epl.HzEPLRecord">
    insert into HZ_EPL_RECORD (ID, PROJECT_ID, PART_ID,
      PART_OF_WHICH_DEPT, PART_NAME, PART_CLASS,
      PART_EN_NAME, PART_RESOURCE, STATUS,
      CREATE_TIME, UPDATE_TIME, FASTENER,
      IS_3CPART, IN_OUT_SIDE_FLAG, CREATE_ID,
      UPDATE_ID, UNIT, PICTURE_NO,
      PICTURE_SHEET, MATERIAL_HIGH, MATERIAL1,
      MATERIAL2, MATERIAL3, DENSITY,
      MATERIAL_STANDARD, SURFACE_TREAT, TEXTURE_COLOR_NUM,
      MANU_PROCESS, SYMMETRY, IMPORTANCE,
      REGULATION_FLAG, BWG_BOX_PART, DEVELOP_TYPE,
      DATA_VERSION, TARGET_WEIGHT, FEATURE_WEIGHT,
      ACTUAL_WEIGHT, FASTENER_STANDARD, FASTENER_LEVEL,
      TORQUE, DUTY_ENGINEER, SUPPLY,
      SUPPLY_CODE, REMARK, REGULATION_CODE,
      BUY_ENGINEER)
    values (SEQ_HZ_EPL_RECORD.nextval, #{projectId,jdbcType=VARCHAR}, #{partId,jdbcType=VARCHAR},
      #{partOfWhichDept,jdbcType=VARCHAR}, #{partName,jdbcType=VARCHAR}, #{partClass,jdbcType=VARCHAR},
      #{partEnName,jdbcType=VARCHAR}, #{partResource,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},
      #{createTime,jdbcType=DATE}, #{updateTime,jdbcType=DATE}, #{fastener,jdbcType=VARCHAR},
      #{is3cpart,jdbcType=INTEGER}, #{inOutSideFlag,jdbcType=INTEGER}, #{createId,jdbcType=DOUBLE},
      #{updateId,jdbcType=DOUBLE}, #{unit,jdbcType=VARCHAR}, #{pictureNo,jdbcType=VARCHAR},
      #{pictureSheet,jdbcType=VARCHAR}, #{materialHigh,jdbcType=VARCHAR}, #{material1,jdbcType=VARCHAR},
      #{material2,jdbcType=VARCHAR}, #{material3,jdbcType=VARCHAR}, #{density,jdbcType=VARCHAR},
      #{materialStandard,jdbcType=VARCHAR}, #{surfaceTreat,jdbcType=VARCHAR}, #{textureColorNum,jdbcType=VARCHAR},
      #{manuProcess,jdbcType=VARCHAR}, #{symmetry,jdbcType=VARCHAR}, #{importance,jdbcType=VARCHAR},
      #{regulationFlag,jdbcType=INTEGER}, #{bwgBoxPart,jdbcType=VARCHAR}, #{developType,jdbcType=VARCHAR},
      #{dataVersion,jdbcType=VARCHAR}, #{targetWeight,jdbcType=VARCHAR}, #{featureWeight,jdbcType=VARCHAR},
      #{actualWeight,jdbcType=VARCHAR}, #{fastenerStandard,jdbcType=VARCHAR}, #{fastenerLevel,jdbcType=VARCHAR},
      #{torque,jdbcType=VARCHAR}, #{dutyEngineer,jdbcType=VARCHAR}, #{supply,jdbcType=VARCHAR},
      #{supplyCode,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{regulationCode,jdbcType=VARCHAR},
      #{buyEngineer,jdbcType=VARCHAR})
  </insert>

    <!--update-->
    <update id="HzEPLDAOImpl_update" parameterType="sql.pojo.epl.HzEPLRecord">
        update HZ_EPL_RECORD
        <set>
            <if test="partId != null">
                PART_ID = #{partId,jdbcType=VARCHAR},
            </if>
            <if test="partOfWhichDept != null">
                PART_OF_WHICH_DEPT = #{partOfWhichDept,jdbcType=VARCHAR},
            </if>
            <if test="partName != null">
                PART_NAME = #{partName,jdbcType=VARCHAR},
            </if>
            <if test="partClass != null">
                PART_CLASS = #{partClass,jdbcType=VARCHAR},
            </if>
            <if test="partEnName != null">
                PART_EN_NAME = #{partEnName,jdbcType=VARCHAR},
            </if>
            <if test="partResource != null">
                PART_RESOURCE = #{partResource,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                STATUS = #{status,jdbcType=INTEGER},
            </if>
                UPDATE_TIME = sysdate,
            <if test="fastener != null">
                FASTENER = #{fastener,jdbcType=VARCHAR},
            </if>
            <if test="is3cpart != null">
                IS_3CPART = #{is3cpart,jdbcType=INTEGER},
            </if>
            <if test="inOutSideFlag != null">
                IN_OUT_SIDE_FLAG = #{inOutSideFlag,jdbcType=INTEGER},
            </if>
            <if test="updateId != null">
                UPDATE_ID = #{updateId,jdbcType=DOUBLE},
            </if>
            <if test="unit != null">
                UNIT = #{unit,jdbcType=VARCHAR},
            </if>
            <if test="pictureNo != null">
                PICTURE_NO = #{pictureNo,jdbcType=VARCHAR},
            </if>
            <if test="pictureSheet != null">
                PICTURE_SHEET = #{pictureSheet,jdbcType=VARCHAR},
            </if>
            <if test="materialHigh != null">
                MATERIAL_HIGH = #{materialHigh,jdbcType=VARCHAR},
            </if>
            <if test="material1 != null">
                MATERIAL1 = #{material1,jdbcType=VARCHAR},
            </if>
            <if test="material2 != null">
                MATERIAL2 = #{material2,jdbcType=VARCHAR},
            </if>
            <if test="material3 != null">
                MATERIAL3 = #{material3,jdbcType=VARCHAR},
            </if>
            <if test="density != null">
                DENSITY = #{density,jdbcType=VARCHAR},
            </if>
            <if test="materialStandard != null">
                MATERIAL_STANDARD = #{materialStandard,jdbcType=VARCHAR},
            </if>
            <if test="surfaceTreat != null">
                SURFACE_TREAT = #{surfaceTreat,jdbcType=VARCHAR},
            </if>
            <if test="textureColorNum != null">
                TEXTURE_COLOR_NUM = #{textureColorNum,jdbcType=VARCHAR},
            </if>
            <if test="manuProcess != null">
                MANU_PROCESS = #{manuProcess,jdbcType=VARCHAR},
            </if>
            <if test="symmetry != null">
                SYMMETRY = #{symmetry,jdbcType=VARCHAR},
            </if>
            <if test="importance != null">
                IMPORTANCE = #{importance,jdbcType=VARCHAR},
            </if>
            <if test="regulationFlag != null">
                REGULATION_FLAG = #{regulationFlag,jdbcType=INTEGER},
            </if>
            <if test="bwgBoxPart != null">
                BWG_BOX_PART = #{bwgBoxPart,jdbcType=VARCHAR},
            </if>
            <if test="developType != null">
                DEVELOP_TYPE = #{developType,jdbcType=VARCHAR},
            </if>
            <if test="dataVersion != null">
                DATA_VERSION = #{dataVersion,jdbcType=VARCHAR},
            </if>
            <if test="targetWeight != null">
                TARGET_WEIGHT = #{targetWeight,jdbcType=VARCHAR},
            </if>
            <if test="featureWeight != null">
                FEATURE_WEIGHT = #{featureWeight,jdbcType=VARCHAR},
            </if>
            <if test="actualWeight != null">
                ACTUAL_WEIGHT = #{actualWeight,jdbcType=VARCHAR},
            </if>
            <if test="fastenerStandard != null">
                FASTENER_STANDARD = #{fastenerStandard,jdbcType=VARCHAR},
            </if>
            <if test="fastenerLevel != null">
                FASTENER_LEVEL = #{fastenerLevel,jdbcType=VARCHAR},
            </if>
            <if test="torque != null">
                TORQUE = #{torque,jdbcType=VARCHAR},
            </if>
            <if test="dutyEngineer != null">
                DUTY_ENGINEER = #{dutyEngineer,jdbcType=VARCHAR},
            </if>
            <if test="supply != null">
                SUPPLY = #{supply,jdbcType=VARCHAR},
            </if>
            <if test="supplyCode != null">
                SUPPLY_CODE = #{supplyCode,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                REMARK = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="regulationCode != null">
                REGULATION_CODE = #{regulationCode,jdbcType=VARCHAR},
            </if>
            <if test="buyEngineer != null">
                BUY_ENGINEER = #{buyEngineer,jdbcType=VARCHAR},
            </if>
            <if test="orderId != null">
                ORDER_ID = #{orderId,jdbcType=DOUBLE},
            </if>
            <if test="revision != null">
                REVISION = #{revision,jdbcType=VARCHAR},
            </if>
            <if test="effectTime != null">
                EFFECT_TIME = #{effectTime,jdbcType=TIMESTAMP}
            </if>
        </set>
        where ID = #{id,jdbcType=DOUBLE}
    </update>

    <!--delete-->
    <delete id="HzEPLDAOImpl_delete" parameterType="java.util.List">
        delete ${tableName}
        where id
        in
        <foreach collection="ids" index="index" item="item"  open="(" separator="," close=")">
            #{ids[${index}]}
        </foreach>
    </delete>

    <!--select-->
    <select id="HzEPLDAOImpl_getEplRecordByPage" parameterType="java.util.HashMap" resultMap="BaseResultMap">
        select * from (
        select u.*,rownum as rn from(
        select
        <include refid="Base_Column_List"/>
        from HZ_EPL_RECORD t1
        <where>
            1=1
            <if test="projectId != null and projectId != ''">
                and t1.PROJECT_ID = #{projectId,jdbcType=VARCHAR}
            </if>
            <if test="partId != null and partId != ''">
                and t1.PART_ID like CONCAT(CONCAT('%',#{partId,jdbcType=VARCHAR}),'%')
            </if>
            <if test="partName != null and partName!=''">
                and t1.PART_NAME like CONCAT(CONCAT('%',#{partName,jdbcType=VARCHAR}),'%')
            </if>
            <if test="partOfWhichDept != null and partOfWhichDept!=''">
                and t1.PART_OF_WHICH_DEPT = #{partOfWhichDept,jdbcType=VARCHAR}
            </if>
            <if test="partResource != null and partResource!=''">
                and t1.PART_RESOURCE = #{partResource,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and t1.STATUS = #{status,jdbcType=VARCHAR}
            </if>
            and t1.STATUS <![CDATA[ <> ]]>0 order by t1.PART_ID
        </where>
        )u
        where ROWNUM &lt;=#{limit,jdbcType=INTEGER} )
        where rn &gt;#{offset,jdbcType=INTEGER}


    </select>

    <select id="HzEPLDAOImpl_getEplTotalCount" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        select
        count (*)
        from HZ_EPL_RECORD t1
        <where>
            1=1
            <if test="projectId != null and projectId != ''">
                and t1.PROJECT_ID = #{projectId,jdbcType=VARCHAR}
            </if>
            <if test="partId != null and partId != ''">
                and t1.PART_ID like CONCAT(CONCAT('%',#{partId,jdbcType=VARCHAR}),'%')
            </if>
            <if test="partName != null and partName!=''">
                and t1.PART_NAME like CONCAT(CONCAT('%',#{partName,jdbcType=VARCHAR}),'%')
            </if>
            <if test="partOfWhichDept != null and partOfWhichDept!=''">
                and t1.PART_OF_WHICH_DEPT = #{partOfWhichDept,jdbcType=VARCHAR}
            </if>
            <if test="partResource != null and partResource!=''">
                and t1.PART_RESOURCE = #{partResource,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and t1.STATUS = #{status,jdbcType=VARCHAR}
            </if>
            and t1.STATUS <![CDATA[ <> ]]>0
        </where>
    </select>


    <select id="HzEPLDAOImpl_getEPLRecordById" parameterType="java.util.HashMap" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from HZ_EPL_RECORD t1
        <where>
            1=1
            <if test="projectId != null and projectId != ''">
                and t1.PROJECT_ID = #{projectId,jdbcType=VARCHAR}
            </if>
            <if test="partId != null and partId != ''">
                and t1.PART_ID =#{partId,jdbcType=VARCHAR}
            </if>
            <if test="id != null">
                and t1.ID =#{id,jdbcType=DOUBLE}
            </if>
            and t1.STATUS <![CDATA[ <> ]]>0
        </where>
    </select>
</mapper>