<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ /*
  ~  * Copyright (c) 2019 Author: Fancyears Milos Malvis @1243093366@qq.com
  ~  * ALL COPYRIGHT REVERSED.
  ~  */
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.net.connor.hozon.dao.dao.bom.sparePart.SparePartOfProjectDao">
  <resultMap id="BaseResultMap" type="cn.net.connor.hozon.dao.pojo.bom.sparePart.SparePartOfProject">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="PROJECT_ID" jdbcType="VARCHAR" property="projectId" />
    <result column="SPARE_PART_ID" jdbcType="DECIMAL" property="sparePartId" />
    <result column="RESERVED1" jdbcType="VARCHAR" property="reserved1" />
    <result column="RESERVED2" jdbcType="VARCHAR" property="reserved2" />
    <result column="RESERVED3" jdbcType="VARCHAR" property="reserved3" />
    <result column="RESERVED4" jdbcType="VARCHAR" property="reserved4" />
    <result column="RESERVED5" jdbcType="VARCHAR" property="reserved5" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, PROJECT_ID, SPARE_PART_ID, RESERVED1, RESERVED2, RESERVED3, RESERVED4, RESERVED5
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SPARE_PART_OF_PROJECT
    where ID = #{id,jdbcType=DECIMAL}
  </select>

  <select id="selectAllByProjectId" parameterType="cn.net.connor.hozon.dao.query.bom.sparePart.SparePartOfProjectQuery" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from SPARE_PART_OF_PROJECT
    where PROJECT_ID = #{projectId,jdbcType=VARCHAR}
  </select>
  <select id="count" parameterType="cn.net.connor.hozon.dao.query.bom.sparePart.SparePartOfProjectQuery" resultType="java.lang.Integer">
    select count(*) from SPARE_PART_OF_PROJECT where PROJECT_ID = #{projectId,jdbcType=VARCHAR}
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from SPARE_PART_OF_PROJECT
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="cn.net.connor.hozon.dao.pojo.bom.sparePart.SparePartOfProject">
    insert into SPARE_PART_OF_PROJECT (ID, PROJECT_ID, SPARE_PART_ID, 
      RESERVED1, RESERVED2, RESERVED3, 
      RESERVED4, RESERVED5)
    values (#{id,jdbcType=DECIMAL}, #{projectId,jdbcType=VARCHAR}, #{sparePartId,jdbcType=DECIMAL}, 
      #{reserved1,jdbcType=VARCHAR}, #{reserved2,jdbcType=VARCHAR}, #{reserved3,jdbcType=VARCHAR}, 
      #{reserved4,jdbcType=VARCHAR}, #{reserved5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.net.connor.hozon.dao.pojo.bom.sparePart.SparePartOfProject">
    insert into SPARE_PART_OF_PROJECT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="projectId != null">
        PROJECT_ID,
      </if>
      <if test="sparePartId != null">
        SPARE_PART_ID,
      </if>
      <if test="reserved1 != null">
        RESERVED1,
      </if>
      <if test="reserved2 != null">
        RESERVED2,
      </if>
      <if test="reserved3 != null">
        RESERVED3,
      </if>
      <if test="reserved4 != null">
        RESERVED4,
      </if>
      <if test="reserved5 != null">
        RESERVED5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="sparePartId != null">
        #{sparePartId,jdbcType=DECIMAL},
      </if>
      <if test="reserved1 != null">
        #{reserved1,jdbcType=VARCHAR},
      </if>
      <if test="reserved2 != null">
        #{reserved2,jdbcType=VARCHAR},
      </if>
      <if test="reserved3 != null">
        #{reserved3,jdbcType=VARCHAR},
      </if>
      <if test="reserved4 != null">
        #{reserved4,jdbcType=VARCHAR},
      </if>
      <if test="reserved5 != null">
        #{reserved5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.net.connor.hozon.dao.pojo.bom.sparePart.SparePartOfProject">
    update SPARE_PART_OF_PROJECT
    <set>
      <if test="projectId != null">
        PROJECT_ID = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="sparePartId != null">
        SPARE_PART_ID = #{sparePartId,jdbcType=DECIMAL},
      </if>
      <if test="reserved1 != null">
        RESERVED1 = #{reserved1,jdbcType=VARCHAR},
      </if>
      <if test="reserved2 != null">
        RESERVED2 = #{reserved2,jdbcType=VARCHAR},
      </if>
      <if test="reserved3 != null">
        RESERVED3 = #{reserved3,jdbcType=VARCHAR},
      </if>
      <if test="reserved4 != null">
        RESERVED4 = #{reserved4,jdbcType=VARCHAR},
      </if>
      <if test="reserved5 != null">
        RESERVED5 = #{reserved5,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.net.connor.hozon.dao.pojo.bom.sparePart.SparePartOfProject">
    update SPARE_PART_OF_PROJECT
    set PROJECT_ID = #{projectId,jdbcType=VARCHAR},
      SPARE_PART_ID = #{sparePartId,jdbcType=DECIMAL},
      RESERVED1 = #{reserved1,jdbcType=VARCHAR},
      RESERVED2 = #{reserved2,jdbcType=VARCHAR},
      RESERVED3 = #{reserved3,jdbcType=VARCHAR},
      RESERVED4 = #{reserved4,jdbcType=VARCHAR},
      RESERVED5 = #{reserved5,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>