<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
<form id="form" role="form" method="post" th:action="${action}">
    <input class="form-control" id="pProjectPertainToPlatform" name="pProjectPertainToPlatform" type="hidden"
           th:value="${platform.getPuid()}"
    />
    <div class="form-group">
        <label for="pBrandCode">品牌代码</label>
        <input class="form-control" id="pBrandCode" name="pBrandCode" type="text"
               placeholder="请输入品牌代码" th:value="${brand.getpBrandCode()}" disabled="disabled"
        />
    </div>
    <div class="form-group">
        <label for="pBrandName">中文品牌</label>
        <input class="form-control" id="pBrandName" name="pBrandName" type="text"
               placeholder="请输入中文品牌" th:value="${brand.getpBrandName()}" disabled="disabled"
        />
    </div>
    <div class="form-group">
        <label for="pPlatformCode">平台代码</label>
        <input class="form-control" id="pPlatformCode" name="pPlatformCode" type="text"
               placeholder="请输入平台代码" th:value="${platform.getpPlatformCode()}" disabled="disabled"
        />
    </div>
    </div>
    <div class="form-group">
        <label for="pPlatformName">平台名称</label>
        <input class="form-control" id="pPlatformName" name="pPlatformName" type="text"
               placeholder="请输入平台名称" th:value="${platform.getpPlatformName()}" disabled="disabled"
        />
    </div>

    <div class="form-group">
        <label for="pProjectCode">项目编号</label>
        <input class="form-control" id="pProjectCode" name="pProjectCode" type="text"
               placeholder="请输入项目编号"/>
    </div>
    <div class="form-group">
        <label for="pProjectName">项目名称</label>
        <input class="form-control" id="pProjectName" name="pProjectName" type="text"
               placeholder="请输入项目名称"/>
    </div>

    <div class="form-group">
        <label for="projVehicleCode">车型代码</label>
        <input class="form-control" id="projVehicleCode" name="projVehicleCode" type="text"
               placeholder="请输入车型代码"/>
    </div>
    <div class="form-group">
        <label for="projVehicleName">车型名称</label>
        <input class="form-control" id="projVehicleName" name="projVehicleName" type="text"
               placeholder="请输入车型名称"/>
    </div>
    <div class="form-group">
        <label for="projVehicleShapeCode">车身形式代码</label>
        <input class="form-control" id="projVehicleShapeCode" name="projVehicleShapeCode" type="text"
               placeholder="请输入车身形式代码"/>
    </div>
    <div class="form-group">
        <label for="projVehicleTranName">车身变形名称</label>
        <input class="form-control" id="projVehicleTranName" name="projVehicleTranName" type="text"
               placeholder="请输入车身变形名称"/>
    </div>
    <div class="form-group">
        <label for="projVehicleAnnualCode">车型年代码</label>
        <input class="form-control" id="projVehicleAnnualCode" name="projVehicleAnnualCode" type="text"
               placeholder="请输入车型年代码"/>
    </div>
    <div class="form-group">
        <label for="projVehicleAnnual">年型年</label>
        <input class="form-control" id="projVehicleAnnual" name="projVehicleAnnual" type="text"
               placeholder="请输入年型年"/>
    </div>
</form>
<script th:inline="javascript">
    <![CDATA[
    $(function () {
        $('#form').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                pProjectCode: {
                    message: '项目编号验证失败',
                    validators: {
                        notEmpty: {
                            message: '项目编号不能为空'
                        }
                    }
                },
                pProjectName: {
                    message: '项目名称验证失败',
                    validators: {
                        notEmpty: {
                            message: '项目名称不能为空'
                        }
                    }
                }
            }
        });
        // 绑定dialog的确定按钮的监听事件
        $("#btnOk", window.top.document).click(function () {
            var bootstrapValidator = $("#form", window.top.document).data('bootstrapValidator');
            bootstrapValidator.validate();
            if (bootstrapValidator.isValid()) {
                var url = $("#form", window.top.document).attr('action');
                <!--其实不要puid，puid会在服务器上生成-->
                var data = {};
                var _d = $("#form").serializeArray();
                for (var p in _d) {
                    data[_d[p].name] = _d[p].value;
                }
                // data.pProjectPertainToPlatform=$("#pProjectPertainToPlatform").val();
                console.log(data);
                console.log(JSON.stringify(data));
                $.ajax({
                    type:
                        'POST',
                    contentType:
                        "application/json",
                    url: url,
                    data: JSON.stringify(data),
                    success:
                        function (result) {
                            $('.modal-dialog', window.top.document).parent('div').remove()
                            $('body', window.top.document).find('.modal-backdrop').remove();
                            // jquery 调用刷新当前操作的table页面的refresh方法
                            var zTree = $(window.parent.document).contents().find(".tab-pane.fade.active.in iframe")[0].contentWindow.zTree;
                            var selectNode = $(window.parent.document).contents().find(".tab-pane.fade.active.in iframe")[0].contentWindow.selectNode;
                            if (result.status == 1) {
                                var entity = result.entity;
                                zTree.addNodes(selectNode, {
                                    puid: entity.puid,
                                    pPuid: entity.pProjectPertainToPlatform,
                                    name: entity.pProjectName
                                });
                                window.Ewin.alert({message: "添加项目成功"});
                            }
                            else if (result.status == 0) {
                                window.Ewin.alert({message: "已存在的项目代码，请修改或者更换项目代码"});
                            }
                            else {
                                window.Ewin.alert({message: "添加失败，请联系管理员"});
                            }

                        },
                    error: function (status) {
                        window.Ewin.alert({message: status.status + ':添加数据失败!'});
                    }
                });
            }
        });
    })
    ]]>
</script>
</body>
</html>