<html xmlns:th="http://www.thymeleaf.org"
>
<head th:include="include/includebase"></head>
<link th:href="@{/css/stage/project.css}" rel="stylesheet"/>

<body>
<div id="content" class="row-fluid">
    <!--bootstrap网格系统只能貌似只能使用同种网格系统-->
    <div class="col-md-4" style="margin-top: 10px;">
        <button class="btn btn-default" style="width: 250px" id="setCurrentProject" type="button">设置为当前工作项目</button>
        <h2>
            <lable id="labHidden" hidden="hidden">快速操作</lable>
            <select id="fastOption" hidden="hidden" style="width: 250px"></select>
        </h2>
        <h2><span class="label label-success" id="currentProject"></span></h2>
        <ul id="menu_tree" class="ztree" style="width:560px; overflow:auto;"></ul>
    </div>
    <div class="col-md-4">
        <table class="table table-striped tableNormalStyle" id="detailTable" style="visibility: hidden">
            <tr>
                <th>品牌代码</th>
                <td id="pBrandCode"></td>
                <th>中文品牌</th>
                <td id="pBrandName"></td>
            </tr>
            <tr>
                <th>平台代码</th>
                <td id="pPlatformCode"></td>
                <th>平台名称</th>
                <td id="pPlatformName"></td>
            </tr>
            <tr>
                <th>车型代码</th>
                <td id="projVehicleCode"></td>
                <th>车型名称</th>
                <td id="projVehicleName"></td>
            </tr>
            <tr>
                <th>车身形式代码</th>
                <td id="projVehicleShapeCode"></td>
                <th>车身变形名称</th>
                <td id="projVehicleTranName"></td>
            </tr>
            <tr>
                <th>车型年代码</th>
                <td id="projVehicleAnnualCode"></td>
                <th>年型年</th>
                <td id="projVehicleAnnual"></td>
            </tr>
            <tr>
                <th>项目编号</th>
                <td id="pProjectCode"></td>
                <th>项目名称</th>
                <td id="pProjectName"></td>
            </tr>
        </table>
    </div>
    <button id="tsada">Click</button>
</div>
<script th:src="@{/js/project/project.js}"></script>
<script type="application/javascript">
</script>
</body>
</html>