<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!--User: xulf Date: 2018/11/14 Time: 15:18-->
<body>
<div style="max-width: 450px;max-height: 450px;">
    <form id="form" role="form" method="post" action="mbom/data/change">
        <div class="row">
            <div class="col-md-12">
                <input id="puids" type="hidden" th:value="${puids}">
                <input id="type" type="hidden" th:value="${type}">
                <div class="form-group">
                    <label for="stage">选择变更表单</label>
                    <select class="form-control" id="stage" name="stage">
                        <option th:each="model:${data}"
                                th:value="${model.getId()}"
                                th:text="${model.getChangeNo()}">
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>
<script th:inline="javascript">
    <![CDATA[
    $(function () {
        // 绑定dialog的确定按钮的监听事件
        $("#btnOk", window.top.document).click(function () {
            var changeFromId = $("#stage option:selected").val();
            var projectId = $("#project", window.top.document).val();
            var puids = $("#puids").val();
            var type = $("#type").val();
            var url = $("#form", window.top.document).attr('action');
            var myData = JSON.stringify({
                "puids":puids ,
                "orderId": changeFromId,
                "projectId":projectId,
                "type":type
            });
            $.ajax({
                type: "POST",
                //ajax需要添加打包名
                url: url,
                data: myData,
                contentType: "application/json",
                success: function (result) {
                    $('.modal-dialog', window.top.document).parent('div').remove()
                    $('body', window.top.document).find('.modal-backdrop').remove();
                    if (type==""||type==null){
                        $(window.parent.document).contents().find(".tab-pane.fade.active.in iframe")[0].contentWindow.doQuery();
                    }
                    else if (type==1||type=="1"){
                        $(window.parent.document).contents().find(".tab-pane.fade.active.in iframe")[0].contentWindow.doQuery1();
                    }
                    else if (type==6||type=="6"){
                        $(window.parent.document).contents().find(".tab-pane.fade.active.in iframe")[0].contentWindow.doQuery2();
                    }
                    if (result.success) {
                        layer.msg(result.errMsg, {icon: 1, time: 2000});
                    }
                    else {
                        window.Ewin.alert({message: result.errMsg});
                    }
                },
                error: function (info) {
                    window.Ewin.alert({message: "操作发送失败:" + info.status});
                }
            })
        });
    })
    ]]>
</script>
<script th:src="@{/layer/layer.js}"></script>
</body>
</html>