<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--User: xulf Date: 2018/11/8 Time: 16:23-->
<head th:include="include/includebase"></head>
<link th:href="@{/css/change/changeForm/changeForm.css}" rel="stylesheet"/>
<meta charset="UTF-8">
<title>变更表单</title>
</head>
<body>
<div class="panel-body" style="padding-bottom:0px;">
    <div class="panel panel-default" style="margin-top: 10px;">
        <div class="panel-body">
            <form class="form-inline" role="form" style="float: left; width: 100%;margin-left: 20px;" method="get"id="queryChangeForm">
                <div class="form-group">
                    <label for="changeNo">变更单号:</label>
                    <input type="text" style="width: 150px;" class="form-control" name="changeNo" id="changeNo"
                           placeholder="请输入变更单号"/>
                </div>
                <div class="form-group">
                <label for="deptName">部门:</label>
                <input type="text" style="width: 150px;" class="form-control" name="deptName" id="deptName"
                placeholder="请输入部门"/>
                </div>
                <div class="form-group">
                    <label for="originator">发起人:</label>
                    <input type="text" style="width: 150px;" class="form-control" name="originator" id="originator"
                           placeholder="请输入发起人"/>
                </div>
                <div class="form-group">
                    <label for="state">变更单状态</label>
                    <select class="form-control" name="state" id="state" placeholder="请选择变更单状态">
                        <!--<option>进行中</option>-->
                        <!--<option>完成</option>-->
                        <!--<option>取消</option>-->
                        <option>请选择变更单状态</option>
                        <option>已完成</option>
                        <option>进行中</option>
                        <option>流程中</option>
                    </select>
                </div>
                <!--<div class="form-group">-->
                    <!--<label for="VWOnum1">开始日期:</label>-->
                    <!--<input class="form-control head-input-set" name="startdate" id="startdate" type="date"/>~-->
                    <!--<input class="form-control head-input-set" name="startdate" id="enddate" type="date"/>~-->
                <!--</div>-->
                <div class="form-group">
                    <button type="button" id="queryBtn" onclick="doQuery();" class="btn btn-primary">查询</button>
                </div>
            </form>
        </div>
    </div>
</div>
<table class="table table-striped tableNormalStyle" id="changeFormTable"></table>
<script th:src="@{/js/helper/projectHelper.js}"></script>
<script th:src="@{/js/helper/dateFormater.js}"></script>
<script th:src="@{/js/change/changeForm/changeForm.js}"></script>
</body>
</html>