<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HzWorkCenterMapper">
  <resultMap id="BaseResultMap" type="sql.pojo.work.HzWorkCenter">
    <id column="PUID" jdbcType="VARCHAR" property="puid" />
    <result column="P_FACTORY_PUID" jdbcType="VARCHAR" property="pFactoryPuid" />
    <result column="P_WORK_CODE" jdbcType="VARCHAR" property="pWorkCode" />
    <result column="P_WORK_DESC" jdbcType="VARCHAR" property="pWorkDesc" />
    <result column="P_WORK_TYPE" jdbcType="VARCHAR" property="pWorkType" />
    <result column="P_PURPOSE" jdbcType="VARCHAR" property="pPurpose" />
    <result column="P_STANDARD_CODE" jdbcType="VARCHAR" property="pStandardCode" />
    <result column="P_CONTROL_CODE" jdbcType="VARCHAR" property="pControlCode" />
    <result column="P_DIRECT_LABOR" jdbcType="VARCHAR" property="pDirectLabor" />
    <result column="P_INDIRECT_LABOR" jdbcType="VARCHAR" property="pIndirectLabor" />
    <result column="P_MACHINE_LABOR" jdbcType="VARCHAR" property="pMachineLabor" />
    <result column="P_BURN" jdbcType="VARCHAR" property="pBurn" />
    <result column="P_MACHINE_MATERIAL" jdbcType="VARCHAR" property="pMachineMaterial" />
    <result column="P_OTHER_COST" jdbcType="VARCHAR" property="pOtherCost" />
    <result column="P_PROCESS_EXRESSION" jdbcType="VARCHAR" property="pProcessExression" />
    <result column="P_ABILITY_TYPE" jdbcType="VARCHAR" property="pAbilityType" />
    <result column="P_START_TIME" jdbcType="VARCHAR" property="pStartTime" />
    <result column="P_END_TIME" jdbcType="VARCHAR" property="pEndTime" />
    <result column="P_REST_TIME" jdbcType="VARCHAR" property="pRestTime" />
    <result column="P_ABILITY_COUNT" jdbcType="VARCHAR" property="pAbilityCount" />
    <result column="P_DISPATCH_EXPRESSION" jdbcType="VARCHAR" property="pDispatchExpression" />
    <result column="P_COST_CENTER" jdbcType="VARCHAR" property="pCostCenter" />
    <result column="P_TASK_TYPE1" jdbcType="VARCHAR" property="pTaskType1" />
    <result column="P_TASK_TYPE2" jdbcType="VARCHAR" property="pTaskType2" />
    <result column="P_TASK_TYPE3" jdbcType="VARCHAR" property="pTaskType3" />
    <result column="P_TASK_TYPE4" jdbcType="VARCHAR" property="pTaskType4" />
    <result column="P_TASK_TYPE5" jdbcType="VARCHAR" property="pTaskType5" />
    <result column="P_TASK_TYPE6" jdbcType="VARCHAR" property="pTaskType6" />
    <result column="P_EXPERSSION1" jdbcType="VARCHAR" property="pExperssion1" />
    <result column="P_EXPERSSION2" jdbcType="VARCHAR" property="pExperssion2" />
    <result column="P_EXPERSSION3" jdbcType="VARCHAR" property="pExperssion3" />
    <result column="P_EXPERSSION4" jdbcType="VARCHAR" property="pExperssion4" />
    <result column="P_EXPERSSION5" jdbcType="VARCHAR" property="pExperssion5" />
    <result column="P_EXPERSSION6" jdbcType="VARCHAR" property="pExperssion6" />
    <result column="P_CREATE_TIME" jdbcType="DATE" property="pCreateTime" />
    <result column="P_UPDATE_TIME" jdbcType="DATE" property="pUpdateTime" />
    <result column="P_CREATE_NAME" jdbcType="VARCHAR" property="pCreateName" />
    <result column="P_UPDATE_NAME" jdbcType="VARCHAR" property="pUpdateName" />
    <result column="P_STATUS" jdbcType="INTEGER" property="pStatus" />
    <result column="P_PROJECT_PUID" jdbcType="VARCHAR" property="projectId" />
  </resultMap>
  <sql id="Base_Column_List">
    PUID, P_FACTORY_PUID, P_WORK_CODE, P_WORK_DESC, P_WORK_TYPE, P_PURPOSE, P_STANDARD_CODE, 
    P_CONTROL_CODE, P_DIRECT_LABOR, P_INDIRECT_LABOR, P_MACHINE_LABOR, P_BURN, P_MACHINE_MATERIAL, 
    P_OTHER_COST, P_PROCESS_EXRESSION, P_ABILITY_TYPE, P_START_TIME, P_END_TIME, P_REST_TIME, 
    P_ABILITY_COUNT, P_DISPATCH_EXPRESSION, P_COST_CENTER, P_TASK_TYPE1, P_TASK_TYPE2, 
    P_TASK_TYPE3, P_TASK_TYPE4, P_TASK_TYPE5, P_TASK_TYPE6, P_EXPERSSION1, P_EXPERSSION2, 
    P_EXPERSSION3, P_EXPERSSION4, P_EXPERSSION5, P_EXPERSSION6, P_CREATE_TIME, P_UPDATE_TIME, 
    P_CREATE_NAME, P_UPDATE_NAME, P_STATUS,P_PROJECT_PUID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from HZ_WORK_CENTER
    where PUID = #{puid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from HZ_WORK_CENTER
    where PUID = #{puid,jdbcType=VARCHAR}
  </delete>


  <insert id="HzWorkCenterDAOImpl_insert" parameterType="sql.pojo.work.HzWorkCenter">
    insert into HZ_WORK_CENTER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="puid != null">
        PUID,
      </if>
      <if test="pFactoryPuid != null">
        P_FACTORY_PUID,
      </if>
      <if test="pWorkCode != null">
        P_WORK_CODE,
      </if>
      <if test="pWorkDesc != null">
        P_WORK_DESC,
      </if>
      <if test="pWorkType != null">
        P_WORK_TYPE,
      </if>
      <if test="pPurpose != null">
        P_PURPOSE,
      </if>
      <if test="pStandardCode != null">
        P_STANDARD_CODE,
      </if>
      <if test="pControlCode != null">
        P_CONTROL_CODE,
      </if>
      <if test="pDirectLabor != null">
        P_DIRECT_LABOR,
      </if>
      <if test="pIndirectLabor != null">
        P_INDIRECT_LABOR,
      </if>
      <if test="pMachineLabor != null">
        P_MACHINE_LABOR,
      </if>
      <if test="pBurn != null">
        P_BURN,
      </if>
      <if test="pMachineMaterial != null">
        P_MACHINE_MATERIAL,
      </if>
      <if test="pOtherCost != null">
        P_OTHER_COST,
      </if>
      <if test="pProcessExression != null">
        P_PROCESS_EXRESSION,
      </if>
      <if test="pAbilityType != null">
        P_ABILITY_TYPE,
      </if>
      <if test="pStartTime != null">
        P_START_TIME,
      </if>
      <if test="pEndTime != null">
        P_END_TIME,
      </if>
      <if test="pRestTime != null">
        P_REST_TIME,
      </if>
      <if test="pAbilityCount != null">
        P_ABILITY_COUNT,
      </if>
      <if test="pDispatchExpression != null">
        P_DISPATCH_EXPRESSION,
      </if>
      <if test="pCostCenter != null">
        P_COST_CENTER,
      </if>
      <if test="pTaskType1 != null">
        P_TASK_TYPE1,
      </if>
      <if test="pTaskType2 != null">
        P_TASK_TYPE2,
      </if>
      <if test="pTaskType3 != null">
        P_TASK_TYPE3,
      </if>
      <if test="pTaskType4 != null">
        P_TASK_TYPE4,
      </if>
      <if test="pTaskType5 != null">
        P_TASK_TYPE5,
      </if>
      <if test="pTaskType6 != null">
        P_TASK_TYPE6,
      </if>
      <if test="pExperssion1 != null">
        P_EXPERSSION1,
      </if>
      <if test="pExperssion2 != null">
        P_EXPERSSION2,
      </if>
      <if test="pExperssion3 != null">
        P_EXPERSSION3,
      </if>
      <if test="pExperssion4 != null">
        P_EXPERSSION4,
      </if>
      <if test="pExperssion5 != null">
        P_EXPERSSION5,
      </if>
      <if test="pExperssion6 != null">
        P_EXPERSSION6,
      </if>
        P_CREATE_TIME,
        P_UPDATE_TIME,
      <if test="pCreateName != null">
        P_CREATE_NAME,
      </if>
      <if test="pUpdateName != null">
        P_UPDATE_NAME,
      </if>

        P_STATUS,

      <if test="projectId != null">
        P_PROJECT_PUID
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="puid != null">
        #{puid,jdbcType=VARCHAR},
      </if>
      <if test="pFactoryPuid != null">
        #{pFactoryPuid,jdbcType=VARCHAR},
      </if>
      <if test="pWorkCode != null">
        #{pWorkCode,jdbcType=VARCHAR},
      </if>
      <if test="pWorkDesc != null">
        #{pWorkDesc,jdbcType=VARCHAR},
      </if>
      <if test="pWorkType != null">
        #{pWorkType,jdbcType=VARCHAR},
      </if>
      <if test="pPurpose != null">
        #{pPurpose,jdbcType=VARCHAR},
      </if>
      <if test="pStandardCode != null">
        #{pStandardCode,jdbcType=VARCHAR},
      </if>
      <if test="pControlCode != null">
        #{pControlCode,jdbcType=VARCHAR},
      </if>
      <if test="pDirectLabor != null">
        #{pDirectLabor,jdbcType=VARCHAR},
      </if>
      <if test="pIndirectLabor != null">
        #{pIndirectLabor,jdbcType=VARCHAR},
      </if>
      <if test="pMachineLabor != null">
        #{pMachineLabor,jdbcType=VARCHAR},
      </if>
      <if test="pBurn != null">
        #{pBurn,jdbcType=VARCHAR},
      </if>
      <if test="pMachineMaterial != null">
        #{pMachineMaterial,jdbcType=VARCHAR},
      </if>
      <if test="pOtherCost != null">
        #{pOtherCost,jdbcType=VARCHAR},
      </if>
      <if test="pProcessExression != null">
        #{pProcessExression,jdbcType=VARCHAR},
      </if>
      <if test="pAbilityType != null">
        #{pAbilityType,jdbcType=VARCHAR},
      </if>
      <if test="pStartTime != null">
        #{pStartTime,jdbcType=VARCHAR},
      </if>
      <if test="pEndTime != null">
        #{pEndTime,jdbcType=VARCHAR},
      </if>
      <if test="pRestTime != null">
        #{pRestTime,jdbcType=VARCHAR},
      </if>
      <if test="pAbilityCount != null">
        #{pAbilityCount,jdbcType=VARCHAR},
      </if>
      <if test="pDispatchExpression != null">
        #{pDispatchExpression,jdbcType=VARCHAR},
      </if>
      <if test="pCostCenter != null">
        #{pCostCenter,jdbcType=VARCHAR},
      </if>
      <if test="pTaskType1 != null">
        #{pTaskType1,jdbcType=VARCHAR},
      </if>
      <if test="pTaskType2 != null">
        #{pTaskType2,jdbcType=VARCHAR},
      </if>
      <if test="pTaskType3 != null">
        #{pTaskType3,jdbcType=VARCHAR},
      </if>
      <if test="pTaskType4 != null">
        #{pTaskType4,jdbcType=VARCHAR},
      </if>
      <if test="pTaskType5 != null">
        #{pTaskType5,jdbcType=VARCHAR},
      </if>
      <if test="pTaskType6 != null">
        #{pTaskType6,jdbcType=VARCHAR},
      </if>
      <if test="pExperssion1 != null">
        #{pExperssion1,jdbcType=VARCHAR},
      </if>
      <if test="pExperssion2 != null">
        #{pExperssion2,jdbcType=VARCHAR},
      </if>
      <if test="pExperssion3 != null">
        #{pExperssion3,jdbcType=VARCHAR},
      </if>
      <if test="pExperssion4 != null">
        #{pExperssion4,jdbcType=VARCHAR},
      </if>
      <if test="pExperssion5 != null">
        #{pExperssion5,jdbcType=VARCHAR},
      </if>
      <if test="pExperssion6 != null">
        #{pExperssion6,jdbcType=VARCHAR},
      </if>
        sysdate,
        sysdate,
      <if test="pCreateName != null">
        #{pCreateName,jdbcType=VARCHAR},
      </if>
      <if test="pUpdateName != null">
        #{pUpdateName,jdbcType=VARCHAR},
      </if>
        1,
      <if test="projectId != null">
        #{projectId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>


  <update id="HzWorkCenterDAOImpl_update" parameterType="sql.pojo.work.HzWorkCenter">
    update HZ_WORK_CENTER
    <set>
      <if test="pFactoryPuid != null">
        P_FACTORY_PUID = #{pFactoryPuid,jdbcType=VARCHAR},
      </if>
      <if test="pWorkCode != null">
        P_WORK_CODE = #{pWorkCode,jdbcType=VARCHAR},
      </if>
      <if test="pWorkDesc != null">
        P_WORK_DESC = #{pWorkDesc,jdbcType=VARCHAR},
      </if>
      <if test="pWorkType != null">
        P_WORK_TYPE = #{pWorkType,jdbcType=VARCHAR},
      </if>
      <if test="pPurpose != null">
        P_PURPOSE = #{pPurpose,jdbcType=VARCHAR},
      </if>
      <if test="pStandardCode != null">
        P_STANDARD_CODE = #{pStandardCode,jdbcType=VARCHAR},
      </if>
      <if test="pControlCode != null">
        P_CONTROL_CODE = #{pControlCode,jdbcType=VARCHAR},
      </if>
      <if test="pDirectLabor != null">
        P_DIRECT_LABOR = #{pDirectLabor,jdbcType=VARCHAR},
      </if>
      <if test="pIndirectLabor != null">
        P_INDIRECT_LABOR = #{pIndirectLabor,jdbcType=VARCHAR},
      </if>
      <if test="pMachineLabor != null">
        P_MACHINE_LABOR = #{pMachineLabor,jdbcType=VARCHAR},
      </if>
      <if test="pBurn != null">
        P_BURN = #{pBurn,jdbcType=VARCHAR},
      </if>
      <if test="pMachineMaterial != null">
        P_MACHINE_MATERIAL = #{pMachineMaterial,jdbcType=VARCHAR},
      </if>
      <if test="pOtherCost != null">
        P_OTHER_COST = #{pOtherCost,jdbcType=VARCHAR},
      </if>
      <if test="pProcessExression != null">
        P_PROCESS_EXRESSION = #{pProcessExression,jdbcType=VARCHAR},
      </if>
      <if test="pAbilityType != null">
        P_ABILITY_TYPE = #{pAbilityType,jdbcType=VARCHAR},
      </if>
      <if test="pStartTime != null">
        P_START_TIME = #{pStartTime,jdbcType=VARCHAR},
      </if>
      <if test="pEndTime != null">
        P_END_TIME = #{pEndTime,jdbcType=VARCHAR},
      </if>
      <if test="pRestTime != null">
        P_REST_TIME = #{pRestTime,jdbcType=VARCHAR},
      </if>
      <if test="pAbilityCount != null">
        P_ABILITY_COUNT = #{pAbilityCount,jdbcType=VARCHAR},
      </if>
      <if test="pDispatchExpression != null">
        P_DISPATCH_EXPRESSION = #{pDispatchExpression,jdbcType=VARCHAR},
      </if>
      <if test="pCostCenter != null">
        P_COST_CENTER = #{pCostCenter,jdbcType=VARCHAR},
      </if>
      <if test="pTaskType1 != null">
        P_TASK_TYPE1 = #{pTaskType1,jdbcType=VARCHAR},
      </if>
      <if test="pTaskType2 != null">
        P_TASK_TYPE2 = #{pTaskType2,jdbcType=VARCHAR},
      </if>
      <if test="pTaskType3 != null">
        P_TASK_TYPE3 = #{pTaskType3,jdbcType=VARCHAR},
      </if>
      <if test="pTaskType4 != null">
        P_TASK_TYPE4 = #{pTaskType4,jdbcType=VARCHAR},
      </if>
      <if test="pTaskType5 != null">
        P_TASK_TYPE5 = #{pTaskType5,jdbcType=VARCHAR},
      </if>
      <if test="pTaskType6 != null">
        P_TASK_TYPE6 = #{pTaskType6,jdbcType=VARCHAR},
      </if>
      <if test="pExperssion1 != null">
        P_EXPERSSION1 = #{pExperssion1,jdbcType=VARCHAR},
      </if>
      <if test="pExperssion2 != null">
        P_EXPERSSION2 = #{pExperssion2,jdbcType=VARCHAR},
      </if>
      <if test="pExperssion3 != null">
        P_EXPERSSION3 = #{pExperssion3,jdbcType=VARCHAR},
      </if>
      <if test="pExperssion4 != null">
        P_EXPERSSION4 = #{pExperssion4,jdbcType=VARCHAR},
      </if>
      <if test="pExperssion5 != null">
        P_EXPERSSION5 = #{pExperssion5,jdbcType=VARCHAR},
      </if>
      <if test="pExperssion6 != null">
        P_EXPERSSION6 = #{pExperssion6,jdbcType=VARCHAR},
      </if>
        P_UPDATE_TIME = sysdate,
      <if test="pCreateName != null">
        P_CREATE_NAME = #{pCreateName,jdbcType=VARCHAR},
      </if>
      <if test="pUpdateName != null">
        P_UPDATE_NAME = #{pUpdateName,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        P_PROJECT_PUID = #{projectId,jdbcType=INTEGER},
      </if>
    </set>
    where PUID = #{puid,jdbcType=VARCHAR}
  </update>


  <update id="HzWorkCenterDAOImpl_delete">
    update HZ_WORK_CENTER
    set P_STATUS = 0
    where where PUID = #{puid,jdbcType=VARCHAR}
  </update>

</mapper>