<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.connor.hozon.bom.bomSystem.dao.cfg.HzCfg0ToModelRecordDao">
    <resultMap id="BaseResultMap" type="sql.pojo.cfg.HzCfg0ToModelRecord">
        <id column="PUID" jdbcType="VARCHAR" property="puid"/>
        <result column="P_CFG0_ID_RECORD" jdbcType="VARCHAR" property="pCfg0IdRecord"/>
        <result column="P_CFG0_OPTION_VALUE" jdbcType="VARCHAR" property="pCfg0OptionValue"/>
        <result column="P_OF_CFG0_MAIN_RECORD" jdbcType="VARCHAR" property="pOfCfg0MainRecord"/>
        <result column="P_CFG0_MODEL_RECORD" jdbcType="VARCHAR" property="pCfg0ModelRecord"/>
        <result column="P_PARSE_LOGIC_VALUE" jdbcType="INTEGER" property="pParseLogicValue"/>
        <result column="IS_SENT" jdbcType="INTEGER" property="isSent"/>
    </resultMap>
    <sql id="Base_Column_List">
        PUID,
        P_CFG0_ID_RECORD,
        P_CFG0_OPTION_VALUE,
        P_OF_CFG0_MAIN_RECORD,
        P_CFG0_MODEL_RECORD,
        P_PARSE_LOGIC_VALUE,
        IS_SENT
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from HZ_CFG0_TO_MODEL_RECORD
        where PUID = #{puid,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from HZ_CFG0_TO_MODEL_RECORD
    where PUID = #{puid,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="sql.pojo.cfg.HzCfg0ToModelRecord">
    insert into HZ_CFG0_TO_MODEL_RECORD (PUID, P_CFG0_ID_RECORD, P_CFG0_OPTION_VALUE, 
      P_OF_CFG0_MAIN_RECORD, P_CFG0_MODEL_RECORD, P_PARSE_LOGIC_VALUE
      )
    values (#{puid,jdbcType=VARCHAR}, #{pCfg0IdRecord,jdbcType=VARCHAR}, #{pCfg0OptionValue,jdbcType=VARCHAR}, 
      #{pOfCfg0MainRecord,jdbcType=VARCHAR}, #{pCfg0ModelRecord,jdbcType=VARCHAR}, #{pParseLogicValue,jdbcType=INTEGER}
      )
  </insert>
    <update id="updateByPrimaryKey" parameterType="sql.pojo.cfg.HzCfg0ToModelRecord">
    update HZ_CFG0_TO_MODEL_RECORD
    set P_CFG0_ID_RECORD = #{pCfg0IdRecord,jdbcType=VARCHAR},
      P_CFG0_OPTION_VALUE = #{pCfg0OptionValue,jdbcType=VARCHAR},
      P_OF_CFG0_MAIN_RECORD = #{pOfCfg0MainRecord,jdbcType=VARCHAR},
      P_CFG0_MODEL_RECORD = #{pCfg0ModelRecord,jdbcType=VARCHAR},
      P_PARSE_LOGIC_VALUE = #{pParseLogicValue,jdbcType=INTEGER}
    where PUID = #{puid,jdbcType=VARCHAR}
  </update>

    <!--设置进入流程状态-->
    <update id="setIsSent" parameterType="java.util.List">
        update HZ_CFG0_TO_MODEL_RECORD
        set
        IS_SENT = 1
        where PUID in
        <if test="list==null">
            ('')
        </if>
        <if test="list!=null">
            (
            <foreach collection="list" item="item" index="index"
                     separator=",">
                #{item.puid,jdbcType=VARCHAR}
            </foreach>
            )
        </if>
    </update>
</mapper>