<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.connor.hozon.bom.bomSystem.dao.cfg.HzCfg0RecordDao">
    <resultMap id="BaseResultMap" type="sql.pojo.cfg.HzCfg0Record">
        <id column="PUID" jdbcType="VARCHAR" property="puid"/>
        <result column="P_CFG0_OBJECT_ID" jdbcType="VARCHAR" property="pCfg0ObjectId"/>
        <result column="P_CFG0_DESC" jdbcType="VARCHAR" property="pCfg0Desc"/>
        <result column="P_CFG0_FAMILY_NAME" jdbcType="VARCHAR" property="pCfg0FamilyName"/>
        <result column="P_CFG0_FAMILY_PUID" jdbcType="VARCHAR" property="pCfg0FamilyPuid"/>
        <result column="P_CFG0_MAIN_ITEM_PUID" jdbcType="VARCHAR" property="pCfg0MainItemPuid"/>
        <result column="P_H9FEATURENAME" jdbcType="VARCHAR" property="pH9featurename"/>
        <result column="P_H9FEATUREENNAME" jdbcType="VARCHAR" property="pH9featureenname"/>
        <result column="P_H9FEATUREDESC" jdbcType="VARCHAR" property="pH9featuredesc"/>
        <result column="P_CFG0_FAMILY_DESC" jdbcType="VARCHAR" property="pCfg0FamilyDesc"/>
        <result column="P_CFG0_RELEVANCE" jdbcType="VARCHAR" property="pCfg0Relevance"/>
        <result column="P_IS_FEATURE_SENT" jdbcType="INTEGER" property="isFeatureSent"/>
        <result column="P_IS_RELEVANCE_SENT" jdbcType="INTEGER" property="isRelevanceSent"/>
        <!--创建和修改信息-->
        <result column="P_FEATURE_CREATOR" jdbcType="VARCHAR" property="creator"/>
        <result column="P_FEATURE_CREATOR_DATE" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="P_FEATURE_LAST_MODIFIER" jdbcType="VARCHAR" property="lastModifier"/>
        <result column="P_FEATURE_LAST_MODIFY_DATE" jdbcType="TIMESTAMP" property="lastModifyDate"/>
    </resultMap>

    <resultMap id="MaterielFeatureMap" type="com.connor.hozon.bom.bomSystem.dto.HzMaterielFeatureBean">
        <id column="PUID" jdbcType="VARCHAR" property="puid"/>
        <result column="P_CFG0_OBJECT_ID" jdbcType="VARCHAR" property="pCfg0ObjectId"/>
        <result column="P_CFG0_DESC" jdbcType="VARCHAR" property="pCfg0Desc"/>
        <result column="P_CFG0_FAMILY_NAME" jdbcType="VARCHAR" property="pCfg0FamilyName"/>
        <result column="P_CFG0_FAMILY_DESC" jdbcType="VARCHAR" property="pCfg0FamilyDesc"/>
        <result column="OBJECT_NAME" jdbcType="VARCHAR" property="objectName"/>
        <result column="P_CFG0_MODEL_RECORD" jdbcType="VARCHAR" property="pCfg0ModelRecord"/>
        <result column="P_OF_CFG0_MAIN_RECORD" jdbcType="VARCHAR" property="pOfCfg0MainRecord"/>
        <result column="P_CFG0_MODEL_BASIC_DETAIL" jdbcType="VARCHAR" property="pCfg0ModelBasicDetail"/>
    </resultMap>
    <!--基础列信息-->
    <sql id="Base_Column_List">
        PUID,
        P_CFG0_OBJECT_ID,
        P_CFG0_DESC,
        P_CFG0_FAMILY_NAME,
        P_CFG0_FAMILY_PUID,
        P_CFG0_MAIN_ITEM_PUID,
        P_H9FEATURENAME,
        P_H9FEATUREENNAME,
        P_H9FEATUREDESC,
        P_CFG0_FAMILY_DESC,
        P_CFG0_RELEVANCE,
        P_IS_FEATURE_SENT,
        P_IS_RELEVANCE_SENT,
        P_FEATURE_CREATOR,
        P_FEATURE_CREATOR_DATE,
        P_FEATURE_LAST_MODIFIER,
        P_FEATURE_LAST_MODIFY_DATE
  </sql>
    <!--物料特性表列信息-->
    <sql id="Materiel_Feature_Column_List">
        t.PUID,
        t.P_CFG0_OBJECT_ID,
        t.P_CFG0_DESC,
        t.P_CFG0_FAMILY_NAME,
        t.P_CFG0_FAMILY_DESC,
        t4.OBJECT_NAME,
        t3.P_CFG0_MODEL_RECORD,
        t3.P_OF_CFG0_MAIN_RECORD,
        t4.p_cfg0_model_basic_detail
  </sql>
    <!--根据主键搜索-->
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ${whichTable}
        where PUID = #{puid,jdbcType=VARCHAR}
        order by P_CFG0_OBJECT_ID
    </select>
    <!--根据项目搜索全部-->
    <select id="selectListByProjectPuid" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        ( select
        <include refid="Base_Column_List"/>,
        ROWNUM as rowno
        from ${whichTable} t where 1=1 and
        t.p_cfg0_main_item_puid=(
        select t2.puid
        from Hz_Cfg0_Main_Record t2
        where t2.p_cfg0_of_which_project_puid=#{projectPuid,jdbcType=VARCHAR}
        )

        <if test="param.limit!=null and  param.page!=null">
            and ROWNUM &lt;= ${param.page}*${param.limit}
        </if>
        ) temp
        <if test="param.offset!=null">
            where temp.rowno &gt;= ${param.offset}+1
        </if>
        <if test="param.sort!=null">
            order by ${param.sort}
        </if>
        <if test="param.order!=null">
            ${param.order}
        </if>
        <if test="param.order==null">
            ASC
        </if>
        <!--select
        <include refid="Base_Column_List"/>
        from ${whichTable} t where
        t.p_cfg0_main_item_puid=(
        select t2.puid
        from Hz_Cfg0_Main_Record t2
        where t2.p_cfg0_of_which_project_puid=#{projectPuid,jdbcType=VARCHAR}
        )
        order by P_CFG0_OBJECT_ID-->
    </select>
    <!--根据主键列表进行搜索-->
    <select id="selectCfg0ListByPuids" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ${whichTable} t where
        t.PUID in
        <if test="list!=null">
            (
            <foreach collection="list" item="item" index="index"
                     separator=",">
                #{item,jdbcType=VARCHAR}
            </foreach>
            )
        </if>
        <if test="list==null">
            ('')
        </if>
        order by P_CFG0_OBJECT_ID ASC
    </select>
    <!--根据项目搜索所有物料特性数据-->
    <select id="selectMaterielFeatureByProjectPuid" parameterType="java.lang.String" resultMap="MaterielFeatureMap">
        select
        <include refid="Materiel_Feature_Column_List"/>
        from HZ_CFG0_RECORD t
        left outer join HZ_CFG0_TO_MODEL_RECORD t3 on t.puid=t3.p_cfg0_id_record
        left outer join HZ_CFG0_MODEL_RECORD t4 on t4.puid=t3.p_cfg0_model_record
        where
        t.P_CFG0_MAIN_ITEM_PUID=(
        select puid from Hz_Cfg0_Main_Record t2
        where t2.p_cfg0_of_which_project_puid=#{projectPuid,jdbcType=VARCHAR}
        )
        order by t4.puid
    </select>
    <!--通过特性值和特性描述获取到1个特性值-->
    <select id="selectByCodeAndDesc" parameterType="sql.pojo.cfg.HzCfg0Record" resultMap="MaterielFeatureMap">
        select
        <include refid="Base_Column_List"/>
        from ${whichTable} t
        where
        t.P_CFG0_OBJECT_ID=#{pCfg0ObjectId}
        and t.P_CFG0_DESC=#{pCfg0Desc}
        and t.P_CFG0_FAMILY_NAME=#{pCfg0FamilyName}
        and t.P_CFG0_FAMILY_DESC=#{pCfg0FamilyDesc}
    </select>

    <select id="tellMeHowManyOfThose" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(*) from  HZ_CFG0_RECORD t
        where t.P_CFG0_MAIN_ITEM_PUID=(
        select puid from Hz_Cfg0_Main_Record t2
        where t2.p_cfg0_of_which_project_puid=#{projectPuid,jdbcType=VARCHAR}
        )
    </select>
    <!--根据主键删除-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ${0}
    where PUID = #{puid,jdbcType=VARCHAR}
    </delete>
    <!--根据主键列表删除,删除的是附加表-->
    <delete id="deleteAddedCfgByList" parameterType="java.util.List">
        delete from HZ_CFG0_ADD_CFG_RECORD
        where PUID in(
        <foreach collection="list" item="item" index="index"
                 separator=",">
            #{item.puid,jdbcType=VARCHAR}
        </foreach>
        )

    </delete>
    <!--根据主键列表删除,删除的是主表-->
    <delete id="deleteCfgByList" parameterType="java.util.List">
        delete from HZ_CFG0_RECORD
        where PUID in(
        <foreach collection="list" item="item" index="index"
                 separator=",">
            #{item.puid,jdbcType=VARCHAR}
        </foreach>
        )

    </delete>
    <!--插入1个特性值-->
    <insert id="insert" parameterType="sql.pojo.cfg.HzCfg0Record">
    insert into ${whichTable}
      (
        PUID,
        P_CFG0_OBJECT_ID,
        P_CFG0_DESC,
        P_CFG0_FAMILY_NAME,
        P_CFG0_FAMILY_PUID,
        P_CFG0_MAIN_ITEM_PUID,
        P_H9FEATURENAME,
        P_H9FEATUREENNAME,
        P_H9FEATUREDESC,
        P_CFG0_FAMILY_DESC,
        P_CFG0_RELEVANCE,
        P_FEATURE_CREATOR,
        P_FEATURE_LAST_MODIFIER
        )
    values (
        #{puid,jdbcType=VARCHAR},
        #{pCfg0ObjectId,jdbcType=VARCHAR},
        #{pCfg0Desc,jdbcType=VARCHAR},
        #{pCfg0FamilyName,jdbcType=VARCHAR},
        #{pCfg0FamilyPuid,jdbcType=VARCHAR},
        #{pCfg0MainItemPuid,jdbcType=VARCHAR},
        #{pH9featurename,jdbcType=VARCHAR},
        #{pH9featureenname,jdbcType=VARCHAR},
        #{pH9featuredesc,jdbcType=VARCHAR},
        #{pCfg0FamilyDesc,jdbcType=VARCHAR},
        #{pCfg0Relevance,jdbcType=VARCHAR},
        #{creator,jdbcType=VARCHAR},
        #{lastModifier,jdbcType=VARCHAR}
        )
  </insert>
    <!--根据主键更新数据-->
    <update id="updateByPrimaryKey" parameterType="sql.pojo.cfg.HzCfg0Record">
    update ${whichTable}
    set
          P_CFG0_OBJECT_ID = #{pCfg0ObjectId,jdbcType=VARCHAR},
          P_CFG0_DESC = #{pCfg0Desc,jdbcType=VARCHAR},
          P_CFG0_FAMILY_NAME = #{pCfg0FamilyName,jdbcType=VARCHAR},
          P_CFG0_FAMILY_PUID = #{pCfg0FamilyPuid,jdbcType=VARCHAR},
          P_CFG0_MAIN_ITEM_PUID = #{pCfg0MainItemPuid,jdbcType=VARCHAR},
          P_H9FEATURENAME = #{pH9featurename,jdbcType=VARCHAR},
          P_H9FEATUREENNAME = #{pH9featureenname,jdbcType=VARCHAR},
          P_H9FEATUREDESC = #{pH9featuredesc,jdbcType=VARCHAR},
          P_CFG0_FAMILY_DESC = #{pCfg0FamilyDesc,jdbcType=VARCHAR},
          P_CFG0_RELEVANCE = #{pCfg0Relevance,jdbcType=VARCHAR},
          P_FEATURE_LAST_MODIFIER = #{lastModifier,jdbcType=VARCHAR},
          P_FEATURE_LAST_MODIFY_DATE = sysdate
    where
          PUID = #{puid,jdbcType=VARCHAR}
    </update>
    <!--设置发送到ERP的状态为是-->
    <update id="setIsSent" parameterType="java.util.Map">
        update HZ_CFG0_RECORD
        set
        <if test="isFeatureSent==1">
            P_IS_FEATURE_SENT = 1,
        </if>
        <if test="isRelevanceSent==1">
            P_IS_RELEVANCE_SENT=1,
        </if>
        P_FEATURE_LAST_MODIFY_DATE=sysdate
        where PUID in
        <if test="list==null">
            ('')
        </if>
        <if test="list!=null">
            (
            <foreach collection="list" item="item" index="index"
                     separator=",">
                #{item.puid,jdbcType=VARCHAR}
            </foreach>
            )
        </if>
    </update>

    <update id="updateIsSent" parameterType="java.util.Map">
        update HZ_CFG0_MODEL_RECORD
        set
        <if test="isSent==1">
            IS_SENT = 1,
        </if>
        where PUID in
        <if test="list==null">
            ('')
        </if>
        <if test="list!=null">
            (
            <foreach collection="list" item="item" index="index"
                     separator=",">
                #{item.puid,jdbcType=VARCHAR}
            </foreach>
            )
        </if>
    </update>
</mapper>