<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.connor.hozon.bom.bomSystem.dao.cfg.HzCfg0ModelGroupDao">
    <resultMap id="BaseResultMap" type="sql.pojo.cfg.HzCfg0ModelGroup">
        <id column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="TC_UID" jdbcType="VARCHAR" property="tcUid"/>
        <result column="GROUP_DESC" jdbcType="OTHER" property="groupDesc"/>
        <result column="GROUP_NAME" jdbcType="OTHER" property="groupName"/>
        <result column="MAIN_UID" jdbcType="VARCHAR" property="mainUid"/>
    </resultMap>
    <sql id="Base_Column_List">
    ID, TC_UID, GROUP_DESC, GROUP_NAME, MAIN_UID
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from HZ_CFG0_MODEL_GROUP
        where ID = #{id,jdbcType=VARCHAR}
    </select>
    <!--根据主配置找到模型族-->
    <select id="selectByMainUid" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from HZ_CFG0_MODEL_GROUP
        where MAIN_UID = #{mainUid,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from HZ_CFG0_MODEL_GROUP
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="sql.pojo.cfg.HzCfg0ModelGroup">
    insert into HZ_CFG0_MODEL_GROUP (ID, TC_UID, GROUP_DESC, 
      GROUP_NAME, MAIN_UID)
    values (#{id,jdbcType=VARCHAR}, #{tcUid,jdbcType=VARCHAR}, #{groupDesc,jdbcType=OTHER}, 
      #{groupName,jdbcType=OTHER}, #{mainUid,jdbcType=VARCHAR})
  </insert>
    <update id="updateByPrimaryKey" parameterType="sql.pojo.cfg.HzCfg0ModelGroup">
    update HZ_CFG0_MODEL_GROUP
    set TC_UID = #{tcUid,jdbcType=VARCHAR},
      GROUP_DESC = #{groupDesc,jdbcType=OTHER},
      GROUP_NAME = #{groupName,jdbcType=OTHER},
      MAIN_UID = #{mainUid,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
    <!--根据主配置寻找族名-->
    <select id="selectGroupNameByMainUid" parameterType="java.lang.String" resultType="java.lang.String">
        select
        GROUP_NAME
        from HZ_CFG0_MODEL_GROUP
        where MAIN_UID = #{mainUid,jdbcType=VARCHAR}
    </select>

</mapper>