<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.connor.hozon.bom.bomSystem.dao.cfg.HzFullCfgWithCfgDao">
    <resultMap id="BaseResultMap" type="sql.pojo.cfg.HzFullCfgWithCfg">
        <id column="ID" jdbcType="DECIMAL" property="id"/>
        <result column="CFG_CFG0_UID" jdbcType="VARCHAR" property="cfgCfg0Uid"/>
        <result column="CFG_BOMLINE_UID" jdbcType="VARCHAR" property="cfgBomlineUid"/>
        <result column="FL_CFG_CREATE_DATE" jdbcType="TIMESTAMP" property="flCfgCreateDate"/>
        <result column="FL_CFG_UPDATE_DATE" jdbcType="TIMESTAMP" property="flCfgUpdateDate"/>
        <result column="FL_CFG_CREATOR" jdbcType="VARCHAR" property="flCfgCreator"/>
        <result column="FL_CFG_UPDATOR" jdbcType="VARCHAR" property="flCfgUpdator"/>
        <result column="FL_CFG_BOMLINE_NAME" jdbcType="VARCHAR" property="flCfgBomlineName"/>
        <result column="FL_CFG_VERSION" jdbcType="DECIMAL" property="flCfgVersion"/>
        <!--操作类型,1新增，2更新，3删除-->
        <result column="FL_OPERATION_TYPE" jdbcType="DECIMAL" property="flOperationType"/>
        <!--备注-->
        <result column="FL_COMMENT" jdbcType="VARCHAR" property="flComment"/>
    </resultMap>
    <sql id="Base_Column_List">
        ID,
        CFG_CFG0_UID,
        CFG_BOMLINE_UID,
        FL_CFG_CREATE_DATE,
        FL_CFG_UPDATE_DATE,
        FL_CFG_CREATOR,
        FL_CFG_UPDATOR,
        FL_CFG_BOMLINE_NAME,
        FL_CFG_VERSION,
        FL_OPERATION_TYPE,
        FL_COMMENT
  </sql>
    <select id="selectByPrimaryKey" parameterType="sql.pojo.cfg.HzFullCfgWithCfg" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from HZ_FULL_CFG_WITHCFG_RECORD
        where ID = #{id,jdbcType=DECIMAL}
    </select>
    <!--根据主表查询所有的特性-BOMLine对应关系-->
    <select id="selectByMainID" parameterType="sql.pojo.cfg.HzFullCfgWithCfg" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from HZ_FULL_CFG_WITHCFG_RECORD
        where FL_CFG_VERSION = #{flCfgVersion,jdbcType=DECIMAL}
    </select>
    <!--全配主配置和BOMLine一起找-->
    <select id="selectByBomLineUidWithVersion" parameterType="sql.pojo.cfg.HzFullCfgWithCfg" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from HZ_FULL_CFG_WITHCFG_RECORD
        where FL_CFG_VERSION = #{flCfgVersion,jdbcType=DECIMAL}
        and CFG_BOMLINE_UID=#{cfgBomlineUid,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from HZ_FULL_CFG_WITHCFG_RECORD
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
    <insert id="insert" parameterType="java.util.List">
        insert into HZ_FULL_CFG_WITHCFG_RECORD
        (ID, CFG_CFG0_UID, FL_CFG_CREATOR,
        FL_CFG_UPDATOR, FL_CFG_VERSION
        )
        select SEQ_HZ_FL_CFG_CFG0_ID.NEXTVAL ,A.* from(
        <foreach collection="list" index="index" item="hzFullCfgWithCfg" separator="union">
            select
            #{hzFullCfgWithCfg.cfgCfg0Uid,jdbcType=VARCHAR}, #{hzFullCfgWithCfg.flCfgCreator,jdbcType=VARCHAR},
            #{hzFullCfgWithCfg.flCfgUpdator,jdbcType=VARCHAR}, #{hzFullCfgWithCfg.flCfgVersion,jdbcType=DECIMAL}
            from
            dual
        </foreach>
        )A
    </insert>
    <insert id="insertSelective" parameterType="sql.pojo.cfg.HzFullCfgWithCfg">
        insert into HZ_FULL_CFG_WITHCFG_RECORD
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="cfgCfg0Uid != null">
                CFG_CFG0_UID,
            </if>
            <if test="cfgBomlineUid != null">
                CFG_BOMLINE_UID,
            </if>
            <if test="flCfgCreateDate != null">
                FL_CFG_CREATE_DATE,
            </if>
            <if test="flCfgUpdateDate != null">
                FL_CFG_UPDATE_DATE,
            </if>
            <if test="flCfgCreator != null">
                FL_CFG_CREATOR,
            </if>
            <if test="flCfgUpdator != null">
                FL_CFG_UPDATOR,
            </if>
            <if test="flCfgBomlineName != null">
                FL_CFG_BOMLINE_NAME,
            </if>
            <if test="flCfgVersion != null">
                FL_CFG_VERSION,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=DECIMAL},
            </if>
            <if test="cfgCfg0Uid != null">
                #{cfgCfg0Uid,jdbcType=VARCHAR},
            </if>
            <if test="cfgBomlineUid != null">
                #{cfgBomlineUid,jdbcType=VARCHAR},
            </if>
            <if test="flCfgCreateDate != null">
                #{flCfgCreateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="flCfgUpdateDate != null">
                #{flCfgUpdateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="flCfgCreator != null">
                #{flCfgCreator,jdbcType=VARCHAR},
            </if>
            <if test="flCfgUpdator != null">
                #{flCfgUpdator,jdbcType=VARCHAR},
            </if>
            <if test="flCfgBomlineName != null">
                #{flCfgBomlineName,jdbcType=VARCHAR},
            </if>
            <if test="flCfgVersion != null">
                #{flCfgVersion,jdbcType=DECIMAL},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="sql.pojo.cfg.HzFullCfgWithCfg">
        update HZ_FULL_CFG_WITHCFG_RECORD
        <set>
            <if test="cfgCfg0Uid != null">
                CFG_CFG0_UID = #{cfgCfg0Uid,jdbcType=VARCHAR},
            </if>
            <if test="cfgBomlineUid != null">
                CFG_BOMLINE_UID = #{cfgBomlineUid,jdbcType=VARCHAR},
            </if>
            <if test="flCfgCreateDate != null">
                FL_CFG_CREATE_DATE = #{flCfgCreateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="flCfgUpdateDate != null">
                FL_CFG_UPDATE_DATE = #{flCfgUpdateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="flCfgCreator != null">
                FL_CFG_CREATOR = #{flCfgCreator,jdbcType=VARCHAR},
            </if>
            <if test="flCfgUpdator != null">
                FL_CFG_UPDATOR = #{flCfgUpdator,jdbcType=VARCHAR},
            </if>
            <if test="flCfgBomlineName != null">
                FL_CFG_BOMLINE_NAME = #{flCfgBomlineName,jdbcType=VARCHAR},
            </if>
            <if test="flCfgVersion != null">
                FL_CFG_VERSION = #{flCfgVersion,jdbcType=DECIMAL},
            </if>
        </set>
        where ID = #{id,jdbcType=DECIMAL}
    </update>
    <update id="updateByPrimaryKey" parameterType="sql.pojo.cfg.HzFullCfgWithCfg">
    update HZ_FULL_CFG_WITHCFG_RECORD
    set CFG_CFG0_UID = #{cfgCfg0Uid,jdbcType=VARCHAR},
      CFG_BOMLINE_UID = #{cfgBomlineUid,jdbcType=VARCHAR},
      FL_CFG_CREATE_DATE = #{flCfgCreateDate,jdbcType=TIMESTAMP},
      FL_CFG_UPDATE_DATE = #{flCfgUpdateDate,jdbcType=TIMESTAMP},
      FL_CFG_CREATOR = #{flCfgCreator,jdbcType=VARCHAR},
      FL_CFG_UPDATOR = #{flCfgUpdator,jdbcType=VARCHAR},
      FL_CFG_BOMLINE_NAME = #{flCfgBomlineName,jdbcType=VARCHAR},
      FL_CFG_VERSION = #{flCfgVersion,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>

    <insert id="insertBomLine" parameterType="java.util.List">
        insert into HZ_FULL_CFG_WITHCFG_RECORD
        (ID, CFG_BOMLINE_UID, FL_CFG_BOMLINE_NAME, FL_CFG_CREATOR,
        FL_CFG_UPDATOR, FL_CFG_VERSION
        )
        select SEQ_HZ_FL_CFG_CFG0_ID.NEXTVAL ,A.* from(
        <foreach collection="list" index="index" item="hzFullCfgWithCfg" separator="union">
            select
            #{hzFullCfgWithCfg.cfgBomlineUid,jdbcType=VARCHAR}, #{hzFullCfgWithCfg.flCfgBomlineName,jdbcType=VARCHAR},
            #{hzFullCfgWithCfg.flCfgCreator,jdbcType=VARCHAR},
            #{hzFullCfgWithCfg.flCfgUpdator,jdbcType=VARCHAR}, #{hzFullCfgWithCfg.flCfgVersion,jdbcType=DECIMAL}
            from
            dual
        </foreach>
        )A
    </insert>

    <update id="updateByBomLinePuid" parameterType="sql.pojo.cfg.HzFullCfgWithCfg">
        update HZ_FULL_CFG_WITHCFG_RECORD
        set CFG_CFG0_UID = #{cfgCfg0Uid,jdbcType=VARCHAR}
        where
          CFG_BOMLINE_UID = #{cfgBomlineUid,jdbcType=VARCHAR} and
          (select ID from HZ_FULL_CFG_WITHCFG_RECORD where CFG_CFG0_UID = #{cfgCfg0Uid,jdbcType=VARCHAR}) is NULL

    </update>

    <select id="query2YCfgByProjectId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        HZ_FULL_CFG_WITHCFG_RECORD
        where
        FL_CFG_VERSION =
        (select ID from HZ_FULL_CFG_MAIN_RECORD where PROJECT_UID = #{projectId})
        and
        CFG_CFG0_UID is not null
    </select>
</mapper>