<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.net.connor.hozon.dao.dao.depository.project.HzPlatformRecordDao">
    <resultMap id="BaseResultMap" type="cn.net.connor.hozon.dao.pojo.depository.project.HzPlatformRecord">
        <id column="PUID" jdbcType="VARCHAR" property="puid"/>
        <result column="P_PERTAIN_TO_BRAND_PUID" jdbcType="VARCHAR" property="pPertainToBrandPuid"/>
        <result column="P_PLATFORM_CODE" jdbcType="VARCHAR" property="pPlatformCode"/>
        <result column="P_PLATFORM_NAME" jdbcType="VARCHAR" property="pPlatformName"/>
        <result column="P_PLATFORM_CREATE_DATE" jdbcType="TIMESTAMP" property="pPlatformCreateDate"/>
        <result column="P_PLATFORM_LAST_MOD_DATE" jdbcType="TIMESTAMP" property="pPlatformLastModDate"/>
        <result column="P_PLATFORM_COMMENT" jdbcType="VARCHAR" property="pPlatformComment"/>
        <result column="P_PLATFORM_LAST_MODIFIER" jdbcType="VARCHAR" property="pPlatformLastModifier"/>
    </resultMap>
    <!--列信息-->
    <sql id="Base_Column_List">
    PUID,
    P_PERTAIN_TO_BRAND_PUID,
    P_PLATFORM_CODE,
    P_PLATFORM_NAME,
    P_PLATFORM_CREATE_DATE,
    P_PLATFORM_LAST_MOD_DATE,
    P_PLATFORM_COMMENT,
    P_PLATFORM_LAST_MODIFIER
    </sql>
    <!--根据主键找-->
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from HZ_PLATFORM_RECORD
        where PUID = #{puid,jdbcType=VARCHAR}
    </select>
    <!--根据平台代码进行查找平台信息-->
    <select id="selectByPlatformCode" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from HZ_PLATFORM_RECORD
        where P_PLATFORM_CODE = #{pPlatformCode,jdbcType=VARCHAR}
    </select>
    <!--查找所有平台-->
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from HZ_PLATFORM_RECORD
    </select>
    <!--根据主键删除-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from HZ_PLATFORM_RECORD
    where PUID = #{puid,jdbcType=VARCHAR}
    </delete>
    <!--插入1个平台信息-->
    <insert id="insert" parameterType="cn.net.connor.hozon.dao.pojo.depository.project.HzPlatformRecord">
    insert into HZ_PLATFORM_RECORD (
    PUID,
    P_PERTAIN_TO_BRAND_PUID,
    P_PLATFORM_CODE,
    P_PLATFORM_NAME,
    P_PLATFORM_CREATE_DATE,
    P_PLATFORM_LAST_MOD_DATE,
    P_PLATFORM_COMMENT,
    P_PLATFORM_LAST_MODIFIER
    )
    values (
    #{puid,jdbcType=VARCHAR},
    #{pPertainToBrandPuid,jdbcType=VARCHAR},
    #{pPlatformCode,jdbcType=VARCHAR},
    #{pPlatformName,jdbcType=VARCHAR},
    #{pPlatformCreateDate,jdbcType=TIMESTAMP},
    #{pPlatformLastModDate,jdbcType=TIMESTAMP},
    #{pPlatformComment,jdbcType=VARCHAR},
    #{pPlatformLastModifier,jdbcType=VARCHAR}
    )
    </insert>
    <!--根据主键更新-->
    <update id="updateByPrimaryKey" parameterType="cn.net.connor.hozon.dao.pojo.depository.project.HzPlatformRecord">
    update HZ_PLATFORM_RECORD
    set
    P_PLATFORM_CODE = #{pPlatformCode,jdbcType=VARCHAR},
    P_PLATFORM_NAME = #{pPlatformName,jdbcType=VARCHAR},
    P_PLATFORM_LAST_MOD_DATE = #{pPlatformLastModDate,jdbcType=TIMESTAMP},
    P_PLATFORM_COMMENT = #{pPlatformComment,jdbcType=VARCHAR},
    P_PLATFORM_LAST_MODIFIER = #{pPlatformLastModifier,jdbcType=VARCHAR}
    where PUID = #{puid,jdbcType=VARCHAR}
    </update>
</mapper>