<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.net.connor.hozon.dao.dao.sys.OrgGroupDao">
    <resultMap type="cn.net.connor.hozon.dao.pojo.sys.OrgGroup" id="OrgGroupMap">
        <id property="groupId" column="group_id"/>
        <result property="existingNum" column="existing_num"/>
        <result property="groupCode" column="group_code"/>
        <result property="name" column="name"/>
        <result property="node" column="node"/>
        <result property="num" column="num"/>
        <result property="parentNode" column="parent_node"/>
    </resultMap>


    <!-- 1根据父节点来查询最大的节点的值 -->
    <select id="getMaxOrgGroup" parameterType="java.lang.String" resultType="java.lang.String">
		select max(o.node) from org_group o where o.parent_node = #{parentNode}
	</select>

    <!-- 根据菜单节点NODE来查询节点数据 -->
    <select id="findByNode" parameterType="java.lang.String" resultMap="OrgGroupMap">
		select * from org_group where node = #{node}
	</select>
    <!-- 根据菜单节点NODE来查询节点数据 -->
    <select id="loadAll" resultMap="OrgGroupMap">
		select * from org_group
	</select>

    <!--根据主键获取对象-->
    <select id="get" parameterType="cn.net.connor.hozon.dao.pojo.sys.OrgGroup" resultMap="OrgGroupMap">
		SELECT group_id,existing_num,group_code,name,node,num,parent_node FROM org_group 
		WHERE group_id=#{groupId}
	</select>

    <!--保存-->
    <!--
    <insert id="save" parameterType="cn.net.connor.hozon.dao.pojo.sys.OrgGroup" useGeneratedKeys="false"
            keyProperty="groupId">
		INSERT INTO org_group(existing_num,group_code,name,node,num,parent_node)
		VALUES(#{existingNum},#{groupCode},#{name},#{node},#{num},#{parentNode})
	</insert>
    -->

    <!--保存-->
    <insert id="save" parameterType="cn.net.connor.hozon.dao.pojo.sys.OrgGroup" useGeneratedKeys="false"
            keyProperty="groupId">
        <selectKey order="BEFORE"
                   keyColumn="group_id" keyProperty="groupId" resultType="java.lang.Long">
            select SEQ_HZ_ORG_GROUP.Nextval from dual
        </selectKey>
        INSERT INTO org_group(group_id,existing_num,group_code,name,node,num,parent_node)
        VALUES(#{groupId},#{existingNum},#{groupCode},#{name},#{node},#{num},#{parentNode})
    </insert>

    <!--修改-->
    <update id="update" parameterType="cn.net.connor.hozon.dao.pojo.sys.OrgGroup">
		UPDATE org_group SET group_code=#{groupCode},name=#{name},node=#{node},num=#{num},parent_node=#{parentNode}
		WHERE group_id=#{groupId}
	</update>

    <!--删除-->
    <delete id="delete" parameterType="cn.net.connor.hozon.dao.pojo.sys.OrgGroup">
		 DELETE FROM org_group WHERE group_id=#{groupId}
	</delete>

    <!--分页查询-->
    <select id="findByPage" parameterType="cn.net.connor.hozon.dao.query.sys.QueryOrgGroup" resultMap="OrgGroupMap">
        select * from(
        SELECT group_id,existing_num,group_code,name,node,num,parent_node,rownum as rn FROM org_group
        WHERE 1=1
        <if test="existingNum!=null and existingNum!='' ">
            AND existing_num=#{existingNum}
        </if>
        <if test="groupCode!=null and groupCode!='' ">
            AND group_code=#{groupCode}
        </if>
        <if test="name!=null and name!='' ">
            AND name=#{name}
        </if>
        <if test="node!=null and node!='' ">
            AND node=#{node}
        </if>
        <if test="num!=null and num!='' ">
            AND num=#{num}
        </if>
        <if test="parentNode!=null and parentNode!='' ">
            AND parent_node=#{parentNode}
        </if>
        <if test="sort!= null">
            order by ${sort} ${order}
        </if>
        )u
        where 1=1
        <!--limit #{offset},#{limit}-->
        <if test="offset!=null">
            and u.rn &gt;= ${offset}+1
        </if>
        <if test="limit!=null and  page!=null">
            and u.rn &lt;= ${page}*${limit}
        </if>
        <!--limit #{offset},#{limit}-->

    </select>

    <!--统计-->
    <select id="count" parameterType="cn.net.connor.hozon.dao.query.sys.QueryOrgGroup" resultType="int">
        SELECT count(*) FROM org_group
        WHERE 1=1
        <if test="existingNum!=null and existingNum!='' ">
            AND existing_num=#{existingNum}
        </if>
        <if test="groupCode!=null and groupCode!='' ">
            AND group_code=#{groupCode}
        </if>
        <if test="name!=null and name!='' ">
            AND name=#{name}
        </if>
        <if test="node!=null and node!='' ">
            AND node=#{node}
        </if>
        <if test="num!=null and num!='' ">
            AND num=#{num}
        </if>
        <if test="parentNode!=null and parentNode!='' ">
            AND parent_node=#{parentNode}
        </if>
    </select>

    <!--查询-->
    <select id="query" parameterType="cn.net.connor.hozon.dao.query.sys.QueryOrgGroup" resultMap="OrgGroupMap">
        SELECT group_id,existing_num,group_code,name,node,num,parent_node FROM org_group
        WHERE 1=1
        <if test="existingNum!=null and existingNum!='' ">
            AND existing_num=#{existingNum}
        </if>
        <if test="groupCode!=null and groupCode!='' ">
            AND group_code=#{groupCode}
        </if>
        <if test="name!=null and name!='' ">
            AND name=#{name}
        </if>
        <if test="node!=null and node!='' ">
            AND node=#{node}
        </if>
        <if test="num!=null and num!='' ">
            AND num=#{num}
        </if>
        <if test="parentNode!=null and parentNode!='' ">
            AND parent_node=#{parentNode}
        </if>
        <if test="sort!= null">
            order by ${sort} ${order}
        </if>
    </select>


    <!--获取组织架构信息信息-->
    <select id="queryOrgGroupById" parameterType="Long" resultMap="OrgGroupMap">
		SELECT group_id,existing_num,group_code,name,node,num,parent_node FROM org_group
	 	where group_id=#{groupId}
	</select>

	<!--获取全部的部门信息-->
	<select id="queryAllOrgGroup"  resultMap="OrgGroupMap">
		SELECT group_id,existing_num,group_code,name,node,num,parent_node FROM org_group
	</select>


    <!--获取部门下的人员数量-->
    <select id="queryOrgGroupUserCount"  resultType="java.lang.Integer">
        SELECT count(*) from USERRECORD t1 INNER join
        org_group t2
        on
        t1.group_id = t2.group_id
        AND t1.group_id = #{groupId}
    </select>

    <!--查询部门名称存在否-->
    <select id="queryOrgGroupNameExist"  parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT count(*) from org_group
        where name = #{deptName}
    </select>


</mapper>