<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/includebase">
</head>
<meta charset="UTF-8">
<!--<link th:href="@{/css/stage/bom-stage.css}" rel="stylesheet"/>-->
<title>配置物料特性表</title>
</head>
<body class="content-body">
<div class="panel-body">
    <div class="content col-lg-4">
        <div class="input-group">
            <!--<button class="btn btn-default" id="query" type="button">查询配置物料特性表</button>-->
            <button class="btn btn-default" id="refresh" type="button" disabled="disabled">刷新</button>
        </div>
    </div>
    <div class="content col-lg-12">
        <table class="table table-striped tableNormalStyle" id="materielFeature"></table>
    </div>
</div>
<script th:src="@{/js/helper/projectHelper.js}"></script>
<script th:src="@{/js/cfg/materielFeature/materielFeature.js}"></script>
</body>
<script th:inline="javascript">
    function doQuery() {
        $('#materielFeature').bootstrapTable('refresh');    //刷新表格
    }

    function doRefresh(projectUid) {
        loadData(projectUid);
    }
</script>
</html>