<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>选择变更表单</title>
</head>
<body>
<div style="max-width: 450px;max-height: 450px;">
    <form id="form" role="form" method="post" ">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="stage">选择变更表单</label>
                    <select class="form-control" id="stage" name="stage">
                        <option th:each="model:${changeFroms}"
                                th:value="${model.getId()}"
                                th:text="${model.getChangeNo()}"
                        >
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>
<script th:inline="javascript">
    <![CDATA[
    var puids = [[${puids}]];
    var titles = [[${titles}]]
    var projectPuid = getProjectUid();
    $(function () {
        // 绑定dialog的确定按钮的监听事件
        $("#btnOk", window.top.document).click(function () {
            var data = {};
            var changeFromId = $("#stage option:selected").val();
            data.puids = puids;
            data.titles = titles;
            data.projectPuid = projectPuid;
            data.changeFromId = changeFromId;

            $.ajax({
                type : "POST",
                url: "./materielV2/getVWO",
                data: JSON.stringify(data),
                contentType: "application/json",
                success: function (result) {
                    // $('.modal-dialog', window.top.document).parent('div').remove()
                    // $('body', window.top.document).find('.modal-backdrop').remove();
                    // $(window.parent.document).contents().find(".tab-pane.fade.active.in iframe")[0].contentWindow.doQuery();
                    activeTabBodyRefresh();
                    // if (result.status) {
                    if (result.status) {
                        layer.msg(result.msg, {icon: 1, time: 2000});
                    }
                    else {
                        window.Ewin.alert({message: result.msg});
                    }
                    $table.bootstrapTable("refresh");
                },
                error: function (info) {
                    window.Ewin.alert({message: "操作发送失败:" + info.status});
                }
            });
        });
    })
    ]]>
</script>
</body>
</html>