<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
<meta charset=utf-8/>
<form class="form-horizontal" id="form" role="form" method="post" th:action="${action}">
    <fieldset>
        <input id="puid" name="puid" type="hidden" th:value="${entity.puid}"/>
        <input id="modelFeaturePuid" name="modelFeaturePuid" type="hidden" th:value="${modelFeature.puid}"/>
        <div id="legend" class="">
            <legend class="">更新车型模型详细信息</legend>
        </div>

        <div class="form-group col-lg-10">
            <label for="objectName">车型模型名</label>
            <input class="form-control" id="objectName" name="objectName" type="text"
                   disabled="disabled" th:value="${entity.objectName}"
            />
        </div>
        <div class="form-group col-lg-10">
            <label for="objectDesc">车型模型描述</label>
            <input class="form-control" id="objectDesc" name="objectDesc" type="text"
                   disabled="disabled" th:value="${entity.objectDesc}"
            />
        </div>
        <div class="form-group col-lg-10">
            <label for="pCfg0ModelBasicDetail">车型模型基本信息</label>
            <input class="form-control" id="pCfg0ModelBasicDetail" name="pCfg0ModelBasicDetail" type="text"
                   th:value="${entity.pCfg0ModelBasicDetail}"
            />
        </div>
        <div class="form-group col-lg-10">
            <label for="pFeatureCnDesc">中文描述</label>
            <input class="form-control" id="pFeatureCnDesc" name="pFeatureCnDesc" type="text" type="hidden" disabled="disabled"
                   th:value="${modelFeature.getpFeatureCnDesc()}"
            />
        </div>
        <div class="form-group col-lg-10">
            <label for="pFeatureCnDesc">工厂</label>
            <input class="form-control" id="pProperty1" name="pFeatureCnDesc" type="text"
                   th:value="${modelFeature.getpFeatureCnDesc()}"
            />
        </div>
        <div class="form-group col-lg-10">
            <label for="pFeatureCnDesc">物料编码</label>
            <input class="form-control" id="pProperty2" name="pFeatureCnDesc" type="text"
                   th:value="${modelFeature.getpFeatureCnDesc()}"
            />
        </div>
        <div class="form-group col-lg-10">
            <label for="pFeatureCnDesc">旧物料编码</label>
            <input class="form-control" id="pProperty3" name="pFeatureCnDesc" type="text"
                   th:value="${modelFeature.getpFeatureCnDesc()}"
            />
        </div>
        <div class="form-group col-lg-10">
            <label for="pFeatureCnDesc">基本计量单位*</label>
            <input class="form-control" id="pProperty4" name="pFeatureCnDesc" type="text"
                   th:value="${modelFeature.getpFeatureCnDesc()}"
            />
        </div>
        <div class="form-group col-lg-10">
            <label for="pFeatureCnDesc">物料类型*</label>
            <input class="form-control" id="pProperty5" name="pFeatureCnDesc" type="text" disabled="disabled"
                   th:value="${modelFeature.getpFeatureCnDesc()}"
            />
        </div>
        <div class="form-group col-lg-10">
            <label for="pFeatureCnDesc">虚拟件标示*</label>
            <select class="form-control input-small" data-style="btn-info"
                    id="pProperty6">
                <option th:value="N" th:text="否">
                </option>
                <option th:value="Y" th:text="是">
                </option>
            </select>
        </div>
        <div class="form-group col-lg-10">
            <label for="pFeatureCnDesc">采购类型*</label>
            <select class="form-control input-small" data-style="btn-info"
                    id="pProperty7">
                <option th:value="E" th:text="E">
                </option>
                <option th:value="F" th:text="F">
                </option>
                <option th:value="X" th:text="X">
                </option>
            </select>
        </div>
        <div class="form-group col-lg-10">
            <label for="pFeatureCnDesc">VIN前置号</label>
            <input class="form-control" id="pProperty8" name="pFeatureCnDesc" type="text"
                   th:value="${modelFeature.getpFeatureCnDesc()}"
            />
        </div>
        <div class="form-group col-lg-10">
            <label for="pFeatureCnDesc">颜色件标识</label>
            <input class="form-control" id="pProperty9" name="pFeatureCnDesc" type="text"
                   th:value="${modelFeature.getpFeatureCnDesc()}"
            />
        </div>
        <div class="form-group col-lg-10">
            <label for="pFeatureCnDesc">毛重</label>
            <input class="form-control" id="pProperty10" name="pFeatureCnDesc" type="text"
                   th:value="${modelFeature.getpFeatureCnDesc()}"
            />
        </div>
        <div class="form-group col-lg-10">
            <label for="pFeatureCnDesc">内外饰标识</label>
            <select class="form-control input-small" data-style="btn-info"
                    id="pProperty11">
                <option th:value="N" th:text="否">
                </option>
                <option th:value="Y" th:text="是">
                </option>
            </select>
        </div>
        <div class="form-group col-lg-10">
            <label for="pFeatureCnDesc">3C件标识</label>
            <select class="form-control input-small" data-style="btn-info"
                    id="pProperty12">
                <option th:value="N" th:text="否">
                </option>
                <option th:value="Y" th:text="是">
                </option>
            </select>
        </div>
        <div class="form-group col-lg-10">
            <label for="pFeatureCnDesc">零件重要度</label>
            <select class="form-control input-small" data-style="btn-info"
                    id="pProperty13">
                <option th:value="N" th:text="否">
                </option>
                <option th:value="Y" th:text="是">
                </option>
            </select>
        </div>
        <div class="form-group col-lg-10">
            <label for="pFeatureCnDesc">删除标示</label>
            <select class="form-control input-small" data-style="btn-info"
                    id="pProperty14">
                <option th:value="N" th:text="否">
                </option>
                <option th:value="Y" th:text="是">
                </option>
            </select>
        </div>
        <div class="form-group col-lg-10">
            <label for="pFeatureCnDesc">MRP控制者*</label>
            <input class="form-control" id="pProperty15" name="pFeatureCnDesc" type="text"
                   th:value="${modelFeature.getpFeatureCnDesc()}"
            />
        </div>

        <div class="form-group col-lg-10">
            <label for="pFeatureCnDesc">公告号(BOM没加)*</label>
            <input class="form-control" id="pProperty18" name="pFeatureCnDesc" type="text"
                   th:value="${modelFeature.getpFeatureCnDesc()}"
            />
        </div>
        <div class="form-group col-lg-10">
            <label for="pFeatureSingleVehicleCode">单车配置码</label>
            <input class="form-control" id="pFeatureSingleVehicleCode" name="pFeatureSingleVehicleCode" type="text" type="hidden" disabled="disabled"
                   th:value="${modelFeature.getpFeatureSingleVehicleCode()}"
            />
        </div>
    </fieldset>
</form>
<script th:inline="javascript">
    <![CDATA[
    $(function () {
        $('#form').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            }
        });
        // 绑定dialog的确定按钮的监听事件
        $("#btnOk", window.top.document).click(function () {
            // var bootstrapValidator = $("#form", window.top.document).data('bootstrapValidator');
            // bootstrapValidator.validate();
            // if (bootstrapValidator.isValid()) {
            var url = $("#form", window.top.document).attr('action');
            url += "?";
            var data = {};
            data.puid = $("#puid").val();
            data.pCfg0ModelBasicDetail = $("#pCfg0ModelBasicDetail").val();
            url += "pFeatureCnDesc=" + $("#pFeatureCnDesc").val()
                + "&pFeatureSingleVehicleCode=" + $("#pFeatureSingleVehicleCode").val()
                + "&modelFeaturePuid=" + $("#modelFeaturePuid").val()
                +"&pProperty1="+$("#pProperty1").val()+"&pProperty2="+$("#pProperty2").val()
                +"&pProperty3="+$("#pProperty3").val()+"&pProperty4="+$("#pProperty4").val()
                +"&pProperty5="+$("#pProperty5").val()+"&pProperty6="+$("#pProperty6").val()
                +"&pProperty7="+$("#pProperty7").val()+"&pProperty8="+$("#pProperty8").val()
                +"&pProperty9="+$("#pProperty9").val()+"&pProperty10="+$("#pProperty10").val()
                +"&pProperty11="+$("#pProperty11").val()+"&pProperty12="+$("#pProperty12").val()
                +"&pProperty13="+$("#pProperty13").val()+"&pProperty14="+$("#pProperty14").val()
                +"&pProperty15="+$("#pProperty15").val()+"&pProperty16="+$("#pProperty16").val()
                +"&pProperty17="+$("#pProperty17").val()+"&pProperty18="+$("#pProperty18").val();
            $.ajax({
                contentType:
                    "application/json",
                type:
                    'POST',
                url: url,
                data: JSON.stringify(data),
                success:
                    function (result) {
                        $('.modal-dialog', window.top.document).parent('div').remove()
                        $('body', window.top.document).find('.modal-backdrop').remove();
                        // jquery 调用刷新当前操作的table页面的refresh方法
                        $(window.parent.document).contents().find(".tab-pane.fade.active.in iframe")[0].contentWindow.doQuery();
                        if (result) {
                            layer.msg('修改数据成功!', {icon: 1, time: 2000})
                            // window.Ewin.alert({message: '修改数据成功!'});
                        }
                        else {
                            window.Ewin.alert({message: '修改数据失败!'});
                        }

                    },
                error: function (status) {
                    window.Ewin.alert({message: status.status + ':修改数据失败!'});
                }
            });
            // }
        });
    })
    ]]>
</script>
<script th:src="@{/layer/layer.js}"></script>
</body>
</html>