<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 打印查询语句 -->
        <setting name="logImpl" value="STDOUT_LOGGING"/> <!--最好是放在最上面即紧跟configuration节点,注意顺序-->
        <setting name="cacheEnabled" value="false"></setting>
    </settings>
    <!--该文件请放到resource下，便于单独读到，不需要配置-->
    <typeAliases>
        <typeAlias type="java.lang.String" alias="String"/>
        <typeAlias type="java.lang.Integer" alias="Integer"/>
        <typeAlias type="java.lang.Long" alias="Long"/>
        <typeAlias type="java.util.List" alias="List"/>
        <typeAlias type="java.util.Map" alias="Map"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="oracle.jdbc.OracleDriver"/>
                <property name="url" value="jdbc:oracle:thin:@10.1.0.4:1521:TC10"/>
                <property name="username" value="HOZON"/>
                <property name="password" value="HOZON"/>
                <!--最大的活动连接数，活动连接，就是正在与数据库交互的连接，默认是10-->
                <property name="poolMaximumIdleConnections" value="50"/>
                <!--空闲连接数，就是没有处理请求的连接，默认是5-->
                <property name="poolMaximumActiveConnections" value="2000"/>
                <!--在被强制返回之前，连接池中被检查的时间，默认值为20000毫秒-->
                <property name="poolMaximumCheckoutTime" value="10000"/>
                <!--给连接池一个打印日志状态机会的低层次设置，还有重新尝试获取连接，这些情况往往会需要很长时间。
                为了避免连接池没有配置时静默失败。默认值20000毫秒-->
                <property name="poolTimeToWait" value="10000"/>
                <!-- 	发送到数据的侦测查询，用来验证连接是否正常工作，并且准备接受请求。默认为“NO PING QUERY SET”，
                这会引起许多数据库驱动连接由一个错误信息而导致失败-->
                <property name="poolPingQuery" value="SELECT 1 FROM DUAL"/>
                <!--这是开启或禁用侦测查询，如果开启，必须用一个合法的SQL语句，设置poolPingQuery属性，默认值为false-->
                <property name="poolPingEnabled" value="true"/>
                <!--用来配置poolPingQuery多长时间被调用一次。可以被设置匹配标准的数据库链接超时时间，
                来避免不必要的侦测。默认值0（也就是所有链接每一时刻都被侦测到，但仅仅当poolPingEnabled为true时适用-->
                <property name="poolPingConnectionsNotUsedFor" value="0"/>
            </dataSource>
        </environment>
    </environments>
    <!--映射文件：描述某个实体和数据库表的对应关系 -->
    <mappers>
        <!--共有项-->
        <mapper resource="sql/mapper/bom/xmapper/HzPreferenceSettingMapper.xml"/>
        <!--bom-->
        <mapper resource="sql/mapper/bom/xmapper/HzBomMainRecordMapper.xml"/>
        <mapper resource="sql/mapper/bom/xmapper/HzBomLineRecordMapper.xml"/>
        <mapper resource="sql/mapper/bom/xmapper/HzPbomRecordMapper.xml"/>
        <mapper resource="sql/mapper/bom/xmapper/HzMbomRecordMapper.xml"/>
        <mapper resource="sql/mapper/bom/xmapper/HzBomStateMapper.xml"/>
        <mapper resource="sql/mapper/bom/xmapper/HzMBomToERPMapper.xml"/>
        <mapper resource="sql/mapper/bom/xmapper/HzSingleVehiclesBomRecordMapper.xml"/>
        <!--<mapper resource="sql/mapper/bom/xmapper/HzSingleVehicleDosageMapper.xml"/>-->

        <!--配置-->
        <!--cfg0-->
        <mapper resource="sql/mapper/cfg/cfg0/HzCfg0OptionFamilyMapper.xml"/>
        <mapper resource="sql/mapper/cfg/cfg0/HzCfg0RecordMapper.xml"/>
        <!--color-->
        <mapper resource="sql/mapper/cfg/color/HzCfg0ColorSetMapper.xml"/>
        <!--derivative-->
        <mapper resource="sql/mapper/cfg/derivative/HzCfg0ModelFeatureMapper.xml"/>
        <mapper resource="sql/mapper/cfg/derivative/HzCfg0ModelGroupMapper.xml"/>
        <mapper resource="sql/mapper/cfg/derivative/HzCfg0ToModelRecordMapper.xml"/>
        <mapper resource="sql/mapper/cfg/derivative/HzDerivativeMaterielBasicMapper.xml"/>
        <mapper resource="sql/mapper/cfg/derivative/HzDerivativeMaterielDetailMapper.xml"/>
        <mapper resource="sql/mapper/cfg/derivative/HzMaterielCfgBeanMapper.xml"/>
        <!--fullCfg-->
        <mapper resource="sql/mapper/cfg/fullCfg/HzCfg0BomLineOfModelMapper.xml"/>
        <mapper resource="sql/mapper/cfg/fullCfg/HzCfg0OfBomLineRecordMapper.xml"/>
        <mapper resource="sql/mapper/cfg/fullCfg/HzFcfgBomLvl1ListOperationMapper.xml"/>
        <mapper resource="sql/mapper/cfg/fullCfg/HzFullCfgMainMapper.xml"/>
        <mapper resource="sql/mapper/cfg/fullCfg/HzFullCfgModelMapper.xml"/>
        <mapper resource="sql/mapper/cfg/fullCfg/HzFullCfgWithCfgMapper.xml"/>
        <!--main-->
        <mapper resource="sql/mapper/cfg/main/HzCfg0MainRecordMapper.xml"/>
        <!--model-->
        <mapper resource="sql/mapper/cfg/model/HzCfg0ModelDetailMapper.xml"/>
        <mapper resource="sql/mapper/cfg/model/HzCfg0ModelRecordMapper.xml"/>
        <!--modelColor-->
        <mapper resource="sql/mapper/cfg/modelColor/HzCfg0ModelColorDetailMapper.xml"/>
        <mapper resource="sql/mapper/cfg/modelColor/HzCfg0ModelColorRecordMapper.xml"/>
        <mapper resource="sql/mapper/cfg/modelColor/HzCmcrChangeMapper.xml"/>
        <mapper resource="sql/mapper/cfg/modelColor/HzCmcrDetailBeforeChangeMapper.xml"/>
        <mapper resource="sql/mapper/cfg/modelColor/HzCmcrDetailChangeMapper.xml"/>
        <mapper resource="sql/mapper/cfg/modelColor/HzColorLvl2ModelMapper.xml"/>
        <!--relevance-->
        <mapper resource="sql/mapper/cfg/relevance/HzRelevanceBasicMapper.xml"/>
        <mapper resource="sql/mapper/cfg/relevance/HzRelevanceRelationMapper.xml"/>
        <!--流程-->
        <!--VWO-->
        <mapper resource="sql/mapper/cfg/vwo/HzFeatureChangeMapper.xml"/>
        <mapper resource="sql/mapper/cfg/vwo/HzVwoInfluenceDeptMapper.xml"/>
        <mapper resource="sql/mapper/cfg/vwo/HzVwoInfluenceUserMapper.xml"/>
        <mapper resource="sql/mapper/cfg/vwo/HzVwoInfoMapper.xml"/>
        <mapper resource="sql/mapper/cfg/vwo/HzVwoInformChangesMapper.xml"/>
        <mapper resource="sql/mapper/cfg/vwo/HzVwoExecuteMapper.xml"/>
        <mapper resource="sql/mapper/cfg/vwo/HzVwoOpiBomMapper.xml"/>
        <mapper resource="sql/mapper/cfg/vwo/HzVwoOpiPmtMapper.xml"/>
        <mapper resource="sql/mapper/cfg/vwo/HzVwoOpiProjMapper.xml"/>
        <!--CODPWO表单-->
        <mapper resource="sql/mapper/change.xmapper/HzBreakPointMapper.xml"/>

        <!--项目-->
        <mapper resource="sql/mapper/project.xmapper/HzMaterielMapper.xml"/>
        <mapper resource="sql/mapper/project.xmapper/HzProjectLibsMapper.xml"/>
        <mapper resource="sql/mapper/project.xmapper/HzBrandRecordMapper.xml"/>
        <mapper resource="sql/mapper/project.xmapper/HzPlatformRecordMapper.xml"/>
        <mapper resource="sql/mapper/project.xmapper/HzVehicleRecordMapper.xml"/>
        <!--EPL-->
        <mapper resource="sql/mapper/epl.xmapper/HzEplManageMapper.xml"/>
        <!--flow 流程-->
        <mapper resource="sql/mapper/flow.xmapper/HzFlowManageMapper.xml"/>
        <mapper resource="sql/mapper/flow.xmapper/HzFlowPointInfoMapper.xml"/>
        <!--工厂-->
        <mapper resource="sql/mapper/factory.xmapper/HzFactoryMapper.xml"/>
        <!--工作中心-->
        <mapper resource="sql/mapper/work.xmapper/HzWorkCenterMapper.xml"/>
        <mapper resource="sql/mapper/work.xmapper/HzWorkProcedureMapper.xml"/>
        <!--工艺辅料库-->
        <mapper resource="sql/mapper/accessories.xmapper/HzAccessoriesLibMapper.xml"/>
        <mapper resource="sql/mapper/accessories.xmapper/HzAccessoriesLibsMapper.xml"/>
        <!--变更管理-->
        <mapper resource="sql/mapper/change.xmapper/HzEWOBasicInfoMapper.xml"/>
        <mapper resource="sql/mapper/change.xmapper/HzEWOImpactReferenceMapper.xml"/>
        <mapper resource="sql/mapper/change.xmapper/HzEWOImpactDeptEmpMapper.xml"/>
        <mapper resource="sql/mapper/change.xmapper/HzEWOImpactDeptMapper.xml"/>
        <!--字典库-->
        <mapper resource="sql/mapper/resourcesLibrary/dictionaryLibrary.xmapper/HzDictionaryLibraryMapper.xml"/>
        <!--VPPS库-->
        <mapper resource="sql/mapper/resourcesLibrary/VPPSLibrary.xmapper/HzVPPSLibraryMapper.xml"/>

        <!--配置和BOM进行交互的映射文件-->
        <mapper resource="sql/mapper/interaction/HzConfigBomColorMapper.xml"/>
        <mapper resource="sql/mapper/interaction/HzSingleVehiclesBomLineMapper.xml"/>
        <mapper resource="sql/mapper/interaction/HzSingleVehiclesMapper.xml"/>
        <!--任务-->
        <mapper resource="sql/mapper/task/HzTaskMapper.xml"/>
    </mappers>
</configuration>