<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2018.
  ~ This file was wrote by fancyears·milos·maywas @connor. Any question/bug you can post to 1243093366@qq.com.
  ~ ALL RIGHTS RESERVED.
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.connor.hozon.bom.bomSystem.dao.cfg0.HzCfg0OptionFamilyDao">
    <resultMap id="BaseResultMap" type="sql.pojo.cfg.cfg0.HzCfg0OptionFamily">
        <id column="PUID" jdbcType="VARCHAR" property="puid"/>
        <result column="P_OF_CFG0_MAIN" jdbcType="VARCHAR" property="pOfCfg0Main"/>
        <result column="P_OPTIONFAMILY_NAME" jdbcType="VARCHAR" property="pOptionfamilyName"/>
        <result column="P_OPTIONFAMILY_DESC" jdbcType="VARCHAR" property="pOptionfamilyDesc"/>
        <result column="OPTIONFAMILY_DIC_LIB_UID" jdbcType="VARCHAR" property="ofDicLibUid"/>
    </resultMap>

    <resultMap id="FamilyName" type="java.lang.String">
        <result column="P_OPTIONFAMILY_DESC" jdbcType="VARCHAR" property="pOptionfamilyDesc"/>
    </resultMap>

    <sql id="Base_Column_List">
    PUID,
    P_OF_CFG0_MAIN,
    P_OPTIONFAMILY_NAME,
    P_OPTIONFAMILY_DESC,
    OPTIONFAMILY_DIC_LIB_UID
  </sql>
    <!--**************************************select**************************************-->
    <select id="selectByPrimaryKey" parameterType="sql.pojo.cfg.cfg0.HzCfg0OptionFamily" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from HZ_CFG0_OPTIONFAMILY_RECORD
        where PUID = #{puid,jdbcType=VARCHAR}
    </select>
    <select id="selectByCodeAndDescWithMain" parameterType="sql.pojo.cfg.cfg0.HzCfg0OptionFamily" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from HZ_CFG0_OPTIONFAMILY_RECORD
        where P_OF_CFG0_MAIN=#{pOfCfg0Main,jdbcType=VARCHAR}
        <if test="pOptionfamilyName!=null">
            and P_OPTIONFAMILY_NAME = #{pOptionfamilyName,jdbcType=VARCHAR}
        </if>
        <if test="pOptionfamilyDesc!=null">
            and P_OPTIONFAMILY_DESC=#{pOptionfamilyDesc,jdbcType=VARCHAR}
        </if>
    </select>
    <select id="selectForColorBluePrint" parameterType="Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from Hz_Cfg0_Optionfamily_Record txx
        where txx.puid in
        (select distinct (t4.puid)
        from HZ_FULL_CFG_WITHCFG_RECORD t
        left join Hz_Bom_Line_Record t2
        on t.cfg_bomline_uid = t2.puid
        left join Hz_Cfg0_Record t3
        on t3.puid = t.cfg_cfg0_uid
        left join Hz_Cfg0_Optionfamily_Record t4
        on t3.p_cfg0_family_puid = t4.puid
        where t2.p_color_part = #{isColor,jdbcType=INTEGER}
        and t.fl_cfg_version =
        (select id
        from Hz_Full_Cfg_Main_Record tm
        where tm.project_uid =#{projectUid,jdbcType=VARCHAR}
        )
        )
        order by txx.p_optionfamily_name asc

    </select>
    <select id="selectNameByMainId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from HZ_CFG0_OPTIONFAMILY_RECORD
        where P_OF_CFG0_MAIN = (
        select t2.puid
        from hz_cfg0_main_record t2
        where t2.p_cfg0_of_which_project_puid =#{mainId}
        ) order by P_OF_CFG0_MAIN ASC/*by PUID*/
    </select>
    <select id="selectNameByMainId2" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from HZ_CFG0_OPTIONFAMILY_RECORD
        where P_OF_CFG0_MAIN = (
        select t2.puid
        from hz_cfg0_main_record t2
        where t2.p_cfg0_of_which_project_puid =#{mainId}
        ) order by PUID ASC
    </select>
    <select id="selectNameByMap" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from HZ_CFG0_OPTIONFAMILY_RECORD t
        where P_OF_CFG0_MAIN = (
        select t2.puid
        from hz_cfg0_main_record t2
        where t2.p_cfg0_of_which_project_puid =#{projectUid,jdbcType=VARCHAR}
        )
        <if test="list!=null">
            and t.p_optionfamily_desc
            <if test="isIn==true">
                in
            </if>
            <if test="isIn==false">
                not in
            </if>
            <foreach collection="list" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        order by P_OPTIONFAMILY_NAME ASC
    </select>
    <!--**************************************update**************************************-->
    <update id="updateByPrimaryKeySelective" parameterType="sql.pojo.cfg.cfg0.HzCfg0OptionFamily">
        UPDATE HZ_CFG0_OPTIONFAMILY_RECORD t
        <set>
            <if test="pOptionfamilyName!=null">
                P_OPTIONFAMILY_NAME=#{pOptionfamilyName,jdbcType=VARCHAR},
            </if>
            <if test="pOptionfamilyDesc!=null">
                P_OPTIONFAMILY_DESC=#{pOptionfamilyDesc,jdbcType=VARCHAR},
            </if>
            <if test="ofDicLibUid!=null">
                OPTIONFAMILY_DIC_LIB_UID=#{ofDicLibUid,jdbcType=VARCHAR},
            </if>
        </set>
        <where>
            t.puid= #{puid,jdbcType=VARCHAR}
        </where>
    </update>
    <!--**************************************insert**************************************-->
    <select id="insert" parameterType="sql.pojo.cfg.cfg0.HzCfg0OptionFamily" resultMap="BaseResultMap">
        insert into
        HZ_CFG0_OPTIONFAMILY_RECORD
        (<include refid="Base_Column_List"/>)
        VALUES
        (
        #{puid,jdbcType=VARCHAR},
        #{pOfCfg0Main,jdbcType=VARCHAR},
        #{pOptionfamilyName,jdbcType=VARCHAR},
        #{pOptionfamilyDesc,jdbcType=VARCHAR},
        #{ofDicLibUid,jdbcType=VARCHAR}
        )
    </select>
    <!--**************************************delete**************************************-->
    <delete id="deleteByPrimaryKey" parameterType="sql.pojo.cfg.cfg0.HzCfg0OptionFamily">
        delete HZ_CFG0_OPTIONFAMILY_RECORD t where t.PUID=#{puid,jdbcType=VARCHAR}
    </delete>
</mapper>