<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2018.
  ~ This file was written by fancyears·milos·malvis @connor. Any question/bug you can post to 1243093366@qq.com.
  ~ ALL RIGHTS RESERVED.
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.connor.hozon.bom.bomSystem.dao.cfg0.HzCfg0RecordDao">
    <resultMap id="BaseResultMap" type="sql.pojo.cfg.cfg0.HzCfg0Record">
        <id column="PUID" jdbcType="VARCHAR" property="puid"/>
        <result column="P_CFG0_OBJECT_ID" jdbcType="VARCHAR" property="pCfg0ObjectId"/>
        <result column="P_CFG0_DESC" jdbcType="VARCHAR" property="pCfg0Desc"/>
        <result column="P_CFG0_FAMILY_NAME" jdbcType="VARCHAR" property="pCfg0FamilyName"/>
        <result column="P_CFG0_FAMILY_PUID" jdbcType="VARCHAR" property="pCfg0FamilyPuid"/>
        <result column="P_CFG0_MAIN_ITEM_PUID" jdbcType="VARCHAR" property="pCfg0MainItemPuid"/>
        <result column="P_H9FEATUREENNAME" jdbcType="VARCHAR" property="pH9featureenname"/>
        <result column="P_CFG0_FAMILY_DESC" jdbcType="VARCHAR" property="pCfg0FamilyDesc"/>
        <result column="P_CFG0_RELEVANCE" jdbcType="VARCHAR" property="pCfg0Relevance"/>
        <result column="P_IS_FEATURE_SENT" jdbcType="INTEGER" property="isFeatureSent"/>
        <result column="P_IS_RELEVANCE_SENT" jdbcType="INTEGER" property="isRelevanceSent"/>
        <!--创建和修改信息-->
        <result column="P_FEATURE_CREATOR" jdbcType="VARCHAR" property="creator"/>
        <result column="FEATURE_CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="P_FEATURE_LAST_MODIFIER" jdbcType="VARCHAR" property="lastModifier"/>
        <result column="P_FEATURE_LAST_MODIFY_DATE" jdbcType="TIMESTAMP" property="lastModifyDate"/>
        <result column="CFG_EFFECTED_DATE" jdbcType="TIMESTAMP" property="cfgEffectedDate"/>
        <result column="CFG_ABOLISH_DATE" jdbcType="TIMESTAMP" property="cfgAbolishDate"/>
        <result column="CFG_STATUS" jdbcType="INTEGER" property="cfgStatus"/>
        <result column="CFG_IS_IN_PROCESS" jdbcType="INTEGER" property="cfgIsInProcess"/>
        <result column="CHANGE_ORDER_ID" jdbcType="DECIMAL" property="vwoId"/>
        <!--新增-->
        <result column="CFG_DIC_LIB_UID" jdbcType="VARCHAR" property="cfgDicLibUid"/>
        <result column="CFG_REVERSE_2" jdbcType="VARCHAR" property="cfgReverse2"/>
        <result column="CFG_REVERSE_3" jdbcType="VARCHAR" property="cfgReverse3"/>
        <result column="CFG_REVERSE_4" jdbcType="VARCHAR" property="cfgReverse4"/>
        <result column="CFG_REVERSE_5" jdbcType="VARCHAR" property="cfgReverse5"/>
        <result column="CFG_REVERSE_6" jdbcType="VARCHAR" property="cfgReverse6"/>
    </resultMap>

    <resultMap id="MaterielFeatureMap" type="com.connor.hozon.bom.bomSystem.dto.HzMaterielFeatureBean">
        <id column="PUID" jdbcType="VARCHAR" property="puid"/>
        <result column="P_CFG0_OBJECT_ID" jdbcType="VARCHAR" property="pCfg0ObjectId"/>
        <result column="P_CFG0_DESC" jdbcType="VARCHAR" property="pCfg0Desc"/>
        <result column="P_CFG0_FAMILY_NAME" jdbcType="VARCHAR" property="pCfg0FamilyName"/>
        <result column="P_CFG0_FAMILY_DESC" jdbcType="VARCHAR" property="pCfg0FamilyDesc"/>
        <result column="P_CFG0_FAMILY_PUID" jdbcType="VARCHAR" property="pCfg0FamilyPuid"/>
        <result column="OBJECT_NAME" jdbcType="VARCHAR" property="objectName"/>
        <result column="P_CFG0_MODEL_RECORD" jdbcType="VARCHAR" property="pCfg0ModelRecord"/>
        <result column="P_OF_CFG0_MAIN_RECORD" jdbcType="VARCHAR" property="pOfCfg0MainRecord"/>
        <result column="P_CFG0_MODEL_BASIC_DETAIL" jdbcType="VARCHAR" property="pCfg0ModelBasicDetail"/>
        <result column="IS_SENT" jdbcType="INTEGER" property="isSent"/>
    </resultMap>
    <resultMap extends="BaseResultMap"  id="VwoMap" type="sql.pojo.cfg.cfg0.HzCfg0Record">
        <result column="vwoNum" jdbcType="VARCHAR" property="vwoNum"/>
    </resultMap>
    <!--基础列信息-->
    <sql id="Base_Column_List">
        PUID,
        P_CFG0_OBJECT_ID,
        P_CFG0_DESC,
        P_CFG0_FAMILY_NAME,
        P_CFG0_FAMILY_PUID,
        P_CFG0_MAIN_ITEM_PUID,
        P_H9FEATUREENNAME,
        P_CFG0_FAMILY_DESC,
        P_CFG0_RELEVANCE,
        P_IS_FEATURE_SENT,
        P_IS_RELEVANCE_SENT,
        P_FEATURE_CREATOR,
        FEATURE_CREATE_DATE,
        P_FEATURE_LAST_MODIFIER,
        P_FEATURE_LAST_MODIFY_DATE,
        CFG_EFFECTED_DATE,
        CFG_ABOLISH_DATE,
        CFG_STATUS,
        CFG_IS_IN_PROCESS,
        CHANGE_ORDER_ID,
        CFG_DIC_LIB_UID,
        CFG_REVERSE_2,
        CFG_REVERSE_3,
        CFG_REVERSE_4,
        CFG_REVERSE_5,
        CFG_REVERSE_6
  </sql>
    <!--物料特性表列信息-->
    <sql id="Materiel_Feature_Column_List">
        t.PUID,
        t.P_CFG0_OBJECT_ID,
        t.P_CFG0_DESC,
        t.P_CFG0_FAMILY_NAME,
        t.P_CFG0_FAMILY_DESC,
        t.P_CFG0_FAMILY_PUID,
        t4.OBJECT_NAME,
        t3.P_CFG0_MODEL_RECORD,
        t3.P_OF_CFG0_MAIN_RECORD,
        t4.p_cfg0_model_basic_detail,
        t3.IS_SENT
  </sql>
    <!--根据主键搜索-->
    <!--**************************************select**************************************-->
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from HZ_CFG0_RECORD
        where PUID = #{puid,jdbcType=VARCHAR}
        order by P_CFG0_OBJECT_ID
    </select>
    <!--HZCSYS+特性值搜索-->
    <select id="selectByCodeAndDescWithMainItem" parameterType="sql.pojo.cfg.cfg0.HzCfg0Record" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from HZ_CFG0_RECORD t
        where
        t.p_cfg0_family_name like '%'||#{pCfg0FamilyName,jdbcType=VARCHAR}||'%'
        and t.p_cfg0_object_id=#{pCfg0ObjectId,jdbcType=VARCHAR}
        and t.p_cfg0_main_item_puid=#{pCfg0MainItemPuid,jdbcType=VARCHAR}
    </select>
    <!--车身颜色+特性值搜索-->
    <select id="selectByCodeAndCnDescWithMainItem" parameterType="sql.pojo.cfg.cfg0.HzCfg0Record" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from HZ_CFG0_RECORD t
        where
        t.p_cfg0_family_desc like '%'||#{pCfg0FamilyDesc,jdbcType=VARCHAR}||'%'
        and t.p_cfg0_object_id=#{pCfg0ObjectId,jdbcType=VARCHAR}
        and t.p_cfg0_main_item_puid=#{pCfg0MainItemPuid,jdbcType=VARCHAR}
    </select>
    <select id="selectByCondition" parameterType="com.connor.hozon.bom.bomSystem.dto.HzFeatureQueryDto"
            resultMap="BaseResultMap">

        select
        <include refid="Base_Column_List"/>
        from Hz_Cfg0_Record t
        where t.p_cfg0_object_id like #{featureValue,jdbcType=VARCHAR}||'%'
        and t.p_cfg0_family_name like #{feature,jdbcType=VARCHAR}||'%'
        and t.p_cfg0_main_item_puid =
        (select puid
        from Hz_Cfg0_Main_Record t2
        where t2.p_cfg0_of_which_project_puid =
        (select puid from Hz_Project_Libs t3 where t3.puid = #{projectUid,jdbcType=VARCHAR}))

    </select>
    <!--根据项目搜索全部-->
    <select id="selectListByProjectPuid" parameterType="java.util.Map" resultMap="VwoMap">
        select * from (
        select
        <include refid="Base_Column_List"/>,vwoNum,ROWNUM as rown
        from
        ( select
        <include refid="Base_Column_List"/>,t2.CHANGE_NO as vwoNum,
        ROWNUM as rowno
        from HZ_CFG0_RECORD t
        left join HZ_CHANGE_ORDER_RECORD t2 on t2.ID = t.CHANGE_ORDER_ID
        where 1=1
        <if test="param.featureValue !=null">
            and t.p_cfg0_object_id like '%'||upper(trim(#{param.featureValue}))||'%'
        </if>
        <if test="param.feature !=null">
            and t.p_cfg0_family_name like '%'||upper(trim(#{param.feature}))||'%'
        </if>
        and t.p_cfg0_main_item_puid=(
        select t2.puid
        from Hz_Cfg0_Main_Record t2
        where t2.p_cfg0_of_which_project_puid=#{projectPuid,jdbcType=VARCHAR}
        )
        <if test="param.sort!=null">
            order by ${param.sort}
        </if>
        <if test="param.order!=null">
            ${param.order}
        </if>
        <if test="param.order==null">
            ASC
        </if>
        ) temp
        ) temp2
        where 1=1
        <if test="param.offset!=null">
            and temp2.rown &gt;= ${param.offset}+1
        </if>
        <if test="param.limit!=null and  param.page!=null">
            and temp2.rown &lt;= ${param.page}*${param.limit}
        </if>

    </select>
    <!--根据主键列表进行搜索-->
    <select id="selectCfg0ListByPuids" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from HZ_CFG0_RECORD t where
        t.PUID in
        <if test="list!=null">
            (
            <foreach collection="list" item="item" index="index"
                     separator=",">
                #{item,jdbcType=VARCHAR}
            </foreach>
            )
        </if>
        <if test="list==null">
            ('')
        </if>
        order by P_CFG0_OBJECT_ID ASC
    </select>
    <!--根据项目搜索所有物料特性数据-->
    <select id="selectMaterielFeatureByProjectPuid" parameterType="java.lang.String" resultMap="MaterielFeatureMap">
        select
        <include refid="Materiel_Feature_Column_List"/>
        from HZ_CFG0_RECORD t
        left outer join HZ_CFG0_TO_MODEL_RECORD t3 on t.puid=t3.p_cfg0_id_record
        left outer join HZ_CFG0_MODEL_RECORD t4 on t4.puid=t3.p_cfg0_model_record
        where
        t.P_CFG0_MAIN_ITEM_PUID=(
        select puid from Hz_Cfg0_Main_Record t2
        where t2.p_cfg0_of_which_project_puid=#{projectPuid,jdbcType=VARCHAR}
        )
        order by t4.puid
    </select>
    <!--通过特性值和特性描述获取到1个特性值-->
    <select id="selectByCodeAndDesc" parameterType="sql.pojo.cfg.cfg0.HzCfg0Record" resultMap="MaterielFeatureMap">
        select
        <include refid="Base_Column_List"/>
        from HZ_CFG0_RECORD t
        where
        t.P_CFG0_OBJECT_ID=#{pCfg0ObjectId}
        and t.P_CFG0_DESC=#{pCfg0Desc}
        and t.P_CFG0_FAMILY_NAME=#{pCfg0FamilyName}
        and t.P_CFG0_FAMILY_DESC=#{pCfg0FamilyDesc}
        and t.p_cfg0_main_item_puid=#{pCfg0MainItemPuid}
    </select>
    <select id="selectByFamilyUidWithProject" parameterType="sql.pojo.cfg.cfg0.HzCfg0Record"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from HZ_CFG0_RECORD t
        where t.P_CFG0_MAIN_ITEM_PUID=(
        select puid from Hz_Cfg0_Main_Record t2
        where t2.p_cfg0_of_which_project_puid=#{projectPuid,jdbcType=VARCHAR}
        )
        and t.P_CFG0_FAMILY_PUID=#{pCfg0FamilyPuid,jdbcType=VARCHAR}
    </select>
    <select id="tellMeHowManyOfThose" parameterType="com.connor.hozon.bom.bomSystem.dto.HzFeatureQueryDto"
            resultType="java.lang.Integer">
        select count(*) from HZ_CFG0_RECORD t
        where t.P_CFG0_MAIN_ITEM_PUID=(
        select puid from Hz_Cfg0_Main_Record t2
        where t2.p_cfg0_of_which_project_puid=#{projectUid,jdbcType=VARCHAR}
        )
        <if test="featureValue!=null">
            and t.p_cfg0_object_id like upper(#{featureValue})||'%'
        </if>
        <if test="feature!=null">
            and t.p_cfg0_family_name like upper(#{feature})||'%'
        </if>
    </select>
    <!--**************************************delete**************************************-->
    <!--根据主键删除-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ${0}
    where PUID = #{puid,jdbcType=VARCHAR}
    </delete>
    <!--根据主键列表删除,删除的是附加表-->
    <delete id="deleteAddedCfgByList" parameterType="java.util.List">
        delete from HZ_CFG0_ADD_CFG_RECORD
        where PUID in(
        <foreach collection="list" item="item" index="index"
                 separator=",">
            #{item.puid,jdbcType=VARCHAR}
        </foreach>
        )

    </delete>
    <!--根据主键列表删除,删除的是主表-->
    <delete id="deleteCfgByList" parameterType="java.util.List">
        delete from HZ_CFG0_RECORD
        where PUID in(
        <foreach collection="list" item="item" index="index"
                 separator=",">
            #{item.puid,jdbcType=VARCHAR}
        </foreach>
        )

    </delete>
    <!--插入1个特性值-->
    <!--**************************************insert**************************************-->
    <insert id="insert" parameterType="sql.pojo.cfg.cfg0.HzCfg0Record">
    insert into HZ_CFG0_RECORD
      (
        PUID,
        P_CFG0_OBJECT_ID,
        P_CFG0_DESC,
        P_CFG0_FAMILY_NAME,
        P_CFG0_FAMILY_PUID,
        P_CFG0_MAIN_ITEM_PUID,
        P_H9FEATUREENNAME,
        P_CFG0_FAMILY_DESC,
        P_CFG0_RELEVANCE,
        P_FEATURE_CREATOR,
        P_FEATURE_LAST_MODIFIER,
        CFG_EFFECTED_DATE,
        CFG_ABOLISH_DATE,
        CFG_STATUS,
        CFG_IS_IN_PROCESS,
        CHANGE_ORDER_ID,
        CFG_DIC_LIB_UID,
        CFG_REVERSE_2,
        CFG_REVERSE_3,
        CFG_REVERSE_4,
        CFG_REVERSE_5,
        CFG_REVERSE_6
        )
    values (
        #{puid,jdbcType=VARCHAR},
        #{pCfg0ObjectId,jdbcType=VARCHAR},
        #{pCfg0Desc,jdbcType=VARCHAR},
        #{pCfg0FamilyName,jdbcType=VARCHAR},
        #{pCfg0FamilyPuid,jdbcType=VARCHAR},
        #{pCfg0MainItemPuid,jdbcType=VARCHAR},
        #{pH9featureenname,jdbcType=VARCHAR},
        #{pCfg0FamilyDesc,jdbcType=VARCHAR},
        #{pCfg0Relevance,jdbcType=VARCHAR},
        #{creator,jdbcType=VARCHAR},
        #{lastModifier,jdbcType=VARCHAR},
        #{cfgEffectedDate,jdbcType=TIMESTAMP},
        #{cfgAbolishDate,jdbcType=TIMESTAMP},
        0,
        0,
        #{vwoId,jdbcType=VARCHAR},
        #{cfgDicLibUid,jdbcType=VARCHAR},
        #{cfgReverse2,jdbcType=VARCHAR},
        #{cfgReverse3,jdbcType=VARCHAR},
        #{cfgReverse4,jdbcType=VARCHAR},
        #{cfgReverse5,jdbcType=VARCHAR},
        #{cfgReverse6,jdbcType=VARCHAR}
        )
  </insert>
    <!--**************************************update**************************************-->
    <!--根据主键更新数据-->
    <update id="updateByPrimaryKey" parameterType="sql.pojo.cfg.cfg0.HzCfg0Record">
        update HZ_CFG0_RECORD
        <set>
            <if test="pCfg0ObjectId!=null">
                P_CFG0_OBJECT_ID = #{pCfg0ObjectId,jdbcType=VARCHAR},
            </if>
            <if test="pCfg0Desc!=null">
                P_CFG0_DESC = #{pCfg0Desc,jdbcType=VARCHAR},
            </if>
            <if test="pCfg0FamilyName!=null">
                P_CFG0_FAMILY_NAME = #{pCfg0FamilyName,jdbcType=VARCHAR},
            </if>
            <if test="pCfg0FamilyPuid!=null">
                P_CFG0_FAMILY_PUID = #{pCfg0FamilyPuid,jdbcType=VARCHAR},
            </if>
            <if test="pCfg0MainItemPuid!=null">
                P_CFG0_MAIN_ITEM_PUID = #{pCfg0MainItemPuid,jdbcType=VARCHAR},
            </if>
            <if test="pH9featureenname!=null">
                P_H9FEATUREENNAME = #{pH9featureenname,jdbcType=VARCHAR},
            </if>
            <if test="pCfg0FamilyDesc!=null">
                P_CFG0_FAMILY_DESC = #{pCfg0FamilyDesc,jdbcType=VARCHAR},
            </if>
            <if test="pCfg0Relevance!=null">
                P_CFG0_RELEVANCE = #{pCfg0Relevance,jdbcType=VARCHAR},
            </if>
            <if test="lastModifier!=null">
                P_FEATURE_LAST_MODIFIER = #{lastModifier,jdbcType=VARCHAR},
            </if>
            <if test="cfgEffectedDate!=null">
                CFG_EFFECTED_DATE = #{cfgEffectedDate,jdbcType=TIMESTAMP},
            </if>
            <if test="cfgAbolishDate!=null">
                CFG_ABOLISH_DATE = #{cfgAbolishDate,jdbcType=TIMESTAMP},
            </if>
            <if test="cfgStatus!=null">
                CFG_STATUS = #{cfgStatus,jdbcType=INTEGER},
            </if>
            <if test="cfgIsInProcess!=null">
                CFG_IS_IN_PROCESS = #{cfgIsInProcess,jdbcType=INTEGER},
            </if>
            <if test="vwoId!=null">
                CHANGE_ORDER_ID = #{vwoId,jdbcType=DECIMAL},
            </if>
            <if test="cfgDicLibUid!=null">
                CFG_DIC_LIB_UID = #{cfgDicLibUid,jdbcType=VARCHAR},
            </if>
            <if test="cfgReverse2!=null">
                CFG_REVERSE_2 = #{cfgReverse2,jdbcType=VARCHAR},
            </if>
            <if test="cfgReverse3!=null">
                CFG_REVERSE_3 = #{cfgReverse3,jdbcType=VARCHAR},
            </if>
            <if test="cfgReverse4!=null">
                CFG_REVERSE_4 = #{cfgReverse4,jdbcType=VARCHAR},
            </if>
            <if test="cfgReverse5!=null">
                CFG_REVERSE_5 = #{cfgReverse5,jdbcType=VARCHAR},
            </if>
            <if test="cfgReverse6!=null">
                CFG_REVERSE_6 = #{cfgReverse6,jdbcType=VARCHAR},
            </if>
            P_FEATURE_LAST_MODIFY_DATE = sysdate
        </set>
        <where>
            PUID = #{puid,jdbcType=VARCHAR}
        </where>
    </update>
    <!--设置发送到ERP的状态为是-->
    <update id="setIsSent" parameterType="java.util.Map">
        update HZ_CFG0_RECORD
        set
        <if test="isFeatureSent==1">
            P_IS_FEATURE_SENT = 1,
        </if>
        <if test="isRelevanceSent==1">
            P_IS_RELEVANCE_SENT=1,
        </if>
        P_FEATURE_LAST_MODIFY_DATE=sysdate
        where PUID in
        <if test="list==null">
            ('')
        </if>
        <if test="list!=null">
            (
            <foreach collection="list" item="item" index="index"
                     separator=",">
                #{item.puid,jdbcType=VARCHAR}
            </foreach>
            )
        </if>
    </update>
    <update id="updateIsSent" parameterType="java.util.Map">
        update HZ_CFG0_MODEL_RECORD
        set
        <if test="isSent==1">
            IS_SENT = 1,
        </if>
        where PUID in
        <if test="list==null">
            ('')
        </if>
        <if test="list!=null">
            (
            <foreach collection="list" item="item" index="index"
                     separator=",">
                #{item.puid,jdbcType=VARCHAR}
            </foreach>
            )
        </if>
    </update>

    <update id="updateList" parameterType="java.util.List">
          update HZ_CFG0_RECORD
            set CHANGE_ORDER_ID=
            <foreach collection="list" item="hzCfg0Record" open="case" close="end">
                when
                  PUID=#{hzCfg0Record.puid}
                then
                #{hzCfg0Record.vwoId}
            </foreach>
            ,
            CFG_IS_IN_PROCESS=
            <foreach collection="list" item="hzCfg0Record" open="case" close="end">
                when
                  PUID=#{hzCfg0Record.puid}
                then
                  #{hzCfg0Record.cfgIsInProcess}
            </foreach>
            ,
            CFG_STATUS=
            <foreach collection="list" item="hzCfg0Record" open="case" close="end">
                when
                  PUID=#{hzCfg0Record.puid}
                then
                  #{hzCfg0Record.cfgStatus}
            </foreach>
          where
            PUID in
            <foreach collection="list" item="hzCfg0Record" index="index" open="(" separator="," close=")">
                #{hzCfg0Record.puid}
            </foreach>
    </update>

    <update id="updateByVwoid" parameterType="sql.pojo.cfg.cfg0.HzCfg0Record">
        update HZ_CFG0_RECORD
        set
          CFG_STATUS = #{cfgStatus,jdbcType=INTEGER},
          CFG_IS_IN_PROCESS = #{cfgIsInProcess,jdbcType=INTEGER}
        where
          CHANGE_ORDER_ID = #{vwoId,jdbcType=INTEGER}
    </update>

    <select id="selectByPuids" parameterType="java.util.List" resultMap="BaseResultMap">
      select
        <include refid="Base_Column_List"/>
      from
        HZ_CFG0_RECORD
      where
        PUID in
        <foreach collection="list" index="index" item="puid" open="(" separator="," close=")">
            #{puid,jdbcType=VARCHAR}
        </foreach>
    </select>

    <update id="updateStatus" parameterType="java.util.List">
        update HZ_CFG0_RECORD
        set
        CFG_STATUS =
        <foreach collection="list" index="index" item="hzCfg0Record" open="case" close="end">
            when PUID = #{hzCfg0Record.puid,jdbcType=VARCHAR}
            then #{hzCfg0Record.cfgStatus,jdbcType=INTEGER}
        </foreach>
        where
        PUID in
        <foreach collection="list" index="index" item="hzCfg0Record" open="(" close=")" separator=",">
            #{hzCfg0Record.puid,jdbcType=VARCHAR}
        </foreach>
    </update>

    <update id="updateListAll" parameterType="java.util.List">
        <foreach collection="list" index="index" item="hzCfg0Record" open="begin" close=";end;" separator=";">
            update HZ_CFG0_RECORD
            <set>
            <if test="hzCfg0Record.pCfg0ObjectId!=null">
                P_CFG0_OBJECT_ID = #{hzCfg0Record.pCfg0ObjectId,jdbcType=VARCHAR},
            </if>
            <if test="hzCfg0Record.pCfg0Desc!=null">
                P_CFG0_DESC = #{hzCfg0Record.pCfg0Desc,jdbcType=VARCHAR},
            </if>
            <if test="hzCfg0Record.pCfg0FamilyName!=null">
                P_CFG0_FAMILY_NAME = #{hzCfg0Record.pCfg0FamilyName,jdbcType=VARCHAR},
            </if>
            <if test="hzCfg0Record.pCfg0FamilyPuid!=null">
                P_CFG0_FAMILY_PUID = #{hzCfg0Record.pCfg0FamilyPuid,jdbcType=VARCHAR},
            </if>
            <if test="hzCfg0Record.pCfg0MainItemPuid!=null">
                P_CFG0_MAIN_ITEM_PUID = #{hzCfg0Record.pCfg0MainItemPuid,jdbcType=VARCHAR},
            </if>
            <if test="hzCfg0Record.pH9featureenname!=null">
                P_H9FEATUREENNAME = #{hzCfg0Record.pH9featureenname,jdbcType=VARCHAR},
            </if>
            <if test="hzCfg0Record.pCfg0FamilyDesc!=null">
                P_CFG0_FAMILY_DESC = #{hzCfg0Record.pCfg0FamilyDesc,jdbcType=VARCHAR},
            </if>
            <if test="hzCfg0Record.pCfg0Relevance!=null">
                P_CFG0_RELEVANCE = #{hzCfg0Record.pCfg0Relevance,jdbcType=VARCHAR},
            </if>
            <if test="hzCfg0Record.lastModifier!=null">
                P_FEATURE_LAST_MODIFIER = #{hzCfg0Record.lastModifier,jdbcType=VARCHAR},
            </if>
            <if test="hzCfg0Record.cfgEffectedDate!=null">
                CFG_EFFECTED_DATE = #{hzCfg0Record.cfgEffectedDate,jdbcType=TIMESTAMP},
            </if>
            <if test="hzCfg0Record.cfgAbolishDate!=null">
                CFG_ABOLISH_DATE = #{hzCfg0Record.cfgAbolishDate,jdbcType=TIMESTAMP},
            </if>
            <if test="hzCfg0Record.cfgStatus!=null">
                CFG_STATUS = #{hzCfg0Record.cfgStatus,jdbcType=INTEGER},
            </if>
            <if test="hzCfg0Record.cfgIsInProcess!=null">
                CFG_IS_IN_PROCESS = #{hzCfg0Record.cfgIsInProcess,jdbcType=INTEGER},
            </if>
            <if test="hzCfg0Record.vwoId!=null">
                CHANGE_ORDER_ID = #{hzCfg0Record.vwoId,jdbcType=DECIMAL},
            </if>
            <if test="hzCfg0Record.cfgDicLibUid!=null">
                CFG_DIC_LIB_UID = #{hzCfg0Record.cfgDicLibUid,jdbcType=VARCHAR},
            </if>
            <if test="hzCfg0Record.cfgReverse2!=null">
                CFG_REVERSE_2 = #{hzCfg0Record.cfgReverse2,jdbcType=VARCHAR},
            </if>
            <if test="hzCfg0Record.cfgReverse3!=null">
                CFG_REVERSE_3 = #{hzCfg0Record.cfgReverse3,jdbcType=VARCHAR},
            </if>
            <if test="hzCfg0Record.cfgReverse4!=null">
                CFG_REVERSE_4 = #{hzCfg0Record.cfgReverse4,jdbcType=VARCHAR},
            </if>
            <if test="hzCfg0Record.cfgReverse5!=null">
                CFG_REVERSE_5 = #{hzCfg0Record.cfgReverse5,jdbcType=VARCHAR},
            </if>
            <if test="hzCfg0Record.cfgReverse6!=null">
                CFG_REVERSE_6 = #{hzCfg0Record.cfgReverse6,jdbcType=VARCHAR},
            </if>
            </set>
            where PUID = #{hzCfg0Record.puid,jdbcType=VARCHAR}
        </foreach>
    </update>


    <update id="updateStatusByOrderId" parameterType="java.util.Map">
        update HZ_CFG0_RECORD
        set CFG_STATUS = #{status,jdbcType=INTEGER},
        CFG_IS_IN_PROCESS = null ,
        CHANGE_ORDER_ID = null
        where
        PUID in (select CFG_PUID from HZ_CFG0_AFTER_CHANGE_RECORD where CHANGE_ORDER_ID = #{orderId,jdbcType=DECIMAL})
    </update>
</mapper>