<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.net.connor.hozon.dao.dao.bom.bom.HzBomDataDao">

    <resultMap id="BaseResultMap" type="cn.net.connor.hozon.dao.pojo.bom.bom.HzBomLineRecord">
        <!--BOM属性-->
        <id column="PUID" jdbcType="VARCHAR" property="puid"/>
        <result column="ID" jdbcType="DOUBLE" property="id"/>
        <result column="P_LINE_INDEX" jdbcType="VARCHAR" property="lineIndex"/>
        <result column="P_BOM_LINE_IS_HAS" jdbcType="INTEGER" property="isHas"/>
        <result column="P_BOM_LINE_IS_2Y" jdbcType="INTEGER" property="is2Y"/>
        <result column="P_PARENT_UID" jdbcType="VARCHAR" property="parentUid"/>
        <result column="P_BOM_DIGIFAX_ID" jdbcType="VARCHAR" property="bomDigifaxId"/>
        <result column="P_FNA_INFO" jdbcType="VARCHAR" property="pFnaInfo"/>
        <result column="P_UPC" jdbcType="VARCHAR" property="pUpc"/>
        <result column="P_FNA_DESC" jdbcType="VARCHAR" property="pFnaDesc"/>
        <result column="P_LOU_LOA_FLAG" jdbcType="INTEGER" property="pLouaFlag"/>
        <result column="P_ORDER_ID" jdbcType="DOUBLE" property="orderId"/>
        <result column="P_REVISION" jdbcType="VARCHAR" property="revision"/>
        <result column="P_EFFECT_TIME" jdbcType="TIMESTAMP" property="effectTime"/>
        <result column="P_EPL_ID" jdbcType="DOUBLE" property="eplId"/>
        <result column="P_CREATE_TIME" jdbcType="DATE" property="pCreateTime"/>
        <result column="P_UPDATE_TIME" jdbcType="DATE" property="pUpdateTime"/>
        <result column="P_CREATE_NAME" jdbcType="VARCHAR" property="pCreateName"/>
        <result column="P_UPDATE_NAME" jdbcType="VARCHAR" property="pUpdateName"/>
        <result column="P_EBOM_STATUS" jdbcType="VARCHAR" property="status"/>
        <result column="P_NUMBER" jdbcType="VARCHAR" property="number"/>
        <result column="P_SORT_NUM" jdbcType="VARCHAR" property="sortNum"/>
        <result column="P_COLOR_PART" jdbcType="INTEGER" property="colorPart"/>
        <result column="P_VEH_NUM" jdbcType="VARCHAR" property="vehNum"/>

        <!--<result column="P_BOM_LINE_PART_NAME" jdbcType="VARCHAR" property="pBomLinePartName"/>-->
        <!--<result column="P_BOM_LINE_PART_CLASS" jdbcType="VARCHAR" property="pBomLinePartClass"/>-->
        <!--<result column="P_BOM_LINE_PART_EN_NAME" jdbcType="VARCHAR" property="pBomLinePartEnName" />-->
        <!--<result column="P_BOM_LINE_ID" jdbcType="VARCHAR" property="lineID" />-->
        <!--<result column="P_BOM_OF_WHICH_DEPT" jdbcType="VARCHAR" property="pBomOfWhichDept" />-->
        <!--<result column="P_DUTY_ENGINEER" jdbcType="VARCHAR" property="pDutyEngineer" />-->


        <!--零部件属性 来自于EPL-->
        <result column="PART_ID" jdbcType="VARCHAR" property="lineID"/>
        <result column="PART_OF_WHICH_DEPT" jdbcType="VARCHAR" property="pBomOfWhichDept"/>
        <result column="P_BOM_LINE_PUID" jdbcType="VARCHAR" property="linePuid"/>
        <result column="P_BOM_LINE_IS_PART" jdbcType="INTEGER" property="isPart"/>
        <result column="P_BOM_ORDER_NUM" jdbcType="INTEGER" property="orderNum"/>
        <result column="P_BOM_LINE_IS_DEPT" jdbcType="INTEGER" property="isDept"/>
        <result column="PART_NAME" jdbcType="VARCHAR" property="pBomLinePartName"/>
        <result column="PART_CLASS" jdbcType="VARCHAR" property="pBomLinePartClass"/>
        <result column="PART_EN_NAME" jdbcType="VARCHAR" property="pBomLinePartEnName"/>
        <result column="PART_RESOURCE" jdbcType="VARCHAR" property="pBomLinePartResource"/>
        <result column="FASTENER" jdbcType="VARCHAR" property="pFastener"/>
        <result column="IS_3CPART" jdbcType="INTEGER" property="p3cpartFlag"/>
        <result column="IN_OUT_SIDE_FLAG" jdbcType="INTEGER" property="pInOutSideFlag"/>
        <result column="UNIT" jdbcType="VARCHAR" property="pUnit"/>
        <result column="PICTURE_NO" jdbcType="VARCHAR" property="pPictureNo"/>
        <result column="PICTURE_SHEET" jdbcType="VARCHAR" property="pPictureSheet"/>
        <result column="MATERIAL_HIGH" jdbcType="VARCHAR" property="pMaterialHigh"/>
        <result column="MATERIAL1" jdbcType="VARCHAR" property="pMaterial1"/>
        <result column="MATERIAL2" jdbcType="VARCHAR" property="pMaterial2"/>
        <result column="MATERIAL3" jdbcType="VARCHAR" property="pMaterial3"/>
        <result column="DENSITY" jdbcType="VARCHAR" property="pDensity"/>
        <result column="MATERIAL_STANDARD" jdbcType="VARCHAR" property="pMaterialStandard"/>
        <result column="SURFACE_TREAT" jdbcType="VARCHAR" property="pSurfaceTreat"/>
        <result column="TEXTURE_COLOR_NUM" jdbcType="VARCHAR" property="pTextureColorNum"/>
        <result column="MANU_PROCESS" jdbcType="VARCHAR" property="pManuProcess"/>
        <result column="SYMMETRY" jdbcType="VARCHAR" property="pSymmetry"/>
        <result column="IMPORTANCE" jdbcType="VARCHAR" property="pImportance"/>
        <result column="REGULATION_FLAG" jdbcType="INTEGER" property="pRegulationFlag"/>
        <result column="BWG_BOX_PART" jdbcType="VARCHAR" property="pBwgBoxPart"/>
        <result column="DEVELOP_TYPE" jdbcType="VARCHAR" property="pDevelopType"/>
        <result column="DATA_VERSION" jdbcType="VARCHAR" property="pDataVersion"/>
        <result column="TARGET_WEIGHT" jdbcType="VARCHAR" property="pTargetWeight"/>
        <result column="FEATURE_WEIGHT" jdbcType="VARCHAR" property="pFeatureWeight"/>
        <result column="ACTUAL_WEIGHT" jdbcType="VARCHAR" property="pActualWeight"/>
        <result column="FASTENER_STANDARD" jdbcType="VARCHAR" property="pFastenerStandard"/>
        <result column="FASTENER_LEVEL" jdbcType="VARCHAR" property="pFastenerLevel"/>
        <result column="TORQUE" jdbcType="VARCHAR" property="pTorque"/>
        <result column="DUTY_ENGINEER" jdbcType="VARCHAR" property="pDutyEngineer"/>
        <result column="SUPPLY" jdbcType="VARCHAR" property="pSupply"/>
        <result column="SUPPLY_CODE" jdbcType="VARCHAR" property="pSupplyCode"/>
        <result column="REMARK" jdbcType="VARCHAR" property="pRemark"/>
        <result column="REGULATION_CODE" jdbcType="VARCHAR" property="pRegulationCode"/>
        <result column="BUY_ENGINEER" jdbcType="INTEGER" property="pBuyEngineer"/>
        <!--针对配色方案的颜色库对应的UID-->
        <result column="COLOR_UID" jdbcType="VARCHAR" property="colorUid"/>
    </resultMap>

    <!--基本的BOM属性-->
    <sql id="BASE_BOM_COLUMN">
    PUID, P_PARENT_UID,P_BOM_DIGIFAX_ID, P_LINE_INDEX, P_BOM_LINE_IS_HAS,
    P_BOM_LINE_ID, P_BOM_LINE_IS_2Y,
    P_FNA_INFO, P_EBOM_STATUS, P_CREATE_TIME, P_UPDATE_TIME,
    P_UPC, P_FNA_DESC, P_CREATE_NAME,
    P_UPDATE_NAME,P_NUMBER, P_ORDER_ID, P_LOU_LOA_FLAG, P_SORT_NUM, P_COLOR_PART, P_REVISION,
    P_EFFECT_TIME, P_EPL_ID
  </sql>

    <!--BOM的零部件属性 放到EPL中维护 但是需要在EBOM中显示出来-->
    <sql id="EPL_COLUMN">
    t10.PART_ID, t10.PART_OF_WHICH_DEPT, t10.PART_NAME, t10.PART_CLASS, t10.PART_EN_NAME,
    t10.PART_RESOURCE, t10.FASTENER, t10.IS_3CPART, t10.IN_OUT_SIDE_FLAG,
    t10.UNIT, t10.PICTURE_NO, t10.PICTURE_SHEET, t10.MATERIAL_HIGH, t10.MATERIAL1,
    t10.MATERIAL2, t10.MATERIAL3, t10.DENSITY, t10.MATERIAL_STANDARD, t10.SURFACE_TREAT, t10.TEXTURE_COLOR_NUM,
    t10.MANU_PROCESS, t10.SYMMETRY, t10.IMPORTANCE, t10.REGULATION_FLAG, t10.BWG_BOX_PART, t10.DEVELOP_TYPE,
    t10.DATA_VERSION, t10.TARGET_WEIGHT, t10.FEATURE_WEIGHT, t10.ACTUAL_WEIGHT, t10.FASTENER_STANDARD, t10.FASTENER_LEVEL,
    t10.TORQUE, t10.DUTY_ENGINEER, t10.SUPPLY, t10.SUPPLY_CODE, t10.REMARK, t10.REGULATION_CODE, t10.BUY_ENGINEER
  </sql>


    <!--基本的BOM属性-->
    <sql id="BOM_COLUMN_WITH_JOIN">
    P_PARENT_UID,P_BOM_DIGIFAX_ID, P_LINE_INDEX, P_BOM_LINE_IS_HAS,
    P_BOM_LINE_ID, P_BOM_LINE_IS_2Y,
    P_FNA_INFO, P_EBOM_STATUS, P_CREATE_TIME, P_UPDATE_TIME,
    P_UPC, P_FNA_DESC, P_CREATE_NAME,
    P_UPDATE_NAME,P_NUMBER, P_ORDER_ID, P_LOU_LOA_FLAG, P_SORT_NUM, P_COLOR_PART, P_REVISION,
    P_EFFECT_TIME, P_EPL_ID
  </sql>

    <sql id="Color_Column">P_COLOR_UID</sql>


    <sql id="values_by_batch">
		#{item.puid,jdbcType=VARCHAR},
		#{item.parentUid,jdbcType=VARCHAR},
		#{item.bomDigifaxId,jdbcType=VARCHAR},
		#{item.lineIndex,jdbcType=VARCHAR},
		#{item.isHas,jdbcType=INTEGER},
		#{item.lineID,jdbcType=VARCHAR},
		#{item.is2Y,jdbcType=INTEGER},
		#{item.sortNum,jdbcType=VARCHAR},
        #{item.eplId,jdbcType=DOUBLE}
    </sql>


    <sql id="BASE_BOM_INSERT">
        PUID, P_PARENT_UID,P_BOM_DIGIFAX_ID, P_LINE_INDEX, P_BOM_LINE_IS_HAS,
        P_BOM_LINE_ID, P_BOM_LINE_IS_2Y,
        P_FNA_INFO, P_CREATE_TIME, P_UPDATE_TIME,
        P_UPC, P_FNA_DESC, P_CREATE_NAME,
        P_UPDATE_NAME,P_NUMBER, P_ORDER_ID,P_EBOM_STATUS,
        P_SORT_NUM, P_COLOR_PART, P_REVISION,
        P_EFFECT_TIME, P_EPL_ID
      </sql>

    <sql id="BASE_BOM_INSERT_VALUES">
        #{puid,jdbcType=VARCHAR},#{parentUid,jdbcType=VARCHAR},#{bomDigifaxId,jdbcType=VARCHAR},
        #{lineIndex,jdbcType=VARCHAR},#{isHas,jdbcType=INTEGER},
        #{lineID,jdbcType=VARCHAR},
        #{is2Y,jdbcType=INTEGER},
        #{pFnaInfo,jdbcType=VARCHAR},
        sysdate,sysdate,
        #{pUpc,jdbcType=VARCHAR}, #{pFnaDesc,jdbcType=VARCHAR}, #{pCreateName,jdbcType=VARCHAR},
        #{pUpdateName,jdbcType=VARCHAR},
        #{number,jdbcType=VARCHAR},
        #{orderId,jdbcType=DOUBLE},2,
        #{sortNum,jdbcType=VARCHAR},
        #{colorPart,jdbcType=INTEGER},
        #{revision,jdbcType=VARCHAR},
        #{effectTime,jdbcType=VARCHAR},
        #{eplId,jdbcType=DOUBLE}
  </sql>

    <sql id="BASE_BOM_INSERT_VALUES_BATCH">
        #{item.puid,jdbcType=VARCHAR},#{item.parentUid,jdbcType=VARCHAR},#{item.bomDigifaxId,jdbcType=VARCHAR},
        #{item.lineIndex,jdbcType=VARCHAR},#{item.isHas,jdbcType=INTEGER},
        #{item.lineID,jdbcType=VARCHAR},
        #{item.is2Y,jdbcType=INTEGER},
        #{item.pFnaInfo,jdbcType=VARCHAR},sysdate,sysdate,
        #{item.pUpc,jdbcType=VARCHAR}, #{item.pFnaDesc,jdbcType=VARCHAR}, #{item.pCreateName,jdbcType=VARCHAR},
        #{item.pUpdateName,jdbcType=VARCHAR},
        #{item.number,jdbcType=VARCHAR},
        #{item.orderId,jdbcType=DOUBLE},2,
        #{item.sortNum,jdbcType=VARCHAR},
        #{item.colorPart,jdbcType=INTEGER},
        #{item.revision,jdbcType=VARCHAR},
        #{item.effectTime,jdbcType=VARCHAR},
        #{item.eplId,jdbcType=DOUBLE}
  </sql>


    <select id="selectByPrimaryKey"
            parameterType="cn.net.connor.hozon.dao.pojo.bom.bom.HzBomLineRecord"
            resultMap="BaseResultMap">
        SELECT<include refid="BASE_BOM_COLUMN"/>,
        <include refid="EPL_COLUMN"/>
        from HZ_BOM_LINE_RECORD
        left join HZ_EPL_RECORD t10 on P_EPL_ID = t10.ID
        where PUID = #{puid,jdbcType=VARCHAR}
    </select>


    <select id="selectByProjectId"
            parameterType="cn.net.connor.hozon.dao.pojo.bom.bom.HzBomLineRecord"
            resultMap="BaseResultMap">
        SELECT<include refid="BASE_BOM_COLUMN"/>,
        <include refid="EPL_COLUMN"/>
        from HZ_BOM_LINE_RECORD
        left join HZ_EPL_RECORD t10 on P_EPL_ID = t10.ID
        where P_BOM_DIGIFAX_ID =(
        select t2.puid from Hz_Bom_Main_Record t2
        where
        t2.p_cfg0_of_which_project_puid=#{projectPuid,jdbcType=VARCHAR}
        )
        order by CAST(P_SORT_NUM as FLOAT)
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from
		HZ_BOM_LINE_RECORD
		where PUID = #{puid,jdbcType=VARCHAR}
	</delete>


    <insert id="insertByBatch" parameterType="java.util.List">
        insert all
        <foreach collection="list" item="item" index="index"
                 separator=" ">
            into HZ_BOM_LINE_RECORD (
            <include refid="BASE_BOM_COLUMN"/>
            ) values (
            <include refid="BASE_BOM_INSERT_VALUES_BATCH"/>
            )
        </foreach>
        select 1 from dual
    </insert>


    <!--查询一条bom信息-->
    <select id="HzBomLineRecordDaoImpl_findBomLineByPuid" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT<include refid="BASE_BOM_COLUMN"/>,
        <include refid="EPL_COLUMN"/>
        from ${tableName}
        left join HZ_EPL_RECORD t10 on P_EPL_ID = t10.ID
        where P_BOM_DIGIFAX_ID =(
        select t2.puid from Hz_Bom_Main_Record t2
        where
        t2.p_cfg0_of_which_project_puid=#{projectId,jdbcType=VARCHAR}
        )
        and PUID=#{puid,jdbcType=VARCHAR}
        and P_EBOM_STATUS<![CDATA[ <> ]]>0
    </select>


    <select id="HzBomLineRecordDaoImpl_findBomLine" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT<include refid="BASE_BOM_COLUMN"/>,
        <include refid="EPL_COLUMN"/>
        from HZ_BOM_LINE_RECORD left join HZ_EPL_RECORD t10 on P_EPL_ID = t10.ID
        where P_BOM_DIGIFAX_ID =(
        select t2.puid from Hz_Bom_Main_Record t2
        where
        t2.p_cfg0_of_which_project_puid=#{projectId,jdbcType=VARCHAR}
        )
        and PUID=#{puid,jdbcType=VARCHAR}
        and P_EBOM_STATUS<![CDATA[ <> ]]>0
    </select>


    <select id="select2YByProjectPuid"
            parameterType="cn.net.connor.hozon.dao.query.configuration.fullConfigSheet.FeatureAnd2YRelationQuery"
            resultMap="BaseResultMap">
        select
        t.PUID,
        <include refid="BOM_COLUMN_WITH_JOIN"/>,
        <include refid="EPL_COLUMN"/>
        FROM
        HZ_BOM_LINE_RECORD t
        LEFT JOIN HZ_EPL_RECORD t10 ON P_EPL_ID = t10.ID
        LEFT JOIN HZ_FULL_CFG_WITHCFG_RECORD fc ON fc.cfg_bomline_uid = t.puid
        LEFT JOIN HZ_CFG0_RECORD cfg ON cfg.puid = fc.cfg_cfg0_uid
        where P_BOM_LINE_IS_2Y=1 and P_BOM_DIGIFAX_ID=
        (
        select t1.puid
        from Hz_Bom_Main_Record t1
        where t1.p_cfg0_of_which_project_puid=#{projectId,jdbcType=VARCHAR}
        )
        and P_EBOM_STATUS<![CDATA[ <> ]]>0
        order by
        <if test="orderBySortNum!=null">
            CAST(${orderBySortNum} as FLOAT)
        </if>
        <if test="orderByTableKey!=null">
            ${orderByTableKey}
        </if>
    </select>


    <!--获取车身下级2Y层的总成级，需要代码进行查重-->
    <select id="selectVehicleAssembly" parameterType="java.util.Map" resultMap="BaseResultMap">
        select<include refid="BASE_BOM_COLUMN"/>,
        <include refid="EPL_COLUMN"/>
        <if test="modelUid!=null">
            ,t3.
            <include refid="Color_Column"/>
            as COLOR_UID
        </if>
        from HZ_BOM_LINE_RECORD left join HZ_EPL_RECORD t10 on P_EPL_ID = t10.ID
        <if test="modelUid!=null">
            left join Hz_Color_Lvl2_Model t3 on t3.p_lvl_function= puid
        </if>
        where p_parent_uid in(
        select t.puid from Hz_Bom_Line_Record t where t.p_bom_line_is_2y=1 and
        t.p_bom_of_which_dept=#{dept,jdbcType=VARCHAR}
        and t.p_bom_digifax_id=(
        select puid from Hz_Bom_Main_Record tin where
        tin.p_cfg0_of_which_project_puid=#{projectUid,jdbcType=VARCHAR}
        ))
        <if test="modelUid!=null">
            and t3.p_model_uid=#{modelUid,jdbcType=VARCHAR}
        </if>
        and P_EBOM_STATUS <![CDATA[ <> ]]> 0
        order by CAST(t2.P_SORT_NUM as FLOAT)
    </select>


    <!--批量更新EBOM  只更新了部分字段-->
    <update id="HzEbomRecordDAOImpl_updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
            update ${item.tableName}
            <set>
                P_UPDATE_TIME =sysdate,
                <if test="item.status != null">
                    P_EBOM_STATUS = #{item.status,jdbcType=VARCHAR},
                </if>
                <if test="item.pFnaInfo != null">
                    P_FNA_INFO = #{item.pFnaInfo,jdbcType=VARCHAR},
                </if>
                <if test="item.pUpc != null">
                    P_UPC = #{item.pUpc,jdbcType=VARCHAR},
                </if>
                <if test="item.pFnaDesc != null">
                    P_FNA_DESC = #{item.pFnaDesc,jdbcType=VARCHAR},
                </if>
                <if test="item.pUpdateName != null">
                    P_UPDATE_NAME = #{item.pUpdateName,jdbcType=VARCHAR},
                </if>

                <if test="item.number != null">
                    P_NUMBER = #{item.number,jdbcType=VARCHAR},
                </if>

                <if test="item.orderId != null">
                    P_ORDER_ID = #{item.orderId,jdbcType=DOUBLE},
                </if>
                <if test="item.effectTime != null">
                    P_EFFECT_TIME = #{item.effectTime,jdbcType=TIMESTAMP},
                </if>
                <if test="item.revision != null">
                    P_REVISION = #{item.revision,jdbcType=VARCHAR}
                </if>
                <if test="item.vehNum != null">
                    P_VEH_NUM = #{item.vehNum,jdbcType=VARCHAR}
                </if>
            </set>
            where PUID = #{item.puid,jdbcType=VARCHAR}
        </foreach>
    </update>


    <update id="HzBomLineRecordDaoImpl_updateColorPart" parameterType="java.util.HashMap">
        update Hz_Bom_Line_Record
        <set>
            P_EBOM_STATUS = 2,
            P_UPDATE_TIME =sysdate,
            <if test="colorPart != null">
                P_COLOR_PART = #{colorPart,jdbcType=INTEGER}
            </if>
        </set>
        <where>
            PUID = #{puid,jdbcType=VARCHAR}
        </where>
    </update>

    <select id="HzBomLineRecordDaoImpl_selectByPuids" parameterType="java.lang.String" resultMap="BaseResultMap">
        select<include refid="BASE_BOM_COLUMN"/>,
        <include refid="EPL_COLUMN"/>
        from HZ_BOM_LINE_RECORD left join HZ_EPL_RECORD t10 on P_EPL_ID = t10.ID
        where
        1=1
        <if test="list != null and list.size()>0">
            and PUID in
            <foreach collection="list" index="index" item="puid" separator="," open="(" close=")">
                #{puid,jdbcType=VARCHAR}
            </foreach>
        </if>
    </select>


    <!-- 更新EBOM信息-->
    <update id="HzEbomRecordDAOImpl_updateList" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
            update Hz_Bom_Line_Record
            <set>
                P_UPDATE_TIME =sysdate,
                <if test="item.status != null">
                    P_EBOM_STATUS = #{item.status,jdbcType=VARCHAR},
                </if>
                <if test="item.pFnaInfo != null">
                    P_FNA_INFO = #{item.pFnaInfo,jdbcType=VARCHAR},
                </if>
                <if test="item.pUpc != null">
                    P_UPC = #{item.pUpc,jdbcType=VARCHAR},
                </if>
                <if test="item.pFnaDesc != null">
                    P_FNA_DESC = #{item.pFnaDesc,jdbcType=VARCHAR},
                </if>
                <if test="item.pUpdateName != null">
                    P_UPDATE_NAME = #{item.pUpdateName,jdbcType=VARCHAR},
                </if>

                <if test="item.number != null">
                    P_NUMBER = #{item.number,jdbcType=VARCHAR},
                </if>

                <if test="item.orderId != null">
                    P_ORDER_ID = #{item.orderId,jdbcType=DOUBLE},
                </if>
                <if test="item.effectTime != null">
                    P_EFFECT_TIME = #{item.effectTime,jdbcType=TIMESTAMP},
                </if>
                <if test="item.revision != null">
                    P_REVISION = #{item.revision,jdbcType=VARCHAR},
                </if>
                <if test="item.vehNum != null">
                    P_VEH_NUM = #{item.vehNum,jdbcType=VARCHAR}
                </if>
            </set>
            where P_BOM_LINE_ID = #{item.lineID,jdbcType=VARCHAR}
            and P_BOM_DIGIFAX_ID=#{item.bomDigifaxId,jdbcType=VARCHAR}
            and P_EBOM_STATUS <![CDATA[ <> ]]>0
        </foreach>
    </update>

</mapper>