<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HzBOMScheduleResultMapper">
  <resultMap id="BaseResultMap" type="sql.pojo.bom.HzBOMScheduleResult">
    <result column="ID" jdbcType="DOUBLE" property="id" />
    <result column="ORDER_ID" jdbcType="DOUBLE" property="orderId" />
    <result column="CREATE_TIME" jdbcType="DATE" property="createTime" />
    <result column="RESULT" jdbcType="CLOB" property="result" />
  </resultMap>
  <sql id="Base_Column_List">
    ID,ORDER_ID,CREATE_TIME,RESULT
  </sql>

  <insert id="HzBOMScheduleResultDAOImpl_insert" parameterType="sql.pojo.bom.HzBOMScheduleResult">
    insert into HZ_BOM_SCHEDULE_RESULT  (
    <include refid="Base_Column_List"/>
    )
    values (SEQ_HZ_BOM_SCHEDULE_RESULT.nextval, #{orderId,jdbcType=DOUBLE}, sysdate,
      #{result,jdbcType=VARCHAR})
  </insert>


  <select id="HzBOMScheduleResultDAOImpl_getBOMScheduleResult" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from HZ_BOM_SCHEDULE_RESULT
    where ORDER_ID= #{orderId,jdbcType=DOUBLE}
  </select>

</mapper>