#dataTable1 tr td{
    min-width:30px;
    max-width: 200px;
    white-space: nowrap;
}
/*label{*/
    /*font-family: 黑体,微软雅黑,宋体;*/
    /*font-size: 1.25em;*/
    /*!*width: 6em;*!*/
/*}*/
/*input{*/
    /*width: 50%;*/
/*}*/
.panel-body{
    padding: 0!important;
}
.panel-default{
    padding: 0!important;
}

button[name=paginationSwitch]{
    display:none!important;
}

.hideIt{
    display:none!important;
}