#dataTable1 tr td{
    min-width:30px;
    max-width: 200px;
    white-space: nowrap;
}
/*label{*/
    /*font-family: 黑体,微软雅黑,宋体;*/
    /*font-size: 1.25em;*/
    /*!*width: 6em;*!*/
/*}*/
/*input{*/
    /*width: 50%;*/
/*}*/
.panel-body{
    padding: 0!important;
}
.panel-default{
    padding: 0!important;
}

button[name=paginationSwitch]{
    display:none!important;
}

.hideIt{
    display:none!important;
}


.head-input-set {
    width: 150px;
}

.head-select-set {
    width: 150px;
}

opi-bottom-set {
    padding-bottom: 50px;
}

opi-opiarea-set {
    width: 100%;
    resize: none;
}

.head-func-btn {
    position: fixed;
    width: 150px;
    z-index: 99999;
}

.head-btnSets {
    margin-left: 90%;
    width: 150px
}

.head-trim {
    padding-right: 0;
}

.influence-leader {
    padding: 0 0 15px;
}

.influence-dept {
    padding: 0;
}