<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.connor.hozon.bom.bomSystem.dao.project.HzSuperMaterielDao">
    <resultMap id="BaseResultMap" type="sql.pojo.project.HzMaterielRecord">
        <id column="PUID" jdbcType="VARCHAR" property="puid"/>
        <result column="P_MATERIEL_CODE" jdbcType="VARCHAR" property="pMaterielCode"/>
        <result column="P_MATERIEL_TYPE" jdbcType="VARCHAR" property="pMaterielType"/>
        <result column="P_MATERIEL_WERK" jdbcType="VARCHAR" property="pMaterielWerk"/>
        <result column="P_MATERIEL_DESC" jdbcType="VARCHAR" property="pMaterielDesc"/>
        <result column="P_PERTAIN_TO_PROJECT_PUID" jdbcType="VARCHAR" property="pPertainToProjectPuid"/>
    </resultMap>

    <!--物料数据信息-->
    <resultMap extends="BaseResultMap" id="HzMaterielRecordMap" type="sql.pojo.project.HzMaterielRecord">
        <result column="P_MATERIEL_DESC_EN" jdbcType="VARCHAR" property="pMaterielDescEn"/>
        <result column="P_BASIC_UNIT_MEASURE" jdbcType="VARCHAR" property="pBasicUnitMeasure"/>
        <result column="P_INVENTED_PART" jdbcType="INTEGER" property="pInventedPart"/>
        <result column="P_SPARE_MATERIAL" jdbcType="VARCHAR" property="pSpareMaterial"/>
        <result column="P_VIN_PER_NO" jdbcType="VARCHAR" property="pVinPerNo"/>
        <result column="P_COLOR_PART" jdbcType="INTEGER" property="pColorPart"/>
        <result column="P_HEIGHT" jdbcType="VARCHAR" property="pHeight"/>
        <result column="P_IN_OUT_SIDE_FLAG" jdbcType="INTEGER" property="pInOutSideFlag"/>
        <result column="P_3C_PART_FLAG" jdbcType="INTEGER" property="p3cPartFlag"/>
        <result column="P_MRP_CONTROLLER" jdbcType="VARCHAR" property="pMrpController"/>
        <result column="P_PART_IMPORTANT_DEGREE" jdbcType="VARCHAR" property="pPartImportantDegree"/>
        <result column="P_LOOSE_PART_FLAG" jdbcType="INTEGER" property="pLoosePartFlag"/>
        <result column="P_VALID_FLAG" jdbcType="INTEGER" property="pValidFlag"/>
        <result column="P_MATERIEL_DATA_TYPE" jdbcType="INTEGER" property="pMaterielDataType"/>
        <result column="P_CREATE_NAME" jdbcType="VARCHAR" property="pCreateName"/>
        <result column="P_UPDATE_NAME" jdbcType="VARCHAR" property="pUpdateName"/>
        <result column="P_CREATE_TIME" jdbcType="DATE" property="pCreateTime"/>
        <result column="P_UPDATE_TIME" jdbcType="DATE" property="pUpdateTime"/>
        <result column="P_FACTORY_PUID" jdbcType="VARCHAR" property="pFactoryPuid"/>
        <result column="P_RESOURCE" jdbcType="VARCHAR" property="resource"/>
        <result column="P_TYPE" jdbcType="INTEGER" property="type"/>
        <result column="P_MATERIEL_RESOURCE_ID" jdbcType="VARCHAR" property="materielResourceId"/>
        <result column="IS_SENT" jdbcType="INTEGER" property="sendSapFlag"/>

        <result column="P_FACTORY_CODE" jdbcType="VARCHAR" property="factoryCode" />
    </resultMap>

    <!--整车衍生物料主数据-->
    <resultMap id="HzCfg0ModelRecordMap" type="sql.pojo.cfg.HzCfg0ModelRecord">
        <id column="PUID" jdbcType="VARCHAR" property="puid"/>
        <result column="OBJECT_NAME" jdbcType="VARCHAR" property="objectName"/>
        <result column="OBJECT_DESC" jdbcType="VARCHAR" property="objectDesc"/>
        <result column="P_CFG0_MODEL_OF_MAIN_RECORD" jdbcType="VARCHAR" property="pCfg0ModelOfMainRecord"/>
        <result column="P_CFG0_MODEL_BASIC_DETAIL" jdbcType="VARCHAR" property="pCfg0ModelBasicDetail"/>
    </resultMap>

    <sql id="Base_Column_List">
    PUID, P_MATERIEL_CODE, P_MATERIEL_TYPE, P_MATERIEL_WERK, P_MATERIEL_DESC, P_PERTAIN_TO_PROJECT_PUID
  </sql>


    <!--整车衍生物料主数据-->
    <sql id="HzCfg0ModelRecordList">
    PUID, OBJECT_NAME, OBJECT_DESC, P_CFG0_MODEL_OF_MAIN_RECORD, P_CFG0_MODEL_BASIC_DETAIL
  </sql>

    <!--物料主数据-->
    <sql id="HzMaterielRecordList">
     PUID, P_MATERIEL_CODE,P_RESOURCE, P_MATERIEL_TYPE, P_MATERIEL_WERK, P_MATERIEL_DESC, P_PERTAIN_TO_PROJECT_PUID,
    P_MATERIEL_DESC_EN, P_BASIC_UNIT_MEASURE, P_INVENTED_PART, P_SPARE_MATERIAL, P_VIN_PER_NO,
    P_COLOR_PART, P_HEIGHT, P_IN_OUT_SIDE_FLAG, P_3C_PART_FLAG, P_MRP_CONTROLLER, P_PART_IMPORTANT_DEGREE,
    P_LOOSE_PART_FLAG, P_VALID_FLAG, P_MATERIEL_DATA_TYPE, P_CREATE_TIME, P_UPDATE_TIME,
    P_CREATE_NAME, P_UPDATE_NAME, P_FACTORY_PUID,P_MATERIEL_RESOURCE_ID,P_TYPE,IS_SENT
  </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from HZ_MATERIEL_RECORD
        where PUID = #{puid,jdbcType=VARCHAR}
    </select>


    <select id="selectByProjectPuid" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from HZ_MATERIEL_RECORD
        where P_PERTAIN_TO_PROJECT_PUID = #{pPertainToProjectPuid,jdbcType=VARCHAR} AND P_MATERIEL_DATA_TYPE=11
    </select>


    <insert id="insert" parameterType="sql.pojo.project.HzMaterielRecord">
   insert into HZ_MATERIEL_RECORD (
      PUID,
      P_MATERIEL_CODE,
      P_MATERIEL_TYPE,
      P_MATERIEL_WERK,
      P_MATERIEL_DESC,
      P_PERTAIN_TO_PROJECT_PUID,
      P_MATERIEL_DATA_TYPE
      )
    values (
      #{puid,jdbcType=VARCHAR},
      #{pMaterielCode,jdbcType=VARCHAR},
      'A006',
      #{pMaterielWerk,jdbcType=VARCHAR},
      #{pMaterielDesc,jdbcType=VARCHAR},
      #{pPertainToProjectPuid,jdbcType=VARCHAR},
      11
      )
  </insert>

    <update id="updateByPrimaryKey" parameterType="sql.pojo.project.HzMaterielRecord">
    update HZ_MATERIEL_RECORD
    set P_MATERIEL_CODE = #{pMaterielCode,jdbcType=VARCHAR},
      P_MATERIEL_TYPE = 'A006',
      P_MATERIEL_WERK = #{pMaterielWerk,jdbcType=VARCHAR},
      P_MATERIEL_DESC = #{pMaterielDesc,jdbcType=VARCHAR},
      P_PERTAIN_TO_PROJECT_PUID = #{pPertainToProjectPuid,jdbcType=VARCHAR},
      P_MATERIEL_DATA_TYPE = 11
    where PUID = #{puid,jdbcType=VARCHAR}
  </update>

    <!--编辑一条记录-->
    <update id="HzMaterialDAOImpl_update" parameterType="sql.pojo.project.HzMaterielRecord">
        update HZ_MATERIEL_RECORD
        <set>
            <if test="pMaterielCode != null">
                P_MATERIEL_CODE = #{pMaterielCode,jdbcType=VARCHAR},
            </if>
            <if test="pMaterielDesc != null">
                P_MATERIEL_DESC = #{pMaterielDesc,jdbcType=VARCHAR},
            </if>
            <if test="pMaterielDescEn != null">
                P_MATERIEL_DESC_EN = #{pMaterielDescEn,jdbcType=VARCHAR},
            </if>
            <if test="pMaterielType != null">
                P_MATERIEL_TYPE = #{pMaterielType,jdbcType=VARCHAR},
            </if>
            <if test="pSpareMaterial != null">
                P_SPARE_MATERIAL = #{pSpareMaterial,jdbcType=VARCHAR},
            </if>
            <if test="pVinPerNo != null">
                P_VIN_PER_NO = #{pVinPerNo,jdbcType=VARCHAR},
            </if>
            <if test="pMrpController != null">
                P_MRP_CONTROLLER = #{pMrpController,jdbcType=VARCHAR},
            </if>
            <if test="pLoosePartFlag != null">
                P_LOOSE_PART_FLAG = #{pLoosePartFlag,jdbcType=INTEGER},
            </if>
            P_UPDATE_TIME = sysdate,
            <if test="pUpdateName != null">
                P_UPDATE_NAME = #{pUpdateName,jdbcType=VARCHAR},
            </if>
            <if test="pFactoryPuid != null">
                P_FACTORY_PUID = #{pFactoryPuid,jdbcType=VARCHAR},
            </if>
            <if test="pBasicUnitMeasure != null">
                P_BASIC_UNIT_MEASURE = #{pBasicUnitMeasure,jdbcType=VARCHAR},
            </if>
            <if test="pInventedPart != null">
                P_INVENTED_PART = #{pInventedPart,jdbcType=INTEGER},
            </if>
            <if test="pColorPart != null">
                P_COLOR_PART = #{pColorPart,jdbcType=INTEGER},
            </if>
            <if test="pHeight != null">
                P_HEIGHT = #{pHeight,jdbcType=INTEGER},
            </if>
            <if test="pInOutSideFlag != null">
                P_IN_OUT_SIDE_FLAG = #{pInOutSideFlag,jdbcType=INTEGER},
            </if>
            <if test="p3cPartFlag != null">
                P_3C_PART_FLAG = #{p3cPartFlag,jdbcType=INTEGER},
            </if>
            <if test="pPartImportantDegree != null">
                P_PART_IMPORTANT_DEGREE = #{pPartImportantDegree,jdbcType=VARCHAR},
            </if>
            <if test="resource != null">
                P_RESOURCE = #{resource,jdbcType=VARCHAR}
            </if>
        </set>
        where PUID = #{puid,jdbcType=VARCHAR}
    </update>

    <!--删除一条记录-->
    <update id="HzMaterialDAOImpl_delete" parameterType="java.lang.String">
        update HZ_MATERIEL_RECORD
        set
        P_VALID_FLAG = 0
        where PUID = #{puid,jdbcType=VARCHAR}
    </update>

    <!--查询一条记录-->
    <select id="selectByPrimaryKey111" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="HzMaterielRecordList"/>
        from HZ_MATERIEL_RECORD
        where PUID = #{puid,jdbcType=VARCHAR}
    </select>

    <!--批量插入-->
    <insert id="HzMaterialDAOImpl_insertList" useGeneratedKeys="false" parameterType="java.util.List">
        insert into HZ_MATERIEL_RECORD (PUID, P_MATERIEL_CODE, P_MATERIEL_TYPE,
        P_MATERIEL_DESC, P_PERTAIN_TO_PROJECT_PUID, P_MATERIEL_DESC_EN,P_MATERIEL_DATA_TYPE,
        P_FACTORY_PUID,P_MATERIEL_RESOURCE_ID,P_VALID_FLAG,P_COLOR_PART,P_CREATE_TIME, P_UPDATE_TIME
        ,P_CREATE_NAME,P_UPDATE_NAME,P_BASIC_UNIT_MEASURE,P_INVENTED_PART, P_SPARE_MATERIAL, P_VIN_PER_NO,
         P_HEIGHT, P_IN_OUT_SIDE_FLAG, P_3C_PART_FLAG, P_MRP_CONTROLLER, P_PART_IMPORTANT_DEGREE,
        P_LOOSE_PART_FLAG)
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
            select
            #{item.puid,jdbcType=VARCHAR}, #{item.pMaterielCode,jdbcType=VARCHAR},
            #{item.pMaterielType,jdbcType=VARCHAR},
            #{item.pMaterielDesc,jdbcType=VARCHAR}, #{item.pPertainToProjectPuid,jdbcType=VARCHAR},
            #{item.pMaterielDescEn,jdbcType=VARCHAR},
            #{item.pMaterielDataType,jdbcType=INTEGER},
            #{item.pFactoryPuid,jdbcType=VARCHAR},
            #{item.materielResourceId,jdbcType=VARCHAR},1,#{item.pColorPart,jdbcType=INTEGER},
            sysdate,sysdate,#{item.pCreateName,jdbcType=VARCHAR},#{item.pUpdateName,jdbcType=VARCHAR},
            #{item.pBasicUnitMeasure,jdbcType=VARCHAR}, #{item.pInventedPart,jdbcType=INTEGER},
            #{item.pSpareMaterial,jdbcType=VARCHAR},
            #{item.pVinPerNo,jdbcType=VARCHAR}, #{item.pHeight,jdbcType=VARCHAR},
            #{item.pInOutSideFlag,jdbcType=INTEGER},
            #{item.p3cPartFlag,jdbcType=INTEGER},
            #{item.pMrpController,jdbcType=VARCHAR},
            #{item.pPartImportantDegree,jdbcType=VARCHAR},#{item.pLoosePartFlag,jdbcType=INTEGER}
            from DUAL
        </foreach>
    </insert>


    <!--分页获取物料主数据-->
    <select id="HzMaterialDAOImpl_findHzMaterielForPage" parameterType="java.util.HashMap"
            resultMap="HzMaterielRecordMap">
        select * from
        (select t.*,ROWNUM as rn from
        (select
        t.*,t1.P_FACTORY_CODE
        from HZ_MATERIEL_RECORD t left join HZ_FACTORY t1
        on t.P_FACTORY_PUID = t1.puid
        and t.P_VALID_FLAG =1
        and t1.P_FACTORY_STATUS <![CDATA[ <> ]]>0
        <where>
            1=1
            <if test="projectId != null and projectId!=''">
                and t.P_PERTAIN_TO_PROJECT_PUID = #{projectId,jdbcType=VARCHAR}
            </if>
            <if test="pMaterielDataType != null">
                and t.P_MATERIEL_DATA_TYPE = #{pMaterielDataType,jdbcType=INTEGER}
            </if>
            <!--<if test="pMaterielDataType == null">-->
                <!--and (P_MATERIEL_DATA_TYPE = 11-->
                <!--or P_MATERIEL_DATA_TYPE =21-->
                <!--or P_MATERIEL_DATA_TYPE =31-->
                <!--or P_MATERIEL_DATA_TYPE =41-->
                <!--or P_MATERIEL_DATA_TYPE =51-->
                <!--or P_MATERIEL_DATA_TYPE =61-->
                <!--or P_MATERIEL_DATA_TYPE =71-->
                <!--or P_MATERIEL_DATA_TYPE =81)-->
            <!--</if>-->
            <if test="pMaterielCode != null and pMaterielCode != '' ">
                and t.P_MATERIEL_CODE like CONCAT(CONCAT('%',#{pMaterielCode,jdbcType=VARCHAR}),'%')
            </if>
            <if test="pMaterielType != null and pMaterielType != ''">
                and t.P_MATERIEL_TYPE like CONCAT(CONCAT('%',#{pMaterielType,jdbcType=VARCHAR}),'%')
            </if>
        </where>
        )t
        WHERE ROWNUM &lt;=#{limit,jdbcType=INTEGER}) where rn &gt;#{offset,jdbcType=INTEGER}
    </select>

    <!--获取物料主数据总数-->
    <select id="HzMaterialDAOImpl_findHzMaterielTotalCount" parameterType="java.util.HashMap"
            resultType="java.lang.Integer">
        select
        count(*)
        from HZ_MATERIEL_RECORD
        <where>
            1=1
            <if test="projectId != null and projectId!=''">
                and P_PERTAIN_TO_PROJECT_PUID = #{projectId,jdbcType=VARCHAR}
            </if>
            <if test="pMaterielDataType != null">
                and P_MATERIEL_DATA_TYPE = #{pMaterielDataType,jdbcType=INTEGER}
            </if>
            <!--<if test="pMaterielDataType == null">-->
                <!--and (P_MATERIEL_DATA_TYPE = 11 -->
                <!--or P_MATERIEL_DATA_TYPE =21-->
                <!--or P_MATERIEL_DATA_TYPE =31-->
                <!--or P_MATERIEL_DATA_TYPE =41-->
                <!--or P_MATERIEL_DATA_TYPE =51-->
                <!--or P_MATERIEL_DATA_TYPE =61-->
                <!--or P_MATERIEL_DATA_TYPE =71-->
                <!--or P_MATERIEL_DATA_TYPE =81)-->
            <!--</if>-->
            <if test="pMaterielCode != null and pMaterielCode != '' ">
                and P_MATERIEL_CODE like CONCAT(CONCAT('%',#{pMaterielCode,jdbcType=VARCHAR}),'%')
            </if>
            <if test="pMaterielType != null and pMaterielType != ''">
                and P_MATERIEL_TYPE like CONCAT(CONCAT('%',#{pMaterielType,jdbcType=VARCHAR}),'%')
            </if>
            and P_VALID_FLAG =1
        </where>
    </select>


    <!--获取物料主数据-->
    <select id="HzMaterialDAOImpl_findHzMaterielForList" parameterType="java.util.HashMap"
            resultMap="HzMaterielRecordMap">
        select
        <include refid="HzMaterielRecordList"/>
        from HZ_MATERIEL_RECORD
        <where>
            1=1
            <if test="projectId != null and projectId!=''">
                and P_PERTAIN_TO_PROJECT_PUID = #{projectId,jdbcType=VARCHAR}
            </if>
            <if test="puid != null and puid!=''">
                and PUID = #{puid,jdbcType=VARCHAR}
            </if>
            <if test="pMaterielDataType != null">
                and P_MATERIEL_DATA_TYPE = #{pMaterielDataType,jdbcType=INTEGER}
            </if>
            <if test="materielResourceId != null and materielResourceId!=''">
                and P_MATERIEL_RESOURCE_ID = #{materielResourceId,jdbcType=VARCHAR}
            </if>
            <if test="pMaterielCode != null">
                and P_MATERIEL_CODE = #{pMaterielCode,jdbcType=VARCHAR}
            </if>
            and P_VALID_FLAG =1
        </where>
    </select>


    <!--分页查询整车衍生物料主数据-->
    <select id="HzMaterialDAOImpl_findHzCfg0ModelRecord" parameterType="java.util.HashMap"
            resultMap="HzCfg0ModelRecordMap">
         select * from
        (select t.*,ROWNUM as rn from
        (SELECT t1.* FROM HZ_CFG0_MODEL_RECORD t1 WHERE t1.P_CFG0_MODEL_OF_MAIN_RECORD =
        (SELECT PUID FROM HZ_CFG0_MAIN_RECORD t2
        WHERE t2.P_CFG0_OF_WHICH_PROJECT_PUID=#{projectId,jdbcType=VARCHAR}))t
        WHERE ROWNUM &lt;=#{limit,jdbcType=INTEGER}) where rn &gt;#{offset,jdbcType=INTEGER}

    </select>


    <!--查询整车衍生物料主数据全部-->
    <select id="HzMaterialDAOImpl_findHzCfg0ModelRecordAll" parameterType="java.util.HashMap"
            resultMap="HzCfg0ModelRecordMap">
        SELECT t1.* FROM HZ_CFG0_MODEL_RECORD t1 WHERE t1.P_CFG0_MODEL_OF_MAIN_RECORD =
        (SELECT PUID FROM HZ_CFG0_MAIN_RECORD t2
        WHERE t2.P_CFG0_OF_WHICH_PROJECT_PUID=#{projectId,jdbcType=VARCHAR})
    </select>


    <!--查询一条物料数据-->
    <select id="HzMaterialDAOImpl_getHzMaterielRecord" parameterType="java.util.HashMap"
            resultMap="HzMaterielRecordMap">
        select
        <include refid="HzMaterielRecordList"/>
        from HZ_MATERIEL_RECORD
        <where>
            1=1
            <if test="puid != null and puid!=''">
                and PUID = #{puid,jdbcType=VARCHAR}
            </if>
            <if test="projectId != null and projectId!=''">
                and P_PERTAIN_TO_PROJECT_PUID = #{projectId,jdbcType=VARCHAR}
            </if>
            <if test="pMaterielDataType != null">
                and P_MATERIEL_DATA_TYPE = #{pMaterielDataType,jdbcType=VARCHAR}
            </if>
            and P_VALID_FLAG=1
        </where>
    </select>

    <!--查找重复-->
    <select id="HzMaterialDAOImpl_HzMaterielIsExist" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        select count(*) from HZ_MATERIEL_RECORD
        <where>
            1=1
            <if test="materielResourceId != null and materielResourceId!=''">
                and P_MATERIEL_RESOURCE_ID = #{materielResourceId,jdbcType=VARCHAR}
            </if>
            <if test="projectId != null and projectId !=''">
                and P_PERTAIN_TO_PROJECT_PUID = #{projectId,jdbcType=VARCHAR}
            </if>
            <if test="type != null">
                and P_TYPE = #{type,jdbcType=VARCHAR}
            </if>
            and P_VALID_FLAG=1
        </where>
    </select>

    <!--批量更新发送到SAP的状态为1，表示发放成功，没有写在DAO层中-->
    <update id="updateByBatch" parameterType="java.util.HashMap">
        update ${tableName} t set t.IS_SENT=1
        where t.${field} in
        <if test="list!=null">
            <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
                #{item,jdbcType=VARCHAR}
            </foreach>
        </if>
        <if test="list==null">
            ('')
        </if>
    </update>


    <!--删除-->
    <delete id="HzMaterialDAOImpl_realDelete" parameterType="java.lang.String">

        delete from HZ_MATERIEL_RECORD



        where P_MATERIEL_RESOURCE_ID = #{materielResourceId,jdbcType=VARCHAR}

    </delete>



    <!--查找重复-->
    <select id="HzMaterialDAOImpl_isRepeat" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        select count(*) from HZ_MATERIEL_RECORD
        <where>
            1=1
            <if test="projectId != null and projectId !=''">
                and P_PERTAIN_TO_PROJECT_PUID = #{projectId,jdbcType=VARCHAR}
            </if>
            <if test="pMaterielCode != null">
                and P_MATERIEL_CODE = #{pMaterielCode,jdbcType=VARCHAR}
            </if>
            and P_VALID_FLAG=1
        </where>
    </select>

    <!--查询除整车物料外的全部物料数据-->
    <select id="HzMaterialDAOImpl_getAllMaterielExceptVehicleMateriel" parameterType="java.lang.String"
            resultMap="HzMaterielRecordMap">
        select
        <include refid="HzMaterielRecordList"/>
        from HZ_MATERIEL_RECORD
        <where>
             P_PERTAIN_TO_PROJECT_PUID = #{projectId,jdbcType=VARCHAR}
              and P_MATERIEL_DATA_TYPE <![CDATA[ <> ]]>11
              and P_MATERIEL_DATA_TYPE <![CDATA[ <> ]]>21
              and P_VALID_FLAG <![CDATA[ <> ]]>0
        </where>
    </select>

    <!--批量删除物料数据-->
    <delete id="HzMaterialDAOImpl_deleteMaterielList" parameterType="java.util.List">

        <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
            delete HZ_MATERIEL_RECORD
            where PUID = #{item.puid,jdbcType=VARCHAR}
        </foreach>
    </delete>

    <!--批量更新物料数据-->
    <update id="HzMaterialDAOImpl_updateList" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
            update HZ_MATERIEL_RECORD
            <set>
                <if test="item.pMaterielCode != null">
                    P_MATERIEL_CODE = #{item.pMaterielCode,jdbcType=VARCHAR},
                </if>
                <if test="item.pMaterielDesc != null">
                    P_MATERIEL_DESC = #{item.pMaterielDesc,jdbcType=VARCHAR},
                </if>
                <if test="item.pMaterielDescEn != null">
                    P_MATERIEL_DESC_EN = #{item.pMaterielDescEn,jdbcType=VARCHAR},
                </if>
                <if test="item.pMaterielType != null">
                    P_MATERIEL_TYPE = #{item.pMaterielType,jdbcType=VARCHAR},
                </if>
                <if test="item.pSpareMaterial != null">
                    P_SPARE_MATERIAL = #{item.pSpareMaterial,jdbcType=VARCHAR},
                </if>
                <if test="item.pVinPerNo != null">
                    P_VIN_PER_NO = #{item.pVinPerNo,jdbcType=VARCHAR},
                </if>
                <if test="item.pMrpController != null">
                    P_MRP_CONTROLLER = #{item.pMrpController,jdbcType=VARCHAR},
                </if>
                <if test="item.pLoosePartFlag != null">
                    P_LOOSE_PART_FLAG = #{item.pLoosePartFlag,jdbcType=INTEGER},
                </if>
                  P_UPDATE_TIME = sysdate,
                <if test="item.pUpdateName != null">
                    P_UPDATE_NAME = #{item.pUpdateName,jdbcType=VARCHAR},
                </if>
                <if test="item.pFactoryPuid != null">
                    P_FACTORY_PUID = #{item.pFactoryPuid,jdbcType=VARCHAR},
                </if>
                <if test="item.pBasicUnitMeasure != null">
                    P_BASIC_UNIT_MEASURE = #{item.pBasicUnitMeasure,jdbcType=VARCHAR},
                </if>
                <if test="item.pInventedPart != null">
                    P_INVENTED_PART = #{item.pInventedPart,jdbcType=INTEGER},
                </if>
                <if test="item.pColorPart != null">
                    P_COLOR_PART = #{item.pColorPart,jdbcType=INTEGER},
                </if>
                <if test="item.pHeight != null">
                    P_HEIGHT = #{item.pHeight,jdbcType=INTEGER},
                </if>
                <if test="item.pInOutSideFlag != null">
                    P_IN_OUT_SIDE_FLAG = #{item.pInOutSideFlag,jdbcType=INTEGER},
                </if>
                <if test="item.p3cPartFlag != null">
                    P_3C_PART_FLAG = #{item.p3cPartFlag,jdbcType=INTEGER},
                </if>
                <if test="item.pPartImportantDegree != null">
                    P_PART_IMPORTANT_DEGREE = #{item.pPartImportantDegree,jdbcType=VARCHAR},
                </if>
                <if test="item.resource != null">
                    P_RESOURCE = #{item.resource,jdbcType=VARCHAR}
                </if>
            </set>
            where PUID = #{item.puid}
        </foreach>

    </update>




    <select id="HzMaterialDAOImpl_findHzMaterielForProcess" parameterType="java.lang.String" resultMap="HzMaterielRecordMap">
        select
        <include refid="HzMaterielRecordList"/>
        from
          HZ_MATERIEL_RECORD
        where
          P_PERTAIN_TO_PROJECT_PUID = #{projectId,jdbcType=VARCHAR}
        and
        P_MATERIEL_DATA_TYPE in(71)
        <!--P_MATERIEL_DATA_TYPE in(11,21,71)-->
    </select>

    <!--删除当前项目下的所有物料-->
    <delete id="HzMaterialDAOImpl_deleteMaterielByProjectId" parameterType="java.lang.String">
        delete HZ_MATERIEL_RECORD where
        P_PERTAIN_TO_PROJECT_PUID = #{projectId,jdbcType=VARCHAR}
    </delete>


</mapper>