<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.connor.hozon.bom.bomSystem.dao.project.HzSuperMaterielDao">
    <resultMap id="BaseResultMap" type="sql.pojo.project.HzMaterielRecord">
        <id column="PUID" jdbcType="VARCHAR" property="puid"/>
        <result column="P_MATERIEL_CODE" jdbcType="OTHER" property="pMaterielCode"/>
        <result column="P_MATERIEL_TYPE" jdbcType="OTHER" property="pMaterielType"/>
        <result column="P_MATERIEL_WERK" jdbcType="OTHER" property="pMaterielWerk"/>
        <result column="P_MATERIEL_DESC" jdbcType="OTHER" property="pMaterielDesc"/>
        <result column="P_PERTAIN_TO_PROJECT_PUID" jdbcType="VARCHAR" property="pPertainToProjectPuid"/>
    </resultMap>

    <!--物料数据信息-->
    <resultMap  extends="BaseResultMap" id="HzMaterielRecordMap" type="sql.pojo.project.HzMaterielRecord">
        <result column="P_MATERIEL_DESC_EN" jdbcType="VARCHAR" property="pMaterielDescEn" />
        <result column="P_BASIC_UNIT_MEASURE" jdbcType="VARCHAR" property="pBasicUnitMeasure" />
        <result column="P_INVENTED_PART" jdbcType="DECIMAL" property="pInventedPart" />
        <result column="P_SPARE_MATERIAL" jdbcType="VARCHAR" property="pSpareMaterial" />
        <result column="P_VIN_PER_NO" jdbcType="VARCHAR" property="pVinPerNo" />
        <result column="P_COLOR_PART" jdbcType="DECIMAL" property="pColorPart" />
        <result column="P_HEIGHT" jdbcType="VARCHAR" property="pHeight" />
        <result column="P_IN_OUT_SIDE_FLAG" jdbcType="DECIMAL" property="pInOutSideFlag" />
        <result column="P_3C_PART_FLAG" jdbcType="DECIMAL" property="p3cPartFlag" />
        <result column="P_MRP_CONTROLLER" jdbcType="VARCHAR" property="pMrpController" />
        <result column="P_PART_IMPORTANT_DEGREE" jdbcType="VARCHAR" property="pPartImportantDegree" />
        <result column="P_LOOSE_PART_FLAG" jdbcType="DECIMAL" property="pLoosePartFlag" />
        <result column="P_VALID_FLAG" jdbcType="DECIMAL" property="pValidFlag" />
        <result column="P_MATERIEL_DATA_TYPE" jdbcType="DECIMAL" property="pMaterielDataType" />
        <result column="P_CREATE_TIME" jdbcType="DATE" property="pCreateTime" />
        <result column="P_UPDATE_TIME" jdbcType="DATE" property="pUpdateTime" />
        <result column="P_CREATE_NAME" jdbcType="VARCHAR" property="pCreateName" />
        <result column="P_UPDATE_NAME" jdbcType="VARCHAR" property="pUpdateName" />
        <result column="P_FACTORY_PUID" jdbcType="VARCHAR" property="pFactoryPuid" />
        <result column="P_RESOURCE" jdbcType="VARCHAR" property="resource" />
    </resultMap>

    <!--整车衍生物料主数据-->
    <resultMap id="HzCfg0ModelRecordMap" type="sql.pojo.cfg.HzCfg0ModelRecord">
        <id column="PUID" jdbcType="VARCHAR" property="puid" />
        <result column="OBJECT_NAME" jdbcType="OTHER" property="objectName" />
        <result column="OBJECT_DESC" jdbcType="OTHER" property="objectDesc" />
        <result column="P_CFG0_MODEL_OF_MAIN_RECORD" jdbcType="VARCHAR" property="pCfg0ModelOfMainRecord" />
        <result column="P_CFG0_MODEL_BASIC_DETAIL" jdbcType="VARCHAR" property="pCfg0ModelBasicDetail" />
    </resultMap>

    <!--半成品、虚拟件、生产性外购、自制备件物料主数据-->
    <resultMap id="HzMbomRecordMap" type="sql.pojo.bom.HzMbomLineRecord">
        <id column="PUID" jdbcType="VARCHAR" property="pPuid"/>
        <result column="P_LINE_INDEX" jdbcType="VARCHAR" property="lineIndex"/>
        <result column="P_BOM_LINE_IS_HAS" jdbcType="INTEGER" property="isHas"/>
        <result column="P_BOM_LINE_ID" jdbcType="VARCHAR" property="lineID"/>
        <result column="P_BOM_LINE_IS_2Y" jdbcType="INTEGER" property="is2Y"/>
        <result column="P_BOM_OF_WHICH_DEPT" jdbcType="VARCHAR" property="pBomOfWhichDept"/>
        <result column="P_PARENT_UID" jdbcType="VARCHAR" property="parentUid"/>
        <result column="P_BOM_DIGIFAX_ID" jdbcType="VARCHAR" property="bomDigifaxId"/>
        <result column="P_BOM_LINE_PUID" jdbcType="VARCHAR" property="linePuid"/>
        <result column="P_BOM_LINE_IS_PART" jdbcType="INTEGER" property="isPart"/>
        <result column="P_BOM_ORDER_NUM" jdbcType="INTEGER" property="orderNum"/>
        <result column="P_BOM_LINE_IS_DEPT" jdbcType="INTEGER" property="isDept"/>
        <result column="P_BOM_LINE_BLOCK" jdbcType="BLOB" property="bomLineBlock"/>

        <result column="P_SPARE_PART" jdbcType="VARCHAR" property="sparePart"/>
        <result column="P_SPARE_PART_NUM" jdbcType="VARCHAR" property="sparePartNum"/>
    </resultMap>


    <sql id="Base_Column_List">
    PUID, P_MATERIEL_CODE, P_MATERIEL_TYPE, P_MATERIEL_WERK, P_MATERIEL_DESC, P_PERTAIN_TO_PROJECT_PUID
  </sql>


    <!--整车衍生物料主数据-->
    <sql id="HzCfg0ModelRecordList">
    PUID, OBJECT_NAME, OBJECT_DESC, P_CFG0_MODEL_OF_MAIN_RECORD, P_CFG0_MODEL_BASIC_DETAIL
  </sql>

    <!--半成品、虚拟件、生产性外购、自制备件物料主数据-->
    <sql id="HzMbomRecordList">
        PUID,
		P_PARENT_UID,
		P_BOM_DIGIFAX_ID,
		P_LINE_INDEX,
		P_BOM_LINE_IS_HAS,
		P_BOM_LINE_PUID,
		P_BOM_LINE_ID,
		P_BOM_LINE_IS_2Y,
		P_BOM_LINE_IS_PART,
		P_BOM_ORDER_NUM,
		P_BOM_LINE_IS_DEPT,
		P_BOM_OF_WHICH_DEPT,
		P_BOM_LINE_BLOCK，
		P_SPARE_PART, P_SPARE_PART_NUM
	</sql>

    <!--物料主数据-->
    <sql id="HzMaterielRecordList">
     PUID, P_MATERIEL_CODE,P_RESOURCE, P_MATERIEL_TYPE, P_MATERIEL_WERK, P_MATERIEL_DESC, P_PERTAIN_TO_PROJECT_PUID,
    P_MATERIEL_DESC_EN, P_BASIC_UNIT_MEASURE, P_INVENTED_PART, P_SPARE_MATERIAL, P_VIN_PER_NO,
    P_COLOR_PART, P_HEIGHT, P_IN_OUT_SIDE_FLAG, P_3C_PART_FLAG, P_MRP_CONTROLLER, P_PART_IMPORTANT_DEGREE,
    P_LOOSE_PART_FLAG, P_VALID_FLAG, P_MATERIEL_DATA_TYPE, P_CREATE_TIME, P_UPDATE_TIME,
    P_CREATE_NAME, P_UPDATE_NAME, P_FACTORY_PUID
  </sql>
    
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from HZ_MATERIEL_RECORD
        where PUID = #{puid,jdbcType=VARCHAR}
    </select>
    
    
    <select id="selectByProjectPuid" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from HZ_MATERIEL_RECORD
        where P_PERTAIN_TO_PROJECT_PUID = #{pPertainToProjectPuid,jdbcType=VARCHAR}
    </select>
    
    
    
    
    <insert id="insert" parameterType="sql.pojo.project.HzMaterielRecord">
    insert into HZ_MATERIEL_RECORD (PUID, P_MATERIEL_CODE, P_MATERIEL_TYPE, 
      P_MATERIEL_WERK, P_MATERIEL_DESC, P_PERTAIN_TO_PROJECT_PUID
      )
    values (#{puid,jdbcType=VARCHAR}, #{pMaterielCode,jdbcType=OTHER}, #{pMaterielType,jdbcType=OTHER}, 
      #{pMaterielWerk,jdbcType=OTHER}, #{pMaterielDesc,jdbcType=OTHER}, #{pPertainToProjectPuid,jdbcType=VARCHAR}
      )
  </insert>
    
    <update id="updateByPrimaryKey" parameterType="sql.pojo.project.HzMaterielRecord">
    update HZ_MATERIEL_RECORD
    set P_MATERIEL_CODE = #{pMaterielCode,jdbcType=OTHER},
      P_MATERIEL_TYPE = #{pMaterielType,jdbcType=OTHER},
      P_MATERIEL_WERK = #{pMaterielWerk,jdbcType=OTHER},
      P_MATERIEL_DESC = #{pMaterielDesc,jdbcType=OTHER},
      P_PERTAIN_TO_PROJECT_PUID = #{pPertainToProjectPuid,jdbcType=VARCHAR}
    where PUID = #{puid,jdbcType=VARCHAR}
  </update>


    <!--新增一条数据-->
    <insert id="HzMaterialDAOImpl_insert" parameterType="sql.pojo.project.HzMaterielRecord">
        insert into HZ_MATERIEL_RECORD
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="puid != null">
                PUID,
            </if>
            <if test="pMaterielCode != null">
                P_MATERIEL_CODE,
            </if>
            <if test="pMaterielType != null">
                P_MATERIEL_TYPE,
            </if>
            <if test="pMaterielWerk != null">
                P_MATERIEL_WERK,
            </if>
            <if test="pMaterielDesc != null">
                P_MATERIEL_DESC,
            </if>
            <if test="pPertainToProjectPuid != null">
                P_PERTAIN_TO_PROJECT_PUID,
            </if>
            <if test="pMaterielDescEn != null">
                P_MATERIEL_DESC_EN,
            </if>
            <if test="pBasicUnitMeasure != null">
                P_BASIC_UNIT_MEASURE,
            </if>
            <if test="pInventedPart != null">
                P_INVENTED_PART,
            </if>
            <if test="pSpareMaterial != null">
                P_SPARE_MATERIAL,
            </if>
            <if test="pVinPerNo != null">
                P_VIN_PER_NO,
            </if>
            <if test="pColorPart != null">
                P_COLOR_PART,
            </if>
            <if test="pHeight != null">
                P_HEIGHT,
            </if>
            <if test="pInOutSideFlag != null">
                P_IN_OUT_SIDE_FLAG,
            </if>
            <if test="p3cPartFlag != null">
                P_3C_PART_FLAG,
            </if>
            <if test="pMrpController != null">
                P_MRP_CONTROLLER,
            </if>
            <if test="pPartImportantDegree != null">
                P_PART_IMPORTANT_DEGREE,
            </if>
            <if test="pLoosePartFlag != null">
                P_LOOSE_PART_FLAG,
            </if>
            <if test="pValidFlag != null">
                P_VALID_FLAG,
            </if>
            <if test="pMaterielDataType != null">
                P_MATERIEL_DATA_TYPE,
            </if>
            <if test="pCreateTime != null">
                P_CREATE_TIME,
            </if>
            <if test="pUpdateTime != null">
                P_UPDATE_TIME,
            </if>
            <if test="pCreateName != null">
                P_CREATE_NAME,
            </if>
            <if test="pUpdateName != null">
                P_UPDATE_NAME,
            </if>
            <if test="pFactoryPuid != null">
                P_FACTORY_PUID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="puid != null">
                #{puid,jdbcType=VARCHAR},
            </if>
            <if test="pMaterielCode != null">
                #{pMaterielCode,jdbcType=OTHER},
            </if>
            <if test="pMaterielType != null">
                #{pMaterielType,jdbcType=OTHER},
            </if>
            <if test="pMaterielWerk != null">
                #{pMaterielWerk,jdbcType=OTHER},
            </if>
            <if test="pMaterielDesc != null">
                #{pMaterielDesc,jdbcType=OTHER},
            </if>
            <if test="pPertainToProjectPuid != null">
                #{pPertainToProjectPuid,jdbcType=VARCHAR},
            </if>
            <if test="pMaterielDescEn != null">
                #{pMaterielDescEn,jdbcType=VARCHAR},
            </if>
            <if test="pBasicUnitMeasure != null">
                #{pBasicUnitMeasure,jdbcType=VARCHAR},
            </if>
            <if test="pInventedPart != null">
                #{pInventedPart,jdbcType=DECIMAL},
            </if>
            <if test="pSpareMaterial != null">
                #{pSpareMaterial,jdbcType=VARCHAR},
            </if>
            <if test="pVinPerNo != null">
                #{pVinPerNo,jdbcType=VARCHAR},
            </if>
            <if test="pColorPart != null">
                #{pColorPart,jdbcType=DECIMAL},
            </if>
            <if test="pHeight != null">
                #{pHeight,jdbcType=VARCHAR},
            </if>
            <if test="pInOutSideFlag != null">
                #{pInOutSideFlag,jdbcType=DECIMAL},
            </if>
            <if test="p3cPartFlag != null">
                #{p3cPartFlag,jdbcType=DECIMAL},
            </if>
            <if test="pMrpController != null">
                #{pMrpController,jdbcType=VARCHAR},
            </if>
            <if test="pPartImportantDegree != null">
                #{pPartImportantDegree,jdbcType=VARCHAR},
            </if>
            <if test="pLoosePartFlag != null">
                #{pLoosePartFlag,jdbcType=DECIMAL},
            </if>
              1,
            <if test="pMaterielDataType != null">
                #{pMaterielDataType,jdbcType=DECIMAL},
            </if>
            sysdate,
            syadate,
            <if test="pCreateName != null">
                #{pCreateName,jdbcType=VARCHAR},
            </if>
            <if test="pUpdateName != null">
                #{pUpdateName,jdbcType=VARCHAR},
            </if>
            <if test="pFactoryPuid != null">
                #{pFactoryPuid,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>


    <!--编辑一条记录-->
    <update id="HzMaterialDAOImpl_update" parameterType="sql.pojo.project.HzMaterielRecord">
        update HZ_MATERIEL_RECORD
        <set>
            <if test="pMaterielCode != null">
                P_MATERIEL_CODE = #{pMaterielCode,jdbcType=OTHER},
            </if>
            <if test="pMaterielType != null">
                P_MATERIEL_TYPE = #{pMaterielType,jdbcType=OTHER},
            </if>
            <if test="pMaterielWerk != null">
                P_MATERIEL_WERK = #{pMaterielWerk,jdbcType=OTHER},
            </if>
            <if test="pMaterielDesc != null">
                P_MATERIEL_DESC = #{pMaterielDesc,jdbcType=OTHER},
            </if>
            <if test="pPertainToProjectPuid != null">
                P_PERTAIN_TO_PROJECT_PUID = #{pPertainToProjectPuid,jdbcType=VARCHAR},
            </if>
            <if test="pMaterielDescEn != null">
                P_MATERIEL_DESC_EN = #{pMaterielDescEn,jdbcType=VARCHAR},
            </if>
            <if test="pBasicUnitMeasure != null">
                P_BASIC_UNIT_MEASURE = #{pBasicUnitMeasure,jdbcType=VARCHAR},
            </if>
            <if test="pInventedPart != null">
                P_INVENTED_PART = #{pInventedPart,jdbcType=DECIMAL},
            </if>
            <if test="pSpareMaterial != null">
                P_SPARE_MATERIAL = #{pSpareMaterial,jdbcType=VARCHAR},
            </if>
            <if test="pVinPerNo != null">
                P_VIN_PER_NO = #{pVinPerNo,jdbcType=VARCHAR},
            </if>
            <if test="pColorPart != null">
                P_COLOR_PART = #{pColorPart,jdbcType=DECIMAL},
            </if>
            <if test="pHeight != null">
                P_HEIGHT = #{pHeight,jdbcType=VARCHAR},
            </if>
            <if test="pInOutSideFlag != null">
                P_IN_OUT_SIDE_FLAG = #{pInOutSideFlag,jdbcType=DECIMAL},
            </if>
            <if test="p3cPartFlag != null">
                P_3C_PART_FLAG = #{p3cPartFlag,jdbcType=DECIMAL},
            </if>
            <if test="pMrpController != null">
                P_MRP_CONTROLLER = #{pMrpController,jdbcType=VARCHAR},
            </if>
            <if test="pPartImportantDegree != null">
                P_PART_IMPORTANT_DEGREE = #{pPartImportantDegree,jdbcType=VARCHAR},
            </if>
            <if test="pLoosePartFlag != null">
                P_LOOSE_PART_FLAG = #{pLoosePartFlag,jdbcType=DECIMAL},
            </if>

            <if test="pMaterielDataType != null">
                P_MATERIEL_DATA_TYPE = #{pMaterielDataType,jdbcType=DECIMAL},
            </if>
                P_UPDATE_TIME = sysdate,
            <if test="pCreateName != null">
                P_CREATE_NAME = #{pCreateName,jdbcType=VARCHAR},
            </if>
            <if test="pUpdateName != null">
                P_UPDATE_NAME = #{pUpdateName,jdbcType=VARCHAR},
            </if>
            <if test="pFactoryPuid != null">
                P_FACTORY_PUID = #{pFactoryPuid,jdbcType=VARCHAR},
            </if>
        </set>
        where PUID = #{puid,jdbcType=VARCHAR}
    </update>

    <!--删除一条记录-->
    <update id="HzMaterialDAOImpl_delete" parameterType="java.lang.String">
        update HZ_MATERIEL_RECORD
        set
        P_VALID_FLAG = 0
        where PUID = #{puid,jdbcType=VARCHAR}
    </update>

    <!--查询一条记录-->
    <select id="selectByPrimaryKey111" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="HzMaterielRecordList" />
        from HZ_MATERIEL_RECORD
        where PUID = #{puid,jdbcType=VARCHAR}
    </select>

    <!--批量插入-->
    <insert id="HzMaterialDAOImpl_insertList" useGeneratedKeys="false" parameterType="java.util.List">
        insert into HZ_MATERIEL_RECORD (PUID, P_MATERIEL_CODE, P_MATERIEL_TYPE,
        P_MATERIEL_DESC, P_PERTAIN_TO_PROJECT_PUID, P_MATERIEL_DESC_EN,P_MATERIEL_DATA_TYPE,
        P_FACTORY_PUID)
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
            select
            #{item.puid,jdbcType=VARCHAR}, #{item.pMaterielCode,jdbcType=VARCHAR}, #{item.pMaterielType,jdbcType=VARCHAR},
            #{item.pMaterielDesc,jdbcType=VARCHAR}, #{item.pPertainToProjectPuid,jdbcType=VARCHAR}, #{item.pMaterielDescEn,jdbcType=VARCHAR},
            #{item.pMaterielDataType,jdbcType=VARCHAR}, #{item.pFactoryPuid,jdbcType=VARCHAR}
            from DUAL
        </foreach>
    </insert>



    <!--分页获取物料主数据-->
    <select id="HzMaterialDAOImpl_findHzMaterielForPage" parameterType="java.util.HashMap" resultMap="HzMaterielRecordMap">
        select * from
        (select t.*,ROWNUM as rn from
        (select
        <include refid="HzMaterielRecordList"/>
        from HZ_MATERIEL_RECORD
        <where>
            1=1
            <if test="projectId != null and projectId!=''">
                and P_PERTAIN_TO_PROJECT_PUID = #{projectId,jdbcType=VARCHAR}
            </if>
            <if test="pMaterielDataType != null">
                and P_MATERIEL_DATA_TYPE = #{pMaterielDataType,jdbcType=INTEGER}
            </if>
        </where>
        )t
        WHERE ROWNUM &lt;=#{limit,jdbcType=INTEGER}) where rn &gt;#{offset,jdbcType=INTEGER}
    </select>

    <!--获取物料主数据总数-->
    <select id="HzMaterialDAOImpl_findHzMaterielTotalCount" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        select
        count(*)
        from HZ_MATERIEL_RECORD
        <where>
            1=1
            <if test="projectId != null and projectId!=''">
                and P_PERTAIN_TO_PROJECT_PUID = #{projectId,jdbcType=VARCHAR}
            </if>
            <if test="pMaterielDataType != null">
                and P_MATERIEL_DATA_TYPE = #{pMaterielDataType,jdbcType=INTEGER}
            </if>
        </where>
    </select>


    <!--获取物料主数据-->
    <select id="HzMaterialDAOImpl_findHzMaterielForList" parameterType="java.util.HashMap" resultMap="HzMaterielRecordList">
        select
        <include refid="HzMaterielRecordList" />
        from HZ_MATERIEL_RECORD
        <where>
            1=1
            <if test="projectId != null and projectId!=''">
               and P_PERTAIN_TO_PROJECT_PUID = #{projectId,jdbcType=VARCHAR}
            </if>
            <if test="puid != null and puid!=''">
               and PUID = #{puid,jdbcType=VARCHAR}
            </if>
            <if test="pMaterielDataType != null">
               and P_MATERIEL_DATA_TYPE = #{pMaterielDataType,jdbcType=INTEGER}
            </if>
        </where>
    </select>





    <!--分页查询整车衍生物料主数据-->
    <select id="HzMaterialDAOImpl_findHzCfg0ModelRecord" parameterType="java.util.HashMap" resultMap="HzCfg0ModelRecordMap">
         select * from
        (select t.*,ROWNUM as rn from
        (SELECT t1.* FROM HZ_CFG0_MODEL_RECORD t1 WHERE P_CFG0_MODEL_OF_MAIN_RECORD =
        (SELECT PUID FROM HZ_CFG0_MAIN_RECORD t2
        WHERE t2.P_CFG0_OF_WHICH_PROJECT_PUID=#{projectId,jdbcType=VARCHAR}))t
        WHERE ROWNUM &lt;=#{limit,jdbcType=INTEGER}) where rn &gt;#{offset,jdbcType=INTEGER}

    </select>



    <!--分页查询虚拟件物料主数据 所有2y层级的-->
    <select id="HzMaterialDAOImpl_findHz2YMbomRecord" parameterType="java.util.HashMap" resultMap="HzMbomRecordMap">
        select * from
        (select t.*,ROWNUM as rn from
        (select
        <include refid="HzMbomRecordList" />
        from HZ_BOM_LINE_RECORD t1
        where P_BOM_DIGIFAX_ID =(
        select t2.puid from Hz_Bom_Main_Record t2
        where
        t2.p_cfg0_of_which_project_puid=#{projectId,jdbcType=VARCHAR}
        ) and LENGTH(TRANSLATE(P_LINE_INDEX,',0123456789','.'))=1
         and t1.P_BOM_LINE_IS_HAS=1)
        WHERE ROWNUM &lt;=#{limit,jdbcType=INTEGER}) where rn &gt;#{offset,jdbcType=INTEGER}
    </select>



    <!--分页查询半成品物料主数据  零件来源为自制单件-->
    <select id="HzMaterialDAOImpl_findHzResourceMakeSingleMbomRecord" parameterType="java.util.HashMap" resultMap="HzMbomRecordMap">
        select * from
        (select t.*,ROWNUM as rn from
        (select
        <include refid="HzMbomRecordList" />
        from HZ_BOM_LINE_RECORD t1
        where P_BOM_DIGIFAX_ID =(
        select t2.puid from Hz_Bom_Main_Record t2
        where
        t2.p_cfg0_of_which_project_puid=#{projectId,jdbcType=VARCHAR}
        )
        )
        WHERE ROWNUM &lt;=#{limit,jdbcType=INTEGER}) where rn &gt;#{offset,jdbcType=INTEGER}
    </select>


    <!--分页查询生产性外购物料主数据 零件来源为采购件-->
    <select id="HzMaterialDAOImpl_findHzResourceBuyMbomRecord" parameterType="java.util.HashMap" resultMap="HzMbomRecordMap">
        select * from
        (select t.*,ROWNUM as rn from
        (select
        <include refid="HzMbomRecordList" />
        from HZ_BOM_LINE_RECORD t1
        where P_BOM_DIGIFAX_ID =(
        select t2.puid from Hz_Bom_Main_Record t2
        where
        t2.p_cfg0_of_which_project_puid=#{projectId,jdbcType=VARCHAR}
        )
        )
        WHERE ROWNUM &lt;=#{limit,jdbcType=INTEGER}) where rn &gt;#{offset,jdbcType=INTEGER}
    </select>

    <!--分页查询自制备件物料主数据 备件信息为自制 物料前需加DY标志-->
    <select id="HzMaterialDAOImpl_findHzMadeBySelfSpareMbomRecord" parameterType="java.util.HashMap" resultMap="HzMbomRecordMap">
        select * from
        (select t.*,ROWNUM as rn from
        ( select t.*,t5.* from HZ_BOM_LINE_RECORD t
        LEFT OUTER JOIN HZ_BOM_STATE t6 on t.puid = t6.P_BOM_ID
        LEFT OUTER JOIN HZ_MBOM_RECORD t5 ON t.puid = T5.P_BOM_PUID
        where t.p_bom_digifax_id=(
        select t3.puid from Hz_Bom_Main_Record t3 where t3.p_cfg0_of_which_project_puid=(
        select t2.puid from Hz_project_libs t2
        <where>
            t2.puid=#{projectId,jdbcType=VARCHAR}))
            and (t6.P_BOM_STATE is null or t6.P_BOM_STATE  <![CDATA[!= ]]>2)
            and (t5.P_MBOM_STATUS IS NULL OR t5.P_MBOM_STATUS=1)
        </where>
        )
        WHERE ROWNUM &lt;=#{limit,jdbcType=INTEGER}) where rn &gt;#{offset,jdbcType=INTEGER}
    </select>

    <!--根据外键查询一条记录-->
    <select id="ssss" parameterType="java.util.HashMap" resultMap="HzMbomRecordMap">

    </select>


    <!--查询一条物料数据-->
    <select id="HzMaterialDAOImpl_getHzMaterielRecord" parameterType="java.util.HashMap" resultMap="HzMaterielRecordMap">
      select <include refid="Base_Column_List"/>
       from HZ_MATERIEL_RECORD
        <where>
            1=1
            <if test="puid != null and puid!=''">
                and PUID = #{puid,jdbcType=VARCHAR}
            </if>
            <if test="projectId != null and projectId!=''">
                and P_PERTAIN_TO_PROJECT_PUID = #{projectId,jdbcType=VARCHAR}
            </if>
            <if test="pMaterielDataType != null">
                and P_MATERIEL_DATA_TYPE = #{pMaterielDataType,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

</mapper>