<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.connor.hozon.bom.bomSystem.dao.project.HzSuperMaterielDao">
    <resultMap id="BaseResultMap" type="sql.pojo.project.HzMaterielRecord">
        <id column="PUID" jdbcType="VARCHAR" property="puid"/>
        <result column="P_MATERIEL_CODE" jdbcType="OTHER" property="pMaterielCode"/>
        <result column="P_MATERIEL_TYPE" jdbcType="OTHER" property="pMaterielType"/>
        <result column="P_MATERIEL_WERK" jdbcType="OTHER" property="pMaterielWerk"/>
        <result column="P_MATERIEL_DESC" jdbcType="OTHER" property="pMaterielDesc"/>
        <result column="P_PERTAIN_TO_PROJECT_PUID" jdbcType="VARCHAR" property="pPertainToProjectPuid"/>
    </resultMap>

    <!--物料数据信息-->
    <resultMap  extends="BaseResultMap" id="HzMaterielRecordMap" type="sql.pojo.project.HzMaterielRecord">
        <result column="P_MATERIEL_DESC_EN" jdbcType="VARCHAR" property="pMaterielDescEn" />
        <result column="P_BASIC_UNIT_MEASURE" jdbcType="VARCHAR" property="pBasicUnitMeasure" />
        <result column="P_MATERIEL_GROUP" jdbcType="VARCHAR" property="pMaterielGroup" />
        <result column="P_OUT_MATERIEL_GROUP" jdbcType="VARCHAR" property="pOutMaterielGroup" />
        <result column="P_BUY_GROUP" jdbcType="VARCHAR" property="pBuyGroup" />
        <result column="P_PURCHASE_ORDER_AUTO" jdbcType="VARCHAR" property="pPurchaseOrderAuto" />
        <result column="P_PASS_BILL_TO_STOCK" jdbcType="VARCHAR" property="pPassBillToStock" />
        <result column="P_QUOTA" jdbcType="VARCHAR" property="pQuota" />
        <result column="P_MRP_TYPE" jdbcType="VARCHAR" property="pMrpType" />
        <result column="P_MRP_CONTROLLER" jdbcType="VARCHAR" property="pMrpController" />
        <result column="P_BATCH_SIZE" jdbcType="VARCHAR" property="pBatchSize" />
        <result column="P_FIXED_BATCH_SIZE" jdbcType="VARCHAR" property="pFixedBatchSize" />
        <result column="P_MIN_BATCH_SIZE" jdbcType="VARCHAR" property="pMinBatchSize" />
        <result column="P_MAX_BATCH_SIZE" jdbcType="VARCHAR" property="pMaxBatchSize" />
        <result column="P_ROUND_VALUE" jdbcType="VARCHAR" property="pRoundValue" />
        <result column="P_BUY_TYPE" jdbcType="VARCHAR" property="pBuyType" />
        <result column="P_SPEC_BUY_TYPE" jdbcType="VARCHAR" property="pSpecBuyType" />
        <result column="P_RECOIL" jdbcType="VARCHAR" property="pRecoil" />
        <result column="P_MAKE_LOCATION" jdbcType="VARCHAR" property="pMakeLocation" />
        <result column="P_OUTER_BUY_LOCATION" jdbcType="VARCHAR" property="pOuterBuyLocation" />
        <result column="P_PLAN_MARGIN_CODE" jdbcType="VARCHAR" property="pPlanMarginCode" />
        <result column="P_PLAN_DELIVERY_TIME" jdbcType="DATE" property="pPlanDeliveryTime" />
        <result column="P_ACCEPT_HAND_TIME" jdbcType="DATE" property="pAcceptHandTime" />
        <result column="P_SAFETY_STOCK" jdbcType="VARCHAR" property="pSafetyStock" />
        <result column="P_BULK_MATERIEL" jdbcType="VARCHAR" property="pBulkMateriel" />
        <result column="P_USEFUL_CHECK" jdbcType="VARCHAR" property="pUsefulCheck" />
        <result column="P_ASSESSMENT_TYPE" jdbcType="VARCHAR" property="pAssessmentType" />
        <result column="P_MATERIEL_RESOURCE" jdbcType="VARCHAR" property="pMaterielResource" />
        <result column="P_PROFIT_CENTER" jdbcType="VARCHAR" property="pProfitCenter" />
        <result column="P_PRICE_CONTROL" jdbcType="VARCHAR" property="pPriceControl" />
        <result column="P_PRICE_SURE" jdbcType="VARCHAR" property="pPriceSure" />
        <result column="P_NO_CAL_COST" jdbcType="VARCHAR" property="pNoCalCost" />
        <result column="P_MAKE_TIME" jdbcType="VARCHAR" property="pMakeTime" />
        <result column="P_STRATEGY_GROUP" jdbcType="VARCHAR" property="pStrategyGroup" />
        <result column="P_CONSUME_MODEL" jdbcType="VARCHAR" property="pConsumeModel" />
        <result column="P_REVERSE_CONSUME_TIME" jdbcType="VARCHAR" property="pReverseConsumeTime" />
        <result column="P_FORWARD_TIME" jdbcType="VARCHAR" property="pForwardTime" />
        <result column="P_REPEAT_MAKE" jdbcType="VARCHAR" property="pRepeatMake" />
        <result column="P_REPEAT_MAKE_ARGS_FILE" jdbcType="VARCHAR" property="pRepeatMakeArgsFile" />
        <result column="P_MAKE_ADMIN" jdbcType="VARCHAR" property="pMakeAdmin" />
        <result column="P_MAKE_PLAN_ARGS_FILE" jdbcType="VARCHAR" property="pMakePlanArgsFile" />
        <result column="P_SERIAL_ARGS_FILE" jdbcType="VARCHAR" property="pSerialArgsFile" />
        <result column="P_SALE_GROUP" jdbcType="VARCHAR" property="pSaleGroup" />
        <result column="P_DISTRIBUTION_CHANNEL" jdbcType="VARCHAR" property="pDistributionChannel" />
        <result column="P_BRANCH" jdbcType="VARCHAR" property="pBranch" />
        <result column="P_DELIVERY_FACTORY" jdbcType="VARCHAR" property="pDeliveryFactory" />
        <result column="P_OUTPUT_TAX" jdbcType="VARCHAR" property="pOutputTax" />
        <result column="P_MATERIEL_SUMMARY_GROUP" jdbcType="VARCHAR" property="pMaterielSummaryGroup" />
        <result column="P_MATERIEL_PRICE_GROUP" jdbcType="VARCHAR" property="pMaterielPriceGroup" />
        <result column="P_SUBJECT_SET_GROUP" jdbcType="VARCHAR" property="pSubjectSetGroup" />
        <result column="P_ORDINARY_PROJ_GROUP" jdbcType="VARCHAR" property="pOrdinaryProjGroup" />
        <result column="P_PROJ_GROUP" jdbcType="VARCHAR" property="pProjGroup" />
        <result column="P_PRODUCT_LEVEL" jdbcType="VARCHAR" property="pProductLevel" />
        <result column="P_LOADING_GROUP" jdbcType="VARCHAR" property="pLoadingGroup" />
        <result column="P_TRANSPORT_GROUP" jdbcType="VARCHAR" property="pTransportGroup" />
        <result column="P_VALID_FLAG" jdbcType="DECIMAL" property="pValidFlag" />
        <result column="P_MATERIEL_DATA_TYPE" jdbcType="DECIMAL" property="pMaterielDataType" />
        <result column="P_CREATE_TIME" jdbcType="DATE" property="pCreateTime" />
        <result column="P_UPDATE_TIME" jdbcType="DATE" property="pUpdateTime" />
        <result column="P_CREATE_NAME" jdbcType="VARCHAR" property="pCreateName" />
        <result column="P_UPDATE_NAME" jdbcType="VARCHAR" property="pUpdateName" />
        <result column="P_FACTORY_PUID" jdbcType="VARCHAR" property="pFactoryPuid" />
    </resultMap>
    <sql id="Base_Column_List">
    PUID, P_MATERIEL_CODE, P_MATERIEL_TYPE, P_MATERIEL_WERK, P_MATERIEL_DESC, P_PERTAIN_TO_PROJECT_PUID
  </sql>

    <sql id="HzMaterielRecordList">
    PUID, P_MATERIEL_CODE, P_MATERIEL_TYPE, P_MATERIEL_WERK, P_MATERIEL_DESC, P_PERTAIN_TO_PROJECT_PUID,
    P_MATERIEL_DESC_EN, P_BASIC_UNIT_MEASURE, P_MATERIEL_GROUP, P_OUT_MATERIEL_GROUP,
    P_BUY_GROUP, P_PURCHASE_ORDER_AUTO, P_PASS_BILL_TO_STOCK, P_QUOTA, P_MRP_TYPE, P_MRP_CONTROLLER,
    P_BATCH_SIZE, P_FIXED_BATCH_SIZE, P_MIN_BATCH_SIZE, P_MAX_BATCH_SIZE, P_ROUND_VALUE,
    P_BUY_TYPE, P_SPEC_BUY_TYPE, P_RECOIL, P_MAKE_LOCATION, P_OUTER_BUY_LOCATION, P_PLAN_MARGIN_CODE,
    P_PLAN_DELIVERY_TIME, P_ACCEPT_HAND_TIME, P_SAFETY_STOCK, P_BULK_MATERIEL, P_USEFUL_CHECK,
    P_ASSESSMENT_TYPE, P_MATERIEL_RESOURCE, P_PROFIT_CENTER, P_PRICE_CONTROL, P_PRICE_SURE,
    P_NO_CAL_COST, P_MAKE_TIME, P_STRATEGY_GROUP, P_CONSUME_MODEL, P_REVERSE_CONSUME_TIME,
    P_FORWARD_TIME, P_REPEAT_MAKE, P_REPEAT_MAKE_ARGS_FILE, P_MAKE_ADMIN, P_MAKE_PLAN_ARGS_FILE,
    P_SERIAL_ARGS_FILE, P_SALE_GROUP, P_DISTRIBUTION_CHANNEL, P_BRANCH, P_DELIVERY_FACTORY,
    P_OUTPUT_TAX, P_MATERIEL_SUMMARY_GROUP, P_MATERIEL_PRICE_GROUP, P_SUBJECT_SET_GROUP,
    P_ORDINARY_PROJ_GROUP, P_PROJ_GROUP, P_PRODUCT_LEVEL, P_LOADING_GROUP, P_TRANSPORT_GROUP,
    P_VALID_FLAG, P_MATERIEL_DATA_TYPE, P_CREATE_TIME, P_UPDATE_TIME, P_CREATE_NAME,
    P_UPDATE_NAME, P_FACTORY_PUID
  </sql>
    
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from HZ_MATERIEL_RECORD
        where PUID = #{puid,jdbcType=VARCHAR}
    </select>
    
    
    <select id="selectByProjectPuid" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from HZ_MATERIEL_RECORD
        where P_PERTAIN_TO_PROJECT_PUID = #{pPertainToProjectPuid,jdbcType=VARCHAR}
    </select>
    
    
    
    
    <insert id="insert" parameterType="sql.pojo.project.HzMaterielRecord">
    insert into HZ_MATERIEL_RECORD (PUID, P_MATERIEL_CODE, P_MATERIEL_TYPE, 
      P_MATERIEL_WERK, P_MATERIEL_DESC, P_PERTAIN_TO_PROJECT_PUID
      )
    values (#{puid,jdbcType=VARCHAR}, #{pMaterielCode,jdbcType=OTHER}, #{pMaterielType,jdbcType=OTHER}, 
      #{pMaterielWerk,jdbcType=OTHER}, #{pMaterielDesc,jdbcType=OTHER}, #{pPertainToProjectPuid,jdbcType=VARCHAR}
      )
  </insert>
    
    <update id="updateByPrimaryKey" parameterType="sql.pojo.project.HzMaterielRecord">
    update HZ_MATERIEL_RECORD
    set P_MATERIEL_CODE = #{pMaterielCode,jdbcType=OTHER},
      P_MATERIEL_TYPE = #{pMaterielType,jdbcType=OTHER},
      P_MATERIEL_WERK = #{pMaterielWerk,jdbcType=OTHER},
      P_MATERIEL_DESC = #{pMaterielDesc,jdbcType=OTHER},
      P_PERTAIN_TO_PROJECT_PUID = #{pPertainToProjectPuid,jdbcType=VARCHAR}
    where PUID = #{puid,jdbcType=VARCHAR}
  </update>





    <!--新增一条数据-->
    <insert id="HzMaterialDAOImpl_insert" parameterType="sql.pojo.project.HzMaterielRecord">
        insert into HZ_MATERIEL_RECORD
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="puid != null">
                PUID,
            </if>
            <if test="pMaterielCode != null">
                P_MATERIEL_CODE,
            </if>
            <if test="pMaterielType != null">
                P_MATERIEL_TYPE,
            </if>
            <if test="pMaterielWerk != null">
                P_MATERIEL_WERK,
            </if>
            <if test="pMaterielDesc != null">
                P_MATERIEL_DESC,
            </if>
            <if test="pPertainToProjectPuid != null">
                P_PERTAIN_TO_PROJECT_PUID,
            </if>
            <if test="pMaterielDescEn != null">
                P_MATERIEL_DESC_EN,
            </if>
            <if test="pBasicUnitMeasure != null">
                P_BASIC_UNIT_MEASURE,
            </if>
            <if test="pMaterielGroup != null">
                P_MATERIEL_GROUP,
            </if>
            <if test="pOutMaterielGroup != null">
                P_OUT_MATERIEL_GROUP,
            </if>
            <if test="pBuyGroup != null">
                P_BUY_GROUP,
            </if>
            <if test="pPurchaseOrderAuto != null">
                P_PURCHASE_ORDER_AUTO,
            </if>
            <if test="pPassBillToStock != null">
                P_PASS_BILL_TO_STOCK,
            </if>
            <if test="pQuota != null">
                P_QUOTA,
            </if>
            <if test="pMrpType != null">
                P_MRP_TYPE,
            </if>
            <if test="pMrpController != null">
                P_MRP_CONTROLLER,
            </if>
            <if test="pBatchSize != null">
                P_BATCH_SIZE,
            </if>
            <if test="pFixedBatchSize != null">
                P_FIXED_BATCH_SIZE,
            </if>
            <if test="pMinBatchSize != null">
                P_MIN_BATCH_SIZE,
            </if>
            <if test="pMaxBatchSize != null">
                P_MAX_BATCH_SIZE,
            </if>
            <if test="pRoundValue != null">
                P_ROUND_VALUE,
            </if>
            <if test="pBuyType != null">
                P_BUY_TYPE,
            </if>
            <if test="pSpecBuyType != null">
                P_SPEC_BUY_TYPE,
            </if>
            <if test="pRecoil != null">
                P_RECOIL,
            </if>
            <if test="pMakeLocation != null">
                P_MAKE_LOCATION,
            </if>
            <if test="pOuterBuyLocation != null">
                P_OUTER_BUY_LOCATION,
            </if>
            <if test="pPlanMarginCode != null">
                P_PLAN_MARGIN_CODE,
            </if>
            <if test="pPlanDeliveryTime != null">
                P_PLAN_DELIVERY_TIME,
            </if>
            <if test="pAcceptHandTime != null">
                P_ACCEPT_HAND_TIME,
            </if>
            <if test="pSafetyStock != null">
                P_SAFETY_STOCK,
            </if>
            <if test="pBulkMateriel != null">
                P_BULK_MATERIEL,
            </if>
            <if test="pUsefulCheck != null">
                P_USEFUL_CHECK,
            </if>
            <if test="pAssessmentType != null">
                P_ASSESSMENT_TYPE,
            </if>
            <if test="pMaterielResource != null">
                P_MATERIEL_RESOURCE,
            </if>
            <if test="pProfitCenter != null">
                P_PROFIT_CENTER,
            </if>
            <if test="pPriceControl != null">
                P_PRICE_CONTROL,
            </if>
            <if test="pPriceSure != null">
                P_PRICE_SURE,
            </if>
            <if test="pNoCalCost != null">
                P_NO_CAL_COST,
            </if>
            <if test="pMakeTime != null">
                P_MAKE_TIME,
            </if>
            <if test="pStrategyGroup != null">
                P_STRATEGY_GROUP,
            </if>
            <if test="pConsumeModel != null">
                P_CONSUME_MODEL,
            </if>
            <if test="pReverseConsumeTime != null">
                P_REVERSE_CONSUME_TIME,
            </if>
            <if test="pForwardTime != null">
                P_FORWARD_TIME,
            </if>
            <if test="pRepeatMake != null">
                P_REPEAT_MAKE,
            </if>
            <if test="pRepeatMakeArgsFile != null">
                P_REPEAT_MAKE_ARGS_FILE,
            </if>
            <if test="pMakeAdmin != null">
                P_MAKE_ADMIN,
            </if>
            <if test="pMakePlanArgsFile != null">
                P_MAKE_PLAN_ARGS_FILE,
            </if>
            <if test="pSerialArgsFile != null">
                P_SERIAL_ARGS_FILE,
            </if>
            <if test="pSaleGroup != null">
                P_SALE_GROUP,
            </if>
            <if test="pDistributionChannel != null">
                P_DISTRIBUTION_CHANNEL,
            </if>
            <if test="pBranch != null">
                P_BRANCH,
            </if>
            <if test="pDeliveryFactory != null">
                P_DELIVERY_FACTORY,
            </if>
            <if test="pOutputTax != null">
                P_OUTPUT_TAX,
            </if>
            <if test="pMaterielSummaryGroup != null">
                P_MATERIEL_SUMMARY_GROUP,
            </if>
            <if test="pMaterielPriceGroup != null">
                P_MATERIEL_PRICE_GROUP,
            </if>
            <if test="pSubjectSetGroup != null">
                P_SUBJECT_SET_GROUP,
            </if>
            <if test="pOrdinaryProjGroup != null">
                P_ORDINARY_PROJ_GROUP,
            </if>
            <if test="pProjGroup != null">
                P_PROJ_GROUP,
            </if>
            <if test="pProductLevel != null">
                P_PRODUCT_LEVEL,
            </if>
            <if test="pLoadingGroup != null">
                P_LOADING_GROUP,
            </if>
            <if test="pTransportGroup != null">
                P_TRANSPORT_GROUP,
            </if>
                P_VALID_FLAG,
            <if test="pMaterielDataType != null">
                P_MATERIEL_DATA_TYPE,
            </if>
                P_CREATE_TIME,
                P_UPDATE_TIME,
            <if test="pCreateName != null">
                P_CREATE_NAME,
            </if>
            <if test="pUpdateName != null">
                P_UPDATE_NAME,
            </if>
            <if test="pFactoryPuid != null">
                P_FACTORY_PUID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="puid != null">
                #{puid,jdbcType=VARCHAR},
            </if>
            <if test="pMaterielCode != null">
                #{pMaterielCode,jdbcType=OTHER},
            </if>
            <if test="pMaterielType != null">
                #{pMaterielType,jdbcType=OTHER},
            </if>
            <if test="pMaterielWerk != null">
                #{pMaterielWerk,jdbcType=OTHER},
            </if>
            <if test="pMaterielDesc != null">
                #{pMaterielDesc,jdbcType=OTHER},
            </if>
            <if test="pPertainToProjectPuid != null">
                #{pPertainToProjectPuid,jdbcType=VARCHAR},
            </if>
            <if test="pMaterielDescEn != null">
                #{pMaterielDescEn,jdbcType=VARCHAR},
            </if>
            <if test="pBasicUnitMeasure != null">
                #{pBasicUnitMeasure,jdbcType=VARCHAR},
            </if>
            <if test="pMaterielGroup != null">
                #{pMaterielGroup,jdbcType=VARCHAR},
            </if>
            <if test="pOutMaterielGroup != null">
                #{pOutMaterielGroup,jdbcType=VARCHAR},
            </if>
            <if test="pBuyGroup != null">
                #{pBuyGroup,jdbcType=VARCHAR},
            </if>
            <if test="pPurchaseOrderAuto != null">
                #{pPurchaseOrderAuto,jdbcType=VARCHAR},
            </if>
            <if test="pPassBillToStock != null">
                #{pPassBillToStock,jdbcType=VARCHAR},
            </if>
            <if test="pQuota != null">
                #{pQuota,jdbcType=VARCHAR},
            </if>
            <if test="pMrpType != null">
                #{pMrpType,jdbcType=VARCHAR},
            </if>
            <if test="pMrpController != null">
                #{pMrpController,jdbcType=VARCHAR},
            </if>
            <if test="pBatchSize != null">
                #{pBatchSize,jdbcType=VARCHAR},
            </if>
            <if test="pFixedBatchSize != null">
                #{pFixedBatchSize,jdbcType=VARCHAR},
            </if>
            <if test="pMinBatchSize != null">
                #{pMinBatchSize,jdbcType=VARCHAR},
            </if>
            <if test="pMaxBatchSize != null">
                #{pMaxBatchSize,jdbcType=VARCHAR},
            </if>
            <if test="pRoundValue != null">
                #{pRoundValue,jdbcType=VARCHAR},
            </if>
            <if test="pBuyType != null">
                #{pBuyType,jdbcType=VARCHAR},
            </if>
            <if test="pSpecBuyType != null">
                #{pSpecBuyType,jdbcType=VARCHAR},
            </if>
            <if test="pRecoil != null">
                #{pRecoil,jdbcType=VARCHAR},
            </if>
            <if test="pMakeLocation != null">
                #{pMakeLocation,jdbcType=VARCHAR},
            </if>
            <if test="pOuterBuyLocation != null">
                #{pOuterBuyLocation,jdbcType=VARCHAR},
            </if>
            <if test="pPlanMarginCode != null">
                #{pPlanMarginCode,jdbcType=VARCHAR},
            </if>
            <if test="pPlanDeliveryTime != null">
                #{pPlanDeliveryTime,jdbcType=DATE},
            </if>
            <if test="pAcceptHandTime != null">
                #{pAcceptHandTime,jdbcType=DATE},
            </if>
            <if test="pSafetyStock != null">
                #{pSafetyStock,jdbcType=VARCHAR},
            </if>
            <if test="pBulkMateriel != null">
                #{pBulkMateriel,jdbcType=VARCHAR},
            </if>
            <if test="pUsefulCheck != null">
                #{pUsefulCheck,jdbcType=VARCHAR},
            </if>
            <if test="pAssessmentType != null">
                #{pAssessmentType,jdbcType=VARCHAR},
            </if>
            <if test="pMaterielResource != null">
                #{pMaterielResource,jdbcType=VARCHAR},
            </if>
            <if test="pProfitCenter != null">
                #{pProfitCenter,jdbcType=VARCHAR},
            </if>
            <if test="pPriceControl != null">
                #{pPriceControl,jdbcType=VARCHAR},
            </if>
            <if test="pPriceSure != null">
                #{pPriceSure,jdbcType=VARCHAR},
            </if>
            <if test="pNoCalCost != null">
                #{pNoCalCost,jdbcType=VARCHAR},
            </if>
            <if test="pMakeTime != null">
                #{pMakeTime,jdbcType=VARCHAR},
            </if>
            <if test="pStrategyGroup != null">
                #{pStrategyGroup,jdbcType=VARCHAR},
            </if>
            <if test="pConsumeModel != null">
                #{pConsumeModel,jdbcType=VARCHAR},
            </if>
            <if test="pReverseConsumeTime != null">
                #{pReverseConsumeTime,jdbcType=VARCHAR},
            </if>
            <if test="pForwardTime != null">
                #{pForwardTime,jdbcType=VARCHAR},
            </if>
            <if test="pRepeatMake != null">
                #{pRepeatMake,jdbcType=VARCHAR},
            </if>
            <if test="pRepeatMakeArgsFile != null">
                #{pRepeatMakeArgsFile,jdbcType=VARCHAR},
            </if>
            <if test="pMakeAdmin != null">
                #{pMakeAdmin,jdbcType=VARCHAR},
            </if>
            <if test="pMakePlanArgsFile != null">
                #{pMakePlanArgsFile,jdbcType=VARCHAR},
            </if>
            <if test="pSerialArgsFile != null">
                #{pSerialArgsFile,jdbcType=VARCHAR},
            </if>
            <if test="pSaleGroup != null">
                #{pSaleGroup,jdbcType=VARCHAR},
            </if>
            <if test="pDistributionChannel != null">
                #{pDistributionChannel,jdbcType=VARCHAR},
            </if>
            <if test="pBranch != null">
                #{pBranch,jdbcType=VARCHAR},
            </if>
            <if test="pDeliveryFactory != null">
                #{pDeliveryFactory,jdbcType=VARCHAR},
            </if>
            <if test="pOutputTax != null">
                #{pOutputTax,jdbcType=VARCHAR},
            </if>
            <if test="pMaterielSummaryGroup != null">
                #{pMaterielSummaryGroup,jdbcType=VARCHAR},
            </if>
            <if test="pMaterielPriceGroup != null">
                #{pMaterielPriceGroup,jdbcType=VARCHAR},
            </if>
            <if test="pSubjectSetGroup != null">
                #{pSubjectSetGroup,jdbcType=VARCHAR},
            </if>
            <if test="pOrdinaryProjGroup != null">
                #{pOrdinaryProjGroup,jdbcType=VARCHAR},
            </if>
            <if test="pProjGroup != null">
                #{pProjGroup,jdbcType=VARCHAR},
            </if>
            <if test="pProductLevel != null">
                #{pProductLevel,jdbcType=VARCHAR},
            </if>
            <if test="pLoadingGroup != null">
                #{pLoadingGroup,jdbcType=VARCHAR},
            </if>
            <if test="pTransportGroup != null">
                #{pTransportGroup,jdbcType=VARCHAR},
            </if>

                1,

            <if test="pMaterielDataType != null">
                #{pMaterielDataType,jdbcType=DECIMAL},
            </if>
            sysdate,
            sysdate,
            <if test="pCreateName != null">
                #{pCreateName,jdbcType=VARCHAR},
            </if>
            <if test="pUpdateName != null">
                #{pUpdateName,jdbcType=VARCHAR},
            </if>
            <if test="pFactoryPuid != null">
                #{pFactoryPuid,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>


    <!--编辑一条记录-->
    <update id="HzMaterialDAOImpl_update" parameterType="sql.pojo.project.HzMaterielRecord">
        update HZ_MATERIEL_RECORD
        <set>
            <if test="pMaterielCode != null">
                P_MATERIEL_CODE = #{pMaterielCode,jdbcType=OTHER},
            </if>
            <if test="pMaterielType != null">
                P_MATERIEL_TYPE = #{pMaterielType,jdbcType=OTHER},
            </if>
            <if test="pMaterielWerk != null">
                P_MATERIEL_WERK = #{pMaterielWerk,jdbcType=OTHER},
            </if>
            <if test="pMaterielDesc != null">
                P_MATERIEL_DESC = #{pMaterielDesc,jdbcType=OTHER},
            </if>
            <if test="pPertainToProjectPuid != null">
                P_PERTAIN_TO_PROJECT_PUID = #{pPertainToProjectPuid,jdbcType=VARCHAR},
            </if>
            <if test="pMaterielDescEn != null">
                P_MATERIEL_DESC_EN = #{pMaterielDescEn,jdbcType=VARCHAR},
            </if>
            <if test="pBasicUnitMeasure != null">
                P_BASIC_UNIT_MEASURE = #{pBasicUnitMeasure,jdbcType=VARCHAR},
            </if>
            <if test="pMaterielGroup != null">
                P_MATERIEL_GROUP = #{pMaterielGroup,jdbcType=VARCHAR},
            </if>
            <if test="pOutMaterielGroup != null">
                P_OUT_MATERIEL_GROUP = #{pOutMaterielGroup,jdbcType=VARCHAR},
            </if>
            <if test="pBuyGroup != null">
                P_BUY_GROUP = #{pBuyGroup,jdbcType=VARCHAR},
            </if>
            <if test="pPurchaseOrderAuto != null">
                P_PURCHASE_ORDER_AUTO = #{pPurchaseOrderAuto,jdbcType=VARCHAR},
            </if>
            <if test="pPassBillToStock != null">
                P_PASS_BILL_TO_STOCK = #{pPassBillToStock,jdbcType=VARCHAR},
            </if>
            <if test="pQuota != null">
                P_QUOTA = #{pQuota,jdbcType=VARCHAR},
            </if>
            <if test="pMrpType != null">
                P_MRP_TYPE = #{pMrpType,jdbcType=VARCHAR},
            </if>
            <if test="pMrpController != null">
                P_MRP_CONTROLLER = #{pMrpController,jdbcType=VARCHAR},
            </if>
            <if test="pBatchSize != null">
                P_BATCH_SIZE = #{pBatchSize,jdbcType=VARCHAR},
            </if>
            <if test="pFixedBatchSize != null">
                P_FIXED_BATCH_SIZE = #{pFixedBatchSize,jdbcType=VARCHAR},
            </if>
            <if test="pMinBatchSize != null">
                P_MIN_BATCH_SIZE = #{pMinBatchSize,jdbcType=VARCHAR},
            </if>
            <if test="pMaxBatchSize != null">
                P_MAX_BATCH_SIZE = #{pMaxBatchSize,jdbcType=VARCHAR},
            </if>
            <if test="pRoundValue != null">
                P_ROUND_VALUE = #{pRoundValue,jdbcType=VARCHAR},
            </if>
            <if test="pBuyType != null">
                P_BUY_TYPE = #{pBuyType,jdbcType=VARCHAR},
            </if>
            <if test="pSpecBuyType != null">
                P_SPEC_BUY_TYPE = #{pSpecBuyType,jdbcType=VARCHAR},
            </if>
            <if test="pRecoil != null">
                P_RECOIL = #{pRecoil,jdbcType=VARCHAR},
            </if>
            <if test="pMakeLocation != null">
                P_MAKE_LOCATION = #{pMakeLocation,jdbcType=VARCHAR},
            </if>
            <if test="pOuterBuyLocation != null">
                P_OUTER_BUY_LOCATION = #{pOuterBuyLocation,jdbcType=VARCHAR},
            </if>
            <if test="pPlanMarginCode != null">
                P_PLAN_MARGIN_CODE = #{pPlanMarginCode,jdbcType=VARCHAR},
            </if>
            <if test="pPlanDeliveryTime != null">
                P_PLAN_DELIVERY_TIME = #{pPlanDeliveryTime,jdbcType=DATE},
            </if>
            <if test="pAcceptHandTime != null">
                P_ACCEPT_HAND_TIME = #{pAcceptHandTime,jdbcType=DATE},
            </if>
            <if test="pSafetyStock != null">
                P_SAFETY_STOCK = #{pSafetyStock,jdbcType=VARCHAR},
            </if>
            <if test="pBulkMateriel != null">
                P_BULK_MATERIEL = #{pBulkMateriel,jdbcType=VARCHAR},
            </if>
            <if test="pUsefulCheck != null">
                P_USEFUL_CHECK = #{pUsefulCheck,jdbcType=VARCHAR},
            </if>
            <if test="pAssessmentType != null">
                P_ASSESSMENT_TYPE = #{pAssessmentType,jdbcType=VARCHAR},
            </if>
            <if test="pMaterielResource != null">
                P_MATERIEL_RESOURCE = #{pMaterielResource,jdbcType=VARCHAR},
            </if>
            <if test="pProfitCenter != null">
                P_PROFIT_CENTER = #{pProfitCenter,jdbcType=VARCHAR},
            </if>
            <if test="pPriceControl != null">
                P_PRICE_CONTROL = #{pPriceControl,jdbcType=VARCHAR},
            </if>
            <if test="pPriceSure != null">
                P_PRICE_SURE = #{pPriceSure,jdbcType=VARCHAR},
            </if>
            <if test="pNoCalCost != null">
                P_NO_CAL_COST = #{pNoCalCost,jdbcType=VARCHAR},
            </if>
            <if test="pMakeTime != null">
                P_MAKE_TIME = #{pMakeTime,jdbcType=VARCHAR},
            </if>
            <if test="pStrategyGroup != null">
                P_STRATEGY_GROUP = #{pStrategyGroup,jdbcType=VARCHAR},
            </if>
            <if test="pConsumeModel != null">
                P_CONSUME_MODEL = #{pConsumeModel,jdbcType=VARCHAR},
            </if>
            <if test="pReverseConsumeTime != null">
                P_REVERSE_CONSUME_TIME = #{pReverseConsumeTime,jdbcType=VARCHAR},
            </if>
            <if test="pForwardTime != null">
                P_FORWARD_TIME = #{pForwardTime,jdbcType=VARCHAR},
            </if>
            <if test="pRepeatMake != null">
                P_REPEAT_MAKE = #{pRepeatMake,jdbcType=VARCHAR},
            </if>
            <if test="pRepeatMakeArgsFile != null">
                P_REPEAT_MAKE_ARGS_FILE = #{pRepeatMakeArgsFile,jdbcType=VARCHAR},
            </if>
            <if test="pMakeAdmin != null">
                P_MAKE_ADMIN = #{pMakeAdmin,jdbcType=VARCHAR},
            </if>
            <if test="pMakePlanArgsFile != null">
                P_MAKE_PLAN_ARGS_FILE = #{pMakePlanArgsFile,jdbcType=VARCHAR},
            </if>
            <if test="pSerialArgsFile != null">
                P_SERIAL_ARGS_FILE = #{pSerialArgsFile,jdbcType=VARCHAR},
            </if>
            <if test="pSaleGroup != null">
                P_SALE_GROUP = #{pSaleGroup,jdbcType=VARCHAR},
            </if>
            <if test="pDistributionChannel != null">
                P_DISTRIBUTION_CHANNEL = #{pDistributionChannel,jdbcType=VARCHAR},
            </if>
            <if test="pBranch != null">
                P_BRANCH = #{pBranch,jdbcType=VARCHAR},
            </if>
            <if test="pDeliveryFactory != null">
                P_DELIVERY_FACTORY = #{pDeliveryFactory,jdbcType=VARCHAR},
            </if>
            <if test="pOutputTax != null">
                P_OUTPUT_TAX = #{pOutputTax,jdbcType=VARCHAR},
            </if>
            <if test="pMaterielSummaryGroup != null">
                P_MATERIEL_SUMMARY_GROUP = #{pMaterielSummaryGroup,jdbcType=VARCHAR},
            </if>
            <if test="pMaterielPriceGroup != null">
                P_MATERIEL_PRICE_GROUP = #{pMaterielPriceGroup,jdbcType=VARCHAR},
            </if>
            <if test="pSubjectSetGroup != null">
                P_SUBJECT_SET_GROUP = #{pSubjectSetGroup,jdbcType=VARCHAR},
            </if>
            <if test="pOrdinaryProjGroup != null">
                P_ORDINARY_PROJ_GROUP = #{pOrdinaryProjGroup,jdbcType=VARCHAR},
            </if>
            <if test="pProjGroup != null">
                P_PROJ_GROUP = #{pProjGroup,jdbcType=VARCHAR},
            </if>
            <if test="pProductLevel != null">
                P_PRODUCT_LEVEL = #{pProductLevel,jdbcType=VARCHAR},
            </if>
            <if test="pLoadingGroup != null">
                P_LOADING_GROUP = #{pLoadingGroup,jdbcType=VARCHAR},
            </if>
            <if test="pTransportGroup != null">
                P_TRANSPORT_GROUP = #{pTransportGroup,jdbcType=VARCHAR},
            </if>
            <if test="pMaterielDataType != null">
                P_MATERIEL_DATA_TYPE = #{pMaterielDataType,jdbcType=DECIMAL},
            </if>
                P_UPDATE_TIME =sysdate,
            <if test="pCreateName != null">
                P_CREATE_NAME = #{pCreateName,jdbcType=VARCHAR},
            </if>
            <if test="pUpdateName != null">
                P_UPDATE_NAME = #{pUpdateName,jdbcType=VARCHAR},
            </if>
            <if test="pFactoryPuid != null">
                P_FACTORY_PUID = #{pFactoryPuid,jdbcType=VARCHAR},
            </if>
        </set>
        where PUID = #{puid,jdbcType=VARCHAR}
    </update>

    <!--删除一条记录-->
    <update id="HzMaterialDAOImpl_delete" parameterType="java.lang.String">
        update HZ_MATERIEL_RECORD
        set
        P_VALID_FLAG = 0
        where PUID = #{puid,jdbcType=VARCHAR}
    </update>

    <!--查询一条记录-->
    <select id="selectByPrimaryKey111" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="HzMaterielRecordList" />
        from HZ_MATERIEL_RECORD
        where PUID = #{puid,jdbcType=VARCHAR}
    </select>
</mapper>