<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.connor.hozon.bom.bomSystem.dao.project.HzProjectLibsDao">
    <resultMap id="BaseResultMap" type="sql.pojo.project.HzProjectLibs">
        <id column="PUID" jdbcType="VARCHAR" property="puid"/>
        <result column="P_PROJECT_NAME" jdbcType="VARCHAR" property="pProjectName"/>
        <result column="P_PROJECT_PERTAIN_TO_VEHICLE" jdbcType="VARCHAR" property="pProjectPertainToVehicle"/>
        <result column="P_PROJECT_CREATE_DATE" jdbcType="TIMESTAMP" property="pProjectCreateDate"/>
        <result column="P_PROJECT_LAST_MOD_DATE" jdbcType="TIMESTAMP" property="pProjectLastModDate"/>
        <result column="P_PROJECT_CODE" jdbcType="VARCHAR" property="pProjectCode"/>
        <result column="P_PROJECT_OWNING_USER" jdbcType="VARCHAR" property="pProjectOwningUser"/>
        <result column="P_PROJECT_DISCONTINUATION_DATE" jdbcType="TIMESTAMP" property="pProjectDiscontinuationDate"/>
        <result column="P_PROJECT_MANAGER" jdbcType="VARCHAR" property="pProjectManager"/>
        <result column="P_PROJECT_DETAIL" jdbcType="VARCHAR" property="pProjectDetail"/>
        <result column="P_PROJECT_LAST_MODIFIER" jdbcType="VARCHAR" property="pProjectLastModifier"/>
    </resultMap>
    <sql id="Base_Column_List">
        PUID,
        P_PROJECT_NAME,
        P_PROJECT_PERTAIN_TO_VEHICLE,
        P_PROJECT_CREATE_DATE,
        P_PROJECT_LAST_MOD_DATE,
        P_PROJECT_CODE,
        P_PROJECT_OWNING_USER,
        P_PROJECT_DISCONTINUATION_DATE,
        P_PROJECT_MANAGER,
        P_PROJECT_DETAIL,
        P_PROJECT_LAST_MODIFIER
    </sql>
    <!--根据主键找项目-->
    <select id="selectByPrimaryKey" parameterType="sql.pojo.project.HzProjectLibs" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from HZ_PROJECT_LIBS
        where PUID = #{puid,jdbcType=VARCHAR}
    </select>
    <!--根据项目的编号找项目-->
    <select id="selectByProjectCode" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from HZ_PROJECT_LIBS
        where P_PROJECT_CODE = #{pProjectCode,jdbcType=VARCHAR}
    </select>
    <!--查找所有项目-->
    <select id="selectAllProject" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from HZ_PROJECT_LIBS
    </select>
    <!--添加1条项目-->
    <select id="insert" parameterType="sql.pojo.project.HzProjectLibs" resultMap="BaseResultMap">
        insert into HZ_PROJECT_LIBS
        (
        <include refid="Base_Column_List"/>
        )
        values (
        #{puid,jdbcType=VARCHAR},
        #{pProjectName,jdbcType=VARCHAR},
        #{pProjectPertainToVehicle,jdbcType=VARCHAR},
        #{pProjectCreateDate,jdbcType=TIMESTAMP},
        #{pProjectLastModDate,jdbcType=TIMESTAMP},
        #{pProjectCode,jdbcType=VARCHAR},
        #{pProjectOwningUser,jdbcType=VARCHAR},
        #{pProjectDiscontinuationDate,jdbcType=TIMESTAMP},
        #{pProjectManager,jdbcType=VARCHAR},
        #{pProjectDetail,jdbcType=VARCHAR}
        #{pProjectLastModifier,jdbcType=VARCHAR}
        )
    </select>
    <!--根据主键删除项目-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete HZ_PROJECT_LIBS where PUID=#{puid,jdbcType=VARCHAR}
    </delete>
    <!--更新项目名称，项目代号和详细信息，并记录更改时间-->
    <update id="updateByPrimaryKey" parameterType="sql.pojo.project.HzProjectLibs">
      update HZ_PROJECT_LIBS
      set
      P_PROJECT_NAME = #{pProjectName,jdbcType=VARCHAR},
      P_PROJECT_CODE = #{pProjectCode,jdbcType=VARCHAR},
      P_PROJECT_LAST_MOD_DATE = #{pProjectLastModDate,jdbcType=TIMESTAMP},
      P_PROJECT_DETAIL = #{pProjectDetail,jdbcType=VARCHAR},
      P_PROJECT_MANAGER = #{pProjectManager,jdbcType=VARCHAR},
      P_PROJECT_LAST_MODIFIER = #{pProjectLastModifier,jdbcType=VARCHAR}
    where PUID = #{puid,jdbcType=VARCHAR}
    </update>
</mapper>