<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.connor.hozon.bom.bomSystem.dao.relevance.HzRelevanceBasicChangeDao">
  <resultMap id="BaseResultMap" type="sql.pojo.cfg.relevance.HzRelevanceBasicChange">
    <result column="ID" jdbcType="DECIMAL" property="id" />
    <result column="RB_COLOR_CODE" jdbcType="VARCHAR" property="rbColorCode" />
    <result column="RB_COLOR_UID" jdbcType="VARCHAR" property="rbColorUid" />
    <result column="RB_FEATURE_CODE" jdbcType="VARCHAR" property="rbFeatureCode" />
    <result column="RB_FEATURE_UID" jdbcType="VARCHAR" property="rbFeatureUid" />
    <result column="RB_FEATURE_VALUE_CODE" jdbcType="VARCHAR" property="rbFeatureValueCode" />
    <result column="RB_FEATURE_VALUE_UID" jdbcType="VARCHAR" property="rbFeatureValueUid" />
    <result column="RB_RELEVANCE" jdbcType="VARCHAR" property="rbRelevance" />
    <result column="RB_RELEVANCE_DESC" jdbcType="VARCHAR" property="rbRelevanceDesc" />
    <result column="RB_RELEVANCE_CODE" jdbcType="VARCHAR" property="rbRelevanceCode" />
    <result column="RELEVANCE_STATUS" jdbcType="DECIMAL" property="relevanceStatus" />
    <result column="RELEVANCE_CREATE_DATE" jdbcType="TIMESTAMP" property="relevanceCreateDate" />
    <result column="RELEVANCE_CREATOR" jdbcType="VARCHAR" property="relevanceCreator" />
    <result column="RELEVANCE_UPDATE_DATE" jdbcType="TIMESTAMP" property="relevanceUpdateDate" />
    <result column="RELEVANCE_UPDATER" jdbcType="VARCHAR" property="relevanceUpdater" />
    <result column="RB_RESERVED_1" jdbcType="VARCHAR" property="rbReserved1" />
    <result column="RB_RESERVED_2" jdbcType="VARCHAR" property="rbReserved2" />
    <result column="RB_RESERVED_3" jdbcType="VARCHAR" property="rbReserved3" />
    <result column="RB_RESERVED_4" jdbcType="VARCHAR" property="rbReserved4" />
    <result column="RB_RESERVED_5" jdbcType="VARCHAR" property="rbReserved5" />
    <result column="RB_RESERVED_6" jdbcType="VARCHAR" property="rbReserved6" />
    <result column="RB_RESERVED_7" jdbcType="VARCHAR" property="rbReserved7" />
    <result column="RB_RESERVED_8" jdbcType="VARCHAR" property="rbReserved8" />
    <result column="RB_RESERVED_9" jdbcType="VARCHAR" property="rbReserved9" />
    <result column="RB_RESERVED_10" jdbcType="VARCHAR" property="rbReserved10" />
    <result column="RB_RESERVED_11" jdbcType="VARCHAR" property="rbReserved11" />
    <result column="RB_RESERVED_12" jdbcType="VARCHAR" property="rbReserved12" />
    <result column="RB_RESERVED_13" jdbcType="VARCHAR" property="rbReserved13" />
    <result column="RB_RESERVED_14" jdbcType="VARCHAR" property="rbReserved14" />
    <result column="RB_RESERVED_15" jdbcType="VARCHAR" property="rbReserved15" />
    <result column="CHANGE_ORDER_ID" jdbcType="DECIMAL" property="changeOrderId" />
    <result column="RB_PROJECT_UID" jdbcType="VARCHAR" property="rbProjectUid" />
    <result column="IS_SENT" jdbcType="DECIMAL" property="isSent" />
    <result column="SRC_ID" jdbcType="DECIMAL" property="srcId" />
    <result column="CHANGE_STATUS" jdbcType="DECIMAL" property="changeStatus" />
    <result column="CHANGE_VERSION" jdbcType="DECIMAL" property="changeVersion" />
  </resultMap>
  <sql id="Base_Column_List">
      ID, RB_COLOR_CODE, RB_COLOR_UID,
      RB_FEATURE_CODE, RB_FEATURE_UID, RB_FEATURE_VALUE_CODE,
      RB_FEATURE_VALUE_UID, RB_RELEVANCE, RB_RELEVANCE_DESC,
      RB_RELEVANCE_CODE, RELEVANCE_STATUS, RELEVANCE_CREATE_DATE,
      RELEVANCE_CREATOR, RELEVANCE_UPDATE_DATE,
      RELEVANCE_UPDATER, RB_RESERVED_1, RB_RESERVED_2,
      RB_RESERVED_3, RB_RESERVED_4, RB_RESERVED_5,
      RB_RESERVED_6, RB_RESERVED_7, RB_RESERVED_8,
      RB_RESERVED_9, RB_RESERVED_10, RB_RESERVED_11,
      RB_RESERVED_12, RB_RESERVED_13, RB_RESERVED_14,
      RB_RESERVED_15, CHANGE_ORDER_ID, RB_PROJECT_UID,
      IS_SENT, SRC_ID, CHANGE_STATUS,CHANGE_VERSION
  </sql>
  <insert id="insert" parameterType="sql.pojo.cfg.relevance.HzRelevanceBasicChange">
    insert into HZ_RELEVANCE_BASIC_CHANGE (ID, RB_COLOR_CODE, RB_COLOR_UID, 
      RB_FEATURE_CODE, RB_FEATURE_UID, RB_FEATURE_VALUE_CODE, 
      RB_FEATURE_VALUE_UID, RB_RELEVANCE, RB_RELEVANCE_DESC, 
      RB_RELEVANCE_CODE, RELEVANCE_STATUS, RELEVANCE_CREATE_DATE, 
      RELEVANCE_CREATOR, RELEVANCE_UPDATE_DATE, 
      RELEVANCE_UPDATER, RB_RESERVED_1, RB_RESERVED_2, 
      RB_RESERVED_3, RB_RESERVED_4, RB_RESERVED_5, 
      RB_RESERVED_6, RB_RESERVED_7, RB_RESERVED_8, 
      RB_RESERVED_9, RB_RESERVED_10, RB_RESERVED_11, 
      RB_RESERVED_12, RB_RESERVED_13, RB_RESERVED_14, 
      RB_RESERVED_15, CHANGE_ORDER_ID, RB_PROJECT_UID, 
      IS_SENT, SRC_ID, CHANGE_STATUS,CHANGE_VERSION
      )
    values (#{id,jdbcType=DECIMAL}, #{rbColorCode,jdbcType=VARCHAR}, #{rbColorUid,jdbcType=VARCHAR}, 
      #{rbFeatureCode,jdbcType=VARCHAR}, #{rbFeatureUid,jdbcType=VARCHAR}, #{rbFeatureValueCode,jdbcType=VARCHAR}, 
      #{rbFeatureValueUid,jdbcType=VARCHAR}, #{rbRelevance,jdbcType=VARCHAR}, #{rbRelevanceDesc,jdbcType=VARCHAR},
      #{rbRelevanceCode,jdbcType=VARCHAR}, #{relevanceStatus,jdbcType=DECIMAL}, #{relevanceCreateDate,jdbcType=TIMESTAMP}, 
      #{relevanceCreator,jdbcType=VARCHAR}, #{relevanceUpdateDate,jdbcType=TIMESTAMP},
      #{relevanceUpdater,jdbcType=VARCHAR}, #{rbReserved1,jdbcType=VARCHAR}, #{rbReserved2,jdbcType=VARCHAR},
      #{rbReserved3,jdbcType=VARCHAR}, #{rbReserved4,jdbcType=VARCHAR}, #{rbReserved5,jdbcType=VARCHAR}, 
      #{rbReserved6,jdbcType=VARCHAR}, #{rbReserved7,jdbcType=VARCHAR}, #{rbReserved8,jdbcType=VARCHAR}, 
      #{rbReserved9,jdbcType=VARCHAR}, #{rbReserved10,jdbcType=VARCHAR}, #{rbReserved11,jdbcType=VARCHAR}, 
      #{rbReserved12,jdbcType=VARCHAR}, #{rbReserved13,jdbcType=VARCHAR}, #{rbReserved14,jdbcType=VARCHAR}, 
      #{rbReserved15,jdbcType=VARCHAR}, #{changeOrderId,jdbcType=DECIMAL}, #{rbProjectUid,jdbcType=VARCHAR}, 
      #{isSent,jdbcType=DECIMAL}, #{srcId,jdbcType=DECIMAL}, #{changeStatus,jdbcType=DECIMAL},#{changeVersion,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="sql.pojo.cfg.relevance.HzRelevanceBasicChange">
    insert into HZ_RELEVANCE_BASIC_CHANGE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="rbColorCode != null">
        RB_COLOR_CODE,
      </if>
      <if test="rbColorUid != null">
        RB_COLOR_UID,
      </if>
      <if test="rbFeatureCode != null">
        RB_FEATURE_CODE,
      </if>
      <if test="rbFeatureUid != null">
        RB_FEATURE_UID,
      </if>
      <if test="rbFeatureValueCode != null">
        RB_FEATURE_VALUE_CODE,
      </if>
      <if test="rbFeatureValueUid != null">
        RB_FEATURE_VALUE_UID,
      </if>
      <if test="rbRelevance != null">
        RB_RELEVANCE,
      </if>
      <if test="rbRelevanceDesc != null">
        RB_RELEVANCE_DESC,
      </if>
      <if test="rbRelevanceCode != null">
        RB_RELEVANCE_CODE,
      </if>
      <if test="relevanceStatus != null">
        RELEVANCE_STATUS,
      </if>
      <if test="relevanceCreateDate != null">
        RELEVANCE_CREATE_DATE,
      </if>
      <if test="relevanceCreator != null">
        RELEVANCE_CREATOR,
      </if>
      <if test="relevanceUpdateDate != null">
        RELEVANCE_UPDATE_DATE,
      </if>
      <if test="relevanceUpdater != null">
        RELEVANCE_UPDATER,
      </if>
      <if test="rbReserved1 != null">
        RB_RESERVED_1,
      </if>
      <if test="rbReserved2 != null">
        RB_RESERVED_2,
      </if>
      <if test="rbReserved3 != null">
        RB_RESERVED_3,
      </if>
      <if test="rbReserved4 != null">
        RB_RESERVED_4,
      </if>
      <if test="rbReserved5 != null">
        RB_RESERVED_5,
      </if>
      <if test="rbReserved6 != null">
        RB_RESERVED_6,
      </if>
      <if test="rbReserved7 != null">
        RB_RESERVED_7,
      </if>
      <if test="rbReserved8 != null">
        RB_RESERVED_8,
      </if>
      <if test="rbReserved9 != null">
        RB_RESERVED_9,
      </if>
      <if test="rbReserved10 != null">
        RB_RESERVED_10,
      </if>
      <if test="rbReserved11 != null">
        RB_RESERVED_11,
      </if>
      <if test="rbReserved12 != null">
        RB_RESERVED_12,
      </if>
      <if test="rbReserved13 != null">
        RB_RESERVED_13,
      </if>
      <if test="rbReserved14 != null">
        RB_RESERVED_14,
      </if>
      <if test="rbReserved15 != null">
        RB_RESERVED_15,
      </if>
      <if test="changeOrderId != null">
        CHANGE_ORDER_ID,
      </if>
      <if test="rbProjectUid != null">
        RB_PROJECT_UID,
      </if>
      <if test="isSent != null">
        IS_SENT,
      </if>
      <if test="srcId != null">
        SRC_ID,
      </if>
      <if test="changeStatus != null">
        CHANGE_STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="rbColorCode != null">
        #{rbColorCode,jdbcType=VARCHAR},
      </if>
      <if test="rbColorUid != null">
        #{rbColorUid,jdbcType=VARCHAR},
      </if>
      <if test="rbFeatureCode != null">
        #{rbFeatureCode,jdbcType=VARCHAR},
      </if>
      <if test="rbFeatureUid != null">
        #{rbFeatureUid,jdbcType=VARCHAR},
      </if>
      <if test="rbFeatureValueCode != null">
        #{rbFeatureValueCode,jdbcType=VARCHAR},
      </if>
      <if test="rbFeatureValueUid != null">
        #{rbFeatureValueUid,jdbcType=VARCHAR},
      </if>
      <if test="rbRelevance != null">
        #{rbRelevance,jdbcType=VARCHAR},
      </if>
      <if test="rbRelevanceDesc != null">
        #{rbRelevanceDesc,jdbcType=VARCHAR},
      </if>
      <if test="rbRelevanceCode != null">
        #{rbRelevanceCode,jdbcType=VARCHAR},
      </if>
      <if test="relevanceStatus != null">
        #{relevanceStatus,jdbcType=DECIMAL},
      </if>
      <if test="relevanceCreateDate != null">
        #{relevanceCreateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="relevanceCreator != null">
        #{relevanceCreator,jdbcType=VARCHAR},
      </if>
      <if test="relevanceUpdateDate != null">
        #{relevanceUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="relevanceUpdater != null">
        #{relevanceUpdater,jdbcType=VARCHAR},
      </if>
      <if test="rbReserved1 != null">
        #{rbReserved1,jdbcType=VARCHAR},
      </if>
      <if test="rbReserved2 != null">
        #{rbReserved2,jdbcType=VARCHAR},
      </if>
      <if test="rbReserved3 != null">
        #{rbReserved3,jdbcType=VARCHAR},
      </if>
      <if test="rbReserved4 != null">
        #{rbReserved4,jdbcType=VARCHAR},
      </if>
      <if test="rbReserved5 != null">
        #{rbReserved5,jdbcType=VARCHAR},
      </if>
      <if test="rbReserved6 != null">
        #{rbReserved6,jdbcType=VARCHAR},
      </if>
      <if test="rbReserved7 != null">
        #{rbReserved7,jdbcType=VARCHAR},
      </if>
      <if test="rbReserved8 != null">
        #{rbReserved8,jdbcType=VARCHAR},
      </if>
      <if test="rbReserved9 != null">
        #{rbReserved9,jdbcType=VARCHAR},
      </if>
      <if test="rbReserved10 != null">
        #{rbReserved10,jdbcType=VARCHAR},
      </if>
      <if test="rbReserved11 != null">
        #{rbReserved11,jdbcType=VARCHAR},
      </if>
      <if test="rbReserved12 != null">
        #{rbReserved12,jdbcType=VARCHAR},
      </if>
      <if test="rbReserved13 != null">
        #{rbReserved13,jdbcType=VARCHAR},
      </if>
      <if test="rbReserved14 != null">
        #{rbReserved14,jdbcType=VARCHAR},
      </if>
      <if test="rbReserved15 != null">
        #{rbReserved15,jdbcType=VARCHAR},
      </if>
      <if test="changeOrderId != null">
        #{changeOrderId,jdbcType=DECIMAL},
      </if>
      <if test="rbProjectUid != null">
        #{rbProjectUid,jdbcType=VARCHAR},
      </if>
      <if test="isSent != null">
        #{isSent,jdbcType=DECIMAL},
      </if>
      <if test="srcId != null">
        #{srcId,jdbcType=DECIMAL},
      </if>
      <if test="changeStatus != null">
        #{changeStatus,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>

  <insert id="insertList" parameterType="java.util.List">
    insert into
    HZ_RELEVANCE_BASIC_CHANGE
    (<include refid="Base_Column_List"/>)
    select SEQ_HZ_RELEVANCE_BASIC_CHANGE.NEXTVAL,A.* from (
    <foreach collection="list" index="index" item="item" separator="union">
      select
      #{item.rbColorCode,jdbcType=VARCHAR}, #{item.rbColorUid,jdbcType=VARCHAR},
      #{item.rbFeatureCode,jdbcType=VARCHAR}, #{item.rbFeatureUid,jdbcType=VARCHAR}, #{item.rbFeatureValueCode,jdbcType=VARCHAR},
      #{item.rbFeatureValueUid,jdbcType=VARCHAR}, #{item.rbRelevance,jdbcType=VARCHAR}, #{item.rbRelevanceDesc,jdbcType=VARCHAR},
      #{item.rbRelevanceCode,jdbcType=VARCHAR}, #{item.relevanceStatus,jdbcType=DECIMAL}, #{item.relevanceCreateDate,jdbcType=TIMESTAMP},
      #{item.relevanceCreator,jdbcType=VARCHAR}, #{item.relevanceUpdateDate,jdbcType=TIMESTAMP},
      #{item.relevanceUpdater,jdbcType=VARCHAR}, #{item.rbReserved1,jdbcType=VARCHAR}, #{item.rbReserved2,jdbcType=VARCHAR},
      #{item.rbReserved3,jdbcType=VARCHAR}, #{item.rbReserved4,jdbcType=VARCHAR}, #{item.rbReserved5,jdbcType=VARCHAR},
      #{item.rbReserved6,jdbcType=VARCHAR}, #{item.rbReserved7,jdbcType=VARCHAR}, #{item.rbReserved8,jdbcType=VARCHAR},
      #{item.rbReserved9,jdbcType=VARCHAR}, #{item.rbReserved10,jdbcType=VARCHAR}, #{item.rbReserved11,jdbcType=VARCHAR},
      #{item.rbReserved12,jdbcType=VARCHAR}, #{item.rbReserved13,jdbcType=VARCHAR}, #{item.rbReserved14,jdbcType=VARCHAR},
      #{item.rbReserved15,jdbcType=VARCHAR}, #{item.changeOrderId,jdbcType=DECIMAL}, #{item.rbProjectUid,jdbcType=VARCHAR},
      #{item.isSent,jdbcType=DECIMAL}, #{item.srcId,jdbcType=DECIMAL}, #{item.changeStatus,jdbcType=DECIMAL},#{item.changeVersion,jdbcType=DECIMAL}
      from
      dual
    </foreach>
    )A
  </insert>

  <select id="selectMaxVersionByProject" parameterType="sql.pojo.cfg.relevance.HzRelevanceBasicChange" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from HZ_RELEVANCE_BASIC_CHANGE
    where
    RB_PROJECT_UID = #{rbProjectUid,jdbcType=VARCHAR}
    and
    CHANGE_VERSION = (select MAX(CHANGE_VERSION) from HZ_RELEVANCE_BASIC_CHANGE where RB_PROJECT_UID = #{rbProjectUid,jdbcType=VARCHAR})
  </select>

  <select id="selectByOrderChangeId" parameterType="sql.pojo.cfg.relevance.HzRelevanceBasicChange" resultMap="BaseResultMap">
    select
      <include refid="Base_Column_List"/>
    from HZ_RELEVANCE_BASIC_CHANGE
    where
    CHANGE_ORDER_ID = #{changeOrderId,jdbcType=DECIMAL}
  </select>

  <select id="selectByVersionAndProjectId" parameterType="sql.pojo.cfg.relevance.HzRelevanceBasicChange" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from HZ_RELEVANCE_BASIC_CHANGE
    where
    RB_PROJECT_UID = #{rbProjectUid,jdbcType=VARCHAR}
    and
    CHANGE_VERSION = #{changeVersion,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByChangeOrderid" parameterType="java.lang.Long">
    delete from
    HZ_RELEVANCE_BASIC_CHANGE
    where
    CHANGE_ORDER_ID = #{changeOrderId,jdbcType=DECIMAL}
  </delete>

  <select id="selectLastexecutedByProjectId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from HZ_RELEVANCE_BASIC_CHANGE
    where
    RB_PROJECT_UID = #{projectPuid,jdbcType=VARCHAR}
    and
    CHANGE_VERSION = (select MAX(CHANGE_VERSION) from HZ_RELEVANCE_BASIC_CHANGE where RB_PROJECT_UID = #{projectPuid,jdbcType=VARCHAR} and CHANGE_STATUS=1 group by CHANGE_VERSION)
  </select>

  <update id="updateStatusByIOrderId" parameterType="sql.pojo.cfg.relevance.HzRelevanceBasicChange">
    update HZ_RELEVANCE_BASIC_CHANGE
    set CHANGE_STATUS = #{changeStatus,jdbcType=DECIMAL}
    where
    CHANGE_ORDER_ID = #{changeOrderId,jdbcType=DECIMAL}
  </update>

  <select id="selectByLasteBySrc" parameterType="sql.pojo.cfg.relevance.HzRelevanceBasicChange" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from HZ_RELEVANCE_BASIC_CHANGE
    where
    ID = (select ID from (select ID,MAX(CHANGE_VERSION) from HZ_RELEVANCE_BASIC_CHANGE where SRC_ID = #{srcId,jdbcType=DECIMAL}))
  </select>

  <select id="selectLastVersion" parameterType="sql.pojo.cfg.relevance.HzRelevanceBasicChange" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from HZ_RELEVANCE_BASIC_CHANGE
    where
    RB_PROJECT_UID = #{rbProjectUid,jdbcType=VARCHAR}
    and
    CHANGE_VERSION = #{changeVersion,jdbcType=VARCHAR}
    and
    SRC_ID = #{srcId,jdbcType=DECIMAL}
  </select>

  <select id="selectMaxVersion" parameterType="sql.pojo.cfg.relevance.HzRelevanceBasicChange" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from HZ_RELEVANCE_BASIC_CHANGE
    where
    CHANGE_VERSION = (
       select MAX(CHANGE_VERSION) from HZ_RELEVANCE_BASIC_CHANGE where RB_PROJECT_UID = #{rbProjectUid,jdbcType=VARCHAR} and SRC_ID = #{srcId,jdbcType=DECIMAL}
    )
    and
    RB_PROJECT_UID = #{rbProjectUid,jdbcType=VARCHAR}
    and
    SRC_ID = #{srcId,jdbcType=DECIMAL}
  </select>
</mapper>