<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HzFlowPointInfo">
  <resultMap id="BaseResultMap" type="sql.pojo.flow.HzFlowPointInfo">
    <id column="PUID" jdbcType="VARCHAR" property="puid" />
    <result column="P_FLOW_ID" jdbcType="VARCHAR" property="pFlowId" />
    <result column="P_POINT_NAME" jdbcType="VARCHAR" property="pPointName" />
    <result column="P_POINT_DUTY" jdbcType="VARCHAR" property="pPointDuty" />
    <result column="P_POINT_START_TIME" jdbcType="DATE" property="pPointStartTime" />
    <result column="P_POINT_END_TIME" jdbcType="DATE" property="pPointEndTime" />
    <result column="P_STATE" jdbcType="DECIMAL" property="pState" />
    <result column="P_IS_FIRST_POINT" jdbcType="DECIMAL" property="pIsFirstPoint" />
    <result column="P_IS_LAST_POINT" jdbcType="DECIMAL" property="pIsLastPoint" />
  </resultMap>
  <sql id="Base_Column_List">
    PUID, P_FLOW_ID, P_POINT_NAME, P_POINT_DUTY, P_POINT_START_TIME, P_POINT_END_TIME, 
    P_STATE, P_IS_FIRST_POINT, P_IS_LAST_POINT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from HZ_FLOW_POINT_INFO
    where PUID = #{puid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from HZ_FLOW_POINT_INFO
    where PUID = #{puid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="sql.pojo.flow.HzFlowPointInfo">
    insert into HZ_FLOW_POINT_INFO (PUID, P_FLOW_ID, P_POINT_NAME, 
      P_POINT_DUTY, P_POINT_START_TIME, P_POINT_END_TIME, 
      P_STATE, P_IS_FIRST_POINT, P_IS_LAST_POINT
      )
    values (#{puid,jdbcType=VARCHAR}, #{pFlowId,jdbcType=VARCHAR}, #{pPointName,jdbcType=VARCHAR}, 
      #{pPointDuty,jdbcType=VARCHAR}, #{pPointStartTime,jdbcType=DATE}, #{pPointEndTime,jdbcType=DATE}, 
      #{pState,jdbcType=DECIMAL}, #{pIsFirstPoint,jdbcType=DECIMAL}, #{pIsLastPoint,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="sql.pojo.flow.HzFlowPointInfo">
    insert into HZ_FLOW_POINT_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="puid != null">
        PUID,
      </if>
      <if test="pFlowId != null">
        P_FLOW_ID,
      </if>
      <if test="pPointName != null">
        P_POINT_NAME,
      </if>
      <if test="pPointDuty != null">
        P_POINT_DUTY,
      </if>
      <if test="pPointStartTime != null">
        P_POINT_START_TIME,
      </if>
      <if test="pPointEndTime != null">
        P_POINT_END_TIME,
      </if>
      <if test="pState != null">
        P_STATE,
      </if>
      <if test="pIsFirstPoint != null">
        P_IS_FIRST_POINT,
      </if>
      <if test="pIsLastPoint != null">
        P_IS_LAST_POINT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="puid != null">
        #{puid,jdbcType=VARCHAR},
      </if>
      <if test="pFlowId != null">
        #{pFlowId,jdbcType=VARCHAR},
      </if>
      <if test="pPointName != null">
        #{pPointName,jdbcType=VARCHAR},
      </if>
      <if test="pPointDuty != null">
        #{pPointDuty,jdbcType=VARCHAR},
      </if>
      <if test="pPointStartTime != null">
        #{pPointStartTime,jdbcType=DATE},
      </if>
      <if test="pPointEndTime != null">
        #{pPointEndTime,jdbcType=DATE},
      </if>
      <if test="pState != null">
        #{pState,jdbcType=DECIMAL},
      </if>
      <if test="pIsFirstPoint != null">
        #{pIsFirstPoint,jdbcType=DECIMAL},
      </if>
      <if test="pIsLastPoint != null">
        #{pIsLastPoint,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="sql.pojo.flow.HzFlowPointInfo">
    update HZ_FLOW_POINT_INFO
    <set>
      <if test="pFlowId != null">
        P_FLOW_ID = #{pFlowId,jdbcType=VARCHAR},
      </if>
      <if test="pPointName != null">
        P_POINT_NAME = #{pPointName,jdbcType=VARCHAR},
      </if>
      <if test="pPointDuty != null">
        P_POINT_DUTY = #{pPointDuty,jdbcType=VARCHAR},
      </if>
      <if test="pPointStartTime != null">
        P_POINT_START_TIME = #{pPointStartTime,jdbcType=DATE},
      </if>
      <if test="pPointEndTime != null">
        P_POINT_END_TIME = #{pPointEndTime,jdbcType=DATE},
      </if>
      <if test="pState != null">
        P_STATE = #{pState,jdbcType=DECIMAL},
      </if>
      <if test="pIsFirstPoint != null">
        P_IS_FIRST_POINT = #{pIsFirstPoint,jdbcType=DECIMAL},
      </if>
      <if test="pIsLastPoint != null">
        P_IS_LAST_POINT = #{pIsLastPoint,jdbcType=DECIMAL},
      </if>
    </set>
    where PUID = #{puid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="sql.pojo.flow.HzFlowPointInfo">
    update HZ_FLOW_POINT_INFO
    set P_FLOW_ID = #{pFlowId,jdbcType=VARCHAR},
      P_POINT_NAME = #{pPointName,jdbcType=VARCHAR},
      P_POINT_DUTY = #{pPointDuty,jdbcType=VARCHAR},
      P_POINT_START_TIME = #{pPointStartTime,jdbcType=DATE},
      P_POINT_END_TIME = #{pPointEndTime,jdbcType=DATE},
      P_STATE = #{pState,jdbcType=DECIMAL},
      P_IS_FIRST_POINT = #{pIsFirstPoint,jdbcType=DECIMAL},
      P_IS_LAST_POINT = #{pIsLastPoint,jdbcType=DECIMAL}
    where PUID = #{puid,jdbcType=VARCHAR}
  </update>
</mapper>