<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--User: xulf Date: 2018/7/27 Time: 10:11-->
<head th:include="include/includebase"></head>
<link th:href="@{/css/changeManage/vwo/vwoFromList.css}" rel="stylesheet"/>
<link th:href="@{/css/changeManage/vwo/vwoBasicInformation.css}" rel="stylesheet"/>
<meta charset="UTF-8">
<title>变更管理vwo</title>
</head>
<body>
<!--基本信息-->
<h4><i class="fa fa-minus-square" aria-hidden="true">基本信息</i></h4>
<button class="btn btn-success" style="position: fixed;margin-left:90%;margin-top: 100px;z-index:99999;"
        id="vwoSaveBtn">保存
</button>
<button class="btn btn-success" style="position: fixed;margin-left:90%;margin-top: 150px;z-index:99999;"
        id="release">发布
</button>
<button class="btn btn-success" style="position: fixed;margin-left:90%;margin-top: 200px;z-index:99999;"
        id="interrupt">中断
</button>
<div class="panel-body" style="padding:0;">
    <form class="form-horizontal" id="basicInfo" role="form" onsubmit="return false;">
        <fieldset>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-sm-12">
                        <input th:value="${vwo}" type="hidden" id="vwo" name="id"/>
                        <input th:value="${vwoType}" type="hidden" id="vwoType" name="vwoType"/>
                        <div class="col-lg-2 col-md-3 col-sm-4">
                            <div class="form-group after_the">
                                <label for="vwoNum">VWO号:</label>
                                <input class="form-control" style="width: 150px"
                                       id="vwoNum" name="vwoNum"
                                       type="text"
                                       disabled="disabled"
                                       th:value="${vwoInfo.getVwoNum()}"
                                />
                            </div>
                            <div class="form-group  after_the">
                                <label for="vwoCreateDate">创建时间:</label>
                                <input class="form-control" style="width: 150px"
                                       id="vwoCreateDate" name="vwoCreateDate"
                                       type="text"
                                       disabled="disabled"
                                       th:value="${vwoInfo.getVwoCreateDate()}"
                                />
                            </div>
                            <div class="form-group  after_the">
                                <label for="vwoStatus">流程状态:</label>
                                <input class="form-control" style="width: 150px"
                                       id="vwoStatus" name="vwoStatus"
                                       type="text"
                                       disabled="disabled"
                                       th:value="${vwoInfo.getVwoStatusName()}"
                                />
                            </div>
                            <div class="form-group after_the">
                                <label for="vwoName">标题:</label>
                                <input class="form-control" style="width: 150px"
                                       id="vwoName" name="vwoName"
                                       type="text"
                                       th:value="${vwoInfo.getVwoName()}"
                                />
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4">
                            <div class="form-group after_the">
                                <label for="userDeptName">部门:</label>
                                <input class="form-control" style="width: 150px"
                                       id="userDeptName" name="userDeptName"
                                       type="text"
                                       disabled="disabled"
                                       th:value="${vwoInfo.getUserDeptName()}"
                                />
                            </div>
                            <div class="form-group after_the">
                                <label for="vwoCreator">发起人:</label>
                                <input class="form-control" style="width: 150px"
                                       id="vwoCreator" name="vwoCreator"
                                       type="text"
                                       disabled="disabled"
                                       th:value="${vwoInfo.getVwoCreator()}"
                                />
                            </div>
                            <div class="form-group after_the">
                                <label for="contactPhoneNum">联系电话:</label>
                                <input class="form-control" style="width: 150px"
                                       id="contactPhoneNum" name="contactPhoneNum"
                                       type="text"
                                       th:value="${vwoInfo.getContactPhoneNum()}"
                                />
                            </div>
                            <div class="form-group after_the">
                                <label for="vwoDemandFinishTime">要求完成时间:</label>
                                <input class="form-control" style="width: 150px"
                                       id="vwoDemandFinishTime" name="vwoDemandFinishTime"
                                       type="text"
                                       th:value="${vwoInfo.getVwoDemandFinishTime()}"
                                />
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4">
                            <div class="form-group after_the">
                                <label for="vwoChangeType">变更类型:</label>
                                <select class="form-control" style="width: 150px" name="vwoChangeType" id="vwoChangeType">
                                    <option value="-1"></option>
                                    <option value="1" th:selected="${vwoInfo.getVwoChangeType()==1?true:false}">正常设变</option>
                                    <option value="2" th:selected="${vwoInfo.getVwoChangeType()==2?true:false}">简易设变</option>
                                </select>
                            </div>
                            <div class="form-group after_the">
                                <label for="vwoCostBearingDept">费用承担部门:</label>
                                <select class="form-control" style="width: 150px" name="vwoCostBearingDept" id="vwoCostBearingDept">
                                    <option></option>
                                    <option value="1" th:selected="${vwoInfo.getVwoCostBearingDept()=='1'?true:false}">专业审核</option>
                                    <option value="2" th:selected="${vwoInfo.getVwoCostBearingDept()=='2'?true:false}">变更协调员</option>
                                    <option value="3" th:selected="${vwoInfo.getVwoCostBearingDept()=='3'?true:false}">项目支持部门</option>
                                    <option value="4" th:selected="${vwoInfo.getVwoCostBearingDept()=='4'?true:false}">财务部门</option>
                                    <option value="5" th:selected="${vwoInfo.getVwoCostBearingDept()=='5'?true:false}">采购部门</option>
                                    <option value="6" th:selected="${vwoInfo.getVwoCostBearingDept()=='6'?true:false}">制造部门</option>
                                    <option value="7" th:selected="${vwoInfo.getVwoCostBearingDept()=='7'?true:false}">车身设计</option>
                                    <option value="8" th:selected="${vwoInfo.getVwoCostBearingDept()=='8'?true:false}">底盘设计</option>
                                    <option value="9" th:selected="${vwoInfo.getVwoCostBearingDept()=='9'?true:false}">电器设计</option>
                                    <option value="10" th:selected="${vwoInfo.getVwoCostBearingDept()=='10'?true:false}">内外饰设计</option>
                                    <option value="11" th:selected="${vwoInfo.getVwoCostBearingDept()=='11'?true:false}">动总集成设计</option>
                                    <option value="12" th:selected="${vwoInfo.getVwoCostBearingDept()=='12'?true:false}">发动机设计</option>
                                    <option value="13" th:selected="${vwoInfo.getVwoCostBearingDept()=='13'?true:false}">变速箱设计</option>
                                    <option value="14" th:selected="${vwoInfo.getVwoCostBearingDept()=='14'?true:false}">BOM工程师</option>
                                    <option value="15" th:selected="${vwoInfo.getVwoCostBearingDept()=='15'?true:false}">采购质量</option>
                                    <option value="16" th:selected="${vwoInfo.getVwoCostBearingDept()=='16'?true:false}">规划部门</option>
                                    <option value="17" th:selected="${vwoInfo.getVwoCostBearingDept()=='17'?true:false}">总布置</option>
                                    <option value="18" th:selected="${vwoInfo.getVwoCostBearingDept()=='18'?true:false}">备件管理部门</option>
                                    <option value="19" th:selected="${vwoInfo.getVwoCostBearingDept()=='19'?true:false}">造型</option>
                                    <option value="20" th:selected="${vwoInfo.getVwoCostBearingDept()=='20'?true:false}">销售部门(国内+国际)</option>
                                    <option value="21" th:selected="${vwoInfo.getVwoCostBearingDept()=='21'?true:false}">控制器或电气参数</option>
                                    <option value="22" th:selected="${vwoInfo.getVwoCostBearingDept()=='22'?true:false}">国内法规认证</option>
                                    <option value="23" th:selected="${vwoInfo.getVwoCostBearingDept()=='23'?true:false}">国际法规认证</option>
                                    <option value="24" th:selected="${vwoInfo.getVwoCostBearingDept()=='24'?true:false}">售后服务部门(国内+国际)</option>
                                    <option value="25" th:selected="${vwoInfo.getVwoCostBearingDept()=='25'?true:false}">材料部门</option>
                                    <option value="26" th:selected="${vwoInfo.getVwoCostBearingDept()=='26'?true:false}">沿用件工程师</option>
                                    <option value="27" th:selected="${vwoInfo.getVwoCostBearingDept()=='27'?true:false}">性能</option>
                                    <option value="28" th:selected="${vwoInfo.getVwoCostBearingDept()=='28'?true:false}">三化</option>
                                    <option value="29" th:selected="${vwoInfo.getVwoCostBearingDept()=='29'?true:false}">重量</option>
                                    <option value="30" th:selected="${vwoInfo.getVwoCostBearingDept()=='30'?true:false}">平台化</option>
                                    <option value="31" th:selected="${vwoInfo.getVwoCostBearingDept()=='31'?true:false}">CAE工程师</option>
                                    <option value="32" th:selected="${vwoInfo.getVwoCostBearingDept()=='32'?true:false}">制造部门</option>
                                </select>
                            </div>
                            <div class="form-group after_the">
                                <label for="vwoListedType">上市类型:</label>
                                <select class="form-control" style="width: 150px" name="vwoListedType" id="vwoListedType">
                                    <option value="-1"></option>
                                    <option value="1" th:selected="${vwoInfo.getVwoListedType()==1?true:false}">上市前</option>
                                    <option value="2" th:selected="${vwoInfo.getVwoListedType()==2?true:false}">上市后</option>
                                </select>
                            </div>
                            <div class="form-group after_the">
                                <label for="vwoConnectedVwo">关联VWO号:</label>
                                <input style="width: 150px" class="form-control"
                                       id="vwoConnectedVwo" name="vwoConnectedVwo"
                                       type="text"
                                       th:value="${vwoInfo.getVwoConnectedVwo()}"
                                />
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4">
                            <div class="form-group after_the">
                                <label for="platformCode">平台:</label>
                                <input style="width: 150px" class="form-control"
                                       id="platformCode" name="platformCode"
                                       type="text"
                                       disabled="disabled"
                                       th:value="${vwoInfo.getPlatformCode()}"
                                />
                            </div>
                            <div class="form-group after_the">
                                <label for="vehicleCode">车型代码:</label>
                                <input style="width: 150px" class="form-control"
                                       id="vehicleCode" name="vehicleCode"
                                       type="text"
                                       disabled="disabled"
                                       th:value="${vwoInfo.getVehicleCode()}"
                                />
                            </div>
                            <div class="form-group after_the">
                                <label for="projectCode">项目代码:</label>
                                <input style="width: 150px" class="form-control"
                                       id="projectCode" name="projectCode"
                                       type="text"
                                       disabled="disabled"
                                       th:value="${vwoInfo.getProjectCode()}"
                                />
                            </div>
                            <div class="form-group after_the">
                                <label for="vwoStartEffectiveTime">启动生效时间:</label>
                                <input style="width: 150px" class="form-control"
                                       id="vwoStartEffectiveTime" name="vwoStartEffectiveTime"
                                       type="text"
                                       th:value="${vwoInfo.getVwoStartEffectiveTime()}"
                                />
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4">
                            <div class="form-group after_the">
                                <label for="vwoEndEffectiveTime">终止生效时间:</label>
                                <input type="text" style="width: 150px" class="form-control"
                                       id="vwoEndEffectiveTime" name="vwoEndEffectiveTime"
                                       th:value="${vwoInfo.getVwoEndEffectiveTime()}"
                                />
                            </div>
                            <div class="form-group after_the">
                                <label for="vwoProjectStage">项目所属阶段:</label>
                                <input style="width: 150px" class="form-control"
                                       id="vwoProjectStage" name="vwoProjectStage"
                                       type="text"
                                       th:value="${vwoInfo.getVwoProjectStage()}"
                                />
                            </div>
                            <div class="form-group after_the">
                                <label for="vwoExpectExecuteTime">预计实施时间:</label>
                                <input type="text" style="width: 150px" class="form-control"
                                       id="vwoExpectExecuteTime" name="vwoExpectExecuteTime"
                                       th:value="${vwoInfo.getVwoExpectExecuteTime()}"
                                />
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group after_the">
                                <table id="connectedTable" name="connectedTable"></table>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group after_the">
                                <label for="vwoChangeReason">原因描述:</label>
                                <textarea rows="2" cols="30" style="width: 100%;resize:none"
                                          class="form-control"
                                          id="vwoChangeReason" name="vwoChangeReason"
                                          th:text="${vwoInfo.getVwoChangeReason()}"
                                >
                        </textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<!--变更描述-->
<h4><i class="fa fa-minus-square" aria-hidden="true">变更描述</i></h4>
<div class="panel-body" style="padding:0;">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="content col-lg-12" style="padding: 3px"><!--style="margin-top: -50px;"-->
                <table id="vwo_table" class="table table-striped"></table>
            </div>
        </div>
    </div>
</div>
<!--相关部门-->
<h4><i class="fa fa-minus-square" aria-hidden="true">影响部门</i></h4>
<div class="panel-body" style="padding-bottom:0px;">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="panel-body" style="padding-bottom:0px;">
                <form class="form-horizontal" id="influenceDept" role="form" onsubmit="return false;">
                    <fieldset>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="content col-lg-4" style="text-align: center;">
                                    <label>研究涉及部门</label>
                                </div>
                                <div class="content col-lg-8"><!--style="margin-top: -50px;"-->
                                    <input id="influenceVwoId" name="vwoId" type="hidden"
                                           th:value="${influenceDept.getVwoId()}"/>
                                    <table id="vwo_table1" class="table table-striped tableNormalStyle">
                                        <tr>
                                            <td style="width: 50px"><input type="checkbox" id="vwoIdri"
                                                                           name="vwoIdri"
                                                                           value="1"
                                                                           th:checked="${influenceDept.getVwoIdri()==1?true:false}"/>
                                            </td>
                                            <td><label for="vwoIdri">智能驾驶研究院</label></td>
                                            <td style="width: 50px"><input type="checkbox" id="vwoIcbu"
                                                                           name="vwoIcbu"
                                                                           value="1"
                                                                           th:checked="${influenceDept.getVwoIcbu()==1?true:false}"/>
                                            </td>
                                            <td><label for="vwoIcbu">智能座舱事业部</label></td>
                                            <td style="width: 50px"><input type="checkbox" id="vwoMcc" name="vwoMcc"
                                                                           value="1"
                                                                           th:checked="${influenceDept.getVwoMcc()==1?true:false}"/>
                                            </td>
                                            <td><label for="vwoMcc">电动化底盘中心</label></td>
                                        </tr>
                                        <tr>
                                            <td style="width: 50px"><input type="checkbox" id="vwoEec" name="vwoEec"
                                                                           value="1"
                                                                           th:checked="${influenceDept.getVwoEec()==1?true:false}"/>
                                            </td>
                                            <td><label for="vwoEec">电子电器中心</label></td>
                                            <td style="width: 50px"><input type="checkbox" id="vwoIdc" name="vwoIdc"
                                                                           value="1"
                                                                           th:checked="${influenceDept.getVwoIdc()==1?true:false}"/>
                                            </td>
                                            <td><label for="vwoIdc">内外饰中心</label></td>
                                            <td style="width: 50px"><input type="checkbox" id="vwoDic" name="vwoDic"
                                                                           value="1"
                                                                           th:checked="${influenceDept.getVwoDic()==1?true:false}"/>
                                            </td>
                                            <td><label for="vwoDic">动总集成中心</label></td>
                                        </tr>
                                        <tr>
                                            <td style="width: 50px"><input type="checkbox" id="vwoVbc" name="vwoVbc"
                                                                           value="1"
                                                                           th:checked="${influenceDept.getVwoVbc()==1?true:false}"/>
                                            </td>
                                            <td><label for="vwoVbc"> 车身中心</label></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="col-lg-3 col-md-3">
                    <div class="form-group after_the">
                        <a href="javascript:void(0)" onclick="doSelectPerson('1')">专业科长:</a>
                        <span id="sp_1" th:text="${influenceUser.getVwoProSectionChiefName()}"></span>
                    </div>
                    <div class="form-group after_the">
                        <a href="javascript:void(0)" onclick="doSelectPerson('2')">变更协调员:</a>
                        <span id="sp_2" th:text="${influenceUser.getVwoChangeCoordinatorName()}"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="form-group after_the">
                        <a href="javascript:void(0)" onclick="doSelectPerson('3')">车身:</a>
                        <span id="sp_3" th:text="${influenceUser.getVwoVehicleBodyUserName()}"></span>
                    </div>
                    <div class="form-group after_the">
                        <a href="javascript:void(0)" onclick="doSelectPerson('4')">底盘:</a>
                        <span id="sp_4" th:text="${influenceUser.getVwoChassisName()}"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="form-group after_the">
                        <a href="javascript:void(0)" onclick="doSelectPerson('5')">电器:</a>
                        <span id="sp_5" th:text="${influenceUser.getVwoElectricApplianceName()}"></span>
                    </div>
                    <div class="form-group after_the">
                        <a href="javascript:void(0)" onclick="doSelectPerson('6')">内外饰:</a>
                        <span id="sp_6" th:text="${influenceUser.getVwoIeoName()}"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="form-group after_the">
                        <a href="javascript:void(0)" onclick="doSelectPerson('7')">项目经理:</a>
                        <span id="sp_7" th:text="${influenceUser.getVwoProjectManagerName()}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--评估意见-->
<h4><i class="fa fa-minus-square" aria-hidden="true">评估意见</i></h4>
<div class="panel-body" style="padding-bottom:0px;">
    <div class="panel panel-default panel-body">
        <div class="col-lg-12 col-md-12">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="panel panel-default panel-body" style="padding-bottom:0px;">
                    <div class="panel-body">
                        <h4>BOM经理</h4>
                        <div class="form-group">
                            <label for="pMaterielDesc">意见</label>
                            <textarea rows="2" cols="30" class="form-control"
                                      style="width: 100%;resize:none"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="type">结论</label>
                            <select class="form-control" name="type" id="type"
                                    placeholder="请选择是否同意">
                                <option>同意</option>
                                <option>不同意</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="pMaterielDesc">日期</label>
                            <input class="form-control" id="pMaterielDesc" name="pMaterielDesc" type="text"
                                   value="2018-07-26"
                                   placeholder="请输入物料名称"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="panel-body" style="padding-bottom:0px;">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h4>专业PMT经理</h4>
                            <div class="form-group">
                                <label for="pMaterielDesc">意见</label>
                                <textarea rows="2" cols="30" class="form-control"
                                          style="width: 100%;resize:none"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="type">结论</label>
                                <select class="form-control" name="type" id="type1"
                                        placeholder="请选择是否同意">
                                    <option>同意</option>
                                    <option>不同意</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="pMaterielDesc">日期</label>
                                <input class="form-control" id="pMaterielDesc1" name="pMaterielDesc" type="text"
                                       value="2018-07-26"
                                       placeholder="请输入物料名称"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="panel-body" style="padding-bottom:0px;">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h4>项目经理</h4>
                            <div class="form-group">
                                <label for="pMaterielDesc">意见</label>
                                <textarea rows="2" cols="30" class="form-control"
                                          style="width: 100%;resize:none"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="type">结论</label>
                                <select class="form-control" name="type" id="type2"
                                        placeholder="请选择是否同意">
                                    <option>同意</option>
                                    <option>不同意</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="pMaterielDesc">日期</label>
                                <input class="form-control" id="pMaterielDesc2" name="pMaterielDesc" type="text"
                                       value="2018-07-26" placeholder="请输入物料名称"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--备注-->
<h4><i class="fa fa-minus-square" aria-hidden="true">备注</i></h4>
<div class="panel-body" style="padding-bottom:0px;">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-lg-12 col-md-12">
                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        <label for="pMaterielDesc">说明:</label>
                        <textarea rows="2" cols="30" class="form-control"
                                  style="width: 100%;resize:none"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--分发与实施-->
<h4><i class="fa fa-minus-square" aria-hidden="true">分发与实施</i></h4>
<div class="panel-body" style="padding-bottom:0px;">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="content col-lg-12">
                <table class="table table-striped tableNormalStyle" id="executeTable">
                </table>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/helper/dateFormater.js}"></script>
<script th:src="@{/js/changeManage/vwo/vwoBasicInformation.js}"></script>
<script th:inline="javascript">
    var vwoInfo = [[${vwoInfo}]];
    $(function(){
        console.log(vwoInfo);
        console.log("状态:"+vwoInfo.vwoStatus);
    });
    function doQuery() {
        $('#connectedTable').bootstrapTable('refresh');    //刷新表格
    };

    function reloadSheet(type, name) {
        // window.location.reload();//刷新当前页面.
        $("#sp_" + type).text(name);
        undead();
    }
</script>
</body>
</html>