<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--User: xulf Date: 2018/7/27 Time: 10:11-->
<head th:include="include/includebase"></head>
<link th:href="@{/css/changeManage/vwo/vwoFromList.css}" rel="stylesheet"/>
<meta charset="UTF-8">
<title>变更管理vwo</title>
</head>
<body>
<!--基本信息-->
<h4><i class="fa fa-minus-square" aria-hidden="true">基本信息</i></h4>
<div class="panel-body" style="padding:0;">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-lg-12 col-md-12">
                <div class="col-lg-2 col-md-2">
                    <div class="form-group after_the">
                        <label for="VWOnum">VWO号:</label>
                        <input type="text" style="width: 150px" class="form-control" name="level" id="VWOnum"
                               placeholder=""/>
                    </div>
                    <div class="form-group  after_the">
                        <label for="creatTime">创建时间:</label>
                        <input type="text" style="width: 150px" class="form-control" name="pBomOfWhichDept"
                               id="creatTime"
                               placeholder=""/>
                    </div>
                    <div class="form-group  after_the">
                        <label for="processState">流程状态:</label>
                        <input type="text" style="width: 150px" class="form-control" name="rank" id="processState"
                               placeholder=""/>
                    </div>
                    <div class="form-group after_the">
                        <label for="title">标题:</label>
                        <input type="text" style="width: 150px" class="form-control" name="groupNum" id="title"
                               placeholder=""/>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2">
                    <div class="form-group after_the">
                        <label for="dept">部门:</label>
                        <input type="text" style="width: 150px" class="form-control" name="lineId" id="dept"
                               placeholder=""/>
                    </div>
                    <div class="form-group after_the">
                        <label for="initiator">发起人:</label>
                        <input type="text" style="width: 150px" class="form-control" name="itemType" id="initiator"
                               placeholder=""/>
                    </div>
                    <div class="form-group after_the">
                        <label for="phone">联系电话:</label>
                        <input type="text" style="width: 150px" class="form-control" name="itemType" id="phone"
                               placeholder=""/>
                    </div>
                    <div class="form-group after_the">
                        <label for="finishTime">要求完成时间:</label>
                        <input type="text" style="width: 150px" class="form-control" name="itemType" id="finishTime"
                               placeholder=""/>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2">
                    <div class="form-group after_the">
                        <label for="changeType">变更类型:</label>
                        <input type="text" style="width: 150px" class="form-control" name="itemType" id="changeType"
                               placeholder=""/>
                    </div>
                    <div class="form-group after_the">
                        <label for="expenseDept">费用承担部门:</label>
                        <select class="form-control" style="width: 150px" name="" id="expenseDept">
                            <option>车身部门</option>
                            <option>车身部门</option>
                            <option>车身部门</option>
                            <option>车身部门</option>
                            <option>车身部门</option>
                        </select>
                    </div>
                    <div class="form-group after_the">
                        <label for="listedType">上市类型:</label>
                        <input type="text" style="width: 150px" class="form-control" name="itemType" id="listedType"
                               placeholder=""/>
                    </div>
                    <div class="form-group after_the">
                        <label for="relevanceVWONum1">关联VWO号:</label>
                        <input type="text" style="width: 150px" class="form-control" name="itemType"
                               id="relevanceVWONum1"
                               placeholder=""/>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2">
                    <div class="form-group after_the">
                        <label for="relevanceVWONum">平台:</label>
                        <input type="text" style="width: 150px" class="form-control" name="itemType"
                               id="relevanceVWONum3"
                               placeholder=""/>
                    </div>
                    <div class="form-group after_the">
                        <label for="relevanceVWONum">车型代码:</label>
                        <input type="text" style="width: 150px" class="form-control" name="itemType"
                               id="relevanceVWONum4"
                               placeholder=""/>
                    </div>
                    <div class="form-group after_the">
                        <label for="relevanceVWONum">项目代码:</label>
                        <input type="text" style="width: 150px" class="form-control" name="itemType"
                               id="relevanceVWONum5"
                               placeholder=""/>
                    </div>
                    <div class="form-group after_the">
                        <label for="relevanceVWONum">启动生效时间:</label>
                        <input type="text" style="width: 150px" class="form-control" name="itemType"
                               id="relevanceVWONum6"
                               placeholder=""/>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2">
                    <div class="form-group after_the">
                        <label for="relevanceVWONum1">终止生效时间:</label>
                        <input type="text" style="width: 150px" class="form-control" name="itemType"
                               id="relevanceVWONum7"
                               placeholder=""/>
                    </div>
                    <div class="form-group after_the">
                        <label for="relevanceVWONum5">项目所属阶段:</label>
                        <input type="text" style="width: 150px" class="form-control" name="itemType"
                               id="relevanceVWONum8"
                               placeholder=""/>
                    </div>
                    <div class="form-group after_the">
                        <label for="relevanceVWONum3">关联工程师姓名:</label>
                        <input type="text" style="width: 150px" class="form-control" name="itemType"
                               id="relevanceVWONum9"
                               placeholder=""/>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2">
                    <div class="form-group after_the">
                        <label for="relevanceVWONum4">所属部门:</label>
                        <input type="text" style="width: 150px" class="form-control" name="itemType"
                               id="relevanceVWONum10"
                               placeholder=""/>
                    </div>
                    <div class="form-group after_the">
                        <label for="relevanceVWONum">关联零件号:</label>
                        <input type="text" style="width: 150px" class="form-control" name="itemType"
                               id="relevanceVWONum11"
                               placeholder=""/>
                    </div>
                    <div class="form-group after_the">
                        <label for="relevanceVWONum">关联零件名称:</label>
                        <input type="text" style="width: 150px" class="form-control" name="itemType"
                               id="relevanceVWONum12"
                               placeholder=""/>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="form-group after_the">
                        <label for="relevanceVWONum">原因描述:</label>
                        <textarea rows="2" cols="30" class="form-control"
                                  style="width: 100%;resize:none"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--变更描述-->
<h4><i class="fa fa-minus-square" aria-hidden="true">变更描述</i></h4>
<div class="panel-body" style="padding:0;">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="content col-lg-12" style="padding: 3px"><!--style="margin-top: -50px;"-->
                <table id="vwo_table" class="table table-striped tableNormalStyle">
                    <tr>
                        <th>变更描述</th>
                        <th>配置编号</th>
                        <th>配置语句</th>
                        <th>适用车型</th>
                    </tr>
                    <tr>
                        <th>变更前</th>
                        <td contentEditable="true"></td>
                        <td contentEditable="true"></td>
                        <td contentEditable="true"></td>
                    </tr>
                    <tr>
                        <th>变更后</th>
                        <td contentEditable="true"></td>
                        <td contentEditable="true"></td>
                        <td contentEditable="true"></td>
                    </tr>
                    <tr>
                        <th>附件</th>
                        <td contentEditable="true"></td>
                        <td contentEditable="true"></td>
                        <td contentEditable="true"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<!--相关部门-->
<h4><i class="fa fa-minus-square" aria-hidden="true">相关部门</i></h4>
<div class="panel-body" style="padding-bottom:0px;">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="panel-body" style="padding-bottom:0px;">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <label>影响部门:</label>
                        <div class="content col-lg-5"><!--style="margin-top: -50px;"-->
                            <table id="vwo_table1" class="table table-striped tableNormalStyle">
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>智能驾驶研究院</td>
                                    <td><input type="checkbox"></td>
                                    <td>智能座舱事业部</td>
                                    <td><input type="checkbox"></td>
                                    <td>电动化底盘中心</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>电子电器中心</td>
                                    <td><input type="checkbox"></td>
                                    <td>内外饰中心</td>
                                    <td><input type="checkbox"></td>
                                    <td>动总集成中心</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>车身中心</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="col-lg-3 col-md-3">
                    <div class="form-group after_the">
                        <label for="expenseDept">专业科长:</label>
                        <select class="form-control" name="" id="expenseDept1">
                            <option>×××科长</option>
                            <option>×××科长</option>
                            <option>×××科长</option>
                            <option>×××科长</option>
                            <option>×××科长</option>
                        </select>
                    </div>
                    <div class="form-group after_the">
                        <label for="expenseDept">变更协调员:</label>
                        <select class="form-control" name="" id="expenseDept7">
                            <option>×××协调员</option>
                            <option>×××协调员</option>
                            <option>×××协调员</option>
                            <option>×××协调员</option>
                            <option>×××协调员</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="form-group after_the">
                        <label for="expenseDept">车身:</label>
                        <select class="form-control" name="" id="expenseDept2">
                            <option>×××车身</option>
                            <option>×××车身</option>
                            <option>×××车身</option>
                            <option>×××车身</option>
                            <option>×××车身</option>
                        </select>
                    </div>
                    <div class="form-group after_the">
                        <label for="expenseDept">底盘:</label>
                        <select class="form-control" name="" id="expenseDept6">
                            <option>×××底盘</option>
                            <option>×××底盘</option>
                            <option>×××底盘</option>
                            <option>×××底盘</option>
                            <option>×××底盘</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="form-group after_the">
                        <label for="expenseDept">电器:</label>
                        <select class="form-control" name="" id="expenseDept3">
                            <option>×××电器</option>
                            <option>×××电器</option>
                            <option>×××电器</option>
                            <option>×××电器</option>
                            <option>×××电器</option>
                        </select>
                    </div>
                    <div class="form-group after_the">
                        <label for="expenseDept">内外饰:</label>
                        <select class="form-control" name="" id="expenseDept5">
                            <option>×××内外饰</option>
                            <option>×××内外饰</option>
                            <option>×××内外饰</option>
                            <option>×××内外饰</option>
                            <option>×××内外饰</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="form-group after_the">
                        <label for="expenseDept">项目经理:</label>
                        <select class="form-control" name="" id="expenseDept4">
                            <option>×××项目经理</option>
                            <option>×××项目经理</option>
                            <option>×××项目经理</option>
                            <option>×××项目经理</option>
                            <option>×××项目经理</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--评估意见-->
<h4><i class="fa fa-minus-square" aria-hidden="true">评估意见</i></h4>
<div class="panel-body" style="padding-bottom:0px;">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-lg-12 col-md-12">
                <div class="col-lg-4 col-md-4">
                    <div class="panel-body" style="padding-bottom:0px;">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h4>BOM经理</h4>
                                <div class="form-group">
                                    <label for="pMaterielDesc">意见</label>
                                    <textarea rows="1" cols="30" class="form-control"
                                              style="width: 100%;height: 102px;resize:none"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="type">结论</label>
                                    <select class="form-control" name="type" id="type"
                                            placeholder="请选择是否同意">
                                        <option>同意</option>
                                        <option>不同意</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="pMaterielDesc">日期</label>
                                    <input class="form-control" id="pMaterielDesc" name="pMaterielDesc" type="text"
                                           value="2018-07-26"
                                           placeholder="请输入物料名称"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="panel-body" style="padding-bottom:0px;">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h4>专业PMT经理</h4>
                                <div class="form-group">
                                    <label for="pMaterielDesc">意见</label>
                                    <textarea rows="1" cols="30" class="form-control"
                                              style="width: 100%;height: 102px;resize:none"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="type">结论</label>
                                    <select class="form-control" name="type" id="type1"
                                            placeholder="请选择是否同意">
                                        <option>同意</option>
                                        <option>不同意</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="pMaterielDesc">日期</label>
                                    <input class="form-control" id="pMaterielDesc1" name="pMaterielDesc" type="text"
                                           value="2018-07-26"
                                           placeholder="请输入物料名称"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="panel-body" style="padding-bottom:0px;">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h4>项目经理</h4>
                                <div class="form-group">
                                    <label for="pMaterielDesc">意见</label>
                                    <textarea rows="1" cols="30" class="form-control"
                                              style="width: 100%;height: 102px;resize:none"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="type">结论</label>
                                    <select class="form-control" name="type" id="type2"
                                            placeholder="请选择是否同意">
                                        <option>同意</option>
                                        <option>不同意</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="pMaterielDesc">日期</label>
                                    <input class="form-control" id="pMaterielDesc2" name="pMaterielDesc" type="text"
                                           value="2018-07-26" placeholder="请输入物料名称"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--备注-->
<h4><i class="fa fa-minus-square" aria-hidden="true">备注</i></h4>
<div class="panel-body" style="padding-bottom:0px;">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-lg-12 col-md-12">
                <div class="col-lg-3 col-md-3">
                    <!--<div class="form-group after_the">-->
                    <!--<label for="VWOnum">附件:</label>-->
                    <!--<input type="file" class="form-control" name="level" id="VWOnum1"-->
                    <!--placeholder=""/>-->
                    <!--</div>-->
                    <div class="form-group  after_the">
                        <label for="creatTime">文件名称:</label>
                        <input type="text" class="form-control" name="pBomOfWhichDept"
                               id="creatTime2"
                               placeholder=""/>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="form-group after_the">
                        <label for="VWOnum">上传人:</label>
                        <input type="text" class="form-control" name="level" id="VWOnum2"
                               placeholder=""/>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="form-group  after_the">
                        <label for="creatTime">上传日期:</label>
                        <input type="text" class="form-control" name="pBomOfWhichDept"
                               id="creatTime1"
                               placeholder=""/>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="col-lg-9 col-md-9">
                    <div class="form-group">
                        <label for="pMaterielDesc">说明:</label>
                        <textarea rows="2" cols="30" class="form-control"
                                  style="width: 100%;resize:none"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--分发与实施-->
<h4><i class="fa fa-minus-square" aria-hidden="true">分发与实施</i></h4>
<div class="panel-body" style="padding-bottom:0px;">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="content col-lg-12">
                <table class="table table-striped tableNormalStyle" id="routingDataTable">
                    <tr>
                        <th>部门</th>
                        <th>人员</th>
                        <th>角色</th>
                        <th>任务</th>
                        <th>计划完成时间</th>
                        <th>状态</th>
                        <th>证明</th>
                    </tr>
                    <tr>
                        <td contentEditable="true">制造部门</td>
                        <td contentEditable="true"></td>
                        <td contentEditable="true">EDIT</td>
                        <td contentEditable="true"></td>
                        <td contentEditable="true"></td>
                        <td contentEditable="true"></td>
                        <td contentEditable="true"></td>
                    </tr>
                    <tr>
                        <td contentEditable="true">制造部门</td>
                        <td contentEditable="true"></td>
                        <td contentEditable="true">EDIT</td>
                        <td contentEditable="true"></td>
                        <td contentEditable="true"></td>
                        <td contentEditable="true"></td>
                        <td contentEditable="true"></td>
                    </tr>
                    <tr>
                        <td contentEditable="true">制造部门</td>
                        <td contentEditable="true"></td>
                        <td contentEditable="true">EDIT</td>
                        <td contentEditable="true"></td>
                        <td contentEditable="true"></td>
                        <td contentEditable="true"></td>
                        <td contentEditable="true"></td>
                    </tr>
                    <tr>
                        <td contentEditable="true">制造部门</td>
                        <td contentEditable="true"></td>
                        <td contentEditable="true">EDIT</td>
                        <td contentEditable="true"></td>
                        <td contentEditable="true"></td>
                        <td contentEditable="true"></td>
                        <td contentEditable="true"></td>
                    </tr>
                    <tr>
                        <td contentEditable="true">制造部门</td>
                        <td contentEditable="true"></td>
                        <td contentEditable="true">EDIT</td>
                        <td contentEditable="true"></td>
                        <td contentEditable="true"></td>
                        <td contentEditable="true"></td>
                        <td contentEditable="true"></td>
                    </tr>
                    <tr>
                        <td contentEditable="true">制造部门</td>
                        <td contentEditable="true"></td>
                        <td contentEditable="true">EDIT</td>
                        <td contentEditable="true"></td>
                        <td contentEditable="true"></td>
                        <td contentEditable="true"></td>
                        <td contentEditable="true"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>