<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--User: xulf Date: 2018/7/25 Time: 18:17-->
<head>
    <meta charset="UTF-8">
    <title>相关部门</title>
    <link th:href="@{/css/stage/bom-stage.css}" rel="stylesheet"/>
    <link th:href="@{/css/changeManage/vwo/vwoBasicInformation.css}" rel="stylesheet"/>
    <link th:href="@{/css/cdn/bootstraps.min.css}" rel="stylesheet"/>
    <script th:src="@{/js/cdn/jquerys.min.js}"></script>
    <script th:src="@{/js/cdn/bootstraps.min.js}"></script>
    <script th:src="@{/js/cdn/popper.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="vwo/vwoFromList">基本信息</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="vwo/changeDescription">变更描述</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">相关部门</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">评估意见</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">备注</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">分发与实施</a>
        </li>
    </ul>
</nav>
<div class="form-group">
    <label for="type">影响部门:</label>
    <select class="form-control" style="min-width: 180px" name="type" id="type" placeholder="请选择工艺路线">
        <option>车身技术部门</option>
        <option>电子电器技术部门</option>
        <option>底盘技术部门</option>
        <option>系统集成技术部门</option>
        <option>内外饰技术部门</option>
    </select>
</div>
</body>
</html>