<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!--User: xulf Date: 2018/6/4 Time: 15:10-->
<body>
<form id="ebomMainForm" role="form" method="post" action="ebom/update/ebom">
    <input id="puid" name="puid" type="hidden" th:value="${puid}"/>
    <div class="form-group" th:each="_data,c:${data.get(0)}">
        <label class="control-label" th:text="${_data}"></label>
        <input class="form-control" th:id="${data.get(1)[c.index]}" th:name="${data.get(1)[c.index]}" type="text"
         th:value="${data.get(2)[c.index]}"      th:placeholder="${'请输入'+_data}"/><!--th:value="${entity.level}"-->
    </div>
</form>
<script th:inline="javascript">
    <![CDATA[
    $(function () {
        $('#ebomMainForm').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                item_id: {
                    message: '零组件验证失败',
                    validators: {
                        notEmpty: {
                            message: '零组件不能为空'
                        }
                    }
                },
            }
        });
        // 绑定dialog的确定按钮的监听事件
        $("#btnOk", window.top.document).click(function () {
            var bootstrapValidator = $("#ebomMainForm", window.top.document).data('bootstrapValidator');
            bootstrapValidator.validate();
            if (bootstrapValidator.isValid()) {
                var url = $("#ebomMainForm", window.top.document).attr('action');
                var projectPuid = $("#project", window.top.document).val();
                var puid = $("#puid").val();
                // alert(puid);
                /*var myData = JSON.stringify({
                    "pBomPuid": $("#pBomPuid").val(),
                    "level": $("#level").val(),
                    "pBomOfWhichDept": $("#pBomOfWhichDept").val(),
                    "lineId": $("#lineId").val(),
                    "bomDigifaxId": $("#bomDigifaxId").val(),
                    "sparePart": $("#sparePart").val(),
                    "sparePartNum": $("#sparePartNum").val(),
                    "processRoute": $("#processRoute").val(),
                    "laborHour": $("#laborHour").val(),
                    "rhythm": $("#rhythm").val(),
                    "solderJoint": $("#solderJoint").val(),
                    "machineMaterial": $("#machineMaterial").val(),
                    "standardPart": $("#standardPart").val(),
                    "tools": $("#tools").val(),
                    "wasterProduct": $("#wasterProduct").val(),
                    "change": $("#change").val(),
                    "changeNum": $("#changeNum").val()
                });*/
                var data = {};
                var _d = $("#ebomMainForm").serializeArray();
                for (var p in _d) {
                    data[_d[p].name] = _d[p].value;
                }
                // console.log(data);
                // console.log(JSON.stringify(data));
                $.ajax({
                    contentType:
                        "application/json",
                    type:
                        'POST',
                    url: url+"?projectId="+projectPuid,
                    data: JSON.stringify(data),
                    success:
                        function (result) {
                            $('.modal-dialog', window.top.document).parent('div').remove()
                            $('body', window.top.document).find('.modal-backdrop').remove();
                            // jquery 调用刷新当前操作的table页面的refresh方法
                            $(window.parent.document).contents().find(".tab-pane.fade.active.in iframe")[0].contentWindow.doQuery();
                            /*if (result)
                                window.Ewin.alert({message: '修改数据成功!'});
                            else
                                window.Ewin.alert({message: '修改数据失败!'});*/
                            window.Ewin.alert({message:result.errMsg})
                        },
                    error: function (status) {
                        window.Ewin.alert({message: status.status + ':修改数据失败!'});
                    }
                });
            }
        });
    })
    ]]>
</script>
</body>
</html>