<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!--User: xulf Date: 2018/8/28 Time: 20:39-->
<body>
<form id="dictionaryLibraryForm" role="form" method="post" action="">
    <input id="id"name="id" type="hidden">
    <div class="form-group">
        <label for="">专业部</label>
        <input class="form-control" id="" name="" type="text"
               placeholder="请输入专业部"/>
    </div>
    <div class="form-group">
        <label for="">Professsion</label>
        <input class="form-control" id="" name="" type="text"
               placeholder="请输入Professsion"/>
    </div>
    <div class="form-group">
        <label for="">分类</label>
        <input class="form-control" id="" name="" type="text"
               placeholder="请输入分类"/>
    </div>
    <div class="form-group">
        <label for="">classification</label>
        <input class="form-control" id="" name="" type="text"
               placeholder="请输入classification"/>
    </div>
    <div class="form-group">
        <label for="">特征组代码</label>
        <input class="form-control" id="" name="" type="text"
               placeholder="请输入特征组代码"/>
    </div>
    <div class="form-group">
        <label for="">特征组</label>
        <input class="form-control" id="" name="" type="text"
               placeholder="请输入特征组"/>
    </div>
    <div class="form-group">
        <label for="">group</label>
        <input class="form-control" id="" name="" type="text"
               placeholder="请输入group"/>
    </div>
    <div class="form-group">
        <label for="">特征族代码</label>
        <input class="form-control" id="" name="" type="text"
               placeholder="请输入特征族代码"/>
    </div>
    <div class="form-group">
        <label for="">特征族</label>
        <input class="form-control" id="" name="" type="text"
               placeholder="请输入特征族"/>
    </div>
    <div class="form-group">
        <label for="">familly</label>
        <input class="form-control" id="" name="" type="text"
               placeholder="请输入familly"/>
    </div>
    <div class="form-group">
        <label for="">特征值</label>
        <input class="form-control" id="" name="" type="text"
               placeholder="请输入特征值"/>
    </div>
    <div class="form-group">
        <label for="">特征值描述</label>
        <input class="form-control" id="" name="" type="text"
               placeholder="请输入特征值描述"/>
    </div>
    <div class="form-group">
        <label for="">value description</label>
        <input class="form-control" id="" name="" type="text"
               placeholder="请输入value description"/>
    </div>
    <div class="form-group">
        <label for="">类型</label>
        <input class="form-control" id="" name="" type="text"
               placeholder="请输入类型"/>
    </div>
    <div class="form-group">
        <label for="">特征值来源</label>
        <input class="form-control" id="" name="" type="text"
               placeholder="请输入特征值来源"/>
    </div>
    <div class="form-group">
        <label for="">生效时间</label>
        <input class="form-control" id="" name="" type="text"
               placeholder="请输入生效时间"/>
    </div>
    <div class="form-group">
        <label for="">失效时间</label>
        <input class="form-control" id="" name="" type="text"
               placeholder="请输入失效时间"/>
    </div>
    <div class="form-group">
        <label for="">备注</label>
        <input class="form-control" id="" name="" type="text"
               placeholder="请输入备注"/>
    </div>
</form>
<script th:inline="javascript">
    <![CDATA[
    $(function () {
        $('#dictionaryLibraryForm').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            id: {
                factoryCode: {
                    message: 'id验证失败',
                    validators: {
                        notEmpty: {
                            message: 'id不能为空'
                        }
                    }
                },
            }
        });
        // 绑定dialog的确定按钮的监听事件
        $("#btnOk", window.top.document).click(function () {
            var bootstrapValidator = $("#dictionaryLibraryForm", window.top.document).data('bootstrapValidator');
            bootstrapValidator.validate();
            if (bootstrapValidator.isValid()) {
                var url = $("#dictionaryLibraryForm", window.top.document).attr('action');
                var myData = JSON.stringify({
                    "id": $("#id").val(),
                });
                $.ajax({
                    contentType:
                        "application/json",
                    type:
                        'POST',
                    url: url,
                    data: myData,
                    success:
                        function (result) {
                            $('.modal-dialog', window.top.document).parent('div').remove()
                            $('body', window.top.document).find('.modal-backdrop').remove();
                            // jquery 调用刷新当前操作的table页面的refresh方法
                            $(window.parent.document).contents().find(".tab-pane.fade.active.in iframe")[0].contentWindow.doQuery();
                            if (result.success) {
                                layer.msg('修改成功', {icon: 1, time: 2000})
                            }
                            else if(!result.success){
                                window.Ewin.alert({message: result.errMsg})
                            }
                        },
                    error: function (status) {
                        window.Ewin.alert({message: status.status + ':修改数据失败!'});
                    }
                });
            }
        });
    })
    ]]>
</script>
<script th:src="@{/layer/layer.js}"></script>
</body>
</html>