<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!--User: xulf Date: 2018/8/28 Time: 20:39-->
<link th:href="@{/css/labelColor.css}" rel="stylesheet">
<body>
<form id="dictionaryLibraryForm" role="form" method="post" action="dict/updateById">
    <input id="puid" name="id" type="hidden" th:value="${data.puid}">
    <div class="form-group">
        <label for="professionCh">专业部<span>*</span></label>
        <input class="form-control" id="professionCh" name="professionCh" type="text"
               th:value="${data.professionCh}"      placeholder="请输入专业部"/>
    </div>
    <div class="form-group">
        <label for="professionEn">Profession</label>
        <input class="form-control" id="professionEn" name="professionEn" type="text"
               th:value="${data.professionEn}"     placeholder="请输入Professsion"/>
    </div>
    <div class="form-group">
        <label for="classificationCh">分类<span>*</span></label>
        <input class="form-control" id="classificationCh" name="classificationCh" type="text"
               th:value="${data.classificationCh}"    placeholder="请输入分类"/>
    </div>
    <div class="form-group">
        <label for="classificationEn">classification</label>
        <input class="form-control" id="classificationEn" name="classificationEn" type="text"
               th:value="${data.classificationEn}"     placeholder="请输入classification"/>
    </div>
    <div class="form-group">
        <label for="groupCode">特性组代码</label>
        <input class="form-control" id="groupCode" name="groupCode" type="text"
               th:value="${data.groupCode}"     placeholder="请输入特性组代码"/>
    </div>
    <div class="form-group">
        <label for="groupCh">特性组</label>
        <input class="form-control" id="groupCh" name="groupCh" type="text"
               th:value="${data.groupCh}"  placeholder="请输入特性组"/>
    </div>
    <div class="form-group">
        <label for="groupEn">group</label>
        <input class="form-control" id="groupEn" name="groupEn" type="text"
               th:value="${data.groupEn}"   placeholder="请输入group"/>
    </div>
    <div class="form-group">
        <label for="famillyCode">特性族代码</label>
        <input class="form-control" id="famillyCode" name="famillyCode" type="text"
               th:value="${data.famillyCode}"  placeholder="请输入特性族代码"/>
    </div>
    <div class="form-group">
        <label for="famillyCh">特性族</label>
        <input class="form-control" id="famillyCh" name="famillyCh" type="text"
               th:value="${data.famillyCh}"    placeholder="请输入特性族"/>
    </div>
    <div class="form-group">
        <label for="famillyEn">familly</label>
        <input class="form-control" id="famillyEn" name="famillyEn" type="text"
               th:value="${data.famillyEn}"  placeholder="请输入familly"/>
    </div>
    <div class="form-group">
        <label for="eigenValue">特性值<span>*</span></label>
        <input class="form-control" id="eigenValue" name="eigenValue" type="text"
               th:value="${data.eigenValue}"    placeholder="请输入特性值"/>
    </div>
    <div class="form-group">
        <label for="valueDescCh">特性值描述<span>*</span></label>
        <input class="form-control" id="valueDescCh" name="valueDescCh" type="text"
               th:value="${data.valueDescCh}"  placeholder="请输入特性值描述"/>
    </div>
    <div class="form-group">
        <label for="valueDescEn">value description</label>
        <input class="form-control" id="valueDescEn" name="valueDescEn" type="text"
               th:value="${data.valueDescEn}"  placeholder="请输入value description"/>
    </div>
    <div class="form-group">
        <label for="type">类型</label>
        <input class="form-control" id="type" name="type" type="text"
               th:value="${data.type}"  placeholder="请输入类型"/>
    </div>
    <div class="form-group">
        <label for="valueSource">特性值来源</label>
        <input class="form-control" id="valueSource" name="valueSource" type="text"
               th:value="${data.valueSource}"  placeholder="请输入特性 值来源"/>
    </div>
    <div class="form-group">
        <label for="effectTime">生效时间</label>
        <input class="form-control" id="effectTime" name="effectTime" type="date"
               th:value="${data.effectTime}"    placeholder="请输入生效时间"/>
    </div>
    <div class="form-group">
        <label for="failureTime">失效时间</label>
        <input class="form-control" id="failureTime" name="failureTime" type="date"
               th:value="${data.failureTime}"    placeholder="请输入失效时间"/>
    </div>
    <div class="form-group">
        <label for="note">备注</label>
        <input class="form-control" id="note" name="note" type="text"
               th:value="${data.note}"    placeholder="请输入备注"/>
    </div>
</form>
<script th:src="@{/layer/layer.js}"></script>
<script>
    <![CDATA[
    $(function () {
        $('#dictionaryLibraryForm').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                professionCh: {
                    message: '专业部验证失败',
                    validators: {
                        notEmpty: {
                            message: '专业部不能为空'
                        }
                    }
                },
                classificationCh: {
                    message: '分类验证失败',
                    validators: {
                        notEmpty: {
                            message: '分类不能为空'
                        }
                    }
                },
                eigenValue: {
                    message: '特性值验证失败',
                    validators: {
                        notEmpty: {
                            message: '特性值不能为空'
                        }
                    }
                },
                valueDescCh: {
                    message: '特性值描述验证失败',
                    validators: {
                        notEmpty: {
                            message: '特性值描述不能为空'
                        }
                    }
                },
                effectTime: {
                    message : "生效时间验证失败",
                    validators : {
                        date : {
                            format : "yyyy-MM-dd",
                            message : "生效时间日期格式不正确,例如:2018-10-18"
                        }
                    }
                },
                failureTime: {
                    message : "失效时间验证失败",
                    validators : {
                        date : {
                            format : 'yyyy-MM-dd',
                            message : "失效时间日期格式不正确,例如:2018-10-18"
                        }
                    }
                },
            }
        });
        // 绑定dialog的确定按钮的监听事件
        $("#btnOk", window.top.document).click(function () {
            var bootstrapValidator = $("#dictionaryLibraryForm", window.top.document).data('bootstrapValidator');
            bootstrapValidator.validate();
            if (bootstrapValidator.isValid()) {
                var url = $("#dictionaryLibraryForm", window.top.document).attr('action');
                var myData = JSON.stringify({
                    "puid":$("#puid").val(),
                    "professionCh": $("#professionCh").val(),
                    "professionEn": $("#professionEn").val(),
                    "classificationCh": $("#classificationCh").val(),
                    "classificationEn": $("#classificationEn").val(),
                    "groupCode": $("#groupCode").val(),
                    "groupCh": $("#groupCh").val(),
                    "groupEn": $("#groupEn").val(),
                    "famillyCode": $("#famillyCode").val(),
                    "famillyCh": $("#famillyCh").val(),
                    "famillyEn": $("#famillyEn").val(),
                    "eigenValue": $("#eigenValue").val(),
                    "valueDescCh": $("#valueDescCh").val(),
                    "valueDescEn": $("#valueDescEn").val(),
                    "type": $("#type").val(),
                    "valueSource": $("#valueSource").val(),
                    "effectTime": $("#effectTime").val(),
                    "failureTime": $("#failureTime").val(),
                    "note": $("#note").val(),
                });
                $.ajax({
                    contentType:
                        "application/json",
                    type:
                        'POST',
                    url: url,
                    data: myData,
                    success:
                        function (result) {
                            // activeTabBodyRefresh();
                            if (result.success) {
                                if(getActiveTab().updateTableRow({updateData:myData,tableId:"dictionaryLibraryTable",uncheck:true})){
                                    layer.msg('修改成功', {icon: 1, time: 2000});
                                    activeTabBodyReset();
                                }
                                // console.log($(document.querySelectorAll('iframe')[1].contentWindow.document.getElementById('dictionaryLibraryTable')));
                            }
                            else if(!result.success){
                                window.Ewin.alert({message: result.errMsg})
                            }
                        },
                    error: function (status) {
                        window.Ewin.alert({message: status.status + ':修改数据失败!'});
                    }
                });
            }
        });
    })
    $(document).keydown(function(event) {
        if (event.keyCode == 13) {
            $('form').each(function() {
                event.preventDefault();
            });
        }
    });
    ]]>
</script>
</body>
</html>