<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--User: xulf Date: 2018/11/5 Time: 17:55-->
<head th:include="include/includebase"></head>
<link th:href="@{/css/changeManage/vwo/vwoFromList.css}" rel="stylesheet"/>
<meta charset="UTF-8">
<title>变更表单</title>
</head>
<body>
<h4><i class="fa fa-minus-square" aria-hidden="true">基本信息</i></h4>
<div class="panel-body" style="padding:0px;">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="content col-lg-12" style="padding:0px;">
                <table class="table table-striped tableNormalStyle" id="routingDataTable">
                    <tr>
                        <td>变更单号</td>
                        <td>EC18AS00001</td>
                        <td>变更类型</td>
                        <td></td>
                        <td>变更状态</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td contentEditable="true">创建时间</td>
                        <td contentEditable="true">2018/10/31</td>
                        <td contentEditable="true">是否有关联变更</td>
                        <td contentEditable="true"></td>
                        <td contentEditable="true"></td>
                        <td contentEditable="true"></td>
                    </tr>
                    <tr>
                        <td contentEditable="true">部门</td>
                        <td contentEditable="true">底盘</td>
                        <td contentEditable="true">上市类型</td>
                        <td contentEditable="true">上市后</td>
                        <td contentEditable="true"></td>
                        <td contentEditable="true"></td>
                    </tr>
                    <tr>
                        <td contentEditable="true">发起人</td>
                        <td contentEditable="true">张三</td>
                        <td contentEditable="true">项目所属阶段</td>
                        <td contentEditable="true">SOP后</td>
                        <td contentEditable="true"></td>
                        <td contentEditable="true"></td>
                    </tr>
                    <tr>
                        <td contentEditable="true">联系电话</td>
                        <td contentEditable="true">15888888888</td>
                        <td contentEditable="true">备注</td>
                        <td contentEditable="true">手工填写</td>
                        <td contentEditable="true"></td>
                        <td contentEditable="true"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<h4><i class="fa fa-minus-square" aria-hidden="true">变更附件</i></h4>
<div class="panel-body" style="padding:0px;">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-12 col-lg-12" style="padding:0px;">
                <div class="form-group after_the">
                    <label for="EWOnum5">附件:</label>
                    <input type="file" class="form-control" name="level" id="EWOnum5"
                           placeholder=""/>
                </div>
            </div>
        </div>
    </div>
</div>
<h4><i class="fa fa-minus-square" aria-hidden="true">变更清单</i></h4>
<div class="panel-body" style="padding:0px;">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-12 col-lg-12" style="padding:0px;">
                <div class="col-md-4 col-lg-4" style="padding:0px;">
                </div>
                <div class="col-md-4 col-lg-4" style="padding:0px;">
                    <table class="table table-striped tableNormalStyle" id="routingTable">
                        <tr>
                            <th>零部件号</th>
                            <th>版本</th>
                        </tr>
                        <tr>
                            <td>005528</td>
                            <td>00</td>
                        </tr>
                        <tr>
                            <td>005529</td>
                            <td>00</td>
                        </tr>
                        <tr>
                            <td>005530</td>
                            <td>00</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-4 col-lg-4" style="padding:0px;">
                </div>
            </div>
        </div>
    </div>
</div>
<h4><i class="fa fa-minus-square" aria-hidden="true">变更数据</i></h4>
<div class="panel-body" style="padding:0px;">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="content col-lg-12" style="padding:0px;">
                <table class="table table-striped tableNormalStyle" id="routingDaTable">
                    <tr>
                        <th>零件号</th>
                        <th>名称</th>
                        <th>层级</th>
                        <th>专业</th>
                        <th>是否法规件</th>
                        <th>开发类别</th>
                    </tr>
                    <tr style="background-color: #b7bc31">
                        <td>S00-1001</td>
                        <td>油漆车身</td>
                        <td>2Y</td>
                        <td>车身</td>
                        <td>Y</td>
                        <td>A</td>
                    </tr>
                    <tr style="background-color: #6bbc38">
                        <td>S00-1001</td>
                        <td>油漆车身</td>
                        <td>2Y</td>
                        <td>车身</td>
                        <td>Y</td>
                        <td>A</td>
                    </tr>
                    <tr style="background-color: #b7bc31">
                        <td>S00-1001</td>
                        <td>油漆车身</td>
                        <td>2Y</td>
                        <td>车身</td>
                        <td>Y</td>
                        <td>A</td>
                    </tr>
                    <tr style="background-color: #6bbc38">
                        <td>S00-1001</td>
                        <td>油漆车身</td>
                        <td>2Y</td>
                        <td>车身</td>
                        <td>Y</td>
                        <td>A</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>