<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--User: xulf Date: 2018/9/11 Time: 14:25-->
<head>
    <meta charset="UTF-8">
    <title>V1.0.2</title>
</head>
<body>
<div style="text-align: center;font-size: 35px;font-family: 黑体, 微软雅黑, 宋体">更新日志V1.0.2</div>
<div style="text-align: left;font-size: 16px;font-family: 黑体, 微软雅黑, 宋体">
    1.特性：<br>
    1.1 优化特性下的查询sql语句，对模糊查询进行纵向拓展<br>
    1.2特性和特性值的全模糊查询<br>
    1.3特性和特性值的全模糊查询同时，进行分页操作<br>

    2.相关性（API重构、底层数据库结构变更）：<br>
    2.1优化相关性下的查询sql语句，对模糊查询进行纵向拓展<br>
    2.2相关性手动生成，并根据配色方案和列信息，生成AND关系和OR关系<br>
    2.3相关性根据特性和特性值的全模糊查询<br>
    2.4相关性模糊查询同时，进行分页操作<br>

    3.配色方案<br>
    3.1过滤已经存在的配色方案使用的配色，不再显示在选项下拉框中<br>
    3.2“油漆车身总成”选择的颜色，将同步到特性为“车身颜色”的所有特性中，所有“车身颜色”的特性都可以不选则颜色<br>

    4.配置物料特性表（API重构、底层数据库结构变更）<br>
    4.1添加衍生物料操作，将从模型列和配色方案中进行下拉选择<br>
    4.2添加衍生物料进行查重操作<br>
    4.3添加衍生物料同时，可修改衍生物料主数据基本信息，填写的信息即为传到ERP的信息<br>
    4.4修改基本信息，可修改衍生物料的基本信息（同添加功能）<br>
    4.5删除衍生物料数据功能<br>

    5.全配置BOM一级清单（API重构、底层数据库结构变更，测试阶段）<br>
    5.1从EBOM中获取2Y层，进行清单表的行绘制<br>
    5.2从特性数据中获取所有特性数据，清单进行编辑时，动态绘制“配置代码”下拉框<br>
    5.3保存2Y层与特性值的对应关系同时，将“配置描述”进行更新<br>
    5.4列信息编辑，打点图状态信息下拉选取（测试阶段，未进行数据保存）<br>

    6.EBOM<br>
    6.1.Excel导入EBOM数量可以为小数，导入页面可以下载导入模板；<br>
    6.2.EBOM新建功能做优化；<br>

    7.PBOM<br>
    7.1修改PBOM采购/自制类型编辑无效bug；<br>
    7.2修改工作中心数据，工艺路线编辑时出现的数据不同步bug。<br>

    8.资源库：<br>
    8.1 新增配置字典模块，以及功能等；<br>
    8.2 新增VPPS库模块，以及功能<br>

    9.系统管理：<br>
    9.1 组织架构的树状结构的增删改功能不管用的BUG修改<br>
    9.2 用户维护添加用户时有默认用户和密码的BUG修改<br>
    9.3 组织机构的添加页面和修改页面以及主页面去掉省份信息<br>
    9.4 用户维护的添加弹窗在缩放比例为100%时无法看到确定和取消按钮的BUG修改<br>
    9.5 字典维护界面不在显示，已删除<br>
    9.6 用户维护与组织架构中均出现员工信息，组织架构中删除增删改功能<br>

    10.BOM回收站：<br>
    10.1 回收站正常缩放比时无法点击BOM类型<br>

    11.工作中心主数据：<br>
    11.1 工作中心主数据的表头调整<br>

    12.工艺路线：<br>
    12.1 工艺路线添加和修改页面中数量填写文字时的BUG修改<br>

    13.物料数据：<br>
    13.1 物料数据中修改时提示保存成功但是没修改的BUG修改<br>
    13.2 物料数据添加时无需显示层级，已删除<br>

    14.MBOM<br>
    14.1 MBOM不需要设置LOU/LOA的功能 已删除<br>

    15.PBOM管理:<br>
    15.1 自制/采购都应在PBOM中维护，目前零部件来源维护为灰色，自制/采购维护时保存无效的BUG修改<br>
    16.快捷操作<br>
    16.1 右上角快速切换项目<br>
    16.2 右上角快速切换项目同时，执行当前页面table的查询功能，重新进行分页查询操作
</div>
</body>
</html>