<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--User: xulf Date: 2018/9/11 Time: 13:22-->
<meta charset="UTF-8">
<title>V1.0.1</title>
</head>
<body>
<div style="text-align: center;font-size: 35px;font-family: 黑体, 微软雅黑, 宋体">更新日志V1.1.1</div>
<div style="text-align: left;font-size: 16px;font-family: 黑体, 微软雅黑, 宋体">
    1.BOM管理:<br>
    1.1 BOM管理系统增加修改密码功能<br>
    1.2 BOM管理系统界面的邮件功能暂取消<br>
    1.3 BOM管理系统BOM管理所有界面表格增加隔行换色功能<br>
    1.4 BOM管理系统BOM管理所有界面表格鼠标悬放时增加高亮显示<br>
    1.5 BOM管理系统BOM管理所有界面解决表格错位问题<br>
    1.6 BOM管理系统BOM管理所有界面解决表格内容显示太少的问题<br>
    1.7 BOM管理系统BOM管理解决物料数据与工作中心主数据的页面无权限增加条目<br>
    1.8 BOM管理系统BOM管理所有界面搜索栏的优化<br>
    1.9 BOM管理系统BOM管理所有界面表格和搜索栏距离的调整<br>
    1.11 BOM管理系统解决EBOM的PUID值隐藏<br>
    1.12 BOM管理系统解决EBOM表格错行<br>
    1.13 BOM管理系统调整表格最前列增、删、改信息BOM列的显示顺序<br>
    1.14 BOM管理系统调整列信息做下拉选项，和标注不为空信息<br>
    1.15 BOM管理系统调整EBOM的级别、分组号默认隐藏<br>
    1.16 BOM管理系统修改删除多行时，删除信息要提示具体内容<br>
    1.17 BOM管理系统修改LOU/LOA功能，LOU可手动设定<br>
    1.18 BOM管理系统调整必填项是增加红色*号标识<br>
    1.19 BOM管理系统解决系统所有点击回车键跳转到了未开发界面的BUG<br>
    1.20 BOM管理系统解决日期设置为可以手动输入也可以选择日历<br>
    1.21 BOM管理系统调整零件号在零件名称前面<br>
    1.22 BOM管理系统调整EBOM的LOU/LOA顺序往前调<br>
    1.23 BOM管理系统EBOM责任工程师与部门放到一起<br>

    2.颜色库:<br>
    2.1 新增颜色值的状态，创建时间和创建人;<br>
    2.2 去除手动选择生效时间和废止时间，废止时间在创建时自动标记为9999-12-31;<br>
    2.3 颜色值按色系，颜色名称，颜色代码，色板编号等关键字段进行升序排序，可手动进行升降序进行排序;<br>
    2.4 颜色库进行分页查询<br>
    2.5 颜色库底层新增隐藏的无色值<br>

    3.特性：<br>
    3.1 新增特性按照特性名称、特性描述、特性值和特性值描述进行升序排序，可手动进行升降序进行排序<br>
    3.2 特性进行分页查询<br>
    3.3 新增：特性变更前、变更后历史数据记录表，记录特性的每一次变更数据<br>
    3.4 新增：特性发起VWO流程操作、后台同步申请VWO号、原始数据，变更前后历史数据自动绑定VWO变更号<br>
    3.5 新增：特性发起VWO流程之后，状态值将改变为“VWO审核流程中”<br>
    3.6 优化：分页查询SQL语句优化，优化查询曹祖<br>

    4.全配置BOM一级清单：<br>
    4.1 将在配置物料特性表中的添加车型模型功能转移到全配置BOM一级清单，更名为“添加衍生物料”<br>
    4.2 手动映射2Y层功能，将特性值与2Y层进行映射（测试阶段进行不完全映射，没有进行单一映射等规则约束，有可能是多个特性值进行同一个2Y层映射），映射完之后即可体现到打点图上<br>

    5.配色方案：（全面大改）<br>
    5.1 修改：由于设计造成误差，若新增特性则造成配色方案永久无法修改，因此需要数据库底层表结构更新，去除BLOB对象约束，直接进行特性关联，因此历史数据需要进一步转移数据到新表中<br>
    5.2 优化：特性直接关联造成的关联不同步，因此需要在点击修改的同时进行特性关联<br>
    5.3 新增：二级配色方案弹窗手动输入零件/总成/分总成零件号，手动选择颜色后，自动保存该零件配色到数据库中<br>
    5.4 新增：二级配色方案的个别零件配色的手动删除操作<br>

    6.变更管理:<br>
    6.1 新增VWO表单页面<br>
    6.2 新增EWO表单页面<br>
    6.3 新增MWO表单页面<br>
    6.4 新增CODPWO表单页面<br>
    6.5 新增物料数据表单页面<br>
    6.6 新增工艺路线表单页面<br>
    6.7 新增工作中心表单页面<br>

    7.系统管理：<br>
    7.1 用户维护的添加用户时有默认用户名密码的BUG修改<br>
    7.2 组织架构和用户维护主页面去掉省份信息<br>
    7.3 解决组织架构里树状图增删改无效的问题<br>
    7.4 解决组织架构增改弹窗为空白的BUG调整<br>
    7.5 解决用户维护的弹窗时在浏览器缩放比100%时无法看到下面的确定、取消按钮<br>
    7.6 解决用户维护与组织架构中均出现员工信息，并且有增删改按钮，建议组织架构中去除增删改功能，只在用户维护界面维护<br>
    7.7 字典维护界面不在界面显示的调整<br>
    7.8 登陆后自动退出功能时间延长的调整<br>

    8.VWO表单：<br>
    8.1 新增：VWO主界面的table数据从后台获取，并分页显示<br>
    8.2 新增：VWO详情界面分步操作获取后台数据，并根据后台数据显示基本信息、关联工程师+零件、影响部门、影响高层等操作<br>
    8.3 新增：关联工程师+关联零件号弹窗设置，零件号后台识别正确性<br>
    8.4 新增：影响部门勾选后，执行保存操作之后，自动保存勾选信息到数据库<br>
    8.5 影响高层： 弹窗选择影响人员，自动保存<br>

    9.ERP接口：<br>
    9.1 新增：衍生物料和超级物料手动传送到ERO系统<br>
    9.2 新增：可配置物料分配特性表数据手动增加到ERP，手动更新到ERP的操作<br>
    10.EBOM:<br>
    10.1Exel导入功能<br>
</div>
</body>
</html>