<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--User: xulf Date: 2018/9/14 Time: 15:48-->
<head>
    <meta charset="UTF-8">
    <title>V1.1.1</title>
</head>
<body>
<div style="text-align: center;font-size: 35px;font-family: 黑体, 微软雅黑, 宋体">更新日志V1.1.1</div>
<div style="text-align: left;font-size: 16px;font-family: 黑体, 微软雅黑, 宋体">
    <p style="font-size: 24px"><strong>1.系统管理</strong></p>
    <xmp>
        1.1 新增更新日志模块，可在线查看更新内容
    </xmp>
    <p style="font-size: 24px"><strong>2.BOM管理</strong></p>
    <xmp>
        2.1 新增单车BOM页面，具体功能正在开发中
        2.2 修改MBOM管理为导航栏形式，导航栏增加白车身BOM，功能开发中
        2.3 所有BOM管理页面未选择项目时，弹出窗口未选项目
    </xmp>
    <p style="font-size: 24px"><strong>3.合众资源库</strong></p>
    <xmp>
        3.1 修改配置字典修改时，修改不成功的BUG
        3.2 配置字典增加添加和修改页面的字段校验功能
    </xmp>
</div>
</body>
</html>