<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--User: xulf Date: 2018/10/24 Time: 16:32-->
<head>
    <meta charset="UTF-8">
    <title>V2.0.0</title>
</head>
<body>
<div style="text-align: center;font-size: 35px;font-family: 黑体, 微软雅黑, 宋体">更新日志V2.0.0</div>
<div style="text-align: left;font-size: 16px;font-family: 黑体, 微软雅黑, 宋体">

    <p style="font-size: 24px"><strong>1.BOM系统</strong></p>
    <xmp>
        1.1 BOM系统所有页面新增分页的页面跳转功能
    </xmp>
    <p style="font-size: 24px"><strong>2.BOM管理</strong></p>
    <xmp>
        2.1 EBOM管理新增显示子层的功能
        2.2 EBOM管理新增EXCEL导出的功能
        2.3 EBOM管理新增引用层级的功能
        2.4 PBOM管理新增EXCEL导入功能和导出功能
        2.5 PBOM管理和EBOM管理的删除同步的操作
        2.6 PBOM管理新增显示子层的功能
        2.7 工艺合件模块的功能优化和完善等
        2.8 超级MBOM管理新增EXCEL导入功能和导出功能
        2.9 超级MBOM管理新增显示子层的功能
        2.10 白车身生产新增EXCEL导入功能和导出功能
        2.11 白车身生产新增显示子层的功能
        2.12 白车身财务新增EXCEL导入功能和导出功能
        2.13 白车身财务新增显示子层的功能
        2.14 单车BOM页面新增EXCEL导出功能
        2.15 单车BOM页面新增显示子层的功能
    </xmp>
    <p style="font-size: 24px"><strong>3.合众资源库</strong></p>
    <xmp>
        3.1 解决工作中心主数据的数据重复的BUG和数据丢失的问题
    </xmp>
    <p style="font-size: 24px"><strong>4.变更管理</strong></p>
    <xmp>
        4.1 vwo表单的功能完善以及表单的提交功能等
        4.2 vwo流程的发布、中断、评估
        4.3 优化了VWO表单的显示，新增了对VWO流程进行发起、中断、发布、BOM经理审批、PMT经理审批、项目经理审批的功能
        4.4 为BOM经理审批、PMT经理审批、项目经理审批新增了人员指派功能，只有指定人员才能对相应的节点审批
        4.5 ewo表单的功能完善以及表单的提交功能等
    </xmp>
    <p style="font-size: 24px"><strong>5.配置管理</strong></p>
    <xmp>
        5.1 特性值根据配置字典添加特性
        5.2 修改了发起VWO的后端逻辑，减少了数据库中的冗余数据
        5.3 对特性发起VWO流程进行了前后端代码的优化
        5.4 配色方案发起VWO流程的操作
        5.5将配色方案与特性发起VWO流程时各结点状态码进行统一，方便VWO表单的统一管理
    </xmp>
</div>

</body>
</html>