<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--User: xulf Date: 2018/10/24 Time: 16:32-->
<head>
    <meta charset="UTF-8">
    <title>V2.0.1</title>
</head>
<body>
<div style="text-align: center;font-size: 35px;font-family: 黑体, 微软雅黑, 宋体">更新日志V2.0.1</div>
<div style="text-align: left;font-size: 16px;font-family: 黑体, 微软雅黑, 宋体">

    <p style="font-size: 24px"><strong>1.BOM系统</strong></p>
    <xmp>
        1.1 BOM系统所有页面新增分页的页面跳转功能
    </xmp>
    <p style="font-size: 24px"><strong>2.BOM管理</strong></p>
    <xmp>
        2.1 EBOM管理新增显示子层的功能
        2.2 EBOM管理新增EXCEL导出的功能
        2.3 EBOM管理新增引用层级的功能
        2.4 PBOM管理新增EXCEL导入功能和导出功能
        2.5 PBOM管理和EBOM管理的删除同步的操作
        2.6 PBOM管理新增显示子层的功能
        2.7 工艺合件模块的功能优化和完善等
        2.8 超级MBOM管理新增EXCEL导入功能和导出功能
        2.9 超级MBOM管理新增显示子层的功能
        2.10 白车身生产新增EXCEL导入功能和导出功能
        2.11 白车身生产新增显示子层的功能
        2.12 白车身财务新增EXCEL导入功能和导出功能
        2.13 白车身财务新增显示子层的功能
        2.14 单车BOM页面新增EXCEL导出功能
        2.15 单车BOM页面新增显示子层的功能
    </xmp>
    <p style="font-size: 24px"><strong>3.合众资源库</strong></p>
    <xmp>
        3.1 解决工作中心主数据的数据重复的BUG和数据丢失的问题
    </xmp>
    <p style="font-size: 24px"><strong>4.变更管理</strong></p>
    <xmp>
        4.1 vwo表单的功能完善以及表单的提交功能等
        4.2 ewo表单的功能完善以及表单的提交功能等
    </xmp>
</div>

</body>
</html>