<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.connor.hozon.bom.bomSystem.dao.cfg.HzVwoInformChangesDao">
    <resultMap id="BaseResultMap" type="sql.pojo.cfg.vwo.HzVwoInformChanges">
        <id column="ID" jdbcType="DECIMAL" property="id"/>
        <result column="VWO_ID" jdbcType="DECIMAL" property="vwoId"/>
        <result column="VWO_NUM" jdbcType="VARCHAR" property="vwoNum"/>
        <result column="PERSON_ID" jdbcType="DECIMAL" property="personId"/>
        <result column="PERSON_NAME" jdbcType="VARCHAR" property="personName"/>
        <result column="PERSON_DEPT_ID" jdbcType="DECIMAL" property="personDeptId"/>
        <result column="PERSON_DEPT_NAME" jdbcType="VARCHAR" property="personDeptName"/>
        <result column="PART_ID" jdbcType="VARCHAR" property="partId"/>
        <result column="PART_NAME" jdbcType="VARCHAR" property="partName"/>
        <result column="PART_PUID" jdbcType="VARCHAR" property="partPuid"/>
    </resultMap>
    <sql id="Base_Column_List">
        ID,
        VWO_ID,
        VWO_NUM,
        PERSON_ID,
        PERSON_NAME,
        PERSON_DEPT_ID,
        PERSON_DEPT_NAME, 
        PART_ID,
        PART_NAME,
        PART_PUID
  </sql>
    <sql id="Value_Of_Base_Column">
        #{id,jdbcType=DECIMAL},
        #{vwoId,jdbcType=DECIMAL},
        #{vwoNum,jdbcType=VARCHAR},
        #{personId,jdbcType=DECIMAL},
        #{personName,jdbcType=VARCHAR},
        #{personDeptId,jdbcType=DECIMAL},
        #{personDeptName,jdbcType=VARCHAR},
        #{partId,jdbcType=VARCHAR},
        #{partName,jdbcType=VARCHAR},
        #{partPuid,jdbcType=VARCHAR}
    </sql>
    <select id="selectByPrimaryKey" parameterType="sql.pojo.cfg.vwo.HzVwoInformChanges" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from HZ_VWO_INFORM_CHANGES
        where ID = #{id,jdbcType=DECIMAL}
    </select>
    <select id="selectByVwoId" parameterType="sql.pojo.cfg.vwo.HzVwoInformChanges" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from HZ_VWO_INFORM_CHANGES
        where VWO_ID = #{vwoId,jdbcType=DECIMAL}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="sql.pojo.cfg.vwo.HzVwoInformChanges">
    delete from HZ_VWO_INFORM_CHANGES
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
    <insert id="insert" parameterType="sql.pojo.cfg.vwo.HzVwoInformChanges">
        <selectKey order="BEFORE"
                   keyColumn="id" keyProperty="id" resultType="java.lang.Long">
            select SEQ_HZ_VWO_INFO_CHANGE_ID.Nextval from dual
        </selectKey>
        insert into
        HZ_VWO_INFORM_CHANGES (
        <include refid="Base_Column_List"/>
        )
        values (
        <include refid="Value_Of_Base_Column"/>
        )
    </insert>
    <insert id="insertSelective" parameterType="sql.pojo.cfg.vwo.HzVwoInformChanges">
        insert into HZ_VWO_INFORM_CHANGES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="vwoId != null">
                VWO_ID,
            </if>
            <if test="vwoNum != null">
                VWO_NUM,
            </if>
            <if test="personId != null">
                PERSON_ID,
            </if>
            <if test="personName != null">
                PERSON_NAME,
            </if>
            <if test="personDeptId != null">
                PERSON_DEPT_ID,
            </if>
            <if test="personDeptName != null">
                PERSON_DEPT_NAME,
            </if>
            <if test="partId != null">
                PART_ID,
            </if>
            <if test="partName != null">
                PART_NAME,
            </if>
            <if test="partPuid != null">
                PART_PUID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=DECIMAL},
            </if>
            <if test="vwoId != null">
                #{vwoId,jdbcType=DECIMAL},
            </if>
            <if test="vwoNum != null">
                #{vwoNum,jdbcType=VARCHAR},
            </if>
            <if test="personId != null">
                #{personId,jdbcType=DECIMAL},
            </if>
            <if test="personName != null">
                #{personName,jdbcType=VARCHAR},
            </if>
            <if test="personDeptId != null">
                #{personDeptId,jdbcType=DECIMAL},
            </if>
            <if test="personDeptName != null">
                #{personDeptName,jdbcType=VARCHAR},
            </if>
            <if test="partId != null">
                #{partId,jdbcType=VARCHAR},
            </if>
            <if test="partName != null">
                #{partName,jdbcType=VARCHAR},
            </if>
            <if test="partPuid != null">
                #{partPuid,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="tellMeHowManyOfIt" parameterType="java.lang.Long" resultType="java.lang.Long">
        select count(*) from HZ_VWO_INFORM_CHANGES where VWO_ID=#{vwoId,jdbcType=DECIMAL}
    </select>
    <update id="updateByPrimaryKeySelective" parameterType="sql.pojo.cfg.vwo.HzVwoInformChanges">
        update HZ_VWO_INFORM_CHANGES
        <set>
            <if test="vwoId != null">
                VWO_ID = #{vwoId,jdbcType=DECIMAL},
            </if>
            <if test="vwoNum != null">
                VWO_NUM = #{vwoNum,jdbcType=VARCHAR},
            </if>
            <if test="personId != null">
                PERSON_ID = #{personId,jdbcType=DECIMAL},
            </if>
            <if test="personName != null">
                PERSON_NAME = #{personName,jdbcType=VARCHAR},
            </if>
            <if test="personDeptId != null">
                PERSON_DEPT_ID = #{personDeptId,jdbcType=DECIMAL},
            </if>
            <if test="personDeptName != null">
                PERSON_DEPT_NAME = #{personDeptName,jdbcType=VARCHAR},
            </if>
            <if test="partId != null">
                PART_ID = #{partId,jdbcType=VARCHAR},
            </if>
            <if test="partName != null">
                PART_NAME = #{partName,jdbcType=VARCHAR},
            </if>
            <if test="partPuid != null">
                PART_PUID = #{partPuid,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=DECIMAL}
    </update>
    <update id="updateByPrimaryKey" parameterType="sql.pojo.cfg.vwo.HzVwoInformChanges">
    update HZ_VWO_INFORM_CHANGES
    set VWO_ID = #{vwoId,jdbcType=DECIMAL},
      VWO_NUM = #{vwoNum,jdbcType=VARCHAR},
      PERSON_ID = #{personId,jdbcType=DECIMAL},
      PERSON_NAME = #{personName,jdbcType=VARCHAR},
      PERSON_DEPT_ID = #{personDeptId,jdbcType=DECIMAL},
      PERSON_DEPT_NAME = #{personDeptName,jdbcType=VARCHAR},
      PART_ID = #{partId,jdbcType=VARCHAR},
      PART_NAME = #{partName,jdbcType=VARCHAR},
      PART_PUID = #{partPuid,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>