<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--User: xulf Date: 2018/9/14 Time: 15:48-->
<head>
    <meta charset="UTF-8">
    <title>V1.1.2</title>
</head>
<body>
<div style="text-align: center;font-size: 35px;font-family: 黑体, 微软雅黑, 宋体">更新日志V1.1.2</div>
<div style="text-align: left;font-size: 16px;font-family: 黑体, 微软雅黑, 宋体">
    <p style="font-size: 24px"><strong>1.BOM管理</strong></p>
    <xmp>
        1.1 新增超级MBOM页面，及具体数据
        1.2 新增白车身财务页面，及具体数据
        1.3 新增白车身生产页面，及具体数据
        1.4 工艺路线数据表头的修改，和表内容的修改
        1.5 新增单车清单的页面
        1.6 解决E、P、M三个BOM的同步删除功能BUG
        1.7 解决EPL管理的零件号重复的BUG
        1.8 EBOM管理新增调层级功能
        1.9 工艺路线新增修改四大工艺功能，自动生成相应数据
    </xmp>
    <p style="font-size: 24px"><strong>2.资源库</strong></p>
    <xmp>
        2.1 VPPS库新增添加和修改页面的前端校验功能
        2.2 配置字典库新增添加和修改页面的前端校验功能
    </xmp>
    <p style="font-size: 24px"><strong>3.配置管理</strong></p>
    <xmp>
        3.1 配置物料特性表新增了一键生成的功能
    </xmp>
</div>
</body>
</html>