<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--User: xulf Date: 2018/9/30 Time: 14:03-->
<head>
    <meta charset="UTF-8">
    <title>V1.1.3</title>
</head>
<body>
<div style="text-align: center;font-size: 35px;font-family: 黑体, 微软雅黑, 宋体">更新日志V1.1.3</div>
<div style="text-align: left;font-size: 16px;font-family: 黑体, 微软雅黑, 宋体">
    <p style="font-size: 24px"><strong>1.BOM管理</strong></p>
    <xmp>
        1.1 新增单车BOM页面以及具体功能
        1.2 超级MBOM新增同步数据功能
        1.3 单车清单新增同步数据功能
        1.4 单车BOM新增同步数据功能
        1.5 PBOM管理新增添加工艺辅料功能
    </xmp>
    <p style="font-size: 24px"><strong>2.资源库</strong></p>
    <xmp>
        2.1 原工艺辅料的废除，新增工艺辅料功能
    </xmp>
</div>
</body>
</html>