<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--User: xulf Date: 2018/9/14 Time: 15:48-->
<head>
    <meta charset="UTF-8">
    <title th:text="${version}"></title>
</head>
<body>
<div style="text-align: center;font-size: 22px;font-family: 黑体, 微软雅黑, 宋体" ><h2 th:text="'更新日志'+${version}"></h2></div>

<div style="text-align: left;font-size: 16px;font-family: 黑体, 微软雅黑, 宋体">
    <p style="font-size: 24px"><strong>1.系统管理</strong></p>
    <xmp>
        1.1 新增更新日志模块，可在线查看更新内容
    </xmp>
    <p style="font-size: 24px"><strong>2.BOM管理</strong></p>
    <xmp>
        2.1 新增单车BOM页面，具体功能正在开发中
        2.2 修改MBOM管理为导航栏形式，导航栏增加白车身BOM，功能开发中
        2.3 所有BOM管理页面未选择项目时，弹出窗口未选项目
        2.4 搭建BOM结构时，可以在EBOM处通过查找编号指定BOM位置
        2.5 BOM系统新增子层时，通过查找编号指定子层在父层的具体位置
        2.6 BOM系统按树结构排序算法优化，排列顺序号不会产生重复，排序不再会出现乱序现象
        2.7 MBOM中的所有数据都会进入物料，搭建BOM结构或者导入excel表时会进行同步，不用再进行点击搜索进行数据同步。
    </xmp>
    <p style="font-size: 24px"><strong>3.合众资源库</strong></p>
    <xmp>
        3.1 修改配置字典修改时，修改不成功的BUG
        3.2 配置字典增加添加和修改页面的字段校验功能
        3.3 “工作中心主数据”移动到“合众资源库”中
    </xmp>
    <p style="font-size: 24px"><strong>4.配色方案</strong></p>
    <xmp>
        4.1 修复历史数据于表头发生错行的问题
        4.2 对配色方案表头进行按特性进行升序排序优化，并将“油漆车身总成”从表头中排除，使用一个特定的字段进行“车型颜色代码”、
            “油漆车身总成”和“车身颜色”进行独立赋予颜色代码
        4.3 对配色方案添加和修改配色方案页面，可进行本地快捷搜索特性，并对搜索出来的特性进行标红标记
        4.4 配色方案添加和修改进行特性排序，于主页面的特性排序保持一致
    </xmp>
    <p style="font-size: 24px"><strong>5.相关性</strong></p>
    <xmp>
        5.1 修复相关性OR关系生成错误
    </xmp>
    <p style="font-size: 24px"><strong>6.全配置BOM一级清单</strong></p>
    <xmp>
        6.1 列信息可进行编辑
        6.2 列信息的打点图进行单独保存服务
        6.3 列信息删除服务
        6.4 修改，以2Y层为主题，进行2Y层按零件号进行排序，并按照排序号的规则进行绘制页面
        6.5 2Y层编辑时，将没有关2Y层的特性选取出来进行下拉关联当前编辑的2Y层，并提供取消按钮
        6.6 单独设置阶段，设置阶段的同时允许升大版本
        6.7 单独发布，可进行升小版本
        6.8 添加列信息，可同时添加模型主信息和详细信息
        6.9 修改列信息，可同时修改列主信息和详细信息
        6.10 添加多个前端特效
    </xmp>
    <p style="font-size: 24px"><strong>7.项目</strong></p>
    <xmp>
        7.1 初始登录BOM系统时，取消默认项目自动选择，可选择一个空项目
        7.2 在各个子菜单页面下，未选择项目则进行弹窗警告
        7.3 右上角选择项目快捷操作进行样式优化
    </xmp>

</div>
</body>
</html>