<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!--User: xulf Date: 2018/12/6 Time: 14:27-->
<link th:href="@{/css/labelColor.css}" rel="stylesheet">
<body>
<form id="offerForm" role="form" method="post" th:action="${action}">
    <input class="form-control" id="projectPuid" name="projectPuid" type="text" style="display: none"
           th:value="${projectPuid}"/>
    <div class="form-group">
        <label for="itemId">零件号<span>*</span></label>
        <input class="form-control" id="itemId" name="itemId" type="text"
               placeholder="请输入零件号"/>
    </div>
    <div class="form-group">
        <label for="itemName">零件名称<span>*</span></label>
        <input class="form-control" id="itemName" name="itemName" type="text"
               placeholder="请输入零件名称"/>
    </div>
    <div class="form-group">
        <label for="eachCarQuantity">每车数量</label>
        <input class="form-control" id="eachCarQuantity" name="eachCarQuantity" type="text"
               placeholder="请输入每车数量"/>
    </div>
    <div class="form-group">
        <label for="chosenSupplier">中选供应商<span>*</span></label>
        <input class="form-control" id="chosenSupplier" name="chosenSupplier" type="text"
               placeholder="请输入中选供应商"/>
    </div>
    <div class="form-group">
        <label for="parts">零部件(不含税)</label>
        <input class="form-control" id="parts" name="parts" type="text"
               placeholder="请输入零部件(不含税)"/>
    </div>
    <div class="form-group">
        <label for="singleCarPrice">单车零部件价格(不含税)</label>
        <input class="form-control" id="singleCarPrice" name="singleCarPrice" type="text"
               placeholder="请输入单车零部件价格(不含税)"/>
    </div>
    <div class="form-group">
        <label for="moldsCostNotRevenue">模具费(不含税)</label>
        <input class="form-control" id="moldsCostNotRevenue" name="moldsCostNotRevenue" type="text"
               placeholder="请输入模具费(不含税)"/>
    </div>
    <div class="form-group">
        <label for="moldsCostHasRevenue">模具费(含税)</label>
        <input class="form-control" id="moldsCostHasRevenue" name="moldsCostHasRevenue" type="text"
               placeholder="请输入模具费(含税)"/>
    </div>
    <div class="form-group">
        <label for="moldsCostDetails">模具费付费情况</label>
        <input class="form-control" id="moldsCostDetails" name="moldsCostDetails" type="text"
               placeholder="请输入模具费付费情况"/>
    </div>
    <div class="form-group">
        <label for="gaugeCost">检具费(不含税)</label>
        <input class="form-control" id="gaugeCost" name="gaugeCost" type="text"
               placeholder="请输入检具费(不含税)"/>
    </div>
    <div class="form-group">
        <label for="exploitationCost">开发费(不含税)</label>
        <input class="form-control" id="exploitationCost" name="exploitationCost" type="text"
               placeholder="请输入开发费(不含税)"/>
    </div>
    <div class="form-group">
        <label for="aSamplePiece">A样件</label>
        <input class="form-control" id="aSamplePiece" name="aSamplePiece" type="text"
               placeholder="请输入A样件"/>
    </div>
    <div class="form-group">
        <label for="bSamplePiece">B样件</label>
        <input class="form-control" id="bSamplePiece" name="bSamplePiece" type="text"
               placeholder="请输入B样件"/>
    </div>
    <div class="form-group">
        <label for="cSamplePiece">C样件</label>
        <input class="form-control" id="cSamplePiece" name="cSamplePiece" type="text"
               placeholder="请输入C样件"/>
    </div>
    <div class="form-group">
        <label for="csLowerCostingoPlan">供应商降本计划</label>
        <input class="form-control" id="csLowerCostingoPlan" name="csLowerCostingoPlan" type="text"
               placeholder="请输入供应商降本计划"/>
    </div>
    <div class="form-group">
        <label for="remark">备注</label>
        <input class="form-control" id="remark" name="remark" type="text"
               placeholder="请输入备注"/>
    </div>
    <div class="form-group">
        <label for="specialty">专业<span>*</span></label>
        <input class="form-control" id="specialty" name="specialty" type="text"
               placeholder="请输入零件号"/>
    </div>
</form>
<script th:inline="javascript">
    <![CDATA[
    $(function () {
        $('#offerForm').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                pMaterielCode: {
                    message: '物料代码验证失败',
                    validators: {
                        notEmpty: {
                            message: '物料代码不能为空'
                        }
                    }
                },
            }
        });
        // 绑定dialog的确定按钮的监听事件
        $("#btnOk", window.top.document).click(function () {
            var bootstrapValidator = $("#offerForm", window.top.document).data('bootstrapValidator');
            bootstrapValidator.validate();
            if (bootstrapValidator.isValid()) {
                var url = $("#offerForm ", window.top.document).attr('action');
                var data = {};
                var _d = $("#offerForm").serializeArray();
                for (var p in _d) {
                    data[_d[p].name] = _d[p].value;
                }
                $.ajax({
                    contentType:
                        "application/json",
                    type:
                        'POST',
                    url: url,
                    data: JSON.stringify(data),
                    success: function (result) {
                            // activeTabBodyRefresh();
                            $('.modal-dialog', window.top.document).parent('div').remove()
                            $('body', window.top.document).find('.modal-backdrop').remove();
                            // jquery 调用刷新当前操作的table页面的refresh方法
                            $(window.parent.document).contents().find(".tab-pane.fade.active.in iframe")[0].contentWindow.doQuery();
                            if (result.status) {
                                layer.msg(result.msg, {icon: 1, time: 2000})
                            }
                            else{
                                window.Ewin.alert({message: result.msg})
                            }
                        },
                    error: function (result) {
                        window.Ewin.alert({message: result.status + ':添加数据失败!'});
                    }
                });
            }
        });
    })
    $(document).keydown(function(event) {
        if (event.keyCode == 13) {
            $('form').each(function() {
                event.preventDefault();
            });
        }
    });
    ]]>
</script>
<script th:src="@{/layer/layer.js}"></script>
</body>
</html>