<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="include/includebase"></head>
<body>
<link th:href="@{css/sb-admin.css}" rel="stylesheet"/>
<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top nav_custom" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" id="navbar_header">
            <a class="navbar-brand" href="main"><img th:src="@{/img/LOGO.png}"><span>BOM管理系统</span></a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <li>
                <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>
                    <font>当前工作项目:</font>
                    <!--<mark class="caret">：</mark>-->
                    <font id="currentProjectHead"></font>

                </a>
                <ul class="dropdown-menu" id="projectList"></ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b
                        class="caret"></b></a>
                <ul class="dropdown-menu message-dropdown">
                    <li class="message-preview">
                        <a href="#">
                            <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt=""/>
                                    </span>
                                <div class="media-body">
                                    <h5 class="media-heading"><strong>John Smith</strong>
                                    </h5>
                                    <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="message-preview">
                        <a href="#">
                            <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt=""/>
                                    </span>
                                <div class="media-body">
                                    <h5 class="media-heading"><strong>John Smith</strong>
                                    </h5>
                                    <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="message-preview">
                        <a href="#">
                            <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt=""/>
                                    </span>
                                <div class="media-body">
                                    <h5 class="media-heading"><strong>John Smith</strong>
                                    </h5>
                                    <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="message-footer">
                        <a href="#">Read All New Messages</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <font
                        th:text="${#authentication.name}"></font> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <!--<li>-->
                    <!--<a href="#"><i class="fa fa-fw fa-gear"></i> 修改密码 </a>-->
                    <!--</li>-->
                    <li class="divider"></li>
                    <li>
                        <a href="/hozon/login"><i class="fa fa-fw fa-power-off"></i>退 出</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav" id="menu_tree">]
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
    <div id="page-wrapper" style="border-radius:5px 5px 0 0;">
        <input type="hidden" id="project" value="EP10项目"/>
        <div id="tabContainer"></div>
    </div>
</div>
<!--
<div th:text="${#authentication.name}">
    The value of the "name" property of the authentication object should appear here.
</div>
这是一个登陆成功以后的首页
<div class="row">
    <div class="col-md-12">
        <table id="conversation" class="table table-striped">
            <thead>
            <tr>
                <th>Greetings</th>
            </tr>
            </thead>
            <tbody id="greetings">
            </tbody>
        </table>
    </div>
</div>
-->
</body>
<script th:inline="javascript">
    $(document).ready(
        (function () {
            var URL = document.URL.split("/");
            var contextPath = "/" + URL[3];
            // 页面加载完成以后开启websocket的连接
            var options = new Array();
            options.sockurl = contextPath + '/ricky-websocket';
            options.stompClienturl = '/ricky/topic/greetings';
            options.login = [[${#authentication.name}]];
            options.success = function (greeting) {
                var r = eval("(" + JSON.parse(greeting.body).content + ")")
                alert(r);
                // $("#greetings").append("<tr><td>" + JSON.parse(greeting.body).content + "</td></tr>");
            }
            $.fn.socketConnect(options);
            // 初始化nav
            // $.fn.bootstrapNav({index: 'main', navTitle: '合众BOM管理系统'});
            // 初始化标签页
            $("#tabContainer").tabs({
                data: [{
                    id: '99999999',
                    text: '首页',
                    url: "project",
                    closeable: false
                }],
                showIndex: 0,
                loadAll: false
            }),
                $("#tabContainer").tabs({
                    data: [{
                        id: '99999998',
                        text: '首页',
                        url: "project",
                        closeable: true
                    }],
                    showIndex: 1,
                    loadAll: false
                })
            //
            $.fn.bootstrapTree({url: contextPath + "/user/mainTree", treeId: 'menu_tree', tabId: "tabContainer"});
            $.fn.dictUtil("/dict/loadDict");
        })
    );
    $(document).ready(
        ($.ajax({
                url: "./project/loadAll",
                type: "GET",
                success: function (data) {
                    var auth = data.auth;
                    var _data = data.data;
                    var ok = true;
                    if (_data) {
                        for (var i in _data) {
                            // if (i == 0 && ok) {
                            //     $("#projectList", window.top.document).val(_data[i].puid);
                            //     $("#currentProject").text("当前工作项目:" + _data[i].pProjectName);
                            //     $("#currentProjectHead", window.top.document).text(_data[i].pProjectName);
                            //     ok = false;
                            //     if (!auth) {
                            //         break;
                            //     }
                            // }
                            // if (auth) {
                            //     $("#fastOption").append("<option value='" + _data[i].puid + "'>" + _data[i].pProjectName + "</option>");
                            // }

                            $("#projectList").append(
                                "<li>" +
                                "<a href='javascript:void(0)' class='project'><i class='fa fa-fw fa-gear'></i> " + _data[i].pProjectName + " </a>" +
                                "</li>" +
                                "<li class='divider'></li>"
                            );
                        }
                        console.log("加载项目成功");
                    }
                    if (auth) {
                        $("#fastOption").removeAttr("hidden");
                        $("#fastOption").addClass("form-control");
                        // $("#fastOption").bind("change", selectEvent);
                        $("#labHidden").removeAttr("hidden");
                    }
                },
                error: function (err) {
                    alert(err.status);
                }
            })
        ))
</script>
</html>