<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!--User: xulf Date: 2018/7/20 Time: 14:29-->
<link th:href="@{/css/labelColor.css}" rel="stylesheet">
<body>
<form id="processAidsForm" role="form" method="post" action="accessories/update">
    <input id="puid" name="puid" type="hidden">
    <div class="form-group">
        <label for="username">用户名<span>*</span></label>
        <input class="form-control" id="username" name="username" type="text"

               placeholder="请输入用户名"/>
    </div>
    <div class="form-group">
        <label for="password">密码<span>*</span></label>
        <input class="form-control" id="password" name="password" type="password"

               placeholder="请输入密码"/>
    </div>
    <div class="form-group">
        <label for="passwords">确认密码<span>*</span></label>
        <input class="form-control" id="passwords" name="passwords" type="password"

               placeholder="请输入零件号"/>
    </div>
</form>
<script th:inline="javascript">
    <![CDATA[
    $(function () {
        $('#processAidsForm').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                pLineId: {
                    message: '零件号验证失败',
                    validators: {
                        notEmpty: {
                            message: '零件号不能为空'
                        }
                    }
                },
                pBomLinePartName: {
                    message: '名称验证失败',
                    validators: {
                        notEmpty: {
                            message: '名称不能为空'
                        }
                    }
                },
            }
        });
        // 绑定dialog的确定按钮的监听事件
        $("#btnOk", window.top.document).click(function () {
            var bootstrapValidator = $("#processAidsForm", window.top.document).data('bootstrapValidator');
            bootstrapValidator.validate();
            if (bootstrapValidator.isValid()) {
                var url = $("#processAidsForm", window.top.document).attr('action');
                var myData = JSON.stringify({
                    "puid": $("#puid").val(),
                    "pLineId": $("#pLineId").val(),
                    "pBomLinePartName": $("#pBomLinePartName").val(),
                    "pBomLinePartEnName": $("#pBomLinePartEnName").val(),
                });
                $.ajax({
                    contentType:
                        "application/json",
                    type:
                        'POST',
                    url: url,
                    data: myData,
                    success:
                        function (result) {
                            $('.modal-dialog', window.top.document).parent('div').remove()
                            $('body', window.top.document).find('.modal-backdrop').remove();
                            // jquery 调用刷新当前操作的table页面的refresh方法
                            $(window.parent.document).contents().find(".tab-pane.fade.active.in iframe")[0].contentWindow.doQuery();

                            if (result.success) {
                                layer.msg('修改成功', {icon: 1, time: 2000})
                            }
                            else if(!result.success){
                                window.Ewin.alert({message: result.errMsg})
                            }
                        },
                    error: function (status) {
                        window.Ewin.alert({message: status.status + ':修改数据失败!'});
                    }
                });
            }
        });
    })
    ]]>
</script>
<script th:src="@{/layer/layer.js}"></script>
</body>
</html>