<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.net.connor.hozon.dao.dao.interaction.HzConfigBomColorDao">
    <resultMap id="BaseResultMap" type="cn.net.connor.hozon.dao.pojo.interaction.HzConfigBomColorBean">
        <result column="CFG_BOMLINE_UID" jdbcType="VARCHAR" property="bomLineUid"/>
        <result column="MODEL_UID" jdbcType="VARCHAR" property="colorModelUid"/>
        <result column="P_DESC_OF_COLORFUL_MODEL" jdbcType="VARCHAR" property="colorModelDesc"/>
        <result column="P_COLOR_CODE" jdbcType="VARCHAR" property="colorCode"/>
        <result column="P_COLOR_NAME" jdbcType="VARCHAR" property="colorName"/>
        <result column="P_CFG0_OBJECT_ID" jdbcType="VARCHAR" property="featureValueCode"/>
        <result column="P_CFG0_FAMILY_NAME" jdbcType="VARCHAR" property="featureCode"/>
        <result column="colorUid" jdbcType="VARCHAR" property="colorUid"/>
        <result column="materielCodes" jdbcType="VARCHAR" property="materielCodes"/>
    </resultMap>
    <!--特性值对应的bomline-->
    <resultMap id="configToBomLine" type="cn.net.connor.hozon.dao.pojo.interaction.HzConfigBomLineBean">
        <!--特性值主键，存储在Hz_Cfg0_Record表中的主键-->
        <result column="CFG_CFG0_UID" jdbcType="VARCHAR" property="featureValueId"/>
        <!--特性描述-->
        <result column="P_CFG0_FAMILY_DESC" jdbcType="VARCHAR" property="featureDesc"/>
        <!--特性值代码，数字+英文-->
        <result column="P_CFG0_OBJECT_ID" jdbcType="VARCHAR" property="featureValueCode"/>
        <!--BOM条数主键，存储在HZ_Bomline_record表中-->
        <result column="CFG_BOMLINE_UID" jdbcType="VARCHAR" property="bomLineId"/>
        <!--bomline名称-->
        <result column="FL_CFG_BOMLINE_NAME" jdbcType="VARCHAR" property="bomLineName"/>
        <!--项目ID-->
        <result column="PROJECT_UID" jdbcType="VARCHAR" property="projectId"/>
    </resultMap>

    <sql id="ColumnWithColorCode">
        CFG_BOMLINE_UID,
        MODEL_UID,
        P_DESC_OF_COLORFUL_MODEL,
        P_COLOR_CODE
    </sql>
    <select id="selectBy2YUidWithProject" resultMap="BaseResultMap">
            select
            t.cfg_bomline_uid,
            t5.model_uid,
            t3.p_cfg0_object_id,
            t3.p_cfg0_family_name,
            t9.p_desc_of_colorful_model,
            t99.p_color_code,
            t99.P_COLOR_NAME,
            t99.puid as colorUid,
            t99.CS_PAINT_MATERIEL_CODES as materielCodes
            from Hz_Full_Cfg_Withcfg_Record t
            left join Hz_Bom_Line_Record t2 on t.cfg_bomline_uid=t2.puid
            left join Hz_Cfg0_Record t3 on t.cfg_cfg0_uid=t3.puid
            left join HZ_CFG0_MODEL_COLOR_DETAIL t5 on t3.p_cfg0_family_puid=t5.p_cfg_uid
            left join Hz_Cfg0_Model_Color_Record t9 on t5.model_uid=t9.puid
            left join Hz_Cfg0_Colorset t99 on t5.p_color_uid=t99.puid
             where t.fl_cfg_version=(
            select id from Hz_Full_Cfg_Main_Record txx where txx.project_uid=#{projectUid,jdbcType=VARCHAR}
            )
            and t.cfg_bomline_uid=#{bomLineUid,jdbcType=VARCHAR}
    </select>


    <select id="selectPaintColorSet" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        T1.P_COLOR_CODE,T1.CS_PAINT_MATERIEL_CODES as materielCodes,T1.puid as colorUid,T1.P_COLOR_NAME as P_COLOR_NAME
        FROM
        HZ_CFG0_MODEL_COLOR_RECORD T
        join HZ_CFG0_COLORSET T1 on t.P_MODEL_SHELL = T1.P_COLOR_CODE
        WHERE
        T .P_CFG0_MAIN_RECORD_OF_MC = (
        SELECT
            puid
        FROM
            HZ_CFG0_MAIN_RECORD
        WHERE
            P_CFG0_OF_WHICH_PROJECT_PUID = #{projectId,jdbcType=VARCHAR}
        )
    </select>


    <select id="selectPaintBomLinePuidFormConfig" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        t1.CFG_BOMLINE_UID as CFG_BOMLINE_UID/*,t2.P_COLOR_NAME as P_COLOR_NAME*/
        FROM
        HZ_FULL_CFG_WITHCFG_RECORD t1
        JOIN HZ_CFG0_RECORD t2 ON t1.CFG_CFG0_UID = T2.puid
        join HZ_FULL_CFG_MAIN_RECORD t3 on t1.FL_CFG_VERSION = t3.id
        JOIN HZ_CFG0_OPTIONFAMILY_RECORD t4 ON T2.P_CFG0_FAMILY_PUID = t4.puid
        WHERE t3.PROJECT_UID = #{projectId,jdbcType=VARCHAR}
        and t4.P_OPTIONFAMILY_NAME = 'HZYQCS'
    </select>

    <select id="selectAllConfigToBomline" parameterType="java.lang.String" resultMap="configToBomLine">
        SELECT
            t1.CFG_CFG0_UID,
            t1.CFG_BOMLINE_UID,
            t2.P_CFG0_FAMILY_DESC,
            t2.P_CFG0_OBJECT_ID,
            t1.FL_CFG_BOMLINE_NAME,
            t3.PROJECT_UID
        FROM
        HZ_FULL_CFG_WITHCFG_RECORD t1
        JOIN HZ_CFG0_RECORD t2 ON t1.CFG_CFG0_UID = T2.puid
        join HZ_FULL_CFG_MAIN_RECORD t3 on t1.FL_CFG_VERSION = t3.id
        JOIN HZ_CFG0_OPTIONFAMILY_RECORD t4 ON T2.P_CFG0_FAMILY_PUID = t4.puid
        WHERE t3.PROJECT_UID = #{projectId,jdbcType=VARCHAR}
    </select>
</mapper>