<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.connor.hozon.bom.interaction.dao.HzSingleVehicleBomLineDao">
    <resultMap id="BaseResultMap" type="cn.net.connor.hozon.dao.pojo.interaction.HzSingleVehicleBomLineBean">
        <result column="featureValueUid" jdbcType="VARCHAR" property="featureValueUid"/>
        <result column="featureValue" jdbcType="VARCHAR" property="featureValue"/>
        <result column="featureValueDesc" jdbcType="VARCHAR" property="featureValueDesc"/>
        <result column="featureUid" jdbcType="VARCHAR" property="featureUid"/>
        <result column="feature" jdbcType="VARCHAR" property="feature"/>
        <result column="featureDesc" jdbcType="VARCHAR" property="featureDesc"/>
        <result column="bomLineUid" jdbcType="VARCHAR" property="bomLineUid"/>
        <result column="partId" jdbcType="VARCHAR" property="partId"/>
        <result column="partName" jdbcType="VARCHAR" property="partName"/>
        <result column="colorUid" jdbcType="VARCHAR" property="colorUid"/>
        <result column="colorName" jdbcType="VARCHAR" property="colorName"/>
        <result column="colorCode" jdbcType="VARCHAR" property="colorCode"/>
    </resultMap>


    <sql id="ColumnWithColorCode">
        CFG_BOMLINE_UID
    </sql>
    <!--查询带颜色的2Y层，一并带出颜色，颜色UID，跟随的特性，特性UID-->
    <select id="selectListByInquirer"
            resultType="cn.net.connor.hozon.dao.query.interaction.HzSingleVehicleBLQuery"
            resultMap="BaseResultMap">
        select
        t20.puid as featureValueUid,
        t20.p_cfg0_object_id as featureValue,
        t20.p_cfg0_desc as featureValueDesc,
        t21.puid as featureUid,
        t21.p_optionfamily_name as feature,
        t21.p_optionfamily_desc as featureDesc,
        t41.puid as bomLineUid,
        t41.p_bom_line_id as partId,
        t41.p_bom_line_part_name as partName,
        t70.puid as colorUid,
        t70.p_color_name as colorName,
        t70.p_color_code as colorCode
        from Hz_Derivative_Materiel_Basic t
        join Hz_Derivative_Materiel_Detail t10 on t.id=t10.dmd_dmb_id
        join Hz_Cfg0_Record t20 on t10.dmd_cfg0_uid=t20.puid
        join Hz_Cfg0_Optionfamily_Record t21 on t20.p_cfg0_family_puid=t21.puid
        join Hz_Full_Cfg_Withcfg_Record t30 on t10.dmd_cfg0_uid =t30.cfg_cfg0_uid
        join Hz_Bom_Line_Record t41 on t30.cfg_bomline_uid=t41.puid
        join Hz_Cfg0_Model_Color_Record t40 on t.dmb_color_model_uid=t40.puid
        join Hz_Cfg0_Model_Record t50 on t.dmb_model_uid=t50.puid
        join HZ_CFG0_MODEL_COLOR_DETAIL t60 on t60.model_uid=t.dmb_color_model_uid and t60.p_cfg_uid=t21.puid
        join Hz_Cfg0_Colorset t70 on t60.p_color_uid=t70.puid
        where t.id = #{dmbId,jdbcType=DECIMAL} and t.dmb_project_uid=#{projectUid,jdbcType=VARCHAR}
        group by (
        t20.puid,
        t20.p_cfg0_object_id,
        t20.p_cfg0_desc,
        t21.puid,
        t21.p_optionfamily_name,
        t21.p_optionfamily_desc,
        t41.puid,
        t41.p_bom_line_id,
        t41.p_bom_line_part_name,
        t70.puid,
        t70.p_color_name,
        t70.p_color_code
        )
    </select>


    <!--查询油漆车身的颜色件信息-->
    <select id="selectPaintList" resultType="cn.net.connor.hozon.dao.query.interaction.HzSingleVehicleBLQuery"
            resultMap="BaseResultMap">
            SELECT
            t10.PUID  as colorUid,
            t10.P_COLOR_CODE  as colorCode,
            t10.P_COLOR_NAME  as colorName
            FROM
            HZ_DERIVATIVE_MATERIEL_BASIC T
            JOIN HZ_CFG0_MODEL_COLOR_RECORD t2 ON T2.puid = T .DMB_COLOR_MODEL_UID
            JOIN HZ_CFG0_COLORSET t10 ON t2.P_MODEL_SHELL = t10.P_COLOR_CODE
            WHERE
            T . ID = #{dmbId,jdbcType=DECIMAL}
    </select>

    <!--查询其他2Y层信息 不包含油漆车身  油漆车身存储信息比较特殊 需要单独查询 -->
    <select id="selectOthersList" resultType="cn.net.connor.hozon.dao.query.interaction.HzSingleVehicleBLQuery"
            resultMap="BaseResultMap">
              SELECT
            t4.PUID as colorUid,
            t4.P_COLOR_NAME as colorName,
            t4.P_COLOR_CODE as colorCode,
            t7.CFG_BOMLINE_UID as bomLineUid
        FROM
            Hz_Derivative_Materiel_Basic T
            join  HZ_CFG0_MODEL_COLOR_RECORD t2 on t2.PUID = t.DMB_COLOR_MODEL_UID
            join 	HZ_CFG0_MODEL_COLOR_DETAIL t3 on t3.MODEL_UID = t2.PUID
            join  HZ_CFG0_COLORSET t4 on t4.PUID = t3.P_COLOR_UID
            join 	HZ_CFG0_OPTIONFAMILY_RECORD t5 on t5.puid = t3.P_CFG_UID
            join 	HZ_CFG0_RECORD t6 on t6.P_CFG0_FAMILY_PUID = t5.puid
            join  HZ_FULL_CFG_WITHCFG_RECORD t7 on t7.CFG_CFG0_UID = t6.PUID
            join HZ_BOM_LINE_RECORD t8 on t7.CFG_BOMLINE_UID = t8.puid
        where
            t.id = #{dmbId,jdbcType=DECIMAL} and t8.puid in(
            SELECT
            t2.FL_MODEL_BOMLINE_UID
        FROM
            Hz_Derivative_Materiel_Basic T
            join  HZ_FULL_CFG_MODEL_RECORD t2 on t2.MOD_MODEL_UID = t.DMB_MODEL_UID
            join HZ_BOM_LINE_RECORD t3 on t2.FL_MODEL_BOMLINE_UID = t3.puid
        where
            t.id = #{dmbId,jdbcType=DECIMAL}
        AND
            T2.MOD_POINT_TYPE = 2
        )
    </select>

    <!--查询全部的实心打点图-->
    <select id="selectSolidPointGraphFromFullConfig"
            resultType="cn.net.connor.hozon.dao.query.interaction.HzSingleVehicleBLQuery"
            resultMap="BaseResultMap">
        SELECT
            t2.FL_MODEL_BOMLINE_UID as bomLineUid,
            t2.MOD_CFG0_UID, t3.P_BOM_LINE_PART_NAME
        FROM
            Hz_Derivative_Materiel_Basic T
            join  HZ_FULL_CFG_MODEL_RECORD t2 on t2.MOD_MODEL_UID = t.DMB_MODEL_UID
            join HZ_BOM_LINE_RECORD t3 on t2.FL_MODEL_BOMLINE_UID = t3.puid
        where
            t.id =  #{dmbId,jdbcType=DECIMAL}
        AND
            T2.MOD_POINT_TYPE = 2
    </select>
</mapper>