<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2018.
  ~ This file was written by fancyears·milos·malvis @connor. Any question/bug you can post to 1243093366@qq.com.
  ~ ALL RIGHTS RESERVED.
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.net.connor.hozon.dao.dao.configuration.derivative.HzDerivativeMaterielDetailChangeDao">
    <resultMap id="BaseResultMap" type="cn.net.connor.hozon.dao.pojo.configuration.derivative.HzDMDetailChangeBean">
        <!--主键-->
        <id column="ID" jdbcType="DECIMAL" property="id"/>
        <!--变更表单ID-->
        <result column="FORMID" jdbcType="DECIMAL" property="formId"/>
        <!--基本信息外键-->
        <result column="DMD_DMB_ID" jdbcType="DECIMAL" property="dmdDmbId"/>
        <!--特性值外键-->
        <result column="DMD_CFG0_UID" jdbcType="VARCHAR" property="dmdCfg0Uid"/>
        <!--特性外键-->
        <result column="DMD_CFG0_FAMILY_UID" jdbcType="VARCHAR" property="dmdCfg0FamilyUid"/>
        <!--源数据创建者-->
        <result column="DMD_CREATOR" jdbcType="VARCHAR" property="dmdCreator"/>
        <!--源数据创建时间-->
        <result column="DMD_CREATE_DATE" jdbcType="DATE" property="dmdCreateDate"/>
        <!--源数据更新人-->
        <result column="DMD_UPDATER" jdbcType="VARCHAR" property="dmdUpdater"/>
        <!--源数据更新时间-->
        <result column="DMD_UPDATE_DATE" jdbcType="DATE" property="dmdUpdateDate"/>
        <!--创建者-->
        <result column="CHANGE_CREATOR" jdbcType="VARCHAR" property="changeCreator"/>
        <!--创建时间-->
        <result column="CHANGE_CREATE_DATE" jdbcType="DATE" property="changeCreateDate"/>
        <!--更新人-->
        <result column="CHANGE_UPDATER" jdbcType="VARCHAR" property="changeUpdater"/>
        <!--更新时间-->
        <result column="CHANGE_UPDATE_DATE" jdbcType="DATE" property="changeUpdateDate"/>
        <!--保留字段1-->
        <result column="DMD_RESERVED_1" jdbcType="VARCHAR" property="dmdReserved1"/>
        <!--保留字段2-->
        <result column="DMD_RESERVED_2" jdbcType="VARCHAR" property="dmdReserved2"/>
        <!--保留字段3-->
        <result column="DMD_RESERVED_3" jdbcType="VARCHAR" property="dmdReserved3"/>
        <!--保留字段4-->
        <result column="DMD_RESERVED_4" jdbcType="VARCHAR" property="dmdReserved4"/>
        <!--保留字段5-->
        <result column="DMD_RESERVED_5" jdbcType="VARCHAR" property="dmdReserved5"/>
        <!--特性值,放在最后直接显示在前端-->
        <result column="DMD_FEATURE_VALUE" jdbcType="VARCHAR" property="dmdFeatureValue"/>
        <!--特性值,放在最后直接显示在前端-->
        <result column="DMB_CHANGE_BASIC_ID" jdbcType="DECIMAL" property="dmbChangeBasicId"/>
        <!--特性值,放在最后直接显示在前端-->
        <result column="TITLE" jdbcType="VARCHAR" property="title"/>
        <!--源从数据ID-->
        <result column="DMD_SRC_DETAIL_ID" jdbcType="DECIMAL" property="dbdSrcDetailId"/>
        <!--特性对象-->
        <!--<result column="DMB_COLOR_MODEL_UID" jdbcType="VARCHAR" property="cfg0Record"/>-->
    </resultMap>

    <sql id="Base_Column_List">
        ID,
        FORMID,
        DMD_DMB_ID,
        DMD_CFG0_UID,
        DMD_CFG0_FAMILY_UID,
        DMD_CREATOR,
        DMD_CREATE_DATE,
        DMD_UPDATER,
        DMD_UPDATE_DATE,
        CHANGE_CREATOR,
        CHANGE_CREATE_DATE,
        CHANGE_UPDATER,
        CHANGE_UPDATE_DATE,
        DMD_RESERVED_1,
        DMD_RESERVED_2,
        DMD_RESERVED_3,
        DMD_RESERVED_4,
        DMD_RESERVED_5,
        DMD_FEATURE_VALUE,
        DMB_CHANGE_BASIC_ID,
        TITLE,
        DMD_SRC_DETAIL_ID
    </sql>


    <insert id="insertList" parameterType="java.util.List">
        insert into
        HZ_DM_DETAIL_CHANGE
        (<include refid="Base_Column_List"/>)
        select SEQ_HZ_DM_DETAIL_CHANGE.NEXTVAL,A.* from (
        <foreach collection="list" index="index" item="hzDMDetailChangeBean" separator="union">
            select
            #{hzDMDetailChangeBean.formId,jdbcType=DECIMAL},
            #{hzDMDetailChangeBean.dmdDmbId,jdbcType=DECIMAL},
            #{hzDMDetailChangeBean.dmdCfg0Uid,jdbcType=VARCHAR},
            #{hzDMDetailChangeBean.dmdCfg0FamilyUid,jdbcType=VARCHAR},
            #{hzDMDetailChangeBean.dmdCreator,jdbcType=VARCHAR},
            #{hzDMDetailChangeBean.dmdCreateDate,jdbcType=DATE},
            #{hzDMDetailChangeBean.dmdUpdater,jdbcType=VARCHAR},
            #{hzDMDetailChangeBean.dmdUpdateDate,jdbcType=DATE},
            #{hzDMDetailChangeBean.changeCreator,jdbcType=VARCHAR},
            #{hzDMDetailChangeBean.changeCreateDate,jdbcType=DATE},
            #{hzDMDetailChangeBean.changeUpdater,jdbcType=VARCHAR},
            #{hzDMDetailChangeBean.changeUpdateDate,jdbcType=DATE},
            #{hzDMDetailChangeBean.dmdReserved1,jdbcType=VARCHAR},
            #{hzDMDetailChangeBean.dmdReserved2,jdbcType=VARCHAR},
            #{hzDMDetailChangeBean.dmdReserved3,jdbcType=VARCHAR},
            #{hzDMDetailChangeBean.dmdReserved4,jdbcType=VARCHAR},
            #{hzDMDetailChangeBean.dmdReserved5,jdbcType=VARCHAR},
            #{hzDMDetailChangeBean.dmdFeatureValue,jdbcType=VARCHAR},
            #{hzDMDetailChangeBean.dmbChangeBasicId,jdbcType=DECIMAL},
            #{hzDMDetailChangeBean.title,jdbcType=VARCHAR},
            #{hzDMDetailChangeBean.dbdSrcDetailId,jdbcType=DECIMAL}

            from
            dual
        </foreach>
        )A
    </insert>

    <select id="selectByBasic" parameterType="java.util.List" resultMap="BaseResultMap">
        select
          <include refid="Base_Column_List"/>
        from
          HZ_DM_DETAIL_CHANGE
        where
        DMB_CHANGE_BASIC_ID in
        <foreach collection="list" index="index" item="hzDMBasicChangeBean" open="(" separator="," close=")">
            #{hzDMBasicChangeBean.id,jdbcType=DECIMAL}
        </foreach>
    </select>
</mapper>