<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--User: xulf Date: 2018/11/9 Time: 13:50-->
<head th:include="include/includebase"></head>
<meta charset="UTF-8">
<title>变更单</title>
</head>
<body>
<!--<a href="javascript:history.go(-1);">返回变更表单</a>-->
<div class="form-group">
    <button type="button"class="btn btn-primary"onclick="doReturn();" style="float: right">返回变更表单</button>
</div>
<h4><i class="fa fa-minus-square" aria-hidden="true">基本信息</i></h4>
<div class="panel-body" style="padding:0px;">
    <form id="basicForm" role="form" method="post" action="">
        <div class="panel panel-default" style="padding:0px;">
            <div class="panel-body" style="padding:0px;">
                <div class="col-lg-12 col-md-12" style="padding:0px;">
                    <div class="col-lg-3 col-md-3">
                        <input id="id" type="hidden" th:value="${data.id}">
                        <div class="form-group after_the">
                            <label for="changeNo">变更单号</label>
                            <input type="text" class="form-control" name="changeNo" id="changeNo"
                                   th:value="${data.changeNo}" disabled="disabled"
                                   placeholder="请输入变更单号"/>
                        </div>
                        <div class="form-group after_the">
                            <label for="createTime">创建时间</label>
                            <input type="text" class="form-control" name="createTime" id="createTime"
                                   th:value="${data.createTime}" disabled="disabled"
                                   placeholder="请输入创建时间"/>
                        </div>
                        <div class="form-group after_the">
                            <label for="deptName">部门</label>
                            <input type="text" class="form-control" name="deptName" id="deptName"
                                   th:value="${data.deptName}" disabled="disabled"
                                   placeholder="请输入部门"/>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="form-group after_the">
                            <label for="originator">发起人</label>
                            <input type="text" class="form-control" name="originator" id="originator"
                                   th:value="${data.originator}" disabled="disabled"
                                   placeholder="请输入发起人"/>
                        </div>
                        <div class="form-group after_the">
                            <label for="tel">联系电话</label>
                            <input type="text" class="form-control" name="tel" id="tel"
                                   th:value="${data.tel}" disabled="disabled"
                                   placeholder="请输入联系电话"/>
                        </div>
                        <div class="form-group after_the">
                            <label for="changeType">变更类型</label>
                            <input type="text" class="form-control" name="changeType" id="changeType"
                                   th:value="${data.changeType}" disabled="disabled"
                                   placeholder="请输入变更类型"/>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="form-group after_the">
                            <label for="relationChangeNo">是否关联变更</label>
                            <input type="text" class="form-control" name="relationChangeNo" id="relationChangeNo"
                                   th:value="${data.relationChangeNo}" disabled="disabled"
                                   placeholder="请输入部门关联变更号"/>
                        </div>
                        <div class="form-group after_the">
                            <label for="marketType">上市类型</label>
                            <select class="form-control" name="marketType" id="marketType"disabled="disabled" placeholder="请选择上市类型">
                                <option th:selected="${data.getMarketType()=='上市前'?true:false}">上市前</option>
                                <option th:selected="${data.getMarketType()=='上市后'?true:false}">上市后</option>
                            </select>
                        </div>
                        <div class="form-group after_the">
                            <label for="projectStage">项目所属阶段</label>
                            <input type="text" class="form-control" name="projectStage" id="projectStage"
                                   th:value="${data.projectStage}" disabled="disabled"
                                   placeholder="请输入项目所属阶段"/>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="form-group after_the">
                            <label for="remark">备注</label>
                            <input type="text" class="form-control" name="remark" id="remark"
                                   th:value="${data.remark}" disabled="disabled"
                                   placeholder="请输入备注"/>
                        </div>
                        <div class="form-group after_the">
                            <label for="state">变更状态</label>
                            <select class="form-control" name="state" id="state" placeholder="请选择变更状态"disabled="disabled">
                                <option th:selected="${data.getState()=='进行中'?true:false}">进行中</option>
                                <option th:selected="${data.getState()=='完成'?true:false}">完成</option>
                                <option th:selected="${data.getState()=='取消 '?true:false}">取消</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!--<h4><i class="fa fa-minus-square" aria-hidden="true">变更附件</i></h4>-->
<!--<div class="panel-body" style="padding:0px;">-->
<!--<div class="panel panel-default">-->
<!--<div class="panel-body">-->
<!--<div class="col-md-12 col-lg-12" style="padding:0px;">-->
<!--<div class="form-group after_the">-->
<!--<label for="EWOnum5">附件:</label>-->
<!--<input type="file" class="form-control" name="level" id="EWOnum5"-->
<!--placeholder=""/>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<h4><i class="fa fa-minus-square" aria-hidden="true">变更数据</i></h4>
<div class="panel-body" style="padding:0px;">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="content col-lg-12 col-md-12" style="padding:0px;">
                <!--<table class="table table-striped tableNormalStyle" id="routingDaTable">-->
                <!--</table>-->
                <!--<tr><td><a onclick="skip('materieFeature')">特性变更</a></td></tr>-->
                <!--<tr>-->
                <!--<th><a href="../vwo/featurePage?vwoId=6">特性变更</a></th>-->
                <!--<th><a href="../vwo/fullCfgPage?orderChangeId=6">全BOM配置</a></th>-->
                <!--<th><a href="#">配色方案</a></th>-->
                <!--<th><a href="#">配置物料</a></th>-->
                <!--<th><a href="../change/data/ebom/page">EBOM管理</a></th>-->
                <!--<th><a href="#">PBOM管理</a></th>-->
                <!--<th><a href="#">超级MBOM</a></th>-->
                <!--<th><a href="#">白车身生产</a></th>-->
                <!--<th><a href="#">白车身财务</a></th>-->
                <!--<th><a href="#">物料数据</a></th>-->
                <!--<th><a href="#">工艺路线</a></th>-->
                <!--</tr>-->
                <table class="table table-striped tableNormalStyle" id="changeOrderTable">
                </table>
            </div>

        </div>
    </div>
</div>
<script th:src="@{/js/helper/dateFormater.js}"></script>
<script th:src="@{/js/helper/taskHelper.js}"></script>
<script th:src="@{/js/helper/jsonHelper.js}"></script>
<script th:src="@{/js/helper/renderingTableColorHelper.js}"></script>
<script th:src="@{/js/change/changeForm/changeOrder.js}"></script>
</body>
</html>