<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--User: xulf Date: 2018/11/15 Time: 18:57-->
<head th:include="include/includebase"></head>
<meta charset="UTF-8">
<title>物料数据变更</title>
</head>
<body>
<h4><i class="fa fa-minus-square" aria-hidden="true">物料数据变更</i></h4>
<div class="panel-body" style="padding:0px;">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="content col-lg-12 col-md-12" style="padding:0px;">
                <table class="table table-striped tableNormalStyle" id="routingDaTable">
                </table>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
</script>
</body>
</html>