<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2018.
  ~ This file was written by fancyears·milos·malvis @connor. Any question/bug you can post to 1243093366@qq.com.
  ~ ALL RIGHTS RESERVED.
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.net.connor.hozon.dao.dao.configuration.derivative.HzDMBasicChangeDao">
    <resultMap id="BaseResultMap" type="cn.net.connor.hozon.dao.pojo.configuration.derivative.HzDMBasicChangeBean">
        <!--主键-->
        <id column="ID" jdbcType="DECIMAL" property="id"/>
        <!--变更表单ID-->
        <result column="FORMID" jdbcType="DECIMAL" property="formId"/>
        <!--源数据ID-->
        <result column="DMB_SRC_ID" jdbcType="DECIMAL" property="dmbSrcId"/>
        <!--基础车型的PUID-->
        <result column="DMB_MODEL_UID" jdbcType="VARCHAR" property="dmbModelUid"/>
        <!--配色模型的PUID-->
        <result column="DMB_COLOR_MODEL_UID" jdbcType="VARCHAR" property="dmbColorModelUid"/>
        <!--源数据创建者-->
        <result column="DMB_CREATOR" jdbcType="VARCHAR" property="dmbCreator"/>
        <!--源数据创建时间-->
        <result column="DMB_CREATE_DATE" jdbcType="DATE" property="dmbCreateDate"/>
        <!--源数据更新人-->
        <result column="DMB_UPDATER" jdbcType="VARCHAR" property="dmbUpdater"/>
        <!--源数据更新时间-->
        <result column="DMB_UPDATE_DATE" jdbcType="DATE" property="dmbUpdateDate"/>
        <!--创建者-->
        <result column="CHANGE_CREATOR" jdbcType="VARCHAR" property="changeCreator"/>
        <!--创建时间-->
        <result column="CHANGE_CREATE_DATE" jdbcType="DATE" property="changeCreateDate"/>
        <!--更新人-->
        <result column="CHANGE_UPDATER" jdbcType="VARCHAR" property="changeUpdater"/>
        <!--更新时间-->
        <result column="CHANGE_UPDATE_DATE" jdbcType="DATE" property="changeUpdateDate"/>
        <!--项目UID-->
        <result column="DMB_PROJECT_UID" jdbcType="VARCHAR" property="dmbProjectUid"/>
        <!--保留字段1-->
        <result column="DMB_MODEL_FEATURE_UID" jdbcType="VARCHAR" property="dmbModelFeatureUid"/>
        <!--保留字段2-->
        <result column="DMB_RESERVED_2" jdbcType="VARCHAR" property="dmbReserved2"/>
        <!--保留字段3-->
        <result column="DMB_RESERVED_3" jdbcType="VARCHAR" property="dmbReserved3"/>
        <!--保留字段4-->
        <result column="DMB_RESERVED_4" jdbcType="VARCHAR" property="dmbReserved4"/>
        <!--保留字段5-->
        <result column="DMB_RESERVED_5" jdbcType="VARCHAR" property="dmbReserved5"/>
        <!--特殊的特性UID，特别是车身颜色-->
        <result column="DMB_SPECIAL_FEATURE_UID" jdbcType="VARCHAR" property="dmbSpecialFeatureUid"/>
        <!--变更状态，0为流程中，1为生效-->
        <result column="DMB_CHANGE_STATUS" jdbcType="DECIMAL" property="dmbChangeStatus"/>
        <!--源数据状态-->
        <result column="DMB_SRC_STATUS" jdbcType="DECIMAL" property="dmbSrcStatus"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,
        FORMID,
        DMB_SRC_ID,
        DMB_MODEL_UID,
        DMB_COLOR_MODEL_UID,
        DMB_CREATOR,
        DMB_CREATE_DATE,
        DMB_UPDATER,
        DMB_UPDATE_DATE,
        CHANGE_CREATOR,
        CHANGE_CREATE_DATE,
        CHANGE_UPDATER,
        CHANGE_UPDATE_DATE,
        DMB_PROJECT_UID,
        DMB_MODEL_FEATURE_UID,
        DMB_RESERVED_2,
        DMB_RESERVED_3,
        DMB_RESERVED_4,
        DMB_RESERVED_5,
        DMB_SPECIAL_FEATURE_UID,
        DMB_CHANGE_STATUS,
        DMB_SRC_STATUS
    </sql>
    <insert id="insertList" parameterType="java.util.List">
        insert into
          HZ_DM_BASIC_CHANGE
        (<include refid="Base_Column_List"/>)
        select SEQ_HZ_DM_BASIC_CHANGE.NEXTVAL,A.* from (
        <foreach collection="list" index="index" item="hzDMBasicChangeBean" separator="union">
            select
              #{hzDMBasicChangeBean.formId,jdbcType=DECIMAL},
              #{hzDMBasicChangeBean.dmbSrcId,jdbcType=DECIMAL},
              #{hzDMBasicChangeBean.dmbModelUid,jdbcType=DECIMAL},
              #{hzDMBasicChangeBean.dmbColorModelUid,jdbcType=VARCHAR},
              #{hzDMBasicChangeBean.dmbCreator,jdbcType=VARCHAR},
              #{hzDMBasicChangeBean.dmbCreateDate,jdbcType=DATE},
              #{hzDMBasicChangeBean.dmbUpdater,jdbcType=VARCHAR},
              #{hzDMBasicChangeBean.dmbUpdateDate,jdbcType=DATE},
              #{hzDMBasicChangeBean.changeCreator,jdbcType=VARCHAR},
              #{hzDMBasicChangeBean.changeCreateDate,jdbcType=DATE},
              #{hzDMBasicChangeBean.changeUpdater,jdbcType=VARCHAR},
              #{hzDMBasicChangeBean.changeUpdateDate,jdbcType=DATE},
              #{hzDMBasicChangeBean.dmbProjectUid,jdbcType=VARCHAR},
              #{hzDMBasicChangeBean.dmbReserved2,jdbcType=VARCHAR},
              #{hzDMBasicChangeBean.dmbReserved3,jdbcType=VARCHAR},
              #{hzDMBasicChangeBean.dmbReserved4,jdbcType=VARCHAR},
              #{hzDMBasicChangeBean.dmbReserved5,jdbcType=VARCHAR},
              #{hzDMBasicChangeBean.dmbModelFeatureUid,jdbcType=VARCHAR},
              #{hzDMBasicChangeBean.dmbSpecialFeatureUid,jdbcType=VARCHAR},
              #{hzDMBasicChangeBean.dmbChangeStatus,jdbcType=DECIMAL},
              #{hzDMBasicChangeBean.dmbSrcStatus,jdbcType=DECIMAL}
            from
              dual
        </foreach>
        )A
    </insert>

    <select id="selectByFormid" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
          <include refid="Base_Column_List"/>
        from
          HZ_DM_BASIC_CHANGE
        where
        FORMID = #{changeFromId,jdbcType=DECIMAL}
        and DMB_CHANGE_STATUS=0
    </select>

    <select id="selectBefor" parameterType="cn.net.connor.hozon.dao.pojo.configuration.derivative.HzDMBasicChangeBean" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        HZ_DM_BASIC_CHANGE
        where
        ID = (
          select Max(ID)from HZ_DM_BASIC_CHANGE where DMB_SRC_ID  = #{dmbSrcId,jdbcType=DECIMAL}
          and DMB_CHANGE_STATUS =1
          and ID &lt; #{id,jdbcType=DECIMAL}
        )
        order by ID
    </select>

    <select id="selectAfter" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        HZ_DM_BASIC_CHANGE
        where
        ID in(
          select ID from HZ_DM_BASIC_CHANGE where FORMID =  #{formId,jdbcType=DECIMAL}
        )

    </select>

    <select id="selectLastById" parameterType="java.util.List" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        HZ_DM_BASIC_CHANGE
        where
        ID in (
        select Max(ID) from HZ_DM_BASIC_CHANGE where DMB_SRC_ID in
        <foreach collection="list" index="index" item="hzComposeDelDto" open="(" separator="," close=")">
            #{hzComposeDelDto.basicId,jdbcType=DECIMAL}
        </foreach>
        and DMB_CHANGE_STATUS =1
        group by DMB_SRC_ID
        )
    </select>

    <update id="updateStatusByOrderId" parameterType="java.util.Map">
        update HZ_DM_BASIC_CHANGE
        set DMB_CHANGE_STATUS = #{status,jdbcType=DECIMAL}
        where
        FORMID = #{orderId,jdbcType=DECIMAL}
    </update>

    <delete id="deleteByChangeIds" parameterType="java.util.List">
        delete from HZ_DM_BASIC_CHANGE
        where
        ID in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item.id,jdbcType=DECIMAL}
        </foreach>
    </delete>

    <select id="selectNotEffect" parameterType="java.util.List" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        HZ_DM_BASIC_CHANGE
        where
        DMB_SRC_ID in (
        select DMB_SRC_ID from HZ_DM_BASIC_CHANGE where ID in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item,jdbcType=DECIMAL}
        </foreach>
        )
        and
        DMB_CHANGE_STATUS = 0
    </select>

</mapper>