<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--User: xulf Date: 2018/8/7 Time: 10:23-->
<head th:include="include/includebase"></head>
<link th:href="@{/css/changeManage/vwo/vwoFromList.css}" rel="stylesheet"/>
<meta charset="UTF-8">
<title>物料数据变更表单</title>
</head>
<body>
<div class="col-lg-12">
    <div class="form-group">
        <button type="button" id="queryBtn1" onclick="doQuery();" class="btn btn-primary">
            <i class="fa fa-plus" aria-hidden="true">新增</i>
        </button>
    </div>
    <table class="table table-striped tableNormalStyle">
        <tr>
            <th>操作</th>
            <th>零件号</th>
            <th>版本号</th>
            <th>零件名称</th>
            <th>上级总成零件号</th>
            <th>车型族</th>
            <th>状态（U/P/B/D)</th>
            <th>配置车型</th>
            <th>公告车型号</th>
            <th>整车物料号</th>
            <th>销售市场</th>
        </tr>
        <tr>
            <td>
                <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            </td>
            <td>S00-1001</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            </td>
            <td>S00-1001</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            </td>
            <td>S00-1001</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            </td>
            <td>S00-1001</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            </td>
            <td>S00-1001</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            </td>
            <td>S00-1001</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>
</body>
</html>