<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2018.
  ~ This file was wrote by fancyears·milos·malvis @connor. Any question/bug you can post to 1243093366@qq.com.
  ~ ALL RIGHTS RESERVED.
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.connor.hozon.bom.bomSystem.dao.fullCfg.HzCfg0OfBomLineRecordDao">
    <resultMap id="BaseResultMap" type="sql.pojo.cfg.fullCfg.HzCfg0OfBomLineRecord">
        <id column="PUID" jdbcType="VARCHAR" property="puid"/>
        <result column="P_BOMLINEPUID" jdbcType="VARCHAR" property="pBomlinepuid"/>
        <result column="P_CFG0NAME" jdbcType="OTHER" property="pCfg0name"/>
        <result column="P_CFG0FAMILYNAME" jdbcType="VARCHAR" property="pCfg0familyname"/>
        <result column="P_BOM_DIGIFAX_ID" jdbcType="VARCHAR" property="pBomDigifaxId"/>
        <result column="P_BOM_LINE_NAME" jdbcType="VARCHAR" property="pBomLineName"/>
        <result column="P_TO_CFG0_ID_OF_BL" jdbcType="VARCHAR" property="pToCfg0IdOfBl"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ExtendBaseResult" type="sql.pojo.cfg.fullCfg.HzCfg0OfBomLineRecord">
        <result column="p_cfg0_desc" jdbcType="VARCHAR" property="cfg0Desc"/>
        <result column="p_cfg0_family_desc" jdbcType="VARCHAR" property="cfg0FamilyDesc"/>
    </resultMap>
    <sql id="Base_Column_List">
        PUID,
        P_BOMLINEPUID,
        P_CFG0NAME,
        P_CFG0FAMILYNAME,
        P_BOM_DIGIFAX_ID,
        P_BOM_LINE_NAME,
        P_TO_CFG0_ID_OF_BL
    </sql>
    <sql id="values_by_batch">
        #{item.puid,jdbcType=VARCHAR},
        #{item.pBomlinepuid,jdbcType=VARCHAR},
        #{item.pCfg0name,jdbcType=VARCHAR},
        #{item.pCfg0familyname,jdbcType=VARCHAR},
        #{item.pBomDigifaxId,jdbcType=VARCHAR},
        #{item.pBomLineName,jdbcType=VARCHAR},
        #{item.pToCfg0IdOfBl,jdbcType=VARCHAR}
    </sql>
    <!--根据主键筛选-->
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from HZ_CFG0_OF_BOMLINE_RECORD
        where PUID = #{puid,jdbcType=VARCHAR}
    </select>
    <!--根据项目UID和BOMLine UID查询1条记录-->
    <select id="selectByBLUidAndPrjUid" parameterType="sql.pojo.cfg.fullCfg.HzCfg0OfBomLineRecord" resultMap="ExtendBaseResult">
        select
        t.puid,
        t.p_bomlinepuid,
        t.p_cfg0name,
        t2.p_cfg0_desc,
        t.p_cfg0familyname,
        t2.p_cfg0_family_desc,
        t.p_bom_line_name,
        t.p_to_cfg0_id_of_bl
        from HZ_CFG0_OF_BOMLINE_RECORD t
        left join Hz_Cfg0_Record t2 on t2.puid=t.p_to_cfg0_id_of_bl
        where t.p_bomlinepuid=#{pBomlinepuid,jdbcType=VARCHAR}
        and t.p_bom_digifax_id=(
        select puid from Hz_Bom_Main_Record t2 where t2.p_cfg0_of_which_project_puid=#{projectUid,jdbcType=VARCHAR}
        )

    </select>
    <!--根据主键删除-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
delete from HZ_CFG0_OF_BOMLINE_RECORD
where PUID = #{puid,jdbcType=VARCHAR}
</delete>
    <!--插入单条数据-->
    <insert id="insert" parameterType="sql.pojo.cfg.fullCfg.HzCfg0OfBomLineRecord">
insert into HZ_CFG0_OF_BOMLINE_RECORD (PUID, P_BOMLINEPUID, P_CFG0NAME,
P_CFG0FAMILYNAME, P_BOM_DIGIFAX_ID, P_BOM_LINE_NAME,
P_TO_CFG0_ID_OF_BL)
values (#{puid,jdbcType=VARCHAR}, #{pBomlinepuid,jdbcType=VARCHAR}, #{pCfg0name,jdbcType=OTHER},
#{pCfg0familyname,jdbcType=OTHER}, #{pBomDigifaxId,jdbcType=VARCHAR}, #{pBomLineName,jdbcType=VARCHAR},
#{pToCfg0IdOfBl,jdbcType=VARCHAR})
</insert>
    <!--批量插入-->
    <insert id="insertByBatch" parameterType="java.util.List">
        insert all
        <foreach collection="list" item="item" index="index"
                 separator=" ">
            into HZ_CFG0_OF_BOMLINE_RECORD (
            <include refid="Base_Column_List"/>
            ) values (
            <include refid="values_by_batch"/>
            )
        </foreach>
        select 1 from dual
    </insert>
    <!--根据主键更新-->
    <update id="updateByPrimaryKey" parameterType="sql.pojo.cfg.fullCfg.HzCfg0OfBomLineRecord">
update HZ_CFG0_OF_BOMLINE_RECORD
set P_BOMLINEPUID = #{pBomlinepuid,jdbcType=VARCHAR},
P_CFG0NAME = #{pCfg0name,jdbcType=OTHER},
P_CFG0FAMILYNAME = #{pCfg0familyname,jdbcType=OTHER},
P_BOM_DIGIFAX_ID = #{pBomDigifaxId,jdbcType=VARCHAR},
P_BOM_LINE_NAME = #{pBomLineName,jdbcType=VARCHAR},
P_TO_CFG0_ID_OF_BL = #{pToCfg0IdOfBl,jdbcType=VARCHAR}
where PUID = #{puid,jdbcType=VARCHAR}
</update>
</mapper>