<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2018.
  ~ This file was wrote by fancyears·milos·malvis @connor. Any question/bug you can post to 1243093366@qq.com.
  ~ ALL RIGHTS RESERVED.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.connor.hozon.bom.bomSystem.dao.fullCfg.HzFullCfgModelDao">
    <resultMap id="BaseResultMap" type="sql.pojo.cfg.fullCfg.HzFullCfgModel">
        <id column="ID" jdbcType="DECIMAL" property="id"/>
        <result column="MOD_MODEL_UID" jdbcType="VARCHAR" property="modModelUid"/>
        <result column="MOD_CFG0_UID" jdbcType="VARCHAR" property="modCfg0Uid"/>
        <result column="MOD_POINT_TYPE" jdbcType="DECIMAL" property="modPointType"/>
        <result column="FL_MOD_CREATE_DATE" jdbcType="TIMESTAMP" property="flModCreateDate"/>
        <result column="FL_MOD_UPDATE_DATE" jdbcType="TIMESTAMP" property="flModUpdateDate"/>
        <result column="FL_MOD_CREATOR" jdbcType="VARCHAR" property="flModCreator"/>
        <result column="FL_MOD_LAST_UPDATER" jdbcType="VARCHAR" property="flModLastUpdater"/>
        <result column="FL_MOD_VERSION" jdbcType="DECIMAL" property="flModVersion"/>
        <result column="FL_MODEL_BOMLINE_UID" jdbcType="DECIMAL" property="flModelBomlineUid"/>
    </resultMap>
    <sql id="Base_Column_List">
    ID,
    MOD_MODEL_UID,
    MOD_CFG0_UID,
    MOD_POINT_TYPE,
    FL_MOD_CREATE_DATE,
    FL_MOD_UPDATE_DATE,
    FL_MOD_CREATOR,
    FL_MOD_LAST_UPDATER,
    FL_MOD_VERSION,
    FL_MODEL_BOMLINE_UID
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from HZ_FULL_CFG_MODEL_RECORD
        where ID = #{id,jdbcType=DECIMAL}
    </select>
    <select id="selectByModelUid" parameterType="sql.pojo.cfg.fullCfg.HzFullCfgModel" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from HZ_FULL_CFG_MODEL_RECORD
        where MOD_MODEL_UID = #{modModelUid,jdbcType=VARCHAR}
    </select>
    <select id="selectByModelUidWithMarks" parameterType="sql.pojo.cfg.fullCfg.HzFullCfgModel" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from HZ_FULL_CFG_MODEL_RECORD
        where
        MOD_MODEL_UID = #{modModelUid,jdbcType=VARCHAR}
        <if test="modPointType!=null">
            and MOD_POINT_TYPE=#{modPointType,jdbcType=DECIMAL}
        </if>

    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from HZ_FULL_CFG_MODEL_RECORD
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
    <insert id="insert" parameterType="sql.pojo.cfg.fullCfg.HzFullCfgModel">
    insert into HZ_FULL_CFG_MODEL_RECORD (
        ID,
        MOD_MODEL_UID,
        MOD_CFG0_UID,
        MOD_POINT_TYPE,
        FL_MOD_CREATE_DATE,
        FL_MOD_UPDATE_DATE,
        FL_MOD_CREATOR,
        FL_MOD_LAST_UPDATER,
        FL_MOD_VERSION,
        FL_MODEL_BOMLINE_UID
      )
    values (
        #{id,jdbcType=DECIMAL},
        #{modModelUid,jdbcType=VARCHAR},
        #{modCfg0Uid,jdbcType=VARCHAR},
        #{modPointType,jdbcType=DECIMAL},
        #{flModCreateDate,jdbcType=TIMESTAMP},
        #{flModUpdateDate,jdbcType=TIMESTAMP},
        #{flModCreator,jdbcType=VARCHAR},
        #{flModLastUpdater,jdbcType=VARCHAR},
        #{flModVersion,jdbcType=DECIMAL},
        #{flModelBomlineUid,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="sql.pojo.cfg.fullCfg.HzFullCfgModel">
        insert into HZ_FULL_CFG_MODEL_RECORD
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="modModelUid != null">
                MOD_MODEL_UID,
            </if>
            <if test="modCfg0Uid != null">
                MOD_CFG0_UID,
            </if>
            <if test="modPointType != null">
                MOD_POINT_TYPE,
            </if>
            <if test="flModCreateDate != null">
                FL_MOD_CREATE_DATE,
            </if>
            <if test="flModUpdateDate != null">
                FL_MOD_UPDATE_DATE,
            </if>
            <if test="flModCreator != null">
                FL_MOD_CREATOR,
            </if>
            <if test="flModLastUpdater != null">
                FL_MOD_LAST_UPDATER,
            </if>
            <if test="flModVersion != null">
                FL_MOD_VERSION,
            </if>
            <if test="flModelBomlineUid != null">
                FL_MODEL_BOMLINE_UID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=DECIMAL},
            </if>
            <if test="modModelUid != null">
                #{modModelUid,jdbcType=VARCHAR},
            </if>
            <if test="modCfg0Uid != null">
                #{modCfg0Uid,jdbcType=VARCHAR},
            </if>
            <if test="modPointType != null">
                #{modPointType,jdbcType=DECIMAL},
            </if>
            <if test="flModCreateDate != null">
                #{flModCreateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="flModUpdateDate != null">
                #{flModUpdateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="flModCreator != null">
                #{flModCreator,jdbcType=VARCHAR},
            </if>
            <if test="flModLastUpdater != null">
                #{flModLastUpdater,jdbcType=VARCHAR},
            </if>
            <if test="flModVersion != null">
                #{flModVersion,jdbcType=DECIMAL},
            </if>
            <if test="flModelBomlineUid != null">
                #{flModelBomlineUid,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="sql.pojo.cfg.fullCfg.HzFullCfgModel">
        update HZ_FULL_CFG_MODEL_RECORD
        <set>
            <if test="modModelUid != null">
                MOD_MODEL_UID = #{modModelUid,jdbcType=VARCHAR},
            </if>
            <if test="modCfg0Uid != null">
                MOD_CFG0_UID = #{modCfg0Uid,jdbcType=VARCHAR},
            </if>
            <if test="modPointType != null">
                MOD_POINT_TYPE = #{modPointType,jdbcType=DECIMAL},
            </if>
            <if test="flModCreateDate != null">
                FL_MOD_CREATE_DATE = #{flModCreateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="flModUpdateDate != null">
                FL_MOD_UPDATE_DATE = #{flModUpdateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="flModCreator != null">
                FL_MOD_CREATOR = #{flModCreator,jdbcType=VARCHAR},
            </if>
            <if test="flModLastUpdater != null">
                FL_MOD_LAST_UPDATER = #{flModLastUpdater,jdbcType=VARCHAR},
            </if>
            <if test="flModVersion != null">
                FL_MOD_VERSION = #{flModVersion,jdbcType=DECIMAL},
            </if>
            <if test="flModelBomlineUid != null">
                FL_MODEL_BOMLINE_UID = #{flModelBomlineUid,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=DECIMAL}
    </update>
    <update id="updateByPrimaryKey" parameterType="sql.pojo.cfg.fullCfg.HzFullCfgModel">
    update HZ_FULL_CFG_MODEL_RECORD
    set MOD_MODEL_UID = #{modModelUid,jdbcType=VARCHAR},
      MOD_CFG0_UID = #{modCfg0Uid,jdbcType=VARCHAR},
      MOD_POINT_TYPE = #{modPointType,jdbcType=DECIMAL},
      FL_MOD_CREATE_DATE = #{flModCreateDate,jdbcType=TIMESTAMP},
      FL_MOD_UPDATE_DATE = #{flModUpdateDate,jdbcType=TIMESTAMP},
      FL_MOD_CREATOR = #{flModCreator,jdbcType=VARCHAR},
      FL_MOD_LAST_UPDATER = #{flModLastUpdater,jdbcType=VARCHAR},
      FL_MOD_VERSION = #{flModVersion,jdbcType=DECIMAL},
      FL_MODEL_BOMLINE_UID = #{flModelBomlineUid,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>

    <select id="selectCfg" parameterType="java.lang.String" resultType="java.lang.String">
    select
      MOD_POINT_TYPE
    from HZ_FULL_CFG_MODEL_RECORD
    where MOD_MODEL_UID = #{puid}
  </select>

    <insert id="insertCfgs" parameterType="java.util.List">
        insert into
        HZ_FULL_CFG_MODEL_RECORD
        (ID,MOD_MODEL_UID, MOD_POINT_TYPE, FL_MOD_CREATOR, FL_MOD_LAST_UPDATER, FL_MOD_VERSION,FL_MODEL_BOMLINE_UID)
        select SEQ_HZ_FL_CFG_MODEL_ID.NEXTVAL , A.* from(
        <foreach collection="list" index="index" item="hzFullCfgModel" separator="union">
            select
            #{hzFullCfgModel.modModelUid,jdbcType=VARCHAR},
            #{hzFullCfgModel.modPointType,jdbcType=INTEGER},
            #{hzFullCfgModel.flModCreator,jdbcType=VARCHAR},
            #{hzFullCfgModel.flModLastUpdater,jdbcType=VARCHAR},
            #{hzFullCfgModel.flModVersion,jdbcType=DOUBLE},
            #{hzFullCfgModel.flModelBomlineUid,jdbcType=VARCHAR}
            from
            dual
        </foreach>
        )A
    </insert>

    <select id="selectByMainPuid" parameterType="sql.pojo.cfg.fullCfg.HzFullCfgModel" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        HZ_FULL_CFG_MODEL_RECORD
        where
        FL_MOD_VERSION = #{flModVersion}
    </select>

    <update id="updateByHzFullCfgModelList" parameterType="java.util.List">
        update HZ_FULL_CFG_MODEL_RECORD
        set MOD_POINT_TYPE =
        <foreach collection="list" item="hzFullCfgModel" open="case" close="end">
            when MOD_MODEL_UID = #{hzFullCfgModel.modModelUid,jdbcType=VARCHAR} and
            FL_MODEL_BOMLINE_UID = #{hzFullCfgModel.flModelBomlineUid,jdbcType=VARCHAR}
            then
            #{hzFullCfgModel.modPointType,jdbcType=VARCHAR}
        </foreach>
        where MOD_MODEL_UID in
        <foreach collection="list" item="hzFullCfgModel" open="(" separator="," close=")">
            #{hzFullCfgModel.modModelUid,jdbcType=VARCHAR}
        </foreach>
        and
        FL_MODEL_BOMLINE_UID in
        <foreach collection="list" item="hzFullCfgModel" open="(" separator="," close=")">
            #{hzFullCfgModel.flModelBomlineUid,jdbcType=VARCHAR}
        </foreach>
    </update>

    <update id="updateByHzFullCfgModelListCfg" parameterType="java.util.List">
        update HZ_FULL_CFG_MODEL_RECORD
        set MOD_CFG0_UID =
        <foreach collection="list" item="hzFullCfgModel" open="case" close="end">
            when MOD_MODEL_UID = #{hzFullCfgModel.modModelUid,jdbcType=VARCHAR} and
            FL_MODEL_BOMLINE_UID = #{hzFullCfgModel.flModelBomlineUid,jdbcType=VARCHAR}
            then
            #{hzFullCfgModel.modCfg0Uid,jdbcType=VARCHAR}
        </foreach>,
        where MOD_MODEL_UID in
        <foreach collection="list" item="hzFullCfgModel" open="(" separator="," close=")">
            #{hzFullCfgModel.modModelUid,jdbcType=VARCHAR}
        </foreach>
        and
        FL_MODEL_BOMLINE_UID in
        <foreach collection="list" item="hzFullCfgModel" open="(" separator="," close=")">
            #{hzFullCfgModel.flModelBomlineUid,jdbcType=VARCHAR}
        </foreach>
    </update>

    <update id="updateByBomLinePuid" parameterType="sql.pojo.cfg.fullCfg.HzFullCfgWithCfg">
      update HZ_FULL_CFG_MODEL_RECORD
      set MOD_CFG0_UID = #{cfgCfg0Uid,jdbcType=VARCHAR}
      where
      FL_MODEL_BOMLINE_UID = #{cfgBomlineUid,jdbcType=VARCHAR}
  </update>


</mapper>