<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.connor.hozon.bom.bomSystem.dao.vwo.HzVwoOpiProjDao">
    <resultMap id="BaseResultMap" type="sql.pojo.cfg.vwo.HzVwoOpiProj">
        <id column="ID" jdbcType="DECIMAL" property="id"/>
        <result column="OPI_PROJ_MNG_VWO_ID" jdbcType="DECIMAL" property="opiVwoId"/>
        <result column="OPI_PROJ_MNG_OPINION" jdbcType="VARCHAR" property="opiProjMngOpinion"/>
        <result column="OPI_PROJ_MNG_AGREEMENT" jdbcType="DECIMAL" property="opiProjMngAgreement"/>
        <result column="OPI_PROJ_MNG_OPTION_DATE" jdbcType="TIMESTAMP" property="opiProjMngOptionDate"/>
        <result column="OPI_PROJ_MNG_COMMENT" jdbcType="VARCHAR" property="opiProjMngComment"/>
        <result column="OPI_PROJ_MNG_CREATE_DATE" jdbcType="TIMESTAMP" property="opiProjMngCreateDate"/>
        <result column="OPI_PROJ_MNG_UPDATE_DATE" jdbcType="TIMESTAMP" property="opiProjMngUpdateDate"/>
        <result column="OPI_PROJ_MNG_CREATOR" jdbcType="VARCHAR" property="opiProjMngCreator"/>
        <result column="OPI_PROJ_MNG_UPDATER" jdbcType="VARCHAR" property="opiProjMngUpdater"/>
        <result column="OPI_PROJ_MNG_STAGE" jdbcType="DECIMAL" property="opiProjMngStage"/>
    </resultMap>
    <sql id="Base_Column_List">
    ID, OPI_PROJ_MNG_VWO_ID, OPI_PROJ_MNG_OPINION, OPI_PROJ_MNG_AGREEMENT, OPI_PROJ_MNG_OPTION_DATE, 
    OPI_PROJ_MNG_COMMENT, OPI_PROJ_MNG_CREATE_DATE, OPI_PROJ_MNG_UPDATE_DATE, OPI_PROJ_MNG_CREATOR, 
    OPI_PROJ_MNG_UPDATER, OPI_PROJ_MNG_STAGE
  </sql>
    <!--**************************************select**************************************-->
    <select id="selectByPrimaryKey" parameterType="sql.pojo.cfg.vwo.HzVwoOpiProj" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from HZ_VWO_OPI_PROJ
        where ID = #{id,jdbcType=DECIMAL}
    </select>
    <select id="selectByVwoId" parameterType="sql.pojo.cfg.vwo.HzVwoOpiProj" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from HZ_VWO_OPI_PROJ
        where OPI_PROJ_MNG_VWO_ID = #{opiVwoId,jdbcType=DECIMAL}
    </select>
    <!--**************************************delete**************************************-->
    <delete id="deleteByPrimaryKey" parameterType="sql.pojo.cfg.vwo.HzVwoOpiProj">
    delete from HZ_VWO_OPI_PROJ
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
    <!--**************************************insert**************************************-->
    <insert id="insert" parameterType="sql.pojo.cfg.vwo.HzVwoOpiProj">
        <selectKey order="BEFORE"
                   keyColumn="id" keyProperty="id" resultType="java.lang.Long">
            select SEQ_VWO_OPI_PROJ_ID.Nextval from dual
        </selectKey>
    insert into HZ_VWO_OPI_PROJ (ID, OPI_PROJ_MNG_VWO_ID, OPI_PROJ_MNG_OPINION, 
      OPI_PROJ_MNG_AGREEMENT, OPI_PROJ_MNG_OPTION_DATE, 
      OPI_PROJ_MNG_COMMENT, OPI_PROJ_MNG_CREATE_DATE, 
      OPI_PROJ_MNG_UPDATE_DATE, OPI_PROJ_MNG_CREATOR, 
      OPI_PROJ_MNG_UPDATER, OPI_PROJ_MNG_STAGE)
    values (#{id,jdbcType=DECIMAL}, #{opiVwoId,jdbcType=DECIMAL}, #{opiProjMngOpinion,jdbcType=VARCHAR},
      #{opiProjMngAgreement,jdbcType=DECIMAL}, #{opiProjMngOptionDate,jdbcType=TIMESTAMP}, 
      #{opiProjMngComment,jdbcType=VARCHAR}, #{opiProjMngCreateDate,jdbcType=TIMESTAMP}, 
      #{opiProjMngUpdateDate,jdbcType=TIMESTAMP}, #{opiProjMngCreator,jdbcType=VARCHAR}, 
      #{opiProjMngUpdater,jdbcType=VARCHAR}, #{opiProjMngStage,jdbcType=DECIMAL})
  </insert>
    <insert id="insertSelective" parameterType="sql.pojo.cfg.vwo.HzVwoOpiProj">
        <selectKey order="BEFORE"
                   keyColumn="id" keyProperty="id" resultType="java.lang.Long">
            select SEQ_VWO_OPI_PROJ_ID.Nextval from dual
        </selectKey>
        insert into HZ_VWO_OPI_PROJ
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="opiVwoId != null">
                OPI_PROJ_MNG_VWO_ID,
            </if>
            <if test="opiProjMngOpinion != null">
                OPI_PROJ_MNG_OPINION,
            </if>
            <if test="opiProjMngAgreement != null">
                OPI_PROJ_MNG_AGREEMENT,
            </if>
            <if test="opiProjMngOptionDate != null">
                OPI_PROJ_MNG_OPTION_DATE,
            </if>
            <if test="opiProjMngComment != null">
                OPI_PROJ_MNG_COMMENT,
            </if>
            <if test="opiProjMngCreateDate != null">
                OPI_PROJ_MNG_CREATE_DATE,
            </if>
            <if test="opiProjMngUpdateDate != null">
                OPI_PROJ_MNG_UPDATE_DATE,
            </if>
            <if test="opiProjMngCreator != null">
                OPI_PROJ_MNG_CREATOR,
            </if>
            <if test="opiProjMngUpdater != null">
                OPI_PROJ_MNG_UPDATER,
            </if>
            <if test="opiProjMngStage != null">
                OPI_PROJ_MNG_STAGE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=DECIMAL},
            </if>
            <if test="opiVwoId != null">
                #{opiVwoId,jdbcType=DECIMAL},
            </if>
            <if test="opiProjMngOpinion != null">
                #{opiProjMngOpinion,jdbcType=VARCHAR},
            </if>
            <if test="opiProjMngAgreement != null">
                #{opiProjMngAgreement,jdbcType=DECIMAL},
            </if>
            <if test="opiProjMngOptionDate != null">
                #{opiProjMngOptionDate,jdbcType=TIMESTAMP},
            </if>
            <if test="opiProjMngComment != null">
                #{opiProjMngComment,jdbcType=VARCHAR},
            </if>
            <if test="opiProjMngCreateDate != null">
                #{opiProjMngCreateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="opiProjMngUpdateDate != null">
                #{opiProjMngUpdateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="opiProjMngCreator != null">
                #{opiProjMngCreator,jdbcType=VARCHAR},
            </if>
            <if test="opiProjMngUpdater != null">
                #{opiProjMngUpdater,jdbcType=VARCHAR},
            </if>
            <if test="opiProjMngStage != null">
                #{opiProjMngStage,jdbcType=DECIMAL},
            </if>
        </trim>
    </insert>
    <!--**************************************update**************************************-->
    <update id="updateByPrimaryKeySelective" parameterType="sql.pojo.cfg.vwo.HzVwoOpiProj">
        update HZ_VWO_OPI_PROJ
        <set>
            <if test="opiVwoId != null">
                OPI_PROJ_MNG_VWO_ID = #{opiVwoId,jdbcType=DECIMAL},
            </if>
            <if test="opiProjMngOpinion != null">
                OPI_PROJ_MNG_OPINION = #{opiProjMngOpinion,jdbcType=VARCHAR},
            </if>
            <if test="opiProjMngAgreement != null">
                OPI_PROJ_MNG_AGREEMENT = #{opiProjMngAgreement,jdbcType=DECIMAL},
            </if>
            <if test="opiProjMngOptionDate != null">
                OPI_PROJ_MNG_OPTION_DATE = #{opiProjMngOptionDate,jdbcType=TIMESTAMP},
            </if>
            <if test="opiProjMngComment != null">
                OPI_PROJ_MNG_COMMENT = #{opiProjMngComment,jdbcType=VARCHAR},
            </if>
            <if test="opiProjMngCreateDate != null">
                OPI_PROJ_MNG_CREATE_DATE = #{opiProjMngCreateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="opiProjMngUpdateDate != null">
                OPI_PROJ_MNG_UPDATE_DATE = #{opiProjMngUpdateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="opiProjMngCreator != null">
                OPI_PROJ_MNG_CREATOR = #{opiProjMngCreator,jdbcType=VARCHAR},
            </if>
            <if test="opiProjMngUpdater != null">
                OPI_PROJ_MNG_UPDATER = #{opiProjMngUpdater,jdbcType=VARCHAR},
            </if>
            <if test="opiProjMngStage != null">
                OPI_PROJ_MNG_STAGE = #{opiProjMngStage,jdbcType=DECIMAL},
            </if>
        </set>
        where ID = #{id,jdbcType=DECIMAL}
    </update>
    <update id="updateByPrimaryKey" parameterType="sql.pojo.cfg.vwo.HzVwoOpiProj">
    update HZ_VWO_OPI_PROJ
    set OPI_PROJ_MNG_VWO_ID = #{opiVwoId,jdbcType=DECIMAL},
      OPI_PROJ_MNG_OPINION = #{opiProjMngOpinion,jdbcType=VARCHAR},
      OPI_PROJ_MNG_AGREEMENT = #{opiProjMngAgreement,jdbcType=DECIMAL},
      OPI_PROJ_MNG_OPTION_DATE = #{opiProjMngOptionDate,jdbcType=TIMESTAMP},
      OPI_PROJ_MNG_COMMENT = #{opiProjMngComment,jdbcType=VARCHAR},
      OPI_PROJ_MNG_CREATE_DATE = #{opiProjMngCreateDate,jdbcType=TIMESTAMP},
      OPI_PROJ_MNG_UPDATE_DATE = #{opiProjMngUpdateDate,jdbcType=TIMESTAMP},
      OPI_PROJ_MNG_CREATOR = #{opiProjMngCreator,jdbcType=VARCHAR},
      OPI_PROJ_MNG_UPDATER = #{opiProjMngUpdater,jdbcType=VARCHAR},
      OPI_PROJ_MNG_STAGE = #{opiProjMngStage,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>