<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2018.
  ~ This file was wrote by fancyears·milos·maywas @connor. Any question/bug you can post to 1243093366@qq.com.
  ~ ALL RIGHTS RESERVED.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.connor.hozon.bom.bomSystem.dao.vwo.HzVwoOpiBomDao">
    <resultMap id="BaseResultMap" type="sql.pojo.cfg.vwo.HzVwoOpiBom">
        <id column="ID" jdbcType="DECIMAL" property="id"/>
        <result column="OPI_VWO_ID" jdbcType="DECIMAL" property="opiVwoId"/>
        <result column="OPI_BOM_MNG_OPINION" jdbcType="VARCHAR" property="opiBomMngOpinion"/>
        <result column="OPI_BOM_MNG_AGREEMENT" jdbcType="DECIMAL" property="opiBomMngAgreement"/>
        <result column="OPI_BOM_MNG_OPTION_DATE" jdbcType="TIMESTAMP" property="opiBomMngOptionDate"/>
        <result column="OPI_BOM_MNG_COMMENT" jdbcType="VARCHAR" property="opiBomMngComment"/>
        <result column="OPI_BOM_MNG_CREATE_DATE" jdbcType="TIMESTAMP" property="opiBomMngCreateDate"/>
        <result column="OPI_BOM_MNG_UPDATE_DATE" jdbcType="TIMESTAMP" property="opiBomMngUpdateDate"/>
        <result column="OPI_BOM_MNG_CREATOR" jdbcType="VARCHAR" property="opiBomMngCreator"/>
        <result column="OPI_BOM_MNG_UPDATER" jdbcType="VARCHAR" property="opiBomMngUpdater"/>
        <result column="OPI_BOM_MNG_STAGE" jdbcType="DECIMAL" property="opiBomMngStage"/>
        <result column="OPI_BOM_USER_ID" jdbcType="DECIMAL" property="opiBomMngUserId"/>
        <result column="OPI_BOM_USER_NAME" jdbcType="VARCHAR" property="opiBomMngUserName"/>
    </resultMap>
    <sql id="Base_Column_List">
    ID, OPI_VWO_ID, OPI_BOM_MNG_OPINION, OPI_BOM_MNG_AGREEMENT, OPI_BOM_MNG_OPTION_DATE, 
    OPI_BOM_MNG_COMMENT, OPI_BOM_MNG_CREATE_DATE, OPI_BOM_MNG_UPDATE_DATE, OPI_BOM_MNG_CREATOR, 
    OPI_BOM_MNG_UPDATER, OPI_BOM_MNG_STAGE,OPI_BOM_USER_ID,OPI_BOM_USER_NAME
  </sql>
    <!--**************************************select**************************************-->
    <select id="selectByPrimaryKey" parameterType="sql.pojo.cfg.vwo.HzVwoOpiBom" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from HZ_VWO_OPI_BOM
        where ID = #{id,jdbcType=DECIMAL}
    </select>
    <select id="selectByVwoId" parameterType="sql.pojo.cfg.vwo.HzVwoOpiBom" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from HZ_VWO_OPI_BOM
        where OPI_VWO_ID = #{opiVwoId,jdbcType=DECIMAL}
    </select>
    <!--**************************************delete**************************************-->
    <delete id="deleteByPrimaryKey" parameterType="sql.pojo.cfg.vwo.HzVwoOpiBom">
    delete from HZ_VWO_OPI_BOM
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
    <!--**************************************insert**************************************-->
    <insert id="insert" parameterType="sql.pojo.cfg.vwo.HzVwoOpiBom">
        <selectKey order="BEFORE"
                   keyColumn="id" keyProperty="id" resultType="java.lang.Long">
            select SEQ_VWO_OPI_BOM_ID.Nextval from dual
        </selectKey>
    insert into HZ_VWO_OPI_BOM (ID, OPI_VWO_ID, OPI_BOM_MNG_OPINION,
      OPI_BOM_MNG_AGREEMENT, OPI_BOM_MNG_OPTION_DATE,
      OPI_BOM_MNG_COMMENT, OPI_BOM_MNG_CREATE_DATE,
      OPI_BOM_MNG_UPDATE_DATE, OPI_BOM_MNG_CREATOR,
      OPI_BOM_MNG_UPDATER, OPI_BOM_MNG_STAGE,OPI_BOM_USER_ID,OPI_BOM_USER_NAME)
    values (#{id,jdbcType=DECIMAL}, #{opiVwoId,jdbcType=DECIMAL}, #{opiBomMngOpinion,jdbcType=VARCHAR},
      #{opiBomMngAgreement,jdbcType=DECIMAL}, #{opiBomMngOptionDate,jdbcType=TIMESTAMP},
      #{opiBomMngComment,jdbcType=VARCHAR}, #{opiBomMngCreateDate,jdbcType=TIMESTAMP},
      #{opiBomMngUpdateDate,jdbcType=TIMESTAMP}, #{opiBomMngCreator,jdbcType=VARCHAR},
      #{opiBomMngUpdater,jdbcType=VARCHAR}, #{opiBomMngStage,jdbcType=DECIMAL},
      #{opiBomMngUserId,jdbcType=DECIMAL},#{opiBomMngUserName,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="sql.pojo.cfg.vwo.HzVwoOpiBom">
        <selectKey order="BEFORE"
                   keyColumn="id" keyProperty="id" resultType="java.lang.Long">
            select SEQ_VWO_OPI_BOM_ID.Nextval from dual
        </selectKey>
        insert into HZ_VWO_OPI_BOM
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="opiVwoId != null">
                OPI_VWO_ID,
            </if>
            <if test="opiBomMngOpinion != null">
                OPI_BOM_MNG_OPINION,
            </if>
            <if test="opiBomMngAgreement != null">
                OPI_BOM_MNG_AGREEMENT,
            </if>
            <if test="opiBomMngOptionDate != null">
                OPI_BOM_MNG_OPTION_DATE,
            </if>
            <if test="opiBomMngComment != null">
                OPI_BOM_MNG_COMMENT,
            </if>
            <if test="opiBomMngCreateDate != null">
                OPI_BOM_MNG_CREATE_DATE,
            </if>
            <if test="opiBomMngUpdateDate != null">
                OPI_BOM_MNG_UPDATE_DATE,
            </if>
            <if test="opiBomMngCreator != null">
                OPI_BOM_MNG_CREATOR,
            </if>
            <if test="opiBomMngUpdater != null">
                OPI_BOM_MNG_UPDATER,
            </if>
            <if test="opiBomMngStage != null">
                OPI_BOM_MNG_STAGE,
            </if>
            <if test="opiBomMngUserId != null">
                OPI_BOM_USER_ID,
            </if>
            <if test="opiBomMngUserName != null">
                OPI_BOM_USER_NAME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=DECIMAL},
            </if>
            <if test="opiVwoId != null">
                #{opiVwoId,jdbcType=DECIMAL},
            </if>
            <if test="opiBomMngOpinion != null">
                #{opiBomMngOpinion,jdbcType=VARCHAR},
            </if>
            <if test="opiBomMngAgreement != null">
                #{opiBomMngAgreement,jdbcType=DECIMAL},
            </if>
            <if test="opiBomMngOptionDate != null">
                #{opiBomMngOptionDate,jdbcType=TIMESTAMP},
            </if>
            <if test="opiBomMngComment != null">
                #{opiBomMngComment,jdbcType=VARCHAR},
            </if>
            <if test="opiBomMngCreateDate != null">
                #{opiBomMngCreateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="opiBomMngUpdateDate != null">
                #{opiBomMngUpdateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="opiBomMngCreator != null">
                #{opiBomMngCreator,jdbcType=VARCHAR},
            </if>
            <if test="opiBomMngUpdater != null">
                #{opiBomMngUpdater,jdbcType=VARCHAR},
            </if>
            <if test="opiBomMngStage != null">
                #{opiBomMngStage,jdbcType=DECIMAL},
            </if>
            <if test="opiBomMngUserId != null">
                #{opiBomMngUserId,jdbcType=DECIMAL},
            </if>
            <if test="opiBomMngUserName != null">
                #{opiBomMngUserName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <!--**************************************update**************************************-->
    <update id="updateByPrimaryKeySelective" parameterType="sql.pojo.cfg.vwo.HzVwoOpiBom">
        update HZ_VWO_OPI_BOM
        <set>
            <if test="opiVwoId != null">
                OPI_VWO_ID = #{opiVwoId,jdbcType=DECIMAL},
            </if>
            <if test="opiBomMngOpinion != null">
                OPI_BOM_MNG_OPINION = #{opiBomMngOpinion,jdbcType=VARCHAR},
            </if>
            <if test="opiBomMngAgreement != null">
                OPI_BOM_MNG_AGREEMENT = #{opiBomMngAgreement,jdbcType=DECIMAL},
            </if>
            <if test="opiBomMngOptionDate != null">
                OPI_BOM_MNG_OPTION_DATE = #{opiBomMngOptionDate,jdbcType=TIMESTAMP},
            </if>
            <if test="opiBomMngComment != null">
                OPI_BOM_MNG_COMMENT = #{opiBomMngComment,jdbcType=VARCHAR},
            </if>
            <if test="opiBomMngCreateDate != null">
                OPI_BOM_MNG_CREATE_DATE = #{opiBomMngCreateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="opiBomMngCreator != null">
                OPI_BOM_MNG_CREATOR = #{opiBomMngCreator,jdbcType=VARCHAR},
            </if>
            <if test="opiBomMngUpdater != null">
                OPI_BOM_MNG_UPDATER = #{opiBomMngUpdater,jdbcType=VARCHAR},
            </if>
            <if test="opiBomMngStage != null">
                OPI_BOM_MNG_STAGE = #{opiBomMngStage,jdbcType=DECIMAL},
            </if>
            <if test="opiBomMngUserId != null">
                OPI_BOM_USER_ID  = #{opiBomMngUserId,jdbcType=DECIMAL},
            </if>
            <if test="opiBomMngUserName != null">
                OPI_BOM_USER_NAME = #{opiBomMngUserName,jdbcType=VARCHAR},
            </if>
            OPI_BOM_MNG_UPDATE_DATE = sysdate
        </set>
        where ID = #{id,jdbcType=DECIMAL}
    </update>
    <update id="updateByPrimaryKey" parameterType="sql.pojo.cfg.vwo.HzVwoOpiBom">
    update HZ_VWO_OPI_BOM
    set OPI_VWO_ID = #{opiVwoId,jdbcType=DECIMAL},
      OPI_BOM_MNG_OPINION = #{opiBomMngOpinion,jdbcType=VARCHAR},
      OPI_BOM_MNG_AGREEMENT = #{opiBomMngAgreement,jdbcType=DECIMAL},
      OPI_BOM_MNG_OPTION_DATE = #{opiBomMngOptionDate,jdbcType=TIMESTAMP},
      OPI_BOM_MNG_COMMENT = #{opiBomMngComment,jdbcType=VARCHAR},
      OPI_BOM_MNG_CREATE_DATE = #{opiBomMngCreateDate,jdbcType=TIMESTAMP},
      OPI_BOM_MNG_UPDATE_DATE = #{opiBomMngUpdateDate,jdbcType=TIMESTAMP},
      OPI_BOM_MNG_CREATOR = #{opiBomMngCreator,jdbcType=VARCHAR},
      OPI_BOM_MNG_UPDATER = #{opiBomMngUpdater,jdbcType=VARCHAR},
      OPI_BOM_MNG_STAGE = #{opiBomMngStage,jdbcType=DECIMAL},
      OPI_BOM_USER_ID = #{opiBomMngUserId,jdbcType=DECIMAL},
      OPI_BOM_USER_NAME = #{opiBomMngUserName,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>

    <update id="updateUserByVwoId" parameterType="sql.pojo.cfg.vwo.HzVwoOpiBom">
        update HZ_VWO_OPI_BOM
        set
          OPI_BOM_USER_ID = #{opiBomMngUserId,jdbcType=DECIMAL},
          OPI_BOM_USER_NAME = #{opiBomMngUserName,jdbcType=VARCHAR}
        where OPI_VWO_ID = #{opiVwoId,jdbcType=DECIMAL}
    </update>
</mapper>