<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.connor.hozon.bom.bomSystem.dao.cfg.relevance.HzRelevanceBasicDao">
    <resultMap id="BaseResultMap" type="sql.pojo.cfg.relevance.HzRelevanceBasic">
        <!--主键-->
        <id column="ID" jdbcType="DECIMAL" property="id"/>
        <!--颜色代码-->
        <result column="RB_COLOR_CODE" jdbcType="VARCHAR" property="rbColorCode"/>
        <!--颜色UID，外键-->
        <result column="RB_COLOR_UID" jdbcType="VARCHAR" property="rbColorUid"/>
        <!--特性代码-->
        <result column="RB_FEATURE_CODE" jdbcType="VARCHAR" property="rbFeatureCode"/>
        <!--特性UID，外键-->
        <result column="RB_FEATURE_UID" jdbcType="VARCHAR" property="rbFeatureUid"/>
        <!--特性值代码-->
        <result column="RB_FEATURE_VALUE_CODE" jdbcType="VARCHAR" property="rbFeatureValueCode"/>
        <!--特性值UID-->
        <result column="RB_FEATURE_VALUE_UID" jdbcType="VARCHAR" property="rbFeatureValueUid"/>
        <!--相关性-->
        <result column="RB_RELEVANCE" jdbcType="VARCHAR" property="rbRelevance"/>
        <!--相关性描述-->
        <result column="RB_RELEVANCE_DESC" jdbcType="VARCHAR" property="rbRelevanceDesc"/>
        <!--相关性代码-->
        <result column="RB_RELEVANCE_CODE" jdbcType="VARCHAR" property="rbRelevanceCode"/>
        <!--状态，分别为发布状态99，草稿状态0，删除状态10，其他状态null/其他数值-->
        <result column="RELEVANCE_STATUS" jdbcType="DECIMAL" property="relevanceStatus"/>
        <!--创建时间-->
        <result column="RELEVANCE_CREATE_DATE" jdbcType="TIMESTAMP" property="relevanceCreateDate"/>
        <!--创建者-->
        <result column="RELEVANCE_CREATOR" jdbcType="VARCHAR" property="relevanceCreator"/>
        <!--更新时间-->
        <result column="RELEVANCE_UPDATE_DATE" jdbcType="TIMESTAMP" property="relevanceUpdateDate"/>
        <!--更新人-->
        <result column="RELEVANCE_UPDATER" jdbcType="VARCHAR" property="relevanceUpdater"/>
        <!--预留字段1-->
        <result column="RB_RESERVED_1" jdbcType="VARCHAR" property="rbReserved1"/>
        <!--预留字段1-->
        <result column="RB_RESERVED_2" jdbcType="VARCHAR" property="rbReserved2"/>
        <!--预留字段1-->
        <result column="RB_RESERVED_3" jdbcType="VARCHAR" property="rbReserved3"/>
        <!--预留字段1-->
        <result column="RB_RESERVED_4" jdbcType="VARCHAR" property="rbReserved4"/>
        <!--预留字段1-->
        <result column="RB_RESERVED_5" jdbcType="VARCHAR" property="rbReserved5"/>
        <!--预留字段1-->
        <result column="RB_RESERVED_6" jdbcType="VARCHAR" property="rbReserved6"/>
        <!--预留字段1-->
        <result column="RB_RESERVED_7" jdbcType="VARCHAR" property="rbReserved7"/>
        <!--预留字段1-->
        <result column="RB_RESERVED_8" jdbcType="VARCHAR" property="rbReserved8"/>
        <!--预留字段1-->
        <result column="RB_RESERVED_9" jdbcType="VARCHAR" property="rbReserved9"/>
        <!--预留字段1-->
        <result column="RB_RESERVED_10" jdbcType="VARCHAR" property="rbReserved10"/>
        <!--预留字段1-->
        <result column="RB_RESERVED_11" jdbcType="VARCHAR" property="rbReserved11"/>
        <!--预留字段1-->
        <result column="RB_RESERVED_12" jdbcType="VARCHAR" property="rbReserved12"/>
        <!--预留字段1-->
        <result column="RB_RESERVED_13" jdbcType="VARCHAR" property="rbReserved13"/>
        <!--预留字段1-->
        <result column="RB_RESERVED_14" jdbcType="VARCHAR" property="rbReserved14"/>
        <!--预留字段1-->
        <result column="RB_RESERVED_15" jdbcType="VARCHAR" property="rbReserved15"/>
        <!--VWO变更ID-->
        <result column="RB_VWO_ID" jdbcType="DECIMAL" property="rbVwoId"/>
        <!--项目UID-->
        <result column="RB_PROJECT_UID" jdbcType="VARCHAR" property="rbProjectUid"/>
        <!--是否已发送到SAP-->
        <result column="IS_SENT" jdbcType="DECIMAL" property="isSent"/>
    </resultMap>
    <resultMap id="ResultMapOfQuery" type="com.connor.hozon.bom.bomSystem.dto.relevance.HzRelevanceQueryResultBean">
        <result column="ID" jdbcType="DECIMAL" property="id"/>
        <result column="ROWN" jdbcType="DECIMAL" property="index"/>
        <result column="RB_RELEVANCE" jdbcType="VARCHAR" property="relevance"/>
        <result column="RB_RELEVANCE_DESC" jdbcType="VARCHAR" property="relevanceDesc"/>
        <result column="RB_RELEVANCE_CODE" jdbcType="VARCHAR" property="relevanceCode"/>
    </resultMap>
    <sql id="Base_Column_List">
    ID,
    RB_COLOR_CODE,
    RB_COLOR_UID,
    RB_FEATURE_CODE,
    RB_FEATURE_UID,
    RB_FEATURE_VALUE_CODE,
    RB_FEATURE_VALUE_UID,
    RB_RELEVANCE,
    RB_RELEVANCE_DESC,
    RB_RELEVANCE_CODE,
    RELEVANCE_STATUS,
    RELEVANCE_CREATE_DATE,
    RELEVANCE_CREATOR,
    RELEVANCE_UPDATE_DATE,
     RELEVANCE_UPDATER,
    RB_RESERVED_1,
    RB_RESERVED_2,
    RB_RESERVED_3,
    RB_RESERVED_4,
    RB_RESERVED_5,
    RB_RESERVED_6,
    RB_RESERVED_7,
    RB_RESERVED_8,
    RB_RESERVED_9,
    RB_RESERVED_10,
    RB_RESERVED_11,
    RB_RESERVED_12,
    RB_RESERVED_13,
    RB_RESERVED_14,
    RB_RESERVED_15,
    RB_VWO_ID,
    RB_PROJECT_UID,
    IS_SENT
  </sql>
    <select id="selectByPrimaryKey" parameterType="sql.pojo.cfg.relevance.HzRelevanceBasic" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from HZ_RELEVANCE_BASIC
        where ID = #{id,jdbcType=DECIMAL}
    </select>
    <select id="selectByPage" parameterType="com.connor.hozon.bom.bomSystem.dto.relevance.HzRelevanceQueryDTO"
            resultMap="ResultMapOfQuery">
        select
        * FROM (
        select ID,
        RB_RELEVANCE,
        RB_RELEVANCE_DESC,
        RB_RELEVANCE_CODE,
        rownum ROWN
        from (select
        ID,
        RB_COLOR_CODE,
        RB_COLOR_UID,
        RB_FEATURE_CODE,
        RB_FEATURE_UID,
        RB_FEATURE_VALUE_CODE,
        RB_FEATURE_VALUE_UID,
        RB_RELEVANCE,
        RB_RELEVANCE_DESC,
        RB_RELEVANCE_CODE,
        RELEVANCE_STATUS,
        RELEVANCE_CREATE_DATE,
        RELEVANCE_CREATOR,
        RELEVANCE_UPDATE_DATE,
        RELEVANCE_UPDATER,
        RB_RESERVED_1,
        RB_RESERVED_2,
        RB_RESERVED_3,
        RB_RESERVED_4,
        RB_RESERVED_5,
        RB_RESERVED_6,
        RB_RESERVED_7,
        RB_RESERVED_8,
        RB_RESERVED_9,
        RB_RESERVED_10,
        RB_RESERVED_11,
        RB_RESERVED_12,
        RB_RESERVED_13,
        RB_RESERVED_14,
        RB_RESERVED_15,
        RB_VWO_ID,
        RB_PROJECT_UID,
        IS_SENT,
        rownum
        from Hz_Relevance_Basic t
        where t.rb_project_uid =#{projectUid,jdbcType=VARCHAR}
        <if test="featureCode!=null">
            and t.rb_feature_code like '%'||trim(upper(trim(#{featureCode,jdbcType=VARCHAR})))||'%'
        </if>
        <if test="featureValueCode!=null">
            and t.rb_feature_value_code like '%'||upper(trim(#{featureValueCode,jdbcType=VARCHAR}))||'%'
        </if>

        <if test="sort==null">
            order by t.RB_FEATURE_VALUE_CODE
        </if>
        <if test="sort!=null">
            order by t.${sort}
        </if>
        <if test="order!=null">
            ${order}
        </if>
        <if test="order==null">
            ASC
        </if>
        )tt
        )temp2
        where 1=1
        <if test="offset!=null">
            and temp2.rown &gt;= ${offset}+1
        </if>
        <if test="limit!=null and  page!=null">
            and temp2.rown &lt;= ${page}*${limit}
        </if>
    </select>
    <select id="tellMeHowManyOfIt" parameterType="com.connor.hozon.bom.bomSystem.dto.relevance.HzRelevanceQueryDTO"
            resultType="java.lang.Integer">
        select count(*) from Hz_Relevance_Basic t
        where t.RB_PROJECT_UID=#{projectUid,jdbcType=VARCHAR}
        <if test="featureCode!=null">
            and t.rb_feature_code like '%'||upper(#{featureCode,jdbcType=VARCHAR})||'%'
        </if>
        <if test="featureValueCode!=null">
            and t.rb_feature_value_code like '%'||upper(#{featureValueCode,jdbcType=VARCHAR})||'%'
        </if>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="sql.pojo.cfg.relevance.HzRelevanceBasic">
    delete from HZ_RELEVANCE_BASIC
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
    <delete id="deleteByProjectUid" parameterType="java.lang.String">
    delete from HZ_RELEVANCE_BASIC
    where RB_PROJECT_UID = #{rbProjectUid,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="sql.pojo.cfg.relevance.HzRelevanceBasic">
    insert into HZ_RELEVANCE_BASIC (
        ID,
        RB_COLOR_CODE,
        RB_COLOR_UID,
        RB_FEATURE_CODE,
        RB_FEATURE_UID,
        RB_FEATURE_VALUE_CODE,
        RB_FEATURE_VALUE_UID,
        RB_RELEVANCE,
        RB_RELEVANCE_DESC,
        RB_RELEVANCE_CODE,
        RELEVANCE_STATUS,
        RELEVANCE_CREATE_DATE,
        RELEVANCE_CREATOR,
        RELEVANCE_UPDATE_DATE,
        RELEVANCE_UPDATER,
        RB_RESERVED_1,
        RB_RESERVED_2,
        RB_RESERVED_3,
        RB_RESERVED_4,
        RB_RESERVED_5,
        RB_RESERVED_6,
        RB_RESERVED_7,
        RB_RESERVED_8,
        RB_RESERVED_9,
        RB_RESERVED_10,
        RB_RESERVED_11,
        RB_RESERVED_12,
        RB_RESERVED_13,
        RB_RESERVED_14,
        RB_RESERVED_15,
        RB_VWO_ID,
        RB_PROJECT_UID,
        IS_SENT
       )
    values (
        #{id,jdbcType=DECIMAL},
        #{rbColorCode,jdbcType=VARCHAR},
        #{rbColorUid,jdbcType=VARCHAR},
        #{rbFeatureCode,jdbcType=VARCHAR},
        #{rbFeatureUid,jdbcType=VARCHAR},
        #{rbFeatureValueCode,jdbcType=VARCHAR},
        #{rbFeatureValueUid,jdbcType=VARCHAR},
        #{rbRelevance,jdbcType=VARCHAR},
        #{rbRelevanceDesc,jdbcType=VARCHAR},
        #{rbRelevanceCode,jdbcType=VARCHAR},
        #{relevanceStatus,jdbcType=DECIMAL},
         sysdate,
        #{relevanceCreator,jdbcType=VARCHAR},
         sysdate,
        #{relevanceUpdater,jdbcType=VARCHAR},
        #{rbReserved1,jdbcType=VARCHAR},
        #{rbReserved2,jdbcType=VARCHAR},
        #{rbReserved3,jdbcType=VARCHAR},
        #{rbReserved4,jdbcType=VARCHAR},
        #{rbReserved5,jdbcType=VARCHAR},
        #{rbReserved6,jdbcType=VARCHAR},
        #{rbReserved7,jdbcType=VARCHAR},
        #{rbReserved8,jdbcType=VARCHAR},
        #{rbReserved9,jdbcType=VARCHAR},
        #{rbReserved10,jdbcType=VARCHAR},
        #{rbReserved11,jdbcType=VARCHAR},
        #{rbReserved12,jdbcType=VARCHAR},
        #{rbReserved13,jdbcType=VARCHAR},
        #{rbReserved14,jdbcType=VARCHAR},
        #{rbReserved15,jdbcType=VARCHAR},
        #{rbVwoId,jdbcType=DECIMAL},
        #{rbProjectUid,jdbcType=VARCHAR},
        #{isSent,jdbcType=DECIMAL}
      )
  </insert>
    <insert id="insertByBatch" parameterType="List">
        insert into HZ_RELEVANCE_BASIC (
        <include refid="Base_Column_List"/>
        )
        select CHECK_DETAIL_SEQ.NEXTVAL,cd.* from(
        <foreach collection="list" item="item" index="index" separator="union all">
            #{item.rbColorCode,jdbcType=VARCHAR},
            #{item.rbColorUid,jdbcType=VARCHAR},
            #{item.rbFeatureCode,jdbcType=VARCHAR},
            #{item.rbFeatureUid,jdbcType=VARCHAR},
            #{item.rbFeatureValueCode,jdbcType=VARCHAR},
            #{item.rbFeatureValueUid,jdbcType=VARCHAR},
            #{item.rbRelevance,jdbcType=VARCHAR},
            #{item.rbRelevanceDesc,jdbcType=VARCHAR},
            #{item.rbRelevanceCode,jdbcType=VARCHAR},
            #{item.relevanceStatus,jdbcType=DECIMAL},
            sysdate,
            #{item.relevanceCreator,jdbcType=VARCHAR},
            sysdate,
            #{item.relevanceUpdater,jdbcType=VARCHAR},
            #{item.rbReserved1,jdbcType=VARCHAR},
            #{item.rbReserved2,jdbcType=VARCHAR},
            #{item.rbReserved3,jdbcType=VARCHAR},
            #{item.rbReserved4,jdbcType=VARCHAR},
            #{item.rbReserved5,jdbcType=VARCHAR},
            #{item.rbReserved6,jdbcType=VARCHAR},
            #{item.rbReserved7,jdbcType=VARCHAR},
            #{item.rbReserved8,jdbcType=VARCHAR},
            #{item.rbReserved9,jdbcType=VARCHAR},
            #{item.rbReserved10,jdbcType=VARCHAR},
            #{item.rbReserved11,jdbcType=VARCHAR},
            #{item.rbReserved12,jdbcType=VARCHAR},
            #{item.rbReserved13,jdbcType=VARCHAR},
            #{item.rbReserved14,jdbcType=VARCHAR},
            #{item.rbReserved15,jdbcType=VARCHAR},
            #{item.rbVwoId,jdbcType=DECIMAL},
            #{item.rbProjectUid,jdbcType=VARCHAR},
            #{item.isSent,jdbcType=DECIMAL}
        </foreach>
        ) cd
    </insert>
    <insert id="insertSelective" parameterType="sql.pojo.cfg.relevance.HzRelevanceBasic">
        insert into HZ_RELEVANCE_BASIC
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="rbColorCode != null">
                RB_COLOR_CODE,
            </if>
            <if test="rbColorUid != null">
                RB_COLOR_UID,
            </if>
            <if test="rbFeatureCode != null">
                RB_FEATURE_CODE,
            </if>
            <if test="rbFeatureUid != null">
                RB_FEATURE_UID,
            </if>
            <if test="rbFeatureValueCode != null">
                RB_FEATURE_VALUE_CODE,
            </if>
            <if test="rbFeatureValueUid != null">
                RB_FEATURE_VALUE_UID,
            </if>
            <if test="rbRelevance != null">
                RB_RELEVANCE,
            </if>
            <if test="rbRelevanceDesc != null">
                RB_RELEVANCE_DESC,
            </if>
            <if test="rbRelevanceCode != null">
                RB_RELEVANCE_CODE,
            </if>
            <if test="relevanceStatus != null">
                RELEVANCE_STATUS,
            </if>
            RELEVANCE_CREATE_DATE,
            <if test="relevanceCreator != null">
                RELEVANCE_CREATOR,
            </if>
            RELEVANCE_UPDATE_DATE,
            <if test="relevanceUpdater != null">
                RELEVANCE_UPDATER,
            </if>
            <if test="rbReserved1 != null">
                RB_RESERVED_1,
            </if>
            <if test="rbReserved2 != null">
                RB_RESERVED_2,
            </if>
            <if test="rbReserved3 != null">
                RB_RESERVED_3,
            </if>
            <if test="rbReserved4 != null">
                RB_RESERVED_4,
            </if>
            <if test="rbReserved5 != null">
                RB_RESERVED_5,
            </if>
            <if test="rbReserved6 != null">
                RB_RESERVED_6,
            </if>
            <if test="rbReserved7 != null">
                RB_RESERVED_7,
            </if>
            <if test="rbReserved8 != null">
                RB_RESERVED_8,
            </if>
            <if test="rbReserved9 != null">
                RB_RESERVED_9,
            </if>
            <if test="rbReserved10 != null">
                RB_RESERVED_10,
            </if>
            <if test="rbReserved11 != null">
                RB_RESERVED_11,
            </if>
            <if test="rbReserved12 != null">
                RB_RESERVED_12,
            </if>
            <if test="rbReserved13 != null">
                RB_RESERVED_13,
            </if>
            <if test="rbReserved14 != null">
                RB_RESERVED_14,
            </if>
            <if test="rbReserved15 != null">
                RB_RESERVED_15,
            </if>
            <if test="rbVwoId != null">
                RB_VWO_ID,
            </if>
            <if test="rbProjectUid != null">
                RB_PROJECT_UID,
            </if>
            <if test="isSent != null">
                IS_SENT,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=DECIMAL},
            </if>
            <if test="rbColorCode != null">
                #{rbColorCode,jdbcType=VARCHAR},
            </if>
            <if test="rbColorUid != null">
                #{rbColorUid,jdbcType=VARCHAR},
            </if>
            <if test="rbFeatureCode != null">
                #{rbFeatureCode,jdbcType=VARCHAR},
            </if>
            <if test="rbFeatureUid != null">
                #{rbFeatureUid,jdbcType=VARCHAR},
            </if>
            <if test="rbFeatureValueCode != null">
                #{rbFeatureValueCode,jdbcType=VARCHAR},
            </if>
            <if test="rbFeatureValueUid != null">
                #{rbFeatureValueUid,jdbcType=VARCHAR},
            </if>
            <if test="rbRelevance != null">
                #{rbRelevance,jdbcType=VARCHAR},
            </if>
            <if test="rbRelevanceDesc != null">
                #{rbRelevanceDesc,jdbcType=VARCHAR},
            </if>
            <if test="rbRelevanceCode != null">
                #{rbRelevanceCode,jdbcType=VARCHAR},
            </if>
            <if test="relevanceStatus != null">
                #{relevanceStatus,jdbcType=DECIMAL},
            </if>
            sysdate,
            <if test="relevanceCreator != null">
                #{relevanceCreator,jdbcType=VARCHAR},
            </if>
            sysdate,
            <if test="relevanceUpdater != null">
                #{relevanceUpdater,jdbcType=VARCHAR},
            </if>
            <if test="rbReserved1 != null">
                #{rbReserved1,jdbcType=VARCHAR},
            </if>
            <if test="rbReserved2 != null">
                #{rbReserved2,jdbcType=VARCHAR},
            </if>
            <if test="rbReserved3 != null">
                #{rbReserved3,jdbcType=VARCHAR},
            </if>
            <if test="rbReserved4 != null">
                #{rbReserved4,jdbcType=VARCHAR},
            </if>
            <if test="rbReserved5 != null">
                #{rbReserved5,jdbcType=VARCHAR},
            </if>
            <if test="rbReserved6 != null">
                #{rbReserved6,jdbcType=VARCHAR},
            </if>
            <if test="rbReserved7 != null">
                #{rbReserved7,jdbcType=VARCHAR},
            </if>
            <if test="rbReserved8 != null">
                #{rbReserved8,jdbcType=VARCHAR},
            </if>
            <if test="rbReserved9 != null">
                #{rbReserved9,jdbcType=VARCHAR},
            </if>
            <if test="rbReserved10 != null">
                #{rbReserved10,jdbcType=VARCHAR},
            </if>
            <if test="rbReserved11 != null">
                #{rbReserved11,jdbcType=VARCHAR},
            </if>
            <if test="rbReserved12 != null">
                #{rbReserved12,jdbcType=VARCHAR},
            </if>
            <if test="rbReserved13 != null">
                #{rbReserved13,jdbcType=VARCHAR},
            </if>
            <if test="rbReserved14 != null">
                #{rbReserved14,jdbcType=VARCHAR},
            </if>
            <if test="rbReserved15 != null">
                #{rbReserved15,jdbcType=VARCHAR},
            </if>
            <if test="rbVwoId != null">
                #{rbVwoId,jdbcType=DECIMAL},
            </if>
            <if test="rbProjectUid != null">
                #{rbProjectUid,jdbcType=VARCHAR},
            </if>
            <if test="isSent != null">
                #{isSent,jdbcType=DECIMAL},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="sql.pojo.cfg.relevance.HzRelevanceBasic">
        update HZ_RELEVANCE_BASIC
        <set>
            <if test="rbColorCode != null">
                RB_COLOR_CODE = #{rbColorCode,jdbcType=VARCHAR},
            </if>
            <if test="rbColorUid != null">
                RB_COLOR_UID = #{rbColorUid,jdbcType=VARCHAR},
            </if>
            <if test="rbFeatureCode != null">
                RB_FEATURE_CODE = #{rbFeatureCode,jdbcType=VARCHAR},
            </if>
            <if test="rbFeatureUid != null">
                RB_FEATURE_UID = #{rbFeatureUid,jdbcType=VARCHAR},
            </if>
            <if test="rbFeatureValueCode != null">
                RB_FEATURE_VALUE_CODE = #{rbFeatureValueCode,jdbcType=VARCHAR},
            </if>
            <if test="rbFeatureValueUid != null">
                RB_FEATURE_VALUE_UID = #{rbFeatureValueUid,jdbcType=VARCHAR},
            </if>
            <if test="rbRelevance != null">
                RB_RELEVANCE = #{rbRelevance,jdbcType=VARCHAR},
            </if>
            <if test="rbRelevanceDesc != null">
                RB_RELEVANCE_DESC = #{rbRelevanceDesc,jdbcType=VARCHAR},
            </if>
            <if test="rbRelevanceCode != null">
                RB_RELEVANCE_CODE = #{rbRelevanceCode,jdbcType=VARCHAR},
            </if>
            <if test="relevanceStatus != null">
                RELEVANCE_STATUS = #{relevanceStatus,jdbcType=DECIMAL},
            </if>
            <if test="relevanceCreateDate != null">
                RELEVANCE_CREATE_DATE = #{relevanceCreateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="relevanceCreator != null">
                RELEVANCE_CREATOR = #{relevanceCreator,jdbcType=VARCHAR},
            </if>
            RELEVANCE_UPDATE_DATE = sysdate,
            <if test="relevanceUpdater != null">
                RELEVANCE_UPDATER = #{relevanceUpdater,jdbcType=VARCHAR},
            </if>
            <if test="rbReserved1 != null">
                RB_RESERVED_1 = #{rbReserved1,jdbcType=VARCHAR},
            </if>
            <if test="rbReserved2 != null">
                RB_RESERVED_2 = #{rbReserved2,jdbcType=VARCHAR},
            </if>
            <if test="rbReserved3 != null">
                RB_RESERVED_3 = #{rbReserved3,jdbcType=VARCHAR},
            </if>
            <if test="rbReserved4 != null">
                RB_RESERVED_4 = #{rbReserved4,jdbcType=VARCHAR},
            </if>
            <if test="rbReserved5 != null">
                RB_RESERVED_5 = #{rbReserved5,jdbcType=VARCHAR},
            </if>
            <if test="rbReserved6 != null">
                RB_RESERVED_6 = #{rbReserved6,jdbcType=VARCHAR},
            </if>
            <if test="rbReserved7 != null">
                RB_RESERVED_7 = #{rbReserved7,jdbcType=VARCHAR},
            </if>
            <if test="rbReserved8 != null">
                RB_RESERVED_8 = #{rbReserved8,jdbcType=VARCHAR},
            </if>
            <if test="rbReserved9 != null">
                RB_RESERVED_9 = #{rbReserved9,jdbcType=VARCHAR},
            </if>
            <if test="rbReserved10 != null">
                RB_RESERVED_10 = #{rbReserved10,jdbcType=VARCHAR},
            </if>
            <if test="rbReserved11 != null">
                RB_RESERVED_11 = #{rbReserved11,jdbcType=VARCHAR},
            </if>
            <if test="rbReserved12 != null">
                RB_RESERVED_12 = #{rbReserved12,jdbcType=VARCHAR},
            </if>
            <if test="rbReserved13 != null">
                RB_RESERVED_13 = #{rbReserved13,jdbcType=VARCHAR},
            </if>
            <if test="rbReserved14 != null">
                RB_RESERVED_14 = #{rbReserved14,jdbcType=VARCHAR},
            </if>
            <if test="rbReserved15 != null">
                RB_RESERVED_15 = #{rbReserved15,jdbcType=VARCHAR},
            </if>
            <if test="rbVwoId != null">
                RB_VWO_ID = #{rbVwoId,jdbcType=DECIMAL},
            </if>
            <if test="rbProjectUid != null">
                RB_PROJECT_UID = #{rbProjectUid,jdbcType=VARCHAR},
            </if>
            <if test="isSent != null">
                IS_SENT = #{isSent,jdbcType=DECIMAL},
            </if>

        </set>
        where ID = #{id,jdbcType=DECIMAL}
    </update>
    <update id="updateByPrimaryKey" parameterType="sql.pojo.cfg.relevance.HzRelevanceBasic">
    update HZ_RELEVANCE_BASIC
    set
      RB_COLOR_CODE = #{rbColorCode,jdbcType=VARCHAR},
      RB_COLOR_UID = #{rbColorUid,jdbcType=VARCHAR},
      RB_FEATURE_CODE = #{rbFeatureCode,jdbcType=VARCHAR},
      RB_FEATURE_UID = #{rbFeatureUid,jdbcType=VARCHAR},
      RB_FEATURE_VALUE_CODE = #{rbFeatureValueCode,jdbcType=VARCHAR},
      RB_FEATURE_VALUE_UID = #{rbFeatureValueUid,jdbcType=VARCHAR},
      RB_RELEVANCE = #{rbRelevance,jdbcType=VARCHAR},
      RB_RELEVANCE_DESC = #{rbRelevanceDesc,jdbcType=VARCHAR},
      RB_RELEVANCE_CODE = #{rbRelevanceCode,jdbcType=VARCHAR},
      RELEVANCE_STATUS = #{relevanceStatus,jdbcType=DECIMAL},
      RELEVANCE_CREATE_DATE = #{relevanceCreateDate,jdbcType=TIMESTAMP},
      RELEVANCE_CREATOR = #{relevanceCreator,jdbcType=VARCHAR},
      RELEVANCE_UPDATE_DATE = sysdate,
      RELEVANCE_UPDATER = #{relevanceUpdater,jdbcType=VARCHAR},
      RB_RESERVED_1 = #{rbReserved1,jdbcType=VARCHAR},
      RB_RESERVED_2 = #{rbReserved2,jdbcType=VARCHAR},
      RB_RESERVED_3 = #{rbReserved3,jdbcType=VARCHAR},
      RB_RESERVED_4 = #{rbReserved4,jdbcType=VARCHAR},
      RB_RESERVED_5 = #{rbReserved5,jdbcType=VARCHAR},
      RB_RESERVED_6 = #{rbReserved6,jdbcType=VARCHAR},
      RB_RESERVED_7 = #{rbReserved7,jdbcType=VARCHAR},
      RB_RESERVED_8 = #{rbReserved8,jdbcType=VARCHAR},
      RB_RESERVED_9 = #{rbReserved9,jdbcType=VARCHAR},
      RB_RESERVED_10 = #{rbReserved10,jdbcType=VARCHAR},
      RB_RESERVED_11 = #{rbReserved11,jdbcType=VARCHAR},
      RB_RESERVED_12 = #{rbReserved12,jdbcType=VARCHAR},
      RB_RESERVED_13 = #{rbReserved13,jdbcType=VARCHAR},
      RB_RESERVED_14 = #{rbReserved14,jdbcType=VARCHAR},
      RB_RESERVED_15 = #{rbReserved15,jdbcType=VARCHAR},
      RB_VWO_ID = #{rbVwoId,jdbcType=DECIMAL},
      RB_PROJECT_UID = #{rbProjectUid,jdbcType=VARCHAR},
      IS_SENT = #{isSent,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>

    <insert id="insertBasic" parameterType="sql.pojo.cfg.relevance.HzRelevanceBasic">
        <selectKey order="BEFORE" keyColumn="id" keyProperty="id" resultType="java.lang.Long">
            select SEQ_HZ_RB.Nextval from dual
        </selectKey>
        insert into HZ_RELEVANCE_BASIC
        (
        ID,
        RB_COLOR_CODE,
        RB_COLOR_UID,
        RB_FEATURE_CODE,
        RB_FEATURE_UID,
        RB_FEATURE_VALUE_CODE,
        RB_FEATURE_VALUE_UID,
        RB_RELEVANCE,
        RB_RELEVANCE_DESC,
        RB_RELEVANCE_CODE,
        RELEVANCE_STATUS,
        RB_PROJECT_UID
        )
        values
        (
        #{id,jdbcType=DECIMAL},
        #{rbColorCode,jdbcType=VARCHAR},
        #{rbColorUid,jdbcType=VARCHAR},
        #{rbFeatureCode,jdbcType=VARCHAR},
        #{rbFeatureUid,jdbcType=VARCHAR},
        #{rbFeatureValueCode,jdbcType=VARCHAR},
        #{rbFeatureValueUid,jdbcType=VARCHAR},
        #{rbRelevance,jdbcType=VARCHAR},
        #{rbRelevanceDesc,jdbcType=OTHER},
        #{rbRelevanceCode,jdbcType=VARCHAR},
        #{relevanceStatus,jdbcType=DECIMAL},
        #{rbProjectUid,jdbcType=VARCHAR}
        )
    </insert>
</mapper>