<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--User: xulf Date: 2018/9/11 Time: 16:39-->
<head th:include="include/headBom"></head>
<meta charset="UTF-8">
<title>单车BOM</title>
<link th:href="@{/css/stage/bom-stage.css}" rel="stylesheet"/>
</head>
<body>
<div class="content col-lg-12">
    <table class="table table-striped tableNormalStyle" id="bikeBomTable">
        <!--<tr>-->
        <!--<td><input type="checkbox"></td>-->
        <!--<td>物料编号</td>-->
        <!--<td>基本信息</td>-->
        <!--<td>品牌代码</td>-->
        <!--<td>中文品牌</td>-->
        <!--<td>平台代码</td>-->
        <!--<td>平台名称</td>-->
        <!--<td>车型代码</td>-->
        <!--<td>车型名称</td>-->
        <!--<td>内饰颜色代码</td>-->
        <!--<td>内饰颜色名称 </td>-->
        <!--<td>颜色代码</td>-->
        <!--<td>颜色名称</td>-->
        <!--<td>电池型号</td>-->
        <!--<td>电机型号</td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td><input type="checkbox"></td>-->
        <!--<td><a href=" bike/get/detail">DX123BAEP10</a></td>-->
        <!--<td>S001</td>-->
        <!--<td>NETA</td>-->
        <!--<td>哪吒</td>-->
        <!--<td>EP10</td>-->
        <!--<td>EP10</td>-->
        <!--<td>S00</td>-->
        <!--<td>S00</td>-->
        <!--<td>BA</td>-->
        <!--<td>青云白单色</td>-->
        <!--<td>BA</td>-->
        <!--<td>青云白单色</td>-->
        <!--<td>S00-DCXH</td>-->
        <!--<td>S00-DJXH</td>-->
        <!--</tr>-->
    </table>
</div>
<script th:src="@{/js/bikeBom/bikeBom.js}"></script>
<script th:src="@{/js/helper/projectHelper.js}"></script>
</body>
</html>