<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--User: xulf Date: 2018/9/11 Time: 16:39-->
<head th:include="include/headBom"></head>
<meta charset="UTF-8">
<title>单车BOM</title>
<link th:href="@{/css/stage/bom-stage.css}" rel="stylesheet"/>
</head>
<body>
<div class="content col-lg-12">
    <table class="table table-striped tableNormalStyle" id="bikeBomTable">
    </table>
</div>
<script th:src="@{/js/bikeBom/bikeBom.js}"></script>
<script th:src="@{/js/helper/projectHelper.js}"></script>
</body>
</html>