<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2018.
  ~ This file was written by fancyears·milos·malvis @connor. Any question/bug you can post to 1243093366@qq.com.
  ~ ALL RIGHTS RESERVED.
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.net.connor.hozon.dao.dao.configuration.fullConfigSheet.HzConfigToBomLineDao">
    <resultMap id="BaseResultMap"
               type="cn.net.connor.hozon.dao.pojo.configuration.fullConfigSheet.HzConfigToBomLine">
        <id column="PUID" jdbcType="VARCHAR" property="id"/>
        <result column="P_BOMLINEPUID" jdbcType="VARCHAR" property="bomLineId"/>
        <result column="P_CFG0NAME" jdbcType="VARCHAR" property="featureValueCode"/>
        <result column="P_CFG0FAMILYNAME" jdbcType="VARCHAR" property="featureCode"/>
        <result column="P_BOM_DIGIFAX_ID" jdbcType="VARCHAR" property="bomDigifaxId"/>
        <result column="P_BOM_LINE_NAME" jdbcType="VARCHAR" property="bomLineName"/>
        <result column="P_TO_CFG0_ID_OF_BL" jdbcType="VARCHAR" property="featureValueToBomLineId"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ExtendBaseResult"
               type="cn.net.connor.hozon.dao.pojo.configuration.fullConfigSheet.HzConfigToBomLine">
        <result column="P_CFG0_DESC" jdbcType="VARCHAR" property="featureValueDesc"/>
        <result column="P_CFG0_FAMILY_DESC" jdbcType="VARCHAR" property="featureDesc"/>
    </resultMap>
    <sql id="Base_Column_List">
        PUID,
        P_BOMLINEPUID,
        P_CFG0NAME,
        P_CFG0FAMILYNAME,
        P_BOM_DIGIFAX_ID,
        P_BOM_LINE_NAME,
        P_TO_CFG0_ID_OF_BL
    </sql>
    <sql id="values_by_batch">
        #{item.id,jdbcType=VARCHAR},
        #{item.bomLineId,jdbcType=VARCHAR},
        #{item.featureValueCode,jdbcType=VARCHAR},
        #{item.featureCode,jdbcType=VARCHAR},
        #{item.bomDigifaxId,jdbcType=VARCHAR},
        #{item.bomLineName,jdbcType=VARCHAR},
        #{item.featureValueToBomLineId,jdbcType=VARCHAR}
    </sql>
    <!--根据主键筛选-->
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from HZ_CFG0_OF_BOMLINE_RECORD
        where PUID = #{id,jdbcType=VARCHAR}
    </select>
    <!--根据项目UID和BOMLine UID查询1条记录-->
    <select id="selectByBLUidAndPrjUid"
            parameterType="cn.net.connor.hozon.dao.pojo.configuration.fullConfigSheet.HzConfigToBomLine"
            resultMap="ExtendBaseResult">
        <!--
          select
        t.puid,
        t.p_bomlinepuid,
        t.p_cfg0name,
        t2.p_cfg0_desc,
        t.p_cfg0familyname,
        t2.p_cfg0_family_desc,
        t.p_bom_line_name,
        t.p_to_cfg0_id_of_bl
        from HZ_CFG0_OF_BOMLINE_RECORD t
        left join Hz_Cfg0_Record t2 on t2.puid=t.p_to_cfg0_id_of_bl
        where t.p_bomlinepuid=#{pBomlinepuid,jdbcType=VARCHAR}
        and t.p_bom_digifax_id=(
        select puid from Hz_Bom_Main_Record t2 where t2.p_cfg0_of_which_project_puid=#{projectUid,jdbcType=VARCHAR}
        )
        -->

        SELECT
        T2.P_CFG0_OBJECT_ID as P_CFG0NAME,
        T2.P_CFG0_DESC,
        T2.P_CFG0_FAMILY_NAME as P_CFG0FAMILYNAME,
        T2.P_CFG0_FAMILY_DESC
        from
        HZ_FULL_CFG_WITHCFG_RECORD t
        left join HZ_CFG0_RECORD t2 on t.CFG_CFG0_UID = T2.PUID
        where
        CFG_BOMLINE_UID = #{bomLineId,jdbcType=VARCHAR}
    </select>
    <!--根据主键删除-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from HZ_CFG0_OF_BOMLINE_RECORD
        where PUID = #{id,jdbcType=VARCHAR}
    </delete>
    <!--插入单条数据-->
    <insert id="insert"
            parameterType="cn.net.connor.hozon.dao.pojo.configuration.fullConfigSheet.HzConfigToBomLine">
        insert into
        HZ_CFG0_OF_BOMLINE_RECORD
        (
            PUID,
            P_BOMLINEPUID,
            P_CFG0NAME,
            P_CFG0FAMILYNAME,
            P_BOM_DIGIFAX_ID,
            P_BOM_LINE_NAME,
            P_TO_CFG0_ID_OF_BL
        )
        values (
            #{id,jdbcType=VARCHAR},
            #{bomLineId,jdbcType=VARCHAR},
            #{featureValueCode,jdbcType=VARCHAR},
            #{featureCode,jdbcType=VARCHAR},
            #{bomDigifaxId,jdbcType=VARCHAR},
             #{bomLineName,jdbcType=VARCHAR},
            #{featureValueToBomLineId,jdbcType=VARCHAR}
        )
     </insert>
    <!--批量插入-->
    <insert id="insertByBatch" parameterType="java.util.List">
        insert all
        <foreach collection="list" item="item" index="index"
                 separator=" ">
            into HZ_CFG0_OF_BOMLINE_RECORD (
            <include refid="Base_Column_List"/>
            ) values (
            <include refid="values_by_batch"/>
            )
        </foreach>
        select 1 from dual
    </insert>
    <!--根据主键更新-->
    <update id="updateByPrimaryKey"
            parameterType="cn.net.connor.hozon.dao.pojo.configuration.fullConfigSheet.HzConfigToBomLine">
        update HZ_CFG0_OF_BOMLINE_RECORD
            set
                P_BOMLINEPUID = #{bomLineId,jdbcType=VARCHAR},
                P_CFG0NAME = #{featureValueCode,jdbcType=VARCHAR},
                P_CFG0FAMILYNAME = #{featureCode,jdbcType=VARCHAR},
                P_BOM_DIGIFAX_ID = #{bomDigifaxId,jdbcType=VARCHAR},
                P_BOM_LINE_NAME = #{bomLineName,jdbcType=VARCHAR},
                P_TO_CFG0_ID_OF_BL = #{featureValueToBomLineId,jdbcType=VARCHAR}
            where PUID = #{id,jdbcType=VARCHAR}
    </update>
</mapper>