<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2018.
  ~ This file was written by fancyears·milos·malvis @connor. Any question/bug you can post to 1243093366@qq.com.
  ~ ALL RIGHTS RESERVED.
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.connor.hozon.dao.modelColor.HzCfg0ModelColorDao">
    <resultMap id="BaseResultMap" type="cn.net.connor.hozon.dao.pojo.configuration.modelColor.HzCfg0ModelColor">
        <!--puid主键-->
        <id column="PUID" jdbcType="VARCHAR" property="puid"/>
        <!--产品配置器puid-->
        <result column="P_CFG0_MAIN_RECORD_OF_MC" jdbcType="VARCHAR" property="pCfg0MainRecordOfMC"/>
        <!--颜色车型代码-->
        <result column="P_CODE_OF_COLORFUL_MODEL" jdbcType="VARCHAR" property="pCodeOfColorfulModel"/>
        <!--颜色车型描述-->
        <result column="P_DESC_OF_COLORFUL_MODEL" jdbcType="VARCHAR" property="pDescOfColorfulModel"/>
        <!--油漆车身总成-->
        <result column="P_MODEL_SHELL" jdbcType="VARCHAR" property="pModelShellOfColorfulModel"/>
        <!--新增的默认-->
        <result column="P_UPDATE_DEFAULT" jdbcType="INTEGER" property="updateDefault"/>
        <!--颜色UID，外键-->
        <result column="P_COLOR_UID" jdbcType="VARCHAR" property="pColorUid"/>
        <!--特性值的外键，只能是车身颜色的特性值-->
        <result column="P_SHELL_CFG0_PUID" jdbcType="VARCHAR" property="pShellCfg0Puid"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs"
               type="cn.net.connor.hozon.dao.pojo.configuration.modelColor.HzCfg0ModelColor">
        <!--系统层颜色记录-->
        <result column="P_COLORFUL_MAP_BLOCK" jdbcType="BLOB"
                property="pColorfulMapBlock"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithColorJudge"
               type="cn.net.connor.hozon.dao.pojo.configuration.modelColor.HzCfg0ModelColor">
        <!--是否多色-->
        <result column="P_COLOR_IS_MULTIPLY" jdbcType="VARCHAR" property="pColorIsMultiply"/>
        <!--颜色名称-->
        <result column="ORG_COLOR_PUID" jdbcType="VARCHAR" property="orgColorUid"/>
        <!--颜色名称-->
        <result column="P_COLOR_NAME" jdbcType="VARCHAR" property="colorName"/>
        <!--VWO变更号的ID，外键-->
        <result column="CMCR_CHANGE_ORDER_UID" jdbcType="BIGINT" property="cmcrVwoId"/>
        <!--创建时间-->
        <result column="CMCR_CREATE_DATE" jdbcType="DATE" property="cmcrCreateDate"/>
        <!--创建人-->
        <result column="CMCR_CREATOR" jdbcType="VARCHAR" property="cmcrCreator"/>
        <!--更新时间-->
        <result column="CMCR_UPDATE_DATE" jdbcType="DATE" property="cmcrUpdateDate"/>
        <!--更新人-->
        <result column="CMCR_UPDATER" jdbcType="VARCHAR" property="cmcrUpdater"/>
        <!--保留-->
        <result column="CMCR_RESERVE1" jdbcType="VARCHAR" property="cmcrReserve1"/>
        <!--保留-->
        <result column="CMCR_RESERVE2" jdbcType="VARCHAR" property="cmcrReserve2"/>
        <!--保留-->
        <result column="CMCR_RESERVE3" jdbcType="VARCHAR" property="cmcrReserve3"/>
        <!--保留-->
        <result column="CMCR_RESERVE4" jdbcType="VARCHAR" property="cmcrReserve4"/>
        <!--状态，0：草稿状态，10：在流程中，99：已发布-->
        <result column="CMCR_STATUS" jdbcType="VARCHAR" property="cmcrStatus"/>
        <!--生效时间-->
        <result column="CMCR_EFFECTED_DATE" jdbcType="DATE" property="cmcrEffectedDate"/>
    </resultMap>

    <resultMap extends="ResultMapWithColorJudge" id="VwoMap" type="cn.net.connor.hozon.dao.pojo.configuration.modelColor.HzCfg0ModelColor">
        <result column="cmcrVwoNum" jdbcType="VARCHAR" property="cmcrVwoNum"/>
    </resultMap>
    <sql id="Base_Column_List">
        PUID,
        P_CFG0_MAIN_RECORD_OF_MC,
        P_CODE_OF_COLORFUL_MODEL,
        P_DESC_OF_COLORFUL_MODEL,
        P_MODEL_SHELL,
        P_UPDATE_DEFAULT,
        P_COLOR_UID
    </sql>
    <sql id="Blob_Column_List">
        P_COLORFUL_MAP_BLOCK
    </sql>
    <sql id="Color_Is_Multiply">
        t2.P_COLOR_IS_MULTIPLY,
        t2.PUID as ORG_COLOR_PUID,
        t2.P_COLOR_NAME,
        CMCR_CHANGE_ORDER_UID,
        CMCR_CREATE_DATE,
        CMCR_CREATOR,
        CMCR_UPDATE_DATE,
        CMCR_UPDATER,
        CMCR_RESERVE1,
        CMCR_RESERVE2,
        CMCR_RESERVE3,
        CMCR_RESERVE4,
        CMCR_STATUS,
        CMCR_EFFECTED_DATE
    </sql>
    <sql id="values">
        #{puid,jdbcType=VARCHAR},
        #{pCfg0MainRecordOfMC,jdbcType=VARCHAR},
        #{pCodeOfColorfulModel,jdbcType=VARCHAR},
        #{pDescOfColorfulModel,jdbcType=VARCHAR},
        #{pModelShellOfColorfulModel,jdbcType=VARCHAR},
        1,
        #{pColorUid,jdbcType=VARCHAR}
    </sql>
    <sql id="reflect">
        P_DESC_OF_COLORFUL_MODEL = #{pDescOfColorfulModel,jdbcType=VARCHAR},
        CMCR_STATUS = #{cmcrStatus,jdbcType=VARCHAR}
    </sql>

    <select id="selectByMainId" parameterType="cn.net.connor.hozon.dao.pojo.configuration.modelColor.HzCfg0ModelColor"
            resultMap="ResultMapWithColorJudge">
        select
        <include refid="Base_Column_List"/>
        from HZ_CFG0_MODEL_COLOR_RECORD where P_CFG0_MAIN_RECORD_OF_MC=#{pCfg0MainRecordOfMC,jdbcType=VARCHAR}
    </select>

    <select id="selectAll" resultMap="VwoMap">
        select
        t.
        <include refid="Base_Column_List"/>,
        <include refid="Color_Is_Multiply"/>,
        t3.CHANGE_NO as cmcrVwoNum
        from HZ_CFG0_MODEL_COLOR_RECORD t
        left join HZ_CFG0_COLORSET t2 on p_model_shell=t2.p_color_code
        left join HZ_CHANGE_ORDER_RECORD t3 on t3.ID = t.CMCR_CHANGE_ORDER_UID
        where t.p_cfg0_main_record_of_mc=
        (select puid
        from hz_cfg0_main_record t3
        where t3.p_cfg0_of_which_project_puid=#{projectPuid}
        )

    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.String"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from HZ_CFG0_MODEL_COLOR_RECORD where PUID=#{puid,jdbcType=VARCHAR}
    </select>

    <insert id="insert" parameterType="cn.net.connor.hozon.dao.pojo.configuration.modelColor.HzCfg0ModelColor">
        insert into HZ_CFG0_MODEL_COLOR_RECORD
        (
        <include refid="Base_Column_List"/>,
        CMCR_STATUS
        )
        VALUES (
        <include refid="values"/>,
        #{cmcrStatus,jdbcType=VARCHAR}
        )
    </insert>
    <update id="updateByPrimaryKey" parameterType="cn.net.connor.hozon.dao.pojo.configuration.modelColor.HzCfg0ModelColor">
        update HZ_CFG0_MODEL_COLOR_RECORD
        set
        <include refid="reflect"/>
        where PUID = #{puid,jdbcType=VARCHAR}
    </update>
    <update id="updateOldData" parameterType="cn.net.connor.hozon.dao.pojo.configuration.modelColor.HzCfg0ModelColor">
        update HZ_CFG0_MODEL_COLOR_RECORD
        set
        P_COLORFUL_MAP_BLOCK=null,
        P_UPDATE_DEFAULT=1
        where PUID = #{puid,jdbcType=VARCHAR}
    </update>

    <delete id="deleteByBatch" parameterType="java.util.List">
        delete from HZ_CFG0_MODEL_COLOR_RECORD where PUID in (
        <foreach collection="list" item="item" index="index"
                 separator=",">
            #{item.puid,jdbcType=VARCHAR}
        </foreach>
        )
    </delete>

    <select id="selectByPuids" parameterType="cn.net.connor.hozon.dao.pojo.configuration.modelColor.HzCfg0ModelColor"
            resultMap="ResultMapWithColorJudge">
        select
       *
        from
        HZ_CFG0_MODEL_COLOR_RECORD t
        where
        t.PUID in
        <foreach collection="list" item="color" index="index" open="(" separator="," close=")">
            #{color.puid, jdbcType=VARCHAR}
        </foreach>
    </select>

    <update id="updateListData" parameterType="java.util.List">
        update
        HZ_CFG0_MODEL_COLOR_RECORD t
        set t.CMCR_CHANGE_ORDER_UID=
        <foreach collection="list" item="hzCfg0ModelColor" open="case" close="end">
            when t.PUID=#{hzCfg0ModelColor.puid,jdbcType=VARCHAR}
            then
            #{hzCfg0ModelColor.cmcrVwoId,jdbcType=BIGINT}
        </foreach>
        ,t.CMCR_STATUS=
        <foreach collection="list" item="hzCfg0ModelColor" open="case" close="end">
            when t.PUID=#{hzCfg0ModelColor.puid,jdbcType=VARCHAR}
            then
            #{hzCfg0ModelColor.cmcrStatus,jdbcType=BIGINT}
        </foreach>
        where
        t.PUID in
        <foreach collection="list" item="hzCfg0ModelColor" open="(" separator="," close=")">
            #{hzCfg0ModelColor.puid,jdbcType=VARCHAR}
        </foreach>
    </update>

    <update id="updateByVwoId" parameterType="cn.net.connor.hozon.dao.pojo.configuration.modelColor.HzCfg0ModelColor">
        update
          HZ_CFG0_MODEL_COLOR_RECORD t
        set
          t.CMCR_STATUS = #{cmcrStatus},
          t.CMCR_CHANGE_ORDER_UID = null
        where
          t.CMCR_CHANGE_ORDER_UID = #{cmcrVwoId}
    </update>

    <update id="updateStatus" parameterType="java.util.List">
        update HZ_CFG0_MODEL_COLOR_RECORD
        set CMCR_STATUS =
    <foreach collection="list" index="index" item="hzCfg0ModelColors" open="case"  close="end">
        when PUID = #{hzCfg0ModelColors.puid,jdbcType=VARCHAR}
        then #{hzCfg0ModelColors.cmcrStatus,jdbcType=INTEGER}
    </foreach>
      where
        PUID in
        <foreach collection="list" index="index" item="hzCfg0ModelColors" open="("  close=")" separator=",">
            #{hzCfg0ModelColors.puid,jdbcType=VARCHAR}
        </foreach>
    </update>

    <update id="updateListAll" parameterType="java.util.List">
        <foreach collection="list" index="index" item="hzCfg0ModelColors" open="begin" close=";end;" separator=";">
            update
            HZ_CFG0_MODEL_COLOR_RECORD
            set
            P_DESC_OF_COLORFUL_MODEL = #{hzCfg0ModelColors.pDescOfColorfulModel,jdbcType=VARCHAR},
            CMCR_STATUS = #{hzCfg0ModelColors.cmcrStatus,jdbcType=VARCHAR}
            where
            PUID = #{hzCfg0ModelColors.puid,jdbcType=VARCHAR}
        </foreach>
    </update>

    <update id="updateStatusByOrderId" parameterType="java.util.Map">
        update HZ_CFG0_MODEL_COLOR_RECORD
        set CMCR_STATUS = #{status,jdbcType=INTEGER},
        CMCR_EFFECTED_DATE = #{effectedDate,jdbcType=DATE}
        where
        CMCR_CHANGE_ORDER_UID = #{orderId,jdbcType=BIGINT}
    </update>

    <update id="updateByChangeIds" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
            update HZ_CFG0_MODEL_COLOR_RECORD
            set CMCR_STATUS = #{item.cmcrSrcStatus,jdbcType=DECIMAL},
            CMCR_CHANGE_ORDER_UID = null
            where
            PUID = #{item.cmcrSrcPuid,jdbcType=DECIMAL}
        </foreach>
        <!--<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">-->
            <!--update HZ_CFG0_MODEL_COLOR_RECORD-->
            <!--set CMCR_STATUS = (select CMCR_SRC_STATUS from HZ_CMCR_AFTER_CHANGE where CMCR_CG_ID = #{item,jdbcType=DECIMAL}),-->
            <!--CMCR_CHANGE_ORDER_UID = null-->
            <!--where-->
            <!--PUID = (-->
            <!--select CMCR_SRC_PUID from HZ_CMCR_AFTER_CHANGE where CMCR_CG_ID = #{item,jdbcType=DECIMAL}-->
            <!--)-->
            <!--and-->
              <!--0=(select CMCR_CHANGE_STATUS from HZ_CMCR_AFTER_CHANGE where CMCR_CG_ID = #{item,jdbcType=DECIMAL})-->
        <!--</foreach>-->
    </update>


    <delete id="deleteByOrderId" parameterType="java.lang.Long">
        delete from
        HZ_CFG0_MODEL_COLOR_RECORD
        where
        PUID in (
          select CMCR_SRC_PUID from HZ_CMCR_AFTER_CHANGE where CMCR_SRC_STATUS = 2 and CMCR_CHANGE_ORDER_UID = #{orderId,jdbcType=DECIMAL}
        )
    </delete>
</mapper>