<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2018.
  ~ This file was written by fancyears·milos·malvis @connor. Any question/bug you can post to 1243093366@qq.com.
  ~ ALL RIGHTS RESERVED.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.connor.hozon.dao.configuration.modelColor.HzCmcrDetailBeforeChangeDao">
  <resultMap id="BaseResultMap" type="cn.net.connor.hozon.dao.pojo.configuration.modelColor.HzCmcrDetailBeforeChange">
    <id column="CMCR_DETAIL_CG_ID" jdbcType="DECIMAL" property="cmcrDetailCgId" />
    <result column="CMCR_DETAIL_CG_VWO_ID" jdbcType="DECIMAL" property="cmcrDetailCgVwoId" />
    <result column="CMCR_DETAIL_CG_FEATURE_CODE" jdbcType="OTHER" property="cmcrDetailCgFeatureCode" />
    <result column="CMCR_DETAIL_CG_FEATURE_NAME" jdbcType="OTHER" property="cmcrDetailCgFeatureName" />
    <result column="CMCR_DETAIL_CG_COLOR_CODE" jdbcType="OTHER" property="cmcrDetailCgColorCode" />
    <result column="CMCR_DETAIL_CG_COLOR_NAME" jdbcType="OTHER" property="cmcrDetailCgColorName" />
    <result column="CMCR_DETAIL_CG_CREATE_DATE" jdbcType="TIMESTAMP" property="cmcrDetailCgCreateDate" />
    <result column="CMCR_DETAIL_CG_CREATOR" jdbcType="OTHER" property="cmcrDetailCgCreator" />
    <result column="CMCR_DETAIL_CG_UPDATE_DATE" jdbcType="TIMESTAMP" property="cmcrDetailCgUpdateDate" />
    <result column="CMCR_DETAIL_CG_UPDATER" jdbcType="OTHER" property="cmcrDetailCgUpdater" />
    <result column="CMCR_DETAIL_CG_REVERSE1" jdbcType="VARCHAR" property="cmcrDetailCgReverse1" />
    <result column="CMCR_DETAIL_CG_REVERSE2" jdbcType="VARCHAR" property="cmcrDetailCgIsColorful" />
    <result column="CMCR_DETAIL_CG_REVERSE3" jdbcType="VARCHAR" property="cmcrDetailCgReverse3" />
    <result column="CMCR_DETAIL_CG_REVERSE4" jdbcType="VARCHAR" property="cmcrDetailCgReverse4" />
    <result column="CMCR_DETAIL_CG_REVERSE5" jdbcType="VARCHAR" property="cmcrDetailCgReverse5" />
    <result column="CMCR_DETAIL_SRC_PUID" jdbcType="VARCHAR" property="cmcrDetailSrcPuid" />
    <result column="CMCR_DETAIL_SRC_CFG_UID" jdbcType="VARCHAR" property="cmcrDetailSrcCfgUid" />
    <result column="CMCR_DETAIL_SRC_COLOR_UID" jdbcType="VARCHAR" property="cmcrDetailSrcColorUid" />
    <result column="CMCR_DETAIL_SRC_CFG_MAIN_UID" jdbcType="VARCHAR" property="cmcrDetailSrcCfgMainUid" />
    <result column="CMCR_DETAIL_SRC_CREATE_DATE" jdbcType="TIMESTAMP" property="cmcrDetailSrcCreateDate" />
    <result column="CMCR_DETAIL_SRC__MODIFY_DATE" jdbcType="TIMESTAMP" property="cmcrDetailSrcModifyDate" />
    <result column="CMCR_DETAIL_SRC_CREATOR" jdbcType="OTHER" property="cmcrDetailSrcCreator" />
    <result column="CMCR_DETAIL_SRC_MODIFIER" jdbcType="OTHER" property="cmcrDetailSrcModifier" />
    <result column="CMCR_DETAIL_SRC_MODEL_PUID" jdbcType="VARCHAR" property="cmcrDetailSrcModelPuid" />
  </resultMap>
  <sql id="Base_Column_List">
    CMCR_DETAIL_CG_ID, CMCR_DETAIL_CG_VWO_ID, CMCR_DETAIL_CG_FEATURE_CODE, CMCR_DETAIL_CG_FEATURE_NAME, 
    CMCR_DETAIL_CG_COLOR_CODE, CMCR_DETAIL_CG_COLOR_NAME, CMCR_DETAIL_CG_CREATE_DATE, 
    CMCR_DETAIL_CG_CREATOR, CMCR_DETAIL_CG_UPDATE_DATE, CMCR_DETAIL_CG_UPDATER, CMCR_DETAIL_CG_REVERSE1, 
    CMCR_DETAIL_CG_REVERSE2, CMCR_DETAIL_CG_REVERSE3, CMCR_DETAIL_CG_REVERSE4, CMCR_DETAIL_CG_REVERSE5, 
    CMCR_DETAIL_SRC_PUID, CMCR_DETAIL_SRC_CFG_UID, CMCR_DETAIL_SRC_COLOR_UID, CMCR_DETAIL_SRC_CFG_MAIN_UID, 
    CMCR_DETAIL_SRC_CREATE_DATE, CMCR_DETAIL_SRC__MODIFY_DATE, CMCR_DETAIL_SRC_CREATOR, 
    CMCR_DETAIL_SRC_MODIFIER, CMCR_DETAIL_SRC_MODEL_PUID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from HZ_CMCR_DETAIL_BEFORE_CHANGE
    where CMCR_DETAIL_CG_ID = #{cmcrDetailCgId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from HZ_CMCR_DETAIL_BEFORE_CHANGE
    where CMCR_DETAIL_CG_ID = #{cmcrDetailCgId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="cn.net.connor.hozon.dao.pojo.configuration.modelColor.HzCmcrDetailBeforeChange">
    insert into HZ_CMCR_DETAIL_BEFORE_CHANGE (CMCR_DETAIL_CG_ID, CMCR_DETAIL_CG_VWO_ID, 
      CMCR_DETAIL_CG_FEATURE_CODE, CMCR_DETAIL_CG_FEATURE_NAME, 
      CMCR_DETAIL_CG_COLOR_CODE, CMCR_DETAIL_CG_COLOR_NAME, 
      CMCR_DETAIL_CG_CREATE_DATE, CMCR_DETAIL_CG_CREATOR, 
      CMCR_DETAIL_CG_UPDATE_DATE, CMCR_DETAIL_CG_UPDATER, 
      CMCR_DETAIL_CG_REVERSE1, CMCR_DETAIL_CG_REVERSE2, 
      CMCR_DETAIL_CG_REVERSE3, CMCR_DETAIL_CG_REVERSE4, 
      CMCR_DETAIL_CG_REVERSE5, CMCR_DETAIL_SRC_PUID, 
      CMCR_DETAIL_SRC_CFG_UID, CMCR_DETAIL_SRC_COLOR_UID, 
      CMCR_DETAIL_SRC_CFG_MAIN_UID, CMCR_DETAIL_SRC_CREATE_DATE, 
      CMCR_DETAIL_SRC__MODIFY_DATE, CMCR_DETAIL_SRC_CREATOR, 
      CMCR_DETAIL_SRC_MODIFIER, CMCR_DETAIL_SRC_MODEL_PUID
      )
    values (#{cmcrDetailCgId,jdbcType=DECIMAL}, #{cmcrDetailCgVwoId,jdbcType=DECIMAL}, 
      #{cmcrDetailCgFeatureCode,jdbcType=OTHER}, #{cmcrDetailCgFeatureName,jdbcType=OTHER}, 
      #{cmcrDetailCgColorCode,jdbcType=OTHER}, #{cmcrDetailCgColorName,jdbcType=OTHER}, 
      #{cmcrDetailCgCreateDate,jdbcType=TIMESTAMP}, #{cmcrDetailCgCreator,jdbcType=OTHER}, 
      #{cmcrDetailCgUpdateDate,jdbcType=TIMESTAMP}, #{cmcrDetailCgUpdater,jdbcType=OTHER}, 
      #{cmcrDetailCgReverse1,jdbcType=VARCHAR}, #{cmcrDetailCgIsColorful,jdbcType=VARCHAR},
      #{cmcrDetailCgReverse3,jdbcType=VARCHAR}, #{cmcrDetailCgReverse4,jdbcType=VARCHAR},
      #{cmcrDetailCgReverse5,jdbcType=VARCHAR}, #{cmcrDetailSrcPuid,jdbcType=VARCHAR}, 
      #{cmcrDetailSrcCfgUid,jdbcType=VARCHAR}, #{cmcrDetailSrcColorUid,jdbcType=VARCHAR}, 
      #{cmcrDetailSrcCfgMainUid,jdbcType=VARCHAR}, #{cmcrDetailSrcCreateDate,jdbcType=TIMESTAMP}, 
      #{cmcrDetailSrcModifyDate,jdbcType=TIMESTAMP}, #{cmcrDetailSrcCreator,jdbcType=OTHER}, 
      #{cmcrDetailSrcModifier,jdbcType=OTHER}, #{cmcrDetailSrcModelPuid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.net.connor.hozon.dao.pojo.configuration.modelColor.HzCmcrDetailBeforeChange">
    insert into HZ_CMCR_DETAIL_BEFORE_CHANGE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cmcrDetailCgId != null">
        CMCR_DETAIL_CG_ID,
      </if>
      <if test="cmcrDetailCgVwoId != null">
        CMCR_DETAIL_CG_VWO_ID,
      </if>
      <if test="cmcrDetailCgFeatureCode != null">
        CMCR_DETAIL_CG_FEATURE_CODE,
      </if>
      <if test="cmcrDetailCgFeatureName != null">
        CMCR_DETAIL_CG_FEATURE_NAME,
      </if>
      <if test="cmcrDetailCgColorCode != null">
        CMCR_DETAIL_CG_COLOR_CODE,
      </if>
      <if test="cmcrDetailCgColorName != null">
        CMCR_DETAIL_CG_COLOR_NAME,
      </if>
      <if test="cmcrDetailCgCreateDate != null">
        CMCR_DETAIL_CG_CREATE_DATE,
      </if>
      <if test="cmcrDetailCgCreator != null">
        CMCR_DETAIL_CG_CREATOR,
      </if>
      <if test="cmcrDetailCgUpdateDate != null">
        CMCR_DETAIL_CG_UPDATE_DATE,
      </if>
      <if test="cmcrDetailCgUpdater != null">
        CMCR_DETAIL_CG_UPDATER,
      </if>
      <if test="cmcrDetailCgReverse1 != null">
        CMCR_DETAIL_CG_REVERSE1,
      </if>
      <if test="cmcrDetailCgIsColorful != null">
        CMCR_DETAIL_CG_REVERSE2,
      </if>
      <if test="cmcrDetailCgReverse3 != null">
        CMCR_DETAIL_CG_REVERSE3,
      </if>
      <if test="cmcrDetailCgReverse4 != null">
        CMCR_DETAIL_CG_REVERSE4,
      </if>
      <if test="cmcrDetailCgReverse5 != null">
        CMCR_DETAIL_CG_REVERSE5,
      </if>
      <if test="cmcrDetailSrcPuid != null">
        CMCR_DETAIL_SRC_PUID,
      </if>
      <if test="cmcrDetailSrcCfgUid != null">
        CMCR_DETAIL_SRC_CFG_UID,
      </if>
      <if test="cmcrDetailSrcColorUid != null">
        CMCR_DETAIL_SRC_COLOR_UID,
      </if>
      <if test="cmcrDetailSrcCfgMainUid != null">
        CMCR_DETAIL_SRC_CFG_MAIN_UID,
      </if>
      <if test="cmcrDetailSrcCreateDate != null">
        CMCR_DETAIL_SRC_CREATE_DATE,
      </if>
      <if test="cmcrDetailSrcModifyDate != null">
        CMCR_DETAIL_SRC__MODIFY_DATE,
      </if>
      <if test="cmcrDetailSrcCreator != null">
        CMCR_DETAIL_SRC_CREATOR,
      </if>
      <if test="cmcrDetailSrcModifier != null">
        CMCR_DETAIL_SRC_MODIFIER,
      </if>
      <if test="cmcrDetailSrcModelPuid != null">
        CMCR_DETAIL_SRC_MODEL_PUID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cmcrDetailCgId != null">
        #{cmcrDetailCgId,jdbcType=DECIMAL},
      </if>
      <if test="cmcrDetailCgVwoId != null">
        #{cmcrDetailCgVwoId,jdbcType=DECIMAL},
      </if>
      <if test="cmcrDetailCgFeatureCode != null">
        #{cmcrDetailCgFeatureCode,jdbcType=OTHER},
      </if>
      <if test="cmcrDetailCgFeatureName != null">
        #{cmcrDetailCgFeatureName,jdbcType=OTHER},
      </if>
      <if test="cmcrDetailCgColorCode != null">
        #{cmcrDetailCgColorCode,jdbcType=OTHER},
      </if>
      <if test="cmcrDetailCgColorName != null">
        #{cmcrDetailCgColorName,jdbcType=OTHER},
      </if>
      <if test="cmcrDetailCgCreateDate != null">
        #{cmcrDetailCgCreateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cmcrDetailCgCreator != null">
        #{cmcrDetailCgCreator,jdbcType=OTHER},
      </if>
      <if test="cmcrDetailCgUpdateDate != null">
        #{cmcrDetailCgUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cmcrDetailCgUpdater != null">
        #{cmcrDetailCgUpdater,jdbcType=OTHER},
      </if>
      <if test="cmcrDetailCgReverse1 != null">
        #{cmcrDetailCgReverse1,jdbcType=VARCHAR},
      </if>
      <if test="cmcrDetailCgIsColorful != null">
        #{cmcrDetailCgIsColorful,jdbcType=VARCHAR},
      </if>
      <if test="cmcrDetailCgReverse3 != null">
        #{cmcrDetailCgReverse3,jdbcType=VARCHAR},
      </if>
      <if test="cmcrDetailCgReverse4 != null">
        #{cmcrDetailCgReverse4,jdbcType=VARCHAR},
      </if>
      <if test="cmcrDetailCgReverse5 != null">
        #{cmcrDetailCgReverse5,jdbcType=VARCHAR},
      </if>
      <if test="cmcrDetailSrcPuid != null">
        #{cmcrDetailSrcPuid,jdbcType=VARCHAR},
      </if>
      <if test="cmcrDetailSrcCfgUid != null">
        #{cmcrDetailSrcCfgUid,jdbcType=VARCHAR},
      </if>
      <if test="cmcrDetailSrcColorUid != null">
        #{cmcrDetailSrcColorUid,jdbcType=VARCHAR},
      </if>
      <if test="cmcrDetailSrcCfgMainUid != null">
        #{cmcrDetailSrcCfgMainUid,jdbcType=VARCHAR},
      </if>
      <if test="cmcrDetailSrcCreateDate != null">
        #{cmcrDetailSrcCreateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cmcrDetailSrcModifyDate != null">
        #{cmcrDetailSrcModifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cmcrDetailSrcCreator != null">
        #{cmcrDetailSrcCreator,jdbcType=OTHER},
      </if>
      <if test="cmcrDetailSrcModifier != null">
        #{cmcrDetailSrcModifier,jdbcType=OTHER},
      </if>
      <if test="cmcrDetailSrcModelPuid != null">
        #{cmcrDetailSrcModelPuid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.net.connor.hozon.dao.pojo.configuration.modelColor.HzCmcrDetailBeforeChange">
    update HZ_CMCR_DETAIL_BEFORE_CHANGE
    <set>
      <if test="cmcrDetailCgVwoId != null">
        CMCR_DETAIL_CG_VWO_ID = #{cmcrDetailCgVwoId,jdbcType=DECIMAL},
      </if>
      <if test="cmcrDetailCgFeatureCode != null">
        CMCR_DETAIL_CG_FEATURE_CODE = #{cmcrDetailCgFeatureCode,jdbcType=OTHER},
      </if>
      <if test="cmcrDetailCgFeatureName != null">
        CMCR_DETAIL_CG_FEATURE_NAME = #{cmcrDetailCgFeatureName,jdbcType=OTHER},
      </if>
      <if test="cmcrDetailCgColorCode != null">
        CMCR_DETAIL_CG_COLOR_CODE = #{cmcrDetailCgColorCode,jdbcType=OTHER},
      </if>
      <if test="cmcrDetailCgColorName != null">
        CMCR_DETAIL_CG_COLOR_NAME = #{cmcrDetailCgColorName,jdbcType=OTHER},
      </if>
      <if test="cmcrDetailCgCreateDate != null">
        CMCR_DETAIL_CG_CREATE_DATE = #{cmcrDetailCgCreateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cmcrDetailCgCreator != null">
        CMCR_DETAIL_CG_CREATOR = #{cmcrDetailCgCreator,jdbcType=OTHER},
      </if>
      <if test="cmcrDetailCgUpdateDate != null">
        CMCR_DETAIL_CG_UPDATE_DATE = #{cmcrDetailCgUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cmcrDetailCgUpdater != null">
        CMCR_DETAIL_CG_UPDATER = #{cmcrDetailCgUpdater,jdbcType=OTHER},
      </if>
      <if test="cmcrDetailCgReverse1 != null">
        CMCR_DETAIL_CG_REVERSE1 = #{cmcrDetailCgReverse1,jdbcType=VARCHAR},
      </if>
      <if test="cmcrDetailCgIsColorful != null">
        CMCR_DETAIL_CG_REVERSE2 = #{cmcrDetailCgIsColorful,jdbcType=VARCHAR},
      </if>
      <if test="cmcrDetailCgReverse3 != null">
        CMCR_DETAIL_CG_REVERSE3 = #{cmcrDetailCgReverse3,jdbcType=VARCHAR},
      </if>
      <if test="cmcrDetailCgReverse4 != null">
        CMCR_DETAIL_CG_REVERSE4 = #{cmcrDetailCgReverse4,jdbcType=VARCHAR},
      </if>
      <if test="cmcrDetailCgReverse5 != null">
        CMCR_DETAIL_CG_REVERSE5 = #{cmcrDetailCgReverse5,jdbcType=VARCHAR},
      </if>
      <if test="cmcrDetailSrcPuid != null">
        CMCR_DETAIL_SRC_PUID = #{cmcrDetailSrcPuid,jdbcType=VARCHAR},
      </if>
      <if test="cmcrDetailSrcCfgUid != null">
        CMCR_DETAIL_SRC_CFG_UID = #{cmcrDetailSrcCfgUid,jdbcType=VARCHAR},
      </if>
      <if test="cmcrDetailSrcColorUid != null">
        CMCR_DETAIL_SRC_COLOR_UID = #{cmcrDetailSrcColorUid,jdbcType=VARCHAR},
      </if>
      <if test="cmcrDetailSrcCfgMainUid != null">
        CMCR_DETAIL_SRC_CFG_MAIN_UID = #{cmcrDetailSrcCfgMainUid,jdbcType=VARCHAR},
      </if>
      <if test="cmcrDetailSrcCreateDate != null">
        CMCR_DETAIL_SRC_CREATE_DATE = #{cmcrDetailSrcCreateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cmcrDetailSrcModifyDate != null">
        CMCR_DETAIL_SRC__MODIFY_DATE = #{cmcrDetailSrcModifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cmcrDetailSrcCreator != null">
        CMCR_DETAIL_SRC_CREATOR = #{cmcrDetailSrcCreator,jdbcType=OTHER},
      </if>
      <if test="cmcrDetailSrcModifier != null">
        CMCR_DETAIL_SRC_MODIFIER = #{cmcrDetailSrcModifier,jdbcType=OTHER},
      </if>
      <if test="cmcrDetailSrcModelPuid != null">
        CMCR_DETAIL_SRC_MODEL_PUID = #{cmcrDetailSrcModelPuid,jdbcType=VARCHAR},
      </if>
    </set>
    where CMCR_DETAIL_CG_ID = #{cmcrDetailCgId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.net.connor.hozon.dao.pojo.configuration.modelColor.HzCmcrDetailBeforeChange">
    update HZ_CMCR_DETAIL_BEFORE_CHANGE
    set CMCR_DETAIL_CG_VWO_ID = #{cmcrDetailCgVwoId,jdbcType=DECIMAL},
      CMCR_DETAIL_CG_FEATURE_CODE = #{cmcrDetailCgFeatureCode,jdbcType=OTHER},
      CMCR_DETAIL_CG_FEATURE_NAME = #{cmcrDetailCgFeatureName,jdbcType=OTHER},
      CMCR_DETAIL_CG_COLOR_CODE = #{cmcrDetailCgColorCode,jdbcType=OTHER},
      CMCR_DETAIL_CG_COLOR_NAME = #{cmcrDetailCgColorName,jdbcType=OTHER},
      CMCR_DETAIL_CG_CREATE_DATE = #{cmcrDetailCgCreateDate,jdbcType=TIMESTAMP},
      CMCR_DETAIL_CG_CREATOR = #{cmcrDetailCgCreator,jdbcType=OTHER},
      CMCR_DETAIL_CG_UPDATE_DATE = #{cmcrDetailCgUpdateDate,jdbcType=TIMESTAMP},
      CMCR_DETAIL_CG_UPDATER = #{cmcrDetailCgUpdater,jdbcType=OTHER},
      CMCR_DETAIL_CG_REVERSE1 = #{cmcrDetailCgReverse1,jdbcType=VARCHAR},
      CMCR_DETAIL_CG_REVERSE2 = #{cmcrDetailCgIsColorful,jdbcType=VARCHAR},
      CMCR_DETAIL_CG_REVERSE3 = #{cmcrDetailCgReverse3,jdbcType=VARCHAR},
      CMCR_DETAIL_CG_REVERSE4 = #{cmcrDetailCgReverse4,jdbcType=VARCHAR},
      CMCR_DETAIL_CG_REVERSE5 = #{cmcrDetailCgReverse5,jdbcType=VARCHAR},
      CMCR_DETAIL_SRC_PUID = #{cmcrDetailSrcPuid,jdbcType=VARCHAR},
      CMCR_DETAIL_SRC_CFG_UID = #{cmcrDetailSrcCfgUid,jdbcType=VARCHAR},
      CMCR_DETAIL_SRC_COLOR_UID = #{cmcrDetailSrcColorUid,jdbcType=VARCHAR},
      CMCR_DETAIL_SRC_CFG_MAIN_UID = #{cmcrDetailSrcCfgMainUid,jdbcType=VARCHAR},
      CMCR_DETAIL_SRC_CREATE_DATE = #{cmcrDetailSrcCreateDate,jdbcType=TIMESTAMP},
      CMCR_DETAIL_SRC__MODIFY_DATE = #{cmcrDetailSrcModifyDate,jdbcType=TIMESTAMP},
      CMCR_DETAIL_SRC_CREATOR = #{cmcrDetailSrcCreator,jdbcType=OTHER},
      CMCR_DETAIL_SRC_MODIFIER = #{cmcrDetailSrcModifier,jdbcType=OTHER},
      CMCR_DETAIL_SRC_MODEL_PUID = #{cmcrDetailSrcModelPuid,jdbcType=VARCHAR}
    where CMCR_DETAIL_CG_ID = #{cmcrDetailCgId,jdbcType=DECIMAL}
  </update>
</mapper>