<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.connor.hozon.bom.resources.mybatis.change.breakpoint.HzBreakPointDao">
    <resultMap id="BaseResultMap" type="sql.pojo.integration.HzBreakPoint">
        <id column="PID" jdbcType="DECIMAL" property="pid"/>
        <result column="P_PACKNO" jdbcType="VARCHAR" property="pPackno"/>
        <result column="P_ITEM" jdbcType="VARCHAR" property="pItem"/>
        <result column="P_TCECN" jdbcType="VARCHAR" property="pTcecn"/>
        <result column="P_ECN" jdbcType="VARCHAR" property="pEcn"/>
        <result column="P_DATE" jdbcType="VARCHAR" property="pDate"/>
        <result column="P_OECN" jdbcType="VARCHAR" property="pOecn"/>
        <result column="P_ODATE" jdbcType="VARCHAR" property="pOdate"/>
        <result column="P_VIN" jdbcType="VARCHAR" property="pVin"/>
        <result column="P_USER" jdbcType="VARCHAR" property="pUser"/>
        <result column="P_CDATE" jdbcType="VARCHAR" property="pCdate"/>
        <result column="P_CTIME" jdbcType="VARCHAR" property="pCtime"/>
        <result column="P_RESERVE1" jdbcType="VARCHAR" property="pReserve1"/>
        <result column="P_RESERVE2" jdbcType="VARCHAR" property="pReserve2"/>
        <result column="P_RESERVE3" jdbcType="VARCHAR" property="pReserve3"/>
        <result column="P_RESERVE4" jdbcType="VARCHAR" property="pReserve4"/>
        <result column="P_RESERVE5" jdbcType="VARCHAR" property="pReserve5"/>
        <result column="FEEDBACK_TIME" jdbcType="TIMESTAMP" property="feedbackTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    PID, P_PACKNO, P_ITEM, P_TCECN, P_ECN, P_DATE, P_OECN, P_ODATE, P_VIN, P_USER, P_CDATE, 
    P_CTIME, P_RESERVE1, P_RESERVE2, P_RESERVE3, P_RESERVE4, P_RESERVE5, FEEDBACK_TIME
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from HZ_BREAKPOINT
        where PID = #{pid,jdbcType=DECIMAL}
    </select>

    <!--分页：当前页数据-->
    <select id="selectAll" parameterType="cn.net.connor.hozon.common.entity.QueryBase" resultMap="BaseResultMap">
        <!--select
        <include refid="Base_Column_List"/>
        from HZ_BREAKPOINT ORDER BY PID-->

        select
        <include refid="Base_Column_List"/>
        from
        ( select
        <include refid="Base_Column_List"/>,
        ROWNUM as rowno
        from HZ_BREAKPOINT where 1=1
        <if test="param.limit!=null and  param.page!=null">
            and ROWNUM &lt;= ${param.page}*${param.limit}
        </if>
        ) temp
        <if test="param.offset!=null">
            where temp.rowno &gt;= ${param.offset}+1
        </if>
        <if test="param.sort!=null">
            order by ${param.sort}
        </if>
        <if test="param.order!=null">
            ${param.order}
        </if>
        <if test="param.order==null">
            ASC
        </if>
    </select>

    <!--返回断点信息总数-->
    <select id="count" resultType="java.lang.Long">
        select count(*) from HZ_BREAKPOINT
    </select>

    <delete id="deleteByPrimaryKey" parameterType="sql.pojo.integration.HzBreakPoint">
    delete from HZ_BREAKPOINT
    where PID = #{pid,jdbcType=DECIMAL}
  </delete>
    <insert id="insert" parameterType="sql.pojo.integration.HzBreakPoint">
    insert into HZ_BREAKPOINT (PID, P_PACKNO, P_ITEM, 
      P_TCECN, P_ECN, P_DATE, 
      P_OECN, P_ODATE, P_VIN, 
      P_USER, P_CDATE, P_CTIME, 
      P_RESERVE1, P_RESERVE2, P_RESERVE3, 
      P_RESERVE4, P_RESERVE5, FEEDBACK_TIME
      )
    values (#{pid,jdbcType=DECIMAL}, #{pPackno,jdbcType=VARCHAR}, #{pItem,jdbcType=VARCHAR}, 
      #{pTcecn,jdbcType=VARCHAR}, #{pEcn,jdbcType=VARCHAR}, #{pDate,jdbcType=VARCHAR}, 
      #{pOecn,jdbcType=VARCHAR}, #{pOdate,jdbcType=VARCHAR}, #{pVin,jdbcType=VARCHAR}, 
      #{pUser,jdbcType=VARCHAR}, #{pCdate,jdbcType=VARCHAR}, #{pCtime,jdbcType=VARCHAR}, 
      #{pReserve1,jdbcType=VARCHAR}, #{pReserve2,jdbcType=VARCHAR}, #{pReserve3,jdbcType=VARCHAR}, 
      #{pReserve4,jdbcType=VARCHAR}, #{pReserve5,jdbcType=VARCHAR}, #{feedbackTime,jdbcType=TIMESTAMP}
      )
  </insert>
    <insert id="insertSelective" parameterType="sql.pojo.integration.HzBreakPoint">
        insert into HZ_BREAKPOINT
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pid != null">
                PID,
            </if>
            <if test="pPackno != null">
                P_PACKNO,
            </if>
            <if test="pItem != null">
                P_ITEM,
            </if>
            <if test="pTcecn != null">
                P_TCECN,
            </if>
            <if test="pEcn != null">
                P_ECN,
            </if>
            <if test="pDate != null">
                P_DATE,
            </if>
            <if test="pOecn != null">
                P_OECN,
            </if>
            <if test="pOdate != null">
                P_ODATE,
            </if>
            <if test="pVin != null">
                P_VIN,
            </if>
            <if test="pUser != null">
                P_USER,
            </if>
            <if test="pCdate != null">
                P_CDATE,
            </if>
            <if test="pCtime != null">
                P_CTIME,
            </if>
            <if test="pReserve1 != null">
                P_RESERVE1,
            </if>
            <if test="pReserve2 != null">
                P_RESERVE2,
            </if>
            <if test="pReserve3 != null">
                P_RESERVE3,
            </if>
            <if test="pReserve4 != null">
                P_RESERVE4,
            </if>
            <if test="pReserve5 != null">
                P_RESERVE5,
            </if>
            <if test="feedbackTime != null">
                FEEDBACK_TIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pid != null">
                #{pid,jdbcType=DECIMAL},
            </if>
            <if test="pPackno != null">
                #{pPackno,jdbcType=VARCHAR},
            </if>
            <if test="pItem != null">
                #{pItem,jdbcType=VARCHAR},
            </if>
            <if test="pTcecn != null">
                #{pTcecn,jdbcType=VARCHAR},
            </if>
            <if test="pEcn != null">
                #{pEcn,jdbcType=VARCHAR},
            </if>
            <if test="pDate != null">
                #{pDate,jdbcType=VARCHAR},
            </if>
            <if test="pOecn != null">
                #{pOecn,jdbcType=VARCHAR},
            </if>
            <if test="pOdate != null">
                #{pOdate,jdbcType=VARCHAR},
            </if>
            <if test="pVin != null">
                #{pVin,jdbcType=VARCHAR},
            </if>
            <if test="pUser != null">
                #{pUser,jdbcType=VARCHAR},
            </if>
            <if test="pCdate != null">
                #{pCdate,jdbcType=VARCHAR},
            </if>
            <if test="pCtime != null">
                #{pCtime,jdbcType=VARCHAR},
            </if>
            <if test="pReserve1 != null">
                #{pReserve1,jdbcType=VARCHAR},
            </if>
            <if test="pReserve2 != null">
                #{pReserve2,jdbcType=VARCHAR},
            </if>
            <if test="pReserve3 != null">
                #{pReserve3,jdbcType=VARCHAR},
            </if>
            <if test="pReserve4 != null">
                #{pReserve4,jdbcType=VARCHAR},
            </if>
            <if test="pReserve5 != null">
                #{pReserve5,jdbcType=VARCHAR},
            </if>
            <if test="feedbackTime != null">
                #{feedbackTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="sql.pojo.integration.HzBreakPoint">
        update HZ_BREAKPOINT
        <set>
            <if test="pPackno != null">
                P_PACKNO = #{pPackno,jdbcType=VARCHAR},
            </if>
            <if test="pItem != null">
                P_ITEM = #{pItem,jdbcType=VARCHAR},
            </if>
            <if test="pTcecn != null">
                P_TCECN = #{pTcecn,jdbcType=VARCHAR},
            </if>
            <if test="pEcn != null">
                P_ECN = #{pEcn,jdbcType=VARCHAR},
            </if>
            <if test="pDate != null">
                P_DATE = #{pDate,jdbcType=VARCHAR},
            </if>
            <if test="pOecn != null">
                P_OECN = #{pOecn,jdbcType=VARCHAR},
            </if>
            <if test="pOdate != null">
                P_ODATE = #{pOdate,jdbcType=VARCHAR},
            </if>
            <if test="pVin != null">
                P_VIN = #{pVin,jdbcType=VARCHAR},
            </if>
            <if test="pUser != null">
                P_USER = #{pUser,jdbcType=VARCHAR},
            </if>
            <if test="pCdate != null">
                P_CDATE = #{pCdate,jdbcType=VARCHAR},
            </if>
            <if test="pCtime != null">
                P_CTIME = #{pCtime,jdbcType=VARCHAR},
            </if>
            <if test="pReserve1 != null">
                P_RESERVE1 = #{pReserve1,jdbcType=VARCHAR},
            </if>
            <if test="pReserve2 != null">
                P_RESERVE2 = #{pReserve2,jdbcType=VARCHAR},
            </if>
            <if test="pReserve3 != null">
                P_RESERVE3 = #{pReserve3,jdbcType=VARCHAR},
            </if>
            <if test="pReserve4 != null">
                P_RESERVE4 = #{pReserve4,jdbcType=VARCHAR},
            </if>
            <if test="pReserve5 != null">
                P_RESERVE5 = #{pReserve5,jdbcType=VARCHAR},
            </if>
            <if test="feedbackTime != null">
                FEEDBACK_TIME = #{feedbackTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where PID = #{pid,jdbcType=DECIMAL}
    </update>
    <update id="updateByPrimaryKey" parameterType="sql.pojo.integration.HzBreakPoint">
    update HZ_BREAKPOINT
    set P_PACKNO = #{pPackno,jdbcType=VARCHAR},
      P_ITEM = #{pItem,jdbcType=VARCHAR},
      P_TCECN = #{pTcecn,jdbcType=VARCHAR},
      P_ECN = #{pEcn,jdbcType=VARCHAR},
      P_DATE = #{pDate,jdbcType=VARCHAR},
      P_OECN = #{pOecn,jdbcType=VARCHAR},
      P_ODATE = #{pOdate,jdbcType=VARCHAR},
      P_VIN = #{pVin,jdbcType=VARCHAR},
      P_USER = #{pUser,jdbcType=VARCHAR},
      P_CDATE = #{pCdate,jdbcType=VARCHAR},
      P_CTIME = #{pCtime,jdbcType=VARCHAR},
      P_RESERVE1 = #{pReserve1,jdbcType=VARCHAR},
      P_RESERVE2 = #{pReserve2,jdbcType=VARCHAR},
      P_RESERVE3 = #{pReserve3,jdbcType=VARCHAR},
      P_RESERVE4 = #{pReserve4,jdbcType=VARCHAR},
      P_RESERVE5 = #{pReserve5,jdbcType=VARCHAR},
      FEEDBACK_TIME = #{feedbackTime,jdbcType=TIMESTAMP}
    where PID = #{pid,jdbcType=DECIMAL}
  </update>
</mapper>