<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.connor.hozon.bom.bomSystem.dao.bom.HzBomMainRecordDao">
    <resultMap id="BaseResultMap"
               type="sql.pojo.bom.HZBomMainRecord">
        <id column="PUID" jdbcType="VARCHAR" property="puid"/>
        <result column="POST_DATE" jdbcType="TIMESTAMP"
                property="postDate"/>
        <result column="POSTER" jdbcType="VARCHAR" property="poster"/>
        <result column="BOM_DIGIFAX" jdbcType="VARCHAR"
                property="bomDigifax"/>
        <result column="BOM_ORG_PUID" jdbcType="VARCHAR"
                property="bomOrgPuid"/>
        <result column="P_CFG0_OF_WHICH_PROJECT" jdbcType="VARCHAR"
                property="pCfg0OfWhichProject"/>
        <result column="P_CFG0_OF_WHICH_PROJECT_PUID"
                jdbcType="VARCHAR" property="pCfg0OfWhichProjectPuid"/>
        <result column="P_CFG0_LAST_MOD_DATE" jdbcType="TIMESTAMP"
                property="pCfg0LastModDate"/>
        <result column="P_CFG0_ORG_POSTER" jdbcType="VARCHAR"
                property="pCfg0OrgPoster"/>

    </resultMap>
    <sql id="Base_Column_List">
		PUID,
		POST_DATE,
		POSTER,
		BOM_DIGIFAX,
		BOM_ORG_PUID,
		P_CFG0_OF_WHICH_PROJECT,
		P_CFG0_OF_WHICH_PROJECT_PUID,
		P_CFG0_LAST_MOD_DATE,
		P_CFG0_ORG_POSTER
	</sql>
    <select id="selectByProjectPuid"
            parameterType="sql.pojo.bom.HZBomMainRecord" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from HZ_BOM_MAIN_RECORD
        where P_CFG0_OF_WHICH_PROJECT_PUID =
        #{pCfg0OfWhichProjectPuid,jdbcType=VARCHAR}
    </select>
</mapper>