<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.connor.hozon.bom.bomSystem.dao.bom.HzBomDataDao">
    <resultMap id="BaseResultMap" type="sql.pojo.bom.HzBomLineRecord">
        <id column="PUID" jdbcType="VARCHAR" property="puid"/>
        <result column="P_PARENT_UID" jdbcType="VARCHAR"
                property="parentUid"/>
        <result column="P_BOM_DIGIFAX_ID" jdbcType="VARCHAR"
                property="bomDigifaxId"/>
        <result column="P_LINE_INDEX" jdbcType="VARCHAR"
                property="lineIndex"/>
        <result column="P_BOM_LINE_IS_HAS" jdbcType="INTEGER"
                property="isHas"/>
        <result column="P_BOM_LINE_PUID" jdbcType="VARCHAR"
                property="linePuid"/>
        <result column="P_BOM_LINE_ID" jdbcType="VARCHAR"
                property="lineID"/>
        <result column="P_BOM_LINE_IS_2Y" jdbcType="INTEGER"
                property="is2Y"/>
        <result column="P_BOM_LINE_IS_PART" jdbcType="INTEGER"
                property="isPart"/>
        <result column="P_BOM_ORDER_NUM" jdbcType="INTEGER"
                property="orderNum"/>
        <result column="P_BOM_LINE_IS_DEPT" jdbcType="INTEGER"
                property="isDept"/>
        <result column="P_BOM_OF_WHICH_DEPT" jdbcType="INTEGER"
                property="pBomOfWhichDept"/>
        <result column="P_BOM_LINE_PART_NAME" jdbcType="VARCHAR"
                property="pBomLinePartName"/>
        <result column="P_BOM_LINE_PART_CLASS" jdbcType="VARCHAR"
                property="pBomLinePartClass"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs"
               type="sql.pojo.bom.HzBomLineRecord">
        <result column="P_BOM_LINE_BLOCK" jdbcType="BLOB"
                property="bomLineBlock"/>
    </resultMap>
    <sql id="Base_Column_List">
        PUID,
		P_PARENT_UID,
		P_BOM_DIGIFAX_ID,
		P_LINE_INDEX,
		P_BOM_LINE_IS_HAS,
		P_BOM_LINE_PUID,
		P_BOM_LINE_ID,
		P_BOM_LINE_IS_2Y,
		P_BOM_LINE_IS_PART,
		P_BOM_ORDER_NUM,
		P_BOM_LINE_IS_DEPT,
		P_BOM_OF_WHICH_DEPT,
		P_BOM_LINE_PART_NAME,
		P_BOM_LINE_PART_CLASS
	</sql>
    <sql id="Blob_Column_List">P_BOM_LINE_BLOCK</sql>

    <sql id="values_by_batch">
		#{item.puid,jdbcType=VARCHAR},
		#{item.parentUid,jdbcType=VARCHAR},
		#{item.bomDigifaxId,jdbcType=VARCHAR},
		#{item.lineIndex,jdbcType=VARCHAR},
		#{item.isHas,jdbcType=INTEGER},
		#{item.linePuid,jdbcType=VARCHAR},
		#{item.lineID,jdbcType=VARCHAR},
		#{item.is2Y,jdbcType=INTEGER},
		#{item.isPart,jdbcType=INTEGER},
		#{item.orderNum,jdbcType=INTEGER},
		#{item.isDept,jdbcType=INTEGER},
		#{item.pBomOfWhichDept,jdbcType=VARCHAR},
		#{item.pBomLinePartName,jdbcType=VARCHAR},
		#{item.pBomLinePartClass,jdbcType=VARCHAR},
		#{item.bomLineBlock,jdbcType=BLOB}
    </sql>
    <select id="selectByPrimaryKey"
            parameterType="sql.pojo.bom.HzBomLineRecord"
            resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from HZ_BOM_LINE_RECORD
        where PUID = #{puid,jdbcType=VARCHAR}
    </select>
    <select id="selectByProjectPuid"
            parameterType="sql.pojo.bom.HzBomLineRecord"
            resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from HZ_BOM_LINE_RECORD
        where P_BOM_DIGIFAX_ID =(
        select t2.puid from Hz_Bom_Main_Record t2
        where
        t2.p_cfg0_of_which_project_puid=#{projectPuid,jdbcType=VARCHAR}
        )
        order by P_BOM_ORDER_NUM
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">delete from
		HZ_BOM_LINE_RECORD
		where PUID = #{puid,jdbcType=VARCHAR}
	</delete>

    <insert id="HzBomLineRecordDaoImpl_insert" parameterType="sql.pojo.bom.HzBomLineRecord">
        insert into HZ_BOM_LINE_RECORD
        (
        PUID,P_PARENT_UID,P_BOM_DIGIFAX_ID,P_LINE_INDEX,P_BOM_LINE_IS_HAS,P_BOM_LINE_PUID,P_BOM_LINE_ID,
        P_BOM_LINE_BLOCK,
        P_BOM_LINE_IS_2Y,P_BOM_LINE_IS_PART,P_BOM_ORDER_NUM,P_BOM_LINE_IS_DEPT,P_BOM_OF_WHICH_DEPT,
        P_BOM_LINE_PART_NAME,P_BOM_LINE_PART_CLASS
        )
        <!-- (PUID, LINE_INDEX,PARENT_UID, BOM_DIGIFAX_ID, BOM_LINE_IS_HAS,BOM_LINE_BLOCK) -->
        values
        (#{puid,jdbcType=VARCHAR},#{parentUid,jdbcType=VARCHAR},#{bomDigifaxId,jdbcType=VARCHAR},
        #{lineIndex,jdbcType=VARCHAR},#{isHas,jdbcType=INTEGER},#{linePuid,jdbcType=VARCHAR},
        #{lineID,jdbcType=VARCHAR},#{bomLineBlock,jdbcType=BLOB},
        #{is2Y,jdbcType=INTEGER},#{isPart,jdbcType=INTEGER},
        #{orderNum,jdbcType=INTEGER},#{isDept,jdbcType=INTEGER},
        #{pBomOfWhichDept,jdbcType=VARCHAR},#{pBomLinePartName,jdbcType=VARCHAR},#{pBomLinePartClass,jdbcType=VARCHAR}
      )
    </insert>



    <insert id="insertByBatch" parameterType="java.util.List">
        insert all
        <foreach collection="list" item="item" index="index"
                 separator=" ">
            into HZ_BOM_LINE_RECORD (
            <include refid="Base_Column_List"/>
            ,
            <include refid="Blob_Column_List"/>
            ) values (
            <include refid="values_by_batch"/>
            )
        </foreach>
        select 1 from dual
    </insert>



    <update id="HzBomLineRecordDaoImpl_update" parameterType="sql.pojo.bom.HzBomLineRecord">
        update HZ_BOM_LINE_RECORD
        <set>
            <if test="parentUid != null">
                P_PARENT_UID = #{parentUid,jdbcType=VARCHAR},
            </if>
            <if test="bomDigifaxId != null">
                P_BOM_DIGIFAX_ID = #{bomDigifaxId,jdbcType=VARCHAR},
            </if>
            <if test="lineIndex != null">
                P_LINE_INDEX = #{lineIndex,jdbcType=INTEGER},
            </if>
            <if test="isHas != null">
                P_BOM_LINE_IS_HAS = #{isHas,jdbcType=INTEGER},
            </if>
            <if test="linePuid != null">
                P_BOM_LINE_PUID = #{linePuid,jdbcType=VARCHAR},
            </if>
            <if test="is2Y != null">
                P_BOM_LINE_IS_2Y = #{is2Y,jdbcType=VARCHAR},
            </if>
            <if test="isPart != null">
                P_BOM_LINE_IS_PART = #{isPart,jdbcType=VARCHAR},
            </if>
            <if test="orderNum != null">
                P_BOM_ORDER_NUM = #{orderNum,jdbcType=VARCHAR},
            </if>
            <if test="isDept != null">
                P_BOM_LINE_IS_DEPT = #{isDept,jdbcType=VARCHAR},
            </if>
            <if test="pBomLinePartName != null">
                P_BOM_LINE_PART_NAME = #{pBomLinePartName,jdbcType=INTEGER},
            </if>
            <if test="pBomLinePartClass != null">
                P_BOM_LINE_PART_CLASS = #{pBomLinePartClass,jdbcType=VARCHAR},
            </if>

            <if test="lineID != null">
                P_BOM_LINE_ID = #{lineID,jdbcType=VARCHAR},
            </if>

            <if test="pBomOfWhichDept != null">
                P_BOM_OF_WHICH_DEPT = #{pBomOfWhichDept,jdbcType=VARCHAR},
            </if>
            <if test="bomLineBlock != null">
                P_BOM_LINE_BLOCK = #{bomLineBlock,jdbcType=VARCHAR},
            </if>

        </set>
        where PUID = #{puid,jdbcType=VARCHAR}
    </update>

    <!--查询一条bom信息    本sql没加入状态值 要作废 转EPL sql表查询对应的状态值-->
    <select id="HzBomLineRecordDaoImpl_findBomLineByPuid" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from HZ_BOM_LINE_RECORD
        where P_BOM_DIGIFAX_ID =(
        select t2.puid from Hz_Bom_Main_Record t2
        where
        t2.p_cfg0_of_which_project_puid=#{projectId,jdbcType=VARCHAR}
        ) and PUID=#{puid,jdbcType=VARCHAR}
    </select>

    <!--查询orderNum的最大值信息-->
    <select id="HzBomLineRecordDaoImpl_findMaxBomOrderNum"  resultType="int">
        select max(P_BOM_ORDER_NUM) from HZ_BOM_LINE_RECORD
    </select>

    <!--查询全部的2y或者2层的 lineindex 信息-->
    <select id="HzBomLineRecordDaoImpl_findBomLineIndex"  resultType="java.lang.String" parameterType="java.util.HashMap">
        select
        P_LINE_INDEX
        from HZ_BOM_LINE_RECORD
        where P_BOM_DIGIFAX_ID =(
        select t2.puid from Hz_Bom_Main_Record t2
        where
        t2.p_cfg0_of_which_project_puid=#{projectId,jdbcType=VARCHAR}
        ) and LENGTH(TRANSLATE(P_LINE_INDEX,',0123456789','.'))=1
    </select>

</mapper>