<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MbomLineMaintainRecord">

  <resultMap id="BaseResultMap" type="sql.pojo.bom.HzMbomRecord">
    <result column="P_PUID" jdbcType="VARCHAR" property="puid" />
    <result column="P_BOM_PUID" jdbcType="VARCHAR" property="eBomPuid" />
    <result column="P_SPARE_PART" jdbcType="VARCHAR" property="sparePart" />
    <result column="P_SPARE_PART_NUM" jdbcType="VARCHAR" property="sparePartNum" />
    <result column="P_PROCESS_ROUTE" jdbcType="VARCHAR" property="processRoute" />
    <result column="P_LABOR_HOUR" jdbcType="VARCHAR" property="laborHour" />
    <result column="P_RHYTHM" jdbcType="VARCHAR" property="rhythm" />
    <result column="P_SOLDER_JOINT" jdbcType="VARCHAR" property="solderJoint" />
    <result column="P_MACHINE_MATERIAL" jdbcType="VARCHAR" property="machineMaterial" />
    <result column="P_STANDARD_PART" jdbcType="VARCHAR" property="standardPart" />
    <result column="P_TOOLS" jdbcType="VARCHAR" property="tools" />
    <result column="P_WASTER_PRODUCT" jdbcType="VARCHAR" property="wasterProduct" />
    <result column="P_CHANGE" jdbcType="VARCHAR" property="change" />
    <result column="P_MBOM_STATUS" jdbcType="INTEGER" property="status" />
    <result column="P_CHANGE_NUM" jdbcType="VARCHAR" property="changeNum" />
    <result column="P_CREATE_TIME" jdbcType="DATE" property="createTime" />
    <result column="P_UPDATE_TIME" jdbcType="DATE" property="updateTime" />
    <result column="P_CREATE_NAME" jdbcType="VARCHAR" property="createName" />
    <result column="P_UPDATE_NAME" jdbcType="VARCHAR" property="updateName" />
  </resultMap>



  <!--查询全MBOM信息-->
  <resultMap extends="BaseResultMap" id="MbomResultMap" type="sql.pojo.bom.HzMbomLineRecord">
    <id column="PUID" jdbcType="VARCHAR" property="pPuid" />
    <result column="P_LINE_INDEX" jdbcType="VARCHAR" property="lineIndex" />
    <result column="P_BOM_LINE_IS_HAS" jdbcType="INTEGER" property="isHas" />
    <result column="P_BOM_LINE_ID" jdbcType="VARCHAR" property="lineID" />
    <result column="P_BOM_LINE_IS_2Y" jdbcType="INTEGER" property="is2Y" />
    <result column="P_BOM_OF_WHICH_DEPT" jdbcType="VARCHAR" property="pBomOfWhichDept" />
    <result column="P_PARENT_UID" jdbcType="VARCHAR" property="parentUid"/>
    <result column="P_BOM_DIGIFAX_ID" jdbcType="VARCHAR" property="bomDigifaxId"/>
    <result column="P_BOM_LINE_PUID" jdbcType="VARCHAR" property="linePuid"/>
    <result column="P_BOM_LINE_IS_PART" jdbcType="INTEGER" property="isPart"/>
    <result column="P_BOM_ORDER_NUM" jdbcType="INTEGER" property="orderNum"/>
    <result column="P_BOM_LINE_IS_DEPT" jdbcType="INTEGER" property="isDept"/>
    <result column="P_BOM_LINE_PART_NAME" jdbcType="VARCHAR" property="pBomLinePartName"/>
    <result column="P_BOM_LINE_PART_CLASS" jdbcType="VARCHAR" property="pBomLinePartClass"/>
    <result column="P_BOM_LINE_BLOCK" jdbcType="BLOB" property="bomLineBlock"/>
  </resultMap>




  <sql id="Base_Column_List">
        PUID,
		P_PARENT_UID,
		P_BOM_DIGIFAX_ID,
		P_LINE_INDEX,
		P_BOM_LINE_IS_HAS,
		P_BOM_LINE_PUID,
		P_BOM_LINE_ID,
		P_BOM_LINE_IS_2Y,
		P_BOM_LINE_IS_PART,
		P_BOM_ORDER_NUM,
		P_BOM_LINE_IS_DEPT,
		P_BOM_OF_WHICH_DEPT,
		P_BOM_LINE_PART_NAME,
		P_BOM_LINE_PART_CLASS,
		P_BOM_LINE_BLOCK
	</sql>

  <sql id="Mbom_Column_List">
    P_PUID, P_SPARE_PART, P_SPARE_PART_NUM, P_PROCESS_ROUTE, P_LABOR_HOUR, P_RHYTHM,
    P_SOLDER_JOINT, P_MACHINE_MATERITAL, P_STANDARD_PART, P_TOOLS, P_WASTER_PRODUCT,
    P_CHANGE, P_CHANGE_NUM, P_BOM_PUID, P_MBOM_STATUS, P_CREATE_TIME, P_UPDATE_TIME,
    P_CREATE_NAME, P_UPDATE_NAME
  </sql>


  <!--查询Mbom信息 分页-->
  <select id="HzMbomRecordDAOImpl_getMBomRecord" resultMap="MbomResultMap" parameterType="java.util.HashMap">
    select t.*,t6.* from HZ_BOM_LINE_RECORD t LEFT OUTER JOIN HZ_MBOM_RECORD t6 ON  t.puid = t6.P_BOM_PUID
    where t.p_bom_digifax_id=(
    select t3.puid from Hz_Bom_Main_Record t3 where t3.p_cfg0_of_which_project_puid=(
    select t2.puid from Hz_project_libs t2
    <where>
      t2.puid=#{projectId,jdbcType=VARCHAR}))
    </where>
  </select>

  <!--查询Mbom信息 总数分页-->
  <select id="HzMbomRecordDAOImpl_getTotalCount" resultType="java.lang.Integer" parameterType="java.util.HashMap">
    select count(*) from HZ_BOM_LINE_RECORD t LEFT OUTER JOIN HZ_MBOM_RECORD t6 ON  t.puid = t6.P_BOM_PUID
    where t.p_bom_digifax_id=(
    select t3.puid from Hz_Bom_Main_Record t3 where t3.p_cfg0_of_which_project_puid=(
    select t2.puid from Hz_project_libs t2
    <where>
      t2.puid=#{projectId,jdbcType=VARCHAR}))
    </where>
  </select>




  <!--模糊搜索的名称暂时没有 模糊匹配后期需要加-->
  <select id="HzMbomRecordDAOImpl_searchMbomMaintainDetail" parameterType="sql.pojo.bom.HzPbomLineRecord" resultMap="MbomResultMap">
    select
    t1.PUID,<include refid="Base_Column_List" />,t2.*
    from HZ_BOM_LINE_RECORD t1 LEFT OUTER JOIN HZ_MBOM_RECORD t2
    on t1.PUID = t2.P_BOM_PUID
    <where>
      1=1
      <if test="pBomOfWhichDept != null and  pBomOfWhichDept!='' " >
        and t1.P_BOM_OF_WHICH_DEPT = #{pBomOfWhichDept,jdbcType=VARCHAR}
      </if>
      <if test="lineID != null and  lineID!=''">
        and t1.P_BOM_LINE_ID = #{lineID,jdbcType=VARCHAR}
      </if>
      <if test="isHas != null">
        and t1.P_BOM_LINE_IS_HAS = #{isHas,jdbcType=INTEGER}
      </if>
      <if test="lineIndex != null and  lineIndex!=''">
        and length(t1.P_LINE_INDEX) = #{lineIndex,jdbcType=VARCHAR}
      </if>
    </where>
  </select>

  <!--获取一条 EBOM&MBOM信息-->
  <select id="HzMbomRecordDAOImpl_findHzMbomByPuid" resultMap="MbomResultMap" parameterType="java.util.HashMap">
    select t.*,t6.* from HZ_BOM_LINE_RECORD t LEFT OUTER JOIN HZ_MBOM_RECORD t6 ON  t.puid = T6.P_BOM_PUID
    where t.p_bom_digifax_id=(
    select t3.puid from Hz_Bom_Main_Record t3 where t3.p_cfg0_of_which_project_puid=(
    select t2.puid from Hz_project_libs t2
    <where>
      t2.puid=#{projectId,jdbcType=VARCHAR}))
      <if test="lineId != null and  lineId!='' " >
        and t.P_BOM_LINE_ID = #{lineId,jdbcType=VARCHAR}
      </if>
      <if test="pPuid != null and  pPuid!='' " >
        and t.PUID = #{pPuid,jdbcType=VARCHAR}
      </if>
    </where>
  </select>


  <!--获取一条 MBOM记录-->
  <select id="HzMbomRecordDAOImpl_findHzMbomByeBomPuid" resultMap="BaseResultMap" parameterType="java.lang.String">

    SELECT * FROM HZ_MBOM_RECORD WHERE P_BOM_PUID = #{eBomPuid,jdbcType=VARCHAR} AND P_PBOM_STATUS=1

  </select>



  <!--批量插入-->
  <insert id="HzMbomRecordDAOImpl_insertList"  useGeneratedKeys="false" parameterType="java.util.List">
    insert into HZ_MBOM_RECORD (P_PUID, P_SPARE_PART, P_SPARE_PART_NUM,
    P_PROCESS_ROUTE, P_LABOR_HOUR, P_RHYTHM,
    P_SOLDER_JOINT, P_MACHINE_MATERIAL, P_STANDARD_PART,
    P_TOOLS, P_WASTER_PRODUCT, P_CHANGE,
    P_CHANGE_NUM, P_BOM_PUID)
    <foreach collection="list" item="item" index="index"  separator="UNION ALL" >
      select
      #{item.puid,jdbcType=VARCHAR}, #{item.sparePart,jdbcType=VARCHAR}, #{item.sparePartNum,jdbcType=VARCHAR},
      #{item.processRoute,jdbcType=VARCHAR}, #{item.laborHour,jdbcType=VARCHAR}, #{item.rhythm,jdbcType=VARCHAR},
      #{item.solderJoint,jdbcType=VARCHAR}, #{item.machineMaterial,jdbcType=VARCHAR}, #{item.standardPart,jdbcType=VARCHAR},
      #{item.tools,jdbcType=VARCHAR}, #{item.wasterProduct,jdbcType=VARCHAR}, #{item.change,jdbcType=VARCHAR},
      #{item.changeNum,jdbcType=VARCHAR}, #{item.pBomPuid,jdbcType=VARCHAR}
      from DUAL
    </foreach>
  </insert>


  <!--插入数据-->
  <insert id="HzMbomRecordDAOImpl_insert" parameterType="sql.pojo.bom.HzMbomRecord">
    insert into HZ_MBOM_RECORD
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="puid != null">
        P_PUID,
      </if>
      <if test="sparePart != null">
        P_SPARE_PART,
      </if>
      <if test="sparePartNum != null">
        P_SPARE_PART_NUM,
      </if>
      <if test="processRoute != null">
        P_PROCESS_ROUTE,
      </if>
      <if test="laborHour != null">
        P_LABOR_HOUR,
      </if>
      <if test="rhythm != null">
        P_RHYTHM,
      </if>
      <if test="solderJoint != null">
        P_SOLDER_JOINT,
      </if>
      <if test="machineMaterial != null">
        P_MACHINE_MATERITAL,
      </if>
      <if test="standardPart != null">
        P_STANDARD_PART,
      </if>
      <if test="tools != null">
        P_TOOLS,
      </if>
      <if test="wasterProduct != null">
        P_WASTER_PRODUCT,
      </if>
      <if test="change != null">
        P_CHANGE,
      </if>
      <if test="changeNum != null">
        P_CHANGE_NUM,
      </if>
      <if test="eBomPuid != null">
        P_BOM_PUID,
      </if>
        P_MBOM_STATUS,
        P_CREATE_TIME,
        P_UPDATE_TIME,
      <if test="createName != null">
        P_CREATE_NAME,
      </if>
      <if test="updateName != null">
        P_UPDATE_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="puid != null">
        #{puid,jdbcType=VARCHAR},
      </if>
      <if test="sparePart != null">
        #{sparePart,jdbcType=VARCHAR},
      </if>
      <if test="sparePartNum != null">
        #{sparePartNum,jdbcType=VARCHAR},
      </if>
      <if test="processRoute != null">
        #{processRoute,jdbcType=VARCHAR},
      </if>
      <if test="laborHour != null">
        #{laborHour,jdbcType=VARCHAR},
      </if>
      <if test="rhythm != null">
        #{rhythm,jdbcType=VARCHAR},
      </if>
      <if test="solderJoint != null">
        #{solderJoint,jdbcType=VARCHAR},
      </if>
      <if test="machineMaterial != null">
        #{machineMaterial,jdbcType=VARCHAR},
      </if>
      <if test="standardPart != null">
        #{standardPart,jdbcType=VARCHAR},
      </if>
      <if test="tools != null">
        #{tools,jdbcType=VARCHAR},
      </if>
      <if test="wasterProduct != null">
        #{wasterProduct,jdbcType=VARCHAR},
      </if>
      <if test="change != null">
        #{change,jdbcType=VARCHAR},
      </if>
      <if test="changeNum != null">
        #{changeNum,jdbcType=VARCHAR},
      </if>
      <if test="eBomPuid != null">
        #{eBomPuid,jdbcType=VARCHAR},
      </if>
        1,
        sysdate,
        sysdate,
      <if test="createName != null">
        #{createName,jdbcType=VARCHAR},
      </if>
      <if test="updateName != null">
        #{updateName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>


  <!--更新数据-->
  <update id="HzMbomRecordDAOImpl_update" parameterType="sql.pojo.bom.HzMbomRecord">
    update HZ_MBOM_RECORD
    <set>
      <if test="sparePart != null">
        P_SPARE_PART = #{sparePart,jdbcType=VARCHAR},
      </if>
      <if test="sparePartNum != null">
        P_SPARE_PART_NUM = #{sparePartNum,jdbcType=VARCHAR},
      </if>
      <if test="processRoute != null">
        P_PROCESS_ROUTE = #{processRoute,jdbcType=VARCHAR},
      </if>
      <if test="laborHour != null">
        P_LABOR_HOUR = #{laborHour,jdbcType=VARCHAR},
      </if>
      <if test="rhythm != null">
        P_RHYTHM = #{rhythm,jdbcType=VARCHAR},
      </if>
      <if test="solderJoint != null">
        P_SOLDER_JOINT = #{solderJoint,jdbcType=VARCHAR},
      </if>
      <if test="machineMaterial != null">
        P_MACHINE_MATERITAL = #{machineMaterial,jdbcType=VARCHAR},
      </if>
      <if test="standardPart != null">
        P_STANDARD_PART = #{standardPart,jdbcType=VARCHAR},
      </if>
      <if test="tools != null">
        P_TOOLS = #{tools,jdbcType=VARCHAR},
      </if>
      <if test="wasterProduct != null">
        P_WASTER_PRODUCT = #{wasterProduct,jdbcType=VARCHAR},
      </if>
      <if test="change != null">
        P_CHANGE = #{change,jdbcType=VARCHAR},
      </if>
      <if test="changeNum != null">
        P_CHANGE_NUM = #{changeNum,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        P_UPDATE_TIME = sysdate,
      </if>
      <if test="updateName != null">
        P_UPDATE_NAME = #{updateName,jdbcType=VARCHAR},
      </if>
    </set>
    where P_BOM_PUID = #{eBomPuid,jdbcType=VARCHAR}
  </update>

  <!--删除数据-->
  <update id="HzMbomRecordDAOImpl_deleteByForeignId" parameterType="java.lang.String">
    update HZ_MBOM_RECORD
    set P_PBOM_STATUS = 0
    where P_BOM_PUID = #{eBomPuid,jdbcType=VARCHAR}
 </update>
</mapper>