<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MbomLineMaintainRecord">

    <resultMap id="BaseResultMap" type="sql.pojo.bom.HzMbomRecord">
        <result column="PUID" jdbcType="VARCHAR" property="puid"/>
        <result column="P_BOM_PUID" jdbcType="VARCHAR" property="eBomPuid"/>
        <result column="P_SPARE_PART" jdbcType="VARCHAR" property="sparePart"/>
        <result column="P_SPARE_PART_NUM" jdbcType="VARCHAR" property="sparePartNum"/>
        <result column="P_PROCESS_ROUTE" jdbcType="VARCHAR" property="processRoute"/>
        <result column="P_LABOR_HOUR" jdbcType="VARCHAR" property="laborHour"/>
        <result column="P_RHYTHM" jdbcType="VARCHAR" property="rhythm"/>
        <result column="P_SOLDER_JOINT" jdbcType="VARCHAR" property="solderJoint"/>
        <result column="P_MACHINE_MATERIAL" jdbcType="VARCHAR" property="machineMaterial"/>
        <result column="P_STANDARD_PART" jdbcType="VARCHAR" property="standardPart"/>
        <result column="P_TOOLS" jdbcType="VARCHAR" property="tools"/>
        <result column="P_WASTER_PRODUCT" jdbcType="VARCHAR" property="wasterProduct"/>
        <result column="P_CHANGE" jdbcType="VARCHAR" property="change"/>
        <result column="P_MBOM_STATUS" jdbcType="INTEGER" property="status"/>
        <result column="P_CHANGE_NUM" jdbcType="VARCHAR" property="changeNum"/>
        <result column="P_CREATE_TIME" jdbcType="DATE" property="createTime"/>
        <result column="P_UPDATE_TIME" jdbcType="DATE" property="updateTime"/>
        <result column="P_CREATE_NAME" jdbcType="VARCHAR" property="createName"/>
        <result column="P_UPDATE_NAME" jdbcType="VARCHAR" property="updateName"/>
    </resultMap>

    <!--查询全MBOM信息-->
    <resultMap extends="BaseResultMap" id="MbomResultMap" type="sql.pojo.bom.HzMbomLineRecord">
        <result column="P_PARENT_UID" jdbcType="VARCHAR" property="parentUid" />
        <result column="P_BOM_DIGIFAX_ID" jdbcType="VARCHAR" property="bomDigifaxId" />
        <result column="P_LINE_INDEX" jdbcType="VARCHAR" property="lineIndex" />
        <result column="P_BOM_LINE_IS_HAS" jdbcType="INTEGER" property="isHas" />
        <result column="P_BOM_LINE_PUID" jdbcType="VARCHAR" property="linePuid" />
        <result column="P_BOM_LINE_ID" jdbcType="VARCHAR" property="lineId" />
        <result column="P_BOM_LINE_IS_2Y" jdbcType="INTEGER" property="is2Y" />
        <result column="P_BOM_LINE_IS_PART" jdbcType="INTEGER" property="isPart" />
        <result column="P_BOM_LINE_IS_DEPT" jdbcType="INTEGER" property="isDept" />
        <result column="P_BOM_OF_WHICH_DEPT" jdbcType="VARCHAR" property="pBomOfWhichDept" />
        <result column="P_BOM_LINE_PART_NAME" jdbcType="VARCHAR" property="pBomLinePartName" />
        <result column="P_BOM_LINE_PART_CLASS" jdbcType="VARCHAR" property="pBomLinePartClass" />
        <result column="P_BOM_LINE_PART_EN_NAME" jdbcType="VARCHAR" property="pBomLinePartEnName" />
        <result column="P_BOM_LINE_PART_RESOURCE" jdbcType="VARCHAR" property="pBomLinePartResource" />
        <result column="P_BOM_ORDER_NUM" jdbcType="INTEGER" property="orderNum" />
        <result column="P_SORT_NUM" jdbcType="VARCHAR" property="sortNum" />
        <result column="P_COLOR_PUID" jdbcType="VARCHAR" property="colorId" />


        <result column="P_BOM_TYPE" jdbcType="INTEGER" property="pBomType" />
        <result column="P_STOCK_LOCATION" jdbcType="VARCHAR" property="pStockLocation" />
        <result column="P_FACTORY_ID" jdbcType="VARCHAR" property="pFactoryId" />
        <result column="P_LOU_LOA_FLAG" jdbcType="INTEGER" property="pLouaFlag"/>
        <!--插入配置信息 车型信息-->
        <result column="P_CFG0_MODEL_RECORD" jdbcType="VARCHAR" property="cfg0ModelRecordId"/>
        <result column="P_CFG0_DESC" jdbcType="VARCHAR" property="cfg0Desc"/>
        <result column="P_CFG0_FAMILY_NAME" jdbcType="VARCHAR" property="cfg0FamilyName"/>
        <result column="P_CFG0_FAMILY_DESC" jdbcType="VARCHAR" property="cfg0FamilyDesc"/>
        <result column="OBJECT_NAME" jdbcType="VARCHAR" property="objectName"/>
        <result column="OBJECT_DESC" jdbcType="VARCHAR" property="objectDesc"/>
        <result column="P_CFG0_MODEL_BASIC_DETAIL" jdbcType="VARCHAR" property="cfg0ModelBasicDetail"/>

        <result column="P_FACTORY_CODE" jdbcType="VARCHAR" property="factoryCode" />
    </resultMap>


    <sql id="Base_Column_List">
        PUID, P_SPARE_PART, P_SPARE_PART_NUM, P_PROCESS_ROUTE, P_LABOR_HOUR, P_RHYTHM,
        P_SOLDER_JOINT, P_MACHINE_MATERITAL, P_STANDARD_PART, P_TOOLS, P_WASTER_PRODUCT,
        P_CHANGE, P_CHANGE_NUM, P_BOM_PUID, P_MBOM_STATUS, P_CREATE_TIME, P_UPDATE_TIME,
        P_CREATE_NAME, P_UPDATE_NAME
	</sql>

    <sql id="Mbom_Column_List">
        PUID, P_SPARE_PART, P_SPARE_PART_NUM, P_PROCESS_ROUTE, P_LABOR_HOUR, P_RHYTHM,
        P_SOLDER_JOINT, P_MACHINE_MATERITAL, P_STANDARD_PART, P_TOOLS, P_WASTER_PRODUCT,
        P_CHANGE, P_CHANGE_NUM, P_BOM_PUID, P_MBOM_STATUS, P_CREATE_TIME, P_UPDATE_TIME,
        P_CREATE_NAME, P_UPDATE_NAME, P_PARENT_UID, P_BOM_DIGIFAX_ID, P_LINE_INDEX, P_BOM_LINE_IS_HAS,
        P_BOM_LINE_PUID, P_BOM_LINE_ID, P_BOM_LINE_IS_2Y, P_BOM_LINE_IS_PART, P_BOM_LINE_IS_DEPT,
        P_BOM_OF_WHICH_DEPT, P_BOM_LINE_PART_NAME, P_BOM_LINE_PART_CLASS, P_BOM_LINE_PART_EN_NAME,
        P_BOM_LINE_PART_RESOURCE, P_BOM_ORDER_NUM,P_BOM_TYPE, P_STOCK_LOCATION,P_FACTORY_ID,P_SORT_NUM,P_COLOR_PUID
  </sql>


    <!--查询Mbom信息 分页-->
    <select id="HzMbomRecordDAOImpl_getMBomRecord" resultMap="MbomResultMap" parameterType="java.util.HashMap">
        select t.*,tt.P_FACTORY_CODE from ${tableName} t
        left join HZ_FACTORY tt on t.p_factory_id = tt.puid
        and t.P_MBOM_STATUS<![CDATA[ <> ]]>0
        and tt.P_FACTORY_STATUS <![CDATA[ <> ]]>0
        where t.p_bom_digifax_id=(
        select t3.puid from Hz_Bom_Main_Record t3 where t3.p_cfg0_of_which_project_puid=(
        select t2.puid from Hz_project_libs t2
        <where>
            t2.puid=#{projectId,jdbcType=VARCHAR}))
            <if test="lineIndex != null and lineIndex!=''">
                and LENGTH(TRANSLATE(t.P_LINE_INDEX,',0123456789','.'))=#{lineIndex,jdbcType=VARCHAR}
            </if>
            <if test="isHas != null and isHas==0">
                and (t.P_BOM_LINE_IS_HAS = 0)
            </if>
            <if test="isHas != null and isHas==1">
                and t.P_BOM_LINE_IS_HAS = 1
            </if>
            <if test="lineId != null and lineId!=''">
                and t.P_BOM_LINE_ID like CONCAT(CONCAT('%',#{lineId,jdbcType=VARCHAR}),'%')
            </if>
            <if test="pBomOfWhichDept != null and  pBomOfWhichDept!='' ">
                and t.P_BOM_OF_WHICH_DEPT like CONCAT(CONCAT('%',#{pBomOfWhichDept,jdbcType=VARCHAR}),'%')
            </if>
            <if test="pBomLinePartClass != null and pBomLinePartClass!=''">
                and t.P_BOM_LINE_PART_CLASS = #{pBomLinePartClass,jdbcType=VARCHAR}
            </if>
            <if test="pBomLinePartResource != null and pBomLinePartResource!=''">
                and t.P_BOM_LINE_PART_RESOURCE = #{pBomLinePartResource,jdbcType=VARCHAR}
            </if>
            order by CAST(t.P_SORT_NUM as FLOAT),t.P_BOM_OF_WHICH_DEPT
        </where>
    </select>


    <!--查询Mbom信息 总数分页-->
    <select id="HzMbomRecordDAOImpl_getTotalCount" resultType="java.lang.Integer" parameterType="java.util.HashMap">
        select count(*) from  ${tableName} t
        where t.p_bom_digifax_id=(
        select t3.puid from Hz_Bom_Main_Record t3 where t3.p_cfg0_of_which_project_puid=(
        select t2.puid from Hz_project_libs t2
        <where>
            t2.puid=#{projectId,jdbcType=VARCHAR}))
            <if test="lineIndex != null and lineIndex!=''">
                and LENGTH(TRANSLATE(t.P_LINE_INDEX,',0123456789','.'))=#{lineIndex,jdbcType=VARCHAR}
            </if>
            <if test="isHas != null and isHas==0">
                and (t.P_BOM_LINE_IS_HAS = 0)
            </if>
            <if test="isHas != null and isHas==1">
                and t.P_BOM_LINE_IS_HAS = 1
            </if>
            <if test="lineId != null and lineId!=''">
                and t.P_BOM_LINE_ID like CONCAT(CONCAT('%',#{lineId,jdbcType=VARCHAR}),'%')
            </if>
            <if test="pBomOfWhichDept != null and  pBomOfWhichDept!='' ">
                and t.P_BOM_OF_WHICH_DEPT like CONCAT(CONCAT('%',#{pBomOfWhichDept,jdbcType=VARCHAR}),'%')
            </if>
            <if test="pBomLinePartClass != null and pBomLinePartClass!=''">
                and t.P_BOM_LINE_PART_CLASS = #{pBomLinePartClass,jdbcType=VARCHAR}
            </if>
            <if test="pBomLinePartResource != null and pBomLinePartResource!=''">
                and t.P_BOM_LINE_PART_RESOURCE = #{pBomLinePartResource,jdbcType=VARCHAR}
            </if>
            and t.P_MBOM_STATUS<![CDATA[ <> ]]>0
        </where>
    </select>

    <!-- 查找重名 -->
    <select id="HzMbomRecordDAOImpl_checkItemIdIsRepeat" parameterType="map" resultType="int">
        SELECT count(*) from HZ_MBOM_RECORD t1
        where t1.p_bom_digifax_id=(
        select t3.puid from Hz_Bom_Main_Record t3 where t3.p_cfg0_of_which_project_puid=(
        select t2.puid from Hz_project_libs t2
        <where>
            t2.puid=#{projectId,jdbcType=VARCHAR}))
            and
            t1.P_BOM_LINE_ID = #{lineId,jdbcType=VARCHAR}
            and t1.P_MBOM_STATUS <![CDATA[ <> ]]>0
        </where>
    </select>

    <!--零件号获取 MBOM-->
    <select id="HzMbomRecordDAOImpl_findMbomByItemId" resultMap="MbomResultMap" parameterType="java.util.HashMap">
        select t.* from  HZ_MBOM_RECORD t
        where t.p_bom_digifax_id=(
        select t3.puid from Hz_Bom_Main_Record t3 where t3.p_cfg0_of_which_project_puid=(
        select t2.puid from Hz_project_libs t2
        <where>
            t2.puid=#{projectId,jdbcType=VARCHAR}))
            and t.P_BOM_LINE_ID = #{lineId,jdbcType=VARCHAR}
            and t.P_MBOM_STATUS <![CDATA[ <> ]]>0
        </where>
    </select>

    <!--获取一条 MBOM信息-->
    <select id="HzMbomRecordDAOImpl_findHzMbomByPuid" resultMap="MbomResultMap" parameterType="java.util.HashMap">
        select t.* from  ${tableName} t
        where t.p_bom_digifax_id=(
        select t3.puid from Hz_Bom_Main_Record t3 where t3.p_cfg0_of_which_project_puid=(
        select t2.puid from Hz_project_libs t2
        <where>
            1=1
            <if test="projectId != null and  projectId!='' ">
                and t2.puid=#{projectId,jdbcType=VARCHAR}))
            </if>
            <if test="lineId != null and  lineId!='' ">
                and t.P_BOM_LINE_ID = #{lineId,jdbcType=VARCHAR}
            </if>
            <if test="pPuid != null and  pPuid!='' ">
                and t.P_BOM_PUID = #{pPuid,jdbcType=VARCHAR}
            </if>
            <if test="status != null ">
                and t.P_MBOM_STATUS = #{status,jdbcType=INTEGER}
            </if>
            <if test="status == null  ">
                and t.P_MBOM_STATUS <![CDATA[ <> ]]>0
            </if>
        </where>
</select>


    <!--批量插入 同步EBOM数据-->
    <insert id="HzMbomRecordDAOImpl_insertList" useGeneratedKeys="false" parameterType="java.util.List">
        insert into HZ_MBOM_RECORD (PUID,P_PARENT_UID,P_BOM_DIGIFAX_ID,P_BOM_PUID,
        P_LINE_INDEX,P_BOM_LINE_IS_HAS,P_BOM_LINE_PUID,P_BOM_LINE_ID,P_BOM_LINE_IS_2Y,
        P_BOM_LINE_IS_PART,P_BOM_LINE_IS_DEPT,P_BOM_OF_WHICH_DEPT,P_BOM_LINE_PART_NAME,
        P_BOM_LINE_PART_CLASS,P_BOM_LINE_PART_EN_NAME,P_BOM_LINE_PART_RESOURCE,P_SORT_NUM,P_MBOM_STATUS,
        P_CREATE_TIME, P_UPDATE_TIME, P_CREATE_NAME, P_UPDATE_NAME,P_COLOR_PUID)
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
            select
            #{item.puid,jdbcType=VARCHAR},#{item.parentUid,jdbcType=VARCHAR},
            #{item.bomDigifaxId,jdbcType=VARCHAR},
            #{item.eBomPuid,jdbcType=VARCHAR},
            #{item.lineIndex,jdbcType=VARCHAR},
            #{item.isHas,jdbcType=INTEGER},
            #{item.linePuid,jdbcType=VARCHAR}, #{item.lineId,jdbcType=VARCHAR}, #{item.is2Y,jdbcType=INTEGER},
            #{item.isPart,jdbcType=INTEGER}, #{item.isDept,jdbcType=INTEGER}, #{item.pBomOfWhichDept,jdbcType=VARCHAR},
            #{item.pBomLinePartName,jdbcType=VARCHAR}, #{item.pBomLinePartClass,jdbcType=VARCHAR}, #{item.pBomLinePartEnName,jdbcType=VARCHAR},
            #{item.pBomLinePartResource,jdbcType=VARCHAR},#{item.sortNum,jdbcType=VARCHAR},2,
            sysdate, sysdate, #{item.createName,jdbcType=VARCHAR},#{item.updateName,jdbcType=VARCHAR},#{item.colorId,jdbcType=VARCHAR}
            from DUAL
        </foreach>
    </insert>

    <!-- 对应属性 -->
    <insert id="HzMbomRecordDAOImpl_insert2" parameterType="sql.pojo.bom.HzMbomLineRecord">
      insert into HZ_MBOM_RECORD(
        PUID,P_PARENT_UID,P_BOM_DIGIFAX_ID,P_BOM_PUID,
        P_LINE_INDEX,P_BOM_LINE_IS_HAS,P_BOM_LINE_PUID,P_BOM_LINE_ID,P_BOM_LINE_IS_2Y,
        P_BOM_LINE_IS_PART,P_BOM_LINE_IS_DEPT,P_BOM_OF_WHICH_DEPT,P_BOM_LINE_PART_NAME,
        P_BOM_LINE_PART_CLASS,P_BOM_LINE_PART_EN_NAME,P_BOM_LINE_PART_RESOURCE,P_SORT_NUM,
        P_MBOM_STATUS,P_CREATE_TIME, P_UPDATE_TIME, P_CREATE_NAME,
        P_UPDATE_NAME
        )values (
        #{puid,jdbcType=VARCHAR},#{parentUid,jdbcType=VARCHAR},
        #{bomDigifaxId,jdbcType=VARCHAR},#{eBomPuid,jdbcType=VARCHAR},
        #{lineIndex,jdbcType=VARCHAR},#{isHas,jdbcType=INTEGER},
        #{linePuid,jdbcType=VARCHAR}, #{lineId,jdbcType=VARCHAR}, #{is2Y,jdbcType=INTEGER},
        #{isPart,jdbcType=INTEGER}, #{isDept,jdbcType=INTEGER},
        #{pBomOfWhichDept,jdbcType=VARCHAR},
        #{pBomLinePartName,jdbcType=VARCHAR}, #{pBomLinePartClass,jdbcType=VARCHAR},
         #{pBomLinePartEnName,jdbcType=VARCHAR},
        #{pBomLinePartResource,jdbcType=VARCHAR},#{sortNum,jdbcType=VARCHAR},
        #{status,jdbcType=INTEGER},
        sysdate, sysdate, #{createName,jdbcType=VARCHAR},#{updateName,jdbcType=VARCHAR}
      )
  </insert>

    <!--插入数据-->
    <insert id="HzMbomRecordDAOImpl_insert" parameterType="sql.pojo.bom.HzMbomRecord">
        insert into HZ_MBOM_RECORD
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="puid != null">
                PUID,
            </if>
            <if test="sparePart != null">
                P_SPARE_PART,
            </if>
            <if test="sparePartNum != null">
                P_SPARE_PART_NUM,
            </if>
            <if test="processRoute != null">
                P_PROCESS_ROUTE,
            </if>
            <if test="laborHour != null">
                P_LABOR_HOUR,
            </if>
            <if test="rhythm != null">
                P_RHYTHM,
            </if>
            <if test="solderJoint != null">
                P_SOLDER_JOINT,
            </if>
            <if test="machineMaterial != null">
                P_MACHINE_MATERITAL,
            </if>
            <if test="standardPart != null">
                P_STANDARD_PART,
            </if>
            <if test="tools != null">
                P_TOOLS,
            </if>
            <if test="wasterProduct != null">
                P_WASTER_PRODUCT,
            </if>
            <if test="change != null">
                P_CHANGE,
            </if>
            <if test="changeNum != null">
                P_CHANGE_NUM,
            </if>
            <if test="eBomPuid != null">
                P_BOM_PUID,
            </if>
            P_MBOM_STATUS,
            P_CREATE_TIME,
            P_UPDATE_TIME,
            <if test="createName != null">
                P_CREATE_NAME,
            </if>
            <if test="updateName != null">
                P_UPDATE_NAME,
            </if>
            <if test="sortNum != null">
                P_SORT_NUM,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="puid != null">
                #{puid,jdbcType=VARCHAR},
            </if>
            <if test="sparePart != null">
                #{sparePart,jdbcType=VARCHAR},
            </if>
            <if test="sparePartNum != null">
                #{sparePartNum,jdbcType=VARCHAR},
            </if>
            <if test="processRoute != null">
                #{processRoute,jdbcType=VARCHAR},
            </if>
            <if test="laborHour != null">
                #{laborHour,jdbcType=VARCHAR},
            </if>
            <if test="rhythm != null">
                #{rhythm,jdbcType=VARCHAR},
            </if>
            <if test="solderJoint != null">
                #{solderJoint,jdbcType=VARCHAR},
            </if>
            <if test="machineMaterial != null">
                #{machineMaterial,jdbcType=VARCHAR},
            </if>
            <if test="standardPart != null">
                #{standardPart,jdbcType=VARCHAR},
            </if>
            <if test="tools != null">
                #{tools,jdbcType=VARCHAR},
            </if>
            <if test="wasterProduct != null">
                #{wasterProduct,jdbcType=VARCHAR},
            </if>
            <if test="change != null">
                #{change,jdbcType=VARCHAR},
            </if>
            <if test="changeNum != null">
                #{changeNum,jdbcType=VARCHAR},
            </if>
            <if test="eBomPuid != null">
                #{eBomPuid,jdbcType=VARCHAR},
            </if>
            2,
            sysdate,
            sysdate,
            <if test="createName != null">
                #{createName,jdbcType=VARCHAR},
            </if>
            <if test="updateName != null">
                #{updateName,jdbcType=VARCHAR},
            </if>
            <if test="sortNum != null">
                #{sortNum,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>


    <!--更新数据-->
    <update id="HzMbomRecordDAOImpl_update" parameterType="sql.pojo.bom.HzMbomLineRecord">
        update ${tableName}
        <set>
            <if test="sparePart != null">
                P_SPARE_PART = #{sparePart,jdbcType=VARCHAR},
            </if>
            <if test="sparePartNum != null">
                P_SPARE_PART_NUM = #{sparePartNum,jdbcType=VARCHAR},
            </if>
            <if test="processRoute != null">
                P_PROCESS_ROUTE = #{processRoute,jdbcType=VARCHAR},
            </if>
            <if test="laborHour != null">
                P_LABOR_HOUR = #{laborHour,jdbcType=VARCHAR},
            </if>
            <if test="rhythm != null">
                P_RHYTHM = #{rhythm,jdbcType=VARCHAR},
            </if>
            <if test="solderJoint != null">
                P_SOLDER_JOINT = #{solderJoint,jdbcType=VARCHAR},
            </if>
            <if test="machineMaterial != null">
                P_MACHINE_MATERITAL = #{machineMaterial,jdbcType=VARCHAR},
            </if>
            <if test="standardPart != null">
                P_STANDARD_PART = #{standardPart,jdbcType=VARCHAR},
            </if>
            <if test="tools != null">
                P_TOOLS = #{tools,jdbcType=VARCHAR},
            </if>
            <if test="wasterProduct != null">
                P_WASTER_PRODUCT = #{wasterProduct,jdbcType=VARCHAR},
            </if>
            <if test="change != null">
                P_CHANGE = #{change,jdbcType=VARCHAR},
            </if>
            <if test="changeNum != null">
                P_CHANGE_NUM = #{changeNum,jdbcType=VARCHAR},
            </if>
                P_UPDATE_TIME = sysdate,

            <if test="updateName != null">
                P_UPDATE_NAME = #{updateName,jdbcType=VARCHAR},
            </if>
            <if test="parentUid != null">
                P_PARENT_UID = #{parentUid,jdbcType=VARCHAR},
            </if>
            <if test="bomDigifaxId != null">
                P_BOM_DIGIFAX_ID = #{bomDigifaxId,jdbcType=VARCHAR},
            </if>
            <if test="lineIndex != null">
                P_LINE_INDEX = #{lineIndex,jdbcType=VARCHAR},
            </if>
            <if test="isHas != null">
                P_BOM_LINE_IS_HAS = #{isHas,jdbcType=INTEGER},
            </if>
            <if test="lineId != null">
                P_BOM_LINE_ID = #{lineId,jdbcType=VARCHAR},
            </if>
            <if test="is2Y != null">
                P_BOM_LINE_IS_2Y = #{is2Y,jdbcType=INTEGER},
            </if>
            <if test="isPart != null">
                P_BOM_LINE_IS_PART = #{isPart,jdbcType=INTEGER},
            </if>
            <if test="isDept != null">
                P_BOM_LINE_IS_DEPT = #{isDept,jdbcType=INTEGER},
            </if>
            <if test="pBomOfWhichDept != null">
                P_BOM_OF_WHICH_DEPT = #{pBomOfWhichDept,jdbcType=VARCHAR},
            </if>
            <if test="pBomLinePartName != null">
                P_BOM_LINE_PART_NAME = #{pBomLinePartName,jdbcType=VARCHAR},
            </if>
            <if test="pBomLinePartClass != null">
                P_BOM_LINE_PART_CLASS = #{pBomLinePartClass,jdbcType=VARCHAR},
            </if>
            <if test="pBomLinePartEnName != null">
                P_BOM_LINE_PART_EN_NAME = #{pBomLinePartEnName,jdbcType=VARCHAR},
            </if>
            <if test="pBomLinePartResource != null">
                P_BOM_LINE_PART_RESOURCE = #{pBomLinePartResource,jdbcType=VARCHAR},
            </if>
            <if test="pBomType != null">
                P_BOM_TYPE = #{pBomType,jdbcType=INTEGER},
            </if>
            <if test="pStockLocation != null">
                P_STOCK_LOCATION = #{pStockLocation,jdbcType=VARCHAR},
            </if>
            <if test="pFactoryId != null">
                P_FACTORY_ID = #{pFactoryId,jdbcType=VARCHAR},
            </if>
            <if test="pLouaFlag != null">
                P_LOU_LOA_FLAG = #{pLouaFlag,jdbcType=INTEGER},
            </if>
        </set>
        where P_BOM_PUID = #{eBomPuid,jdbcType=VARCHAR}
       and P_MBOM_STATUS <![CDATA[ <> ]]>0
    </update>

    <!--恢复数据-->
    <update id="HzMbomRecordDAOImpl_recoverBomById" parameterType="java.lang.String">
    update HZ_MBOM_RECORD
    set P_MBOM_STATUS = 1
    where P_BOM_PUID = #{eBomPuid,jdbcType=VARCHAR}
    </update>


    <!--获取超级MBOM 车型信息 -->
    <select id="HzMbomRecordDAOImpl_getHzVehicleModelName" parameterType="java.util.HashMap" resultMap="MbomResultMap">
       select t2.OBJECT_NAME,
       t2.OBJECT_DESC,t3.p_cfg0_model_record
       from HZ_BOM_LINE_RECORD t7
       left join HZ_CFG0_OF_BOMLINE_RECORD t5 on t5.p_bomlinepuid=t7.puid
       left join Hz_Cfg0_Record t6 on t6.puid=t5.p_to_cfg0_id_of_bl
       left join HZ_CFG0_TO_MODEL_RECORD t3 on t3.p_cfg0_id_record=t6.puid
       left join Hz_Cfg0_Model_Record t2 on t2.puid=t3.p_cfg0_model_record
       left join HZ_CFG0_MAIN_RECORD t4 on t4.puid=t2.p_cfg0_model_of_main_record
       where t4.p_cfg0_of_which_project_puid=#{projectId,jdbcType=VARCHAR}
    </select>


    <!--分页获取超级MBOM数据信息-->
    <!--<select id="HzMbomRecordDAOImpl_getHzSuberMbomByPage" parameterType="java.util.HashMap" resultMap="MbomResultMap">-->
       <!--select m7.*,m6.P_CFG0_DESC,m6.P_CFG0_FAMILY_NAME,m6.P_CFG0_FAMILY_DESC,m2.OBJECT_NAME,-->
        <!--m2.OBJECT_DESC,m2.P_CFG0_MODEL_BASIC_DETAIL,m9.*-->
        <!--from HZ_BOM_LINE_RECORD m7-->
        <!--LEFT JOIN HZ_BOM_STATE m8 on m7.puid = m8.P_BOM_ID-->
        <!--LEFT OUTER JOIN HZ_MBOM_RECORD m9 ON  m7.puid = m9.P_BOM_PUID-->
        <!--left join HZ_CFG0_OF_BOMLINE_RECORD m5 on m5.p_bomlinepuid=m7.puid-->
        <!--left join Hz_Cfg0_Record m6 on m6.puid=m5.p_to_cfg0_id_of_bl-->
        <!--left join HZ_CFG0_TO_MODEL_RECORD m3 on m3.p_cfg0_id_record=m6.puid-->
        <!--left join Hz_Cfg0_Model_Record m2 on m2.puid=m3.p_cfg0_model_record-->
        <!--left join HZ_CFG0_MAIN_RECORD m4 on m4.puid=m2.p_cfg0_model_of_main_record-->
        <!--<where>-->
            <!--(m8.P_BOM_STATE is null or m8.P_BOM_STATE <![CDATA[!= ]]>2)-->
            <!--and (m9.P_MBOM_STATUS IS NULL OR m9.P_MBOM_STATUS=1)-->
            <!--<if test="lineIndex != null and lineIndex!=''">-->
                <!--and LENGTH(TRANSLATE(m7.P_LINE_INDEX,',0123456789','.'))=#{lineIndex,jdbcType=VARCHAR}-->
            <!--</if>-->
            <!--<if test="isHas != null and isHas==0">-->
                <!--and (m7.P_BOM_LINE_IS_HAS = 0 or m7.P_BOM_LINE_IS_HAS = 1)-->
            <!--</if>-->
            <!--<if test="isHas != null and isHas==1">-->
                <!--and m7.P_BOM_LINE_IS_HAS = 1-->
            <!--</if>-->
            <!--<if test="lineId != null and lineId!=''">-->
                <!--and m7.P_BOM_LINE_ID like CONCAT(CONCAT('%',#{lineId,jdbcType=VARCHAR}),'%')-->
            <!--</if>-->
            <!--<if test="pBomOfWhichDept != null and  pBomOfWhichDept!='' ">-->
                <!--and m7.P_BOM_OF_WHICH_DEPT like CONCAT(CONCAT('%',#{pBomOfWhichDept,jdbcType=VARCHAR}),'%')-->
            <!--</if>-->

        <!--</where>-->
        <!--start with m7.PUID in(-->
        <!--select t7.PUID-->
        <!--from HZ_BOM_LINE_RECORD t7-->
        <!--left join HZ_CFG0_OF_BOMLINE_RECORD t5 on t5.p_bomlinepuid=t7.puid-->
        <!--left join Hz_Cfg0_Record t6 on t6.puid=t5.p_to_cfg0_id_of_bl-->
        <!--left join HZ_CFG0_TO_MODEL_RECORD t3 on t3.p_cfg0_id_record=t6.puid-->
        <!--left join Hz_Cfg0_Model_Record t2 on t2.puid=t3.p_cfg0_model_record-->
        <!--left join HZ_CFG0_MAIN_RECORD t4 on t4.puid=t2.p_cfg0_model_of_main_record-->
        <!--<where>-->
            <!--t4.p_cfg0_of_which_project_puid=#{projectId,jdbcType=VARCHAR}-->
            <!--<if test="cfg0ModelRecordId != null and  cfg0ModelRecordId!='' ">-->
                <!--and m3.P_CFG0_MODEL_RECORD =#{cfg0ModelRecordId,jdbcType=VARCHAR}-->
            <!--</if>-->
        <!--</where>-->

        <!--)-->
        <!--connect by prior m7.PUID=m7.P_PARENT_UID-->
    <!--</select>-->




    <!--获取超级MBOM总数-->
    <!--<select id="HzMbomRecordDAOImpl_getHzSuberMbomTotalCount" parameterType="java.util.HashMap" resultType="java.lang.Integer">-->
       <!--select count(1)-->
           <!--from HZ_BOM_LINE_RECORD m7-->
       <!--LEFT JOIN HZ_BOM_STATE m8 on m7.puid = m8.P_BOM_ID-->
       <!--LEFT OUTER JOIN HZ_MBOM_RECORD m9 ON  m7.puid = m9.P_BOM_PUID-->
       <!--left join HZ_CFG0_OF_BOMLINE_RECORD m5 on m5.p_bomlinepuid=m7.puid-->
       <!--left join Hz_Cfg0_Record m6 on m6.puid=m5.p_to_cfg0_id_of_bl-->
       <!--left join HZ_CFG0_TO_MODEL_RECORD m3 on m3.p_cfg0_id_record=m6.puid-->
       <!--left join Hz_Cfg0_Model_Record m2 on m2.puid=m3.p_cfg0_model_record-->
       <!--left join HZ_CFG0_MAIN_RECORD m4 on m4.puid=m2.p_cfg0_model_of_main_record-->
    <!--<where>-->
        <!--(m8.P_BOM_STATE is null or m8.P_BOM_STATE <![CDATA[!= ]]>2)-->
        <!--and (m9.P_MBOM_STATUS IS NULL OR m9.P_MBOM_STATUS=1)-->
        <!--<if test="lineIndex != null and lineIndex!=''">-->
            <!--and LENGTH(TRANSLATE(m7.P_LINE_INDEX,',0123456789','.'))=#{lineIndex,jdbcType=VARCHAR}-->
        <!--</if>-->
        <!--<if test="isHas != null and isHas==0">-->
            <!--and (m7.P_BOM_LINE_IS_HAS = 0 or m7.P_BOM_LINE_IS_HAS = 1)-->
        <!--</if>-->
        <!--<if test="isHas != null and isHas==1">-->
            <!--and m7.P_BOM_LINE_IS_HAS = 1-->
        <!--</if>-->
        <!--<if test="lineId != null and lineId!=''">-->
            <!--and m7.P_BOM_LINE_ID like CONCAT(CONCAT('%',#{lineId,jdbcType=VARCHAR}),'%')-->
        <!--</if>-->
        <!--<if test="pBomOfWhichDept != null and  pBomOfWhichDept!='' ">-->
            <!--and m7.P_BOM_OF_WHICH_DEPT like CONCAT(CONCAT('%',#{pBomOfWhichDept,jdbcType=VARCHAR}),'%')-->
        <!--</if>-->

    <!--</where>-->
           <!--start with m7.PUID in(-->
      <!--select t7.PUID-->
      <!--from HZ_BOM_LINE_RECORD t7-->
      <!--left join HZ_CFG0_OF_BOMLINE_RECORD t5 on t5.p_bomlinepuid=t7.puid-->
      <!--left join Hz_Cfg0_Record t6 on t6.puid=t5.p_to_cfg0_id_of_bl-->
      <!--left join HZ_CFG0_TO_MODEL_RECORD t3 on t3.p_cfg0_id_record=t6.puid-->
      <!--left join Hz_Cfg0_Model_Record t2 on t2.puid=t3.p_cfg0_model_record-->
      <!--left join HZ_CFG0_MAIN_RECORD t4 on t4.puid=t2.p_cfg0_model_of_main_record-->
      <!--<where>-->
          <!--t4.p_cfg0_of_which_project_puid=#{projectId,jdbcType=VARCHAR}-->
          <!--<if test="cfg0ModelRecordId != null and  cfg0ModelRecordId!='' ">-->
              <!--and m3.P_CFG0_MODEL_RECORD =#{cfg0ModelRecordId,jdbcType=VARCHAR}-->
          <!--</if>-->
      <!--</where>-->
<!--)-->
 <!--connect by prior m7.PUID=m7.P_PARENT_UID-->
    <!--</select>-->


    <!--&lt;!&ndash;获取超级MBOM一条信息&ndash;&gt;-->
    <!--<select id="HzMbomRecordDAOImpl_getHzSuberMbomByPuid" parameterType="java.util.HashMap" resultMap="MbomResultMap">-->
       <!--select m7.*,m6.P_CFG0_DESC,m6.P_CFG0_FAMILY_NAME,m6.P_CFG0_FAMILY_DESC,m2.OBJECT_NAME,-->
           <!--m2.OBJECT_DESC,m2.P_CFG0_MODEL_BASIC_DETAIL,m9.*-->
       <!--from HZ_BOM_LINE_RECORD m7-->
       <!--LEFT JOIN HZ_BOM_STATE m8 on m7.puid = m8.P_BOM_ID-->
       <!--LEFT OUTER JOIN HZ_MBOM_RECORD m9 ON  m7.puid = m9.P_BOM_PUID-->
       <!--left join HZ_CFG0_OF_BOMLINE_RECORD m5 on m5.p_bomlinepuid=m7.puid-->
       <!--left join Hz_Cfg0_Record m6 on m6.puid=m5.p_to_cfg0_id_of_bl-->
       <!--left join HZ_CFG0_TO_MODEL_RECORD m3 on m3.p_cfg0_id_record=m6.puid-->
       <!--left join Hz_Cfg0_Model_Record m2 on m2.puid=m3.p_cfg0_model_record-->
       <!--left join HZ_CFG0_MAIN_RECORD m4 on m4.puid=m2.p_cfg0_model_of_main_record-->
    <!--<where>-->
       <!--m4.p_cfg0_of_which_project_puid=#{projectId,jdbcType=VARCHAR}-->
       <!--and (m8.P_BOM_STATE is null or m8.P_BOM_STATE <![CDATA[!= ]]>2)-->
       <!--and (m9.P_MBOM_STATUS IS NULL OR m9.P_MBOM_STATUS=1)-->
    <!--<if test="pPuid != null and  pPuid!='' ">-->
        <!--and m7.PUID = #{pPuid,jdbcType=VARCHAR}-->
    <!--</if>-->
    <!--</where>-->
    <!--</select>-->




    <!--&lt;!&ndash;获取MBOM一条信息&ndash;&gt;-->
    <!--<select id="HzMbomRecordDAOImpl_getHzMbom" parameterType="java.util.HashMap" resultMap="MbomResultMap">-->
        <!--select t.* from HZ_MBOM_RECORD t-->
        <!--where t.p_bom_digifax_id=(-->
        <!--select t3.puid from Hz_Bom_Main_Record t3 where t3.p_cfg0_of_which_project_puid=(-->
        <!--select t2.puid from Hz_project_libs t2-->
        <!--<where>-->
            <!--t2.puid = #{projectId,jdbcType=VARCHAR}))-->
            <!--<if test="parentUid != null and  parentUid!='' " >-->
                <!--and t.P_BOM_PUID = #{parentUid,jdbcType=VARCHAR}-->
            <!--</if>-->
            <!--t.P_MBOM_STATUS<![CDATA[ <> ]]>0-->
        <!--</where>-->
    <!--</select>-->

    <!--获取mbom最大排序值-->
    <select id="HzMbomRecordDAOImpl_getHzMbomMaxOrderNum" parameterType="java.lang.String" resultType="java.lang.String" >
        SELECT * FROM (
        SELECT t1.P_SORT_NUM from HZ_MBOM_RECORD t1
         where t1.P_BOM_DIGIFAX_ID =(
        select t2.puid from Hz_Bom_Main_Record t2
        where
        t2.p_cfg0_of_which_project_puid=#{projectId,jdbcType=VARCHAR}
        )order by CAST(t1.P_SORT_NUM as FLOAT) DESC)WHERE rownum = 1
    </select>


    <!--分页查询虚拟件物料主数据 所有2y层级的-->
    <select id="HzMbomRecordDAOImpl_findHz2YMbomRecord" parameterType="java.util.HashMap" resultMap="MbomResultMap">
        select * from
        (select t.*,ROWNUM as rn from
        (select
        <include refid="Mbom_Column_List" />
        from HZ_MBOM_RECORD t1
        where t1.P_BOM_DIGIFAX_ID =(
        select t2.puid from Hz_Bom_Main_Record t2
        where
        t2.p_cfg0_of_which_project_puid=#{projectId,jdbcType=VARCHAR}
        ) and P_BOM_LINE_IS_2Y=1
         and t1.P_MBOM_STATUS<![CDATA[ <> ]]>0)t
        WHERE ROWNUM &lt;=#{limit,jdbcType=INTEGER}) where rn &gt;#{offset,jdbcType=INTEGER}
    </select>


    <!--查询虚拟件物料主数据全部 所有2y层级的-->
    <select id="HzMbomRecordDAOImpl_findHz2YMbomRecordAll" parameterType="java.util.HashMap" resultMap="MbomResultMap">

        select
        <include refid="Mbom_Column_List" />
        from HZ_MBOM_RECORD t1
        where t1.P_BOM_DIGIFAX_ID =(
        select t2.puid from Hz_Bom_Main_Record t2
        where
        t2.p_cfg0_of_which_project_puid=#{projectId,jdbcType=VARCHAR}
        ) and P_BOM_LINE_IS_2Y=1
        and t1.P_MBOM_STATUS<![CDATA[ <> ]]>0

    </select>




    <!--分页查询MBOM数据 根据零件来源-->
    <select id="HzMbomRecordDAOImpl_findHzMbomByResource" parameterType="java.util.HashMap" resultMap="MbomResultMap">
        select * from
        (select t.*,ROWNUM as rn from
        (select
        <include refid="Mbom_Column_List" />
        from HZ_MBOM_RECORD t1
        where t1.P_BOM_DIGIFAX_ID =(
        select t2.puid from Hz_Bom_Main_Record t2
        where
        t2.p_cfg0_of_which_project_puid=#{projectId,jdbcType=VARCHAR}
        )
        <if test="pBomLinePartResource != null and  pBomLinePartResource!='' " >
            and t1.P_BOM_LINE_PART_RESOURCE=#{pBomLinePartResource,jdbcType=VARCHAR}
        </if>
        <if test="sparePart != null and  sparePart!='' " >
            and t1.P_SPARE_PART = #{sparePart,jdbcType=VARCHAR}
        </if>
        and t1.P_MBOM_STATUS<![CDATA[ <> ]]>0 order by CAST(t1.P_SORT_NUM as FLOAT)
        )t
        WHERE ROWNUM &lt;=#{limit,jdbcType=INTEGER}) where rn &gt;#{offset,jdbcType=INTEGER}
    </select>


    <!--查询MBOM全部 根据零件来源-->
    <select id="HzMbomRecordDAOImpl_findHzMbomByResourceAll" parameterType="java.util.HashMap" resultMap="MbomResultMap">

        select
        <include refid="Mbom_Column_List" />
        from HZ_MBOM_RECORD t1
        where t1.P_BOM_DIGIFAX_ID =(
        select t2.puid from Hz_Bom_Main_Record t2
        where
        t2.p_cfg0_of_which_project_puid=#{projectId,jdbcType=VARCHAR}
        )
        <if test="pBomLinePartResource != null and  pBomLinePartResource!='' " >
            and T1.P_BOM_LINE_PART_RESOURCE=#{pBomLinePartResource,jdbcType=VARCHAR}
        </if>
        <if test="sparePart != null and  sparePart!='' " >
            and t1.P_SPARE_PART = #{sparePart,jdbcType=VARCHAR}
        </if>
        and t1.P_MBOM_STATUS<![CDATA[ <> ]]>0

    </select>



    <!--获取MBOM结构树-->
    <select id="HzMbomRecordDAOImpl_getHzMbomTree" parameterType="java.util.HashMap" resultMap="MbomResultMap">
        select * from ${tableName} t
        where t.p_bom_digifax_id=(
        select t3.puid from Hz_Bom_Main_Record t3 where t3.p_cfg0_of_which_project_puid=(
        select t2.puid from Hz_project_libs t2
        <where>
            t2.puid = #{projectId,jdbcType=VARCHAR}))
        </where>
        start with t.P_BOM_PUID = #{puid,jdbcType=VARCHAR} and t.P_MBOM_STATUS <![CDATA[ <> ]]>0
        <if test="colorId != null and colorId !='' " >
            and t.P_COLOR_PUID =#{colorId,jdbcType=VARCHAR}
        </if>
        connect by prior t.P_BOM_PUID = t.p_parent_uid and t.P_MBOM_STATUS <![CDATA[ <> ]]>0
        <if test="colorId != null and colorId !='' " >
            and t.P_COLOR_PUID =#{colorId,jdbcType=VARCHAR}
        </if>
        order by CAST(t.P_SORT_NUM as FLOAT)
    </select>



    <!--批量删除-->
    <update id="HzMbomRecordDAOImpl_deleteList"  parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
            update update ${item.tableName}
            <set>
                P_MBOM_STATUS=0,
                P_UPDATE_TIME =sysdate
            </set>
            where P_BOM_PUID = #{item.puid,jdbcType=VARCHAR}
        </foreach>
    </update>


    <!--删除-->
    <delete id="HzMbomRecordDAOImpl_delete"  parameterType="java.lang.String">
        delete from HZ_MBOM_RECORD
        where P_BOM_PUID = #{eBomPuid,jdbcType=VARCHAR}
    </delete>

    <!--分页查询 回收站-->
    <select id="HzMbomRecordDAOImpl_getHzMbomRecycleRecord" resultMap="MbomResultMap" parameterType="java.util.HashMap">
        select * FROM
        (SELECT u.*,rownum as rn from
        (SELECT <include refid="Mbom_Column_List"/> from HZ_MBOM_RECORD
        where p_bom_digifax_id=(
        select t3.puid from Hz_Bom_Main_Record t3 where t3.p_cfg0_of_which_project_puid=(
        select t2.puid from Hz_project_libs t2
        <where>
            t2.puid=#{projectId,jdbcType=VARCHAR}))
            and (P_UPDATE_TIME BETWEEN
            (SYSDATE-7) and
            (sysdate) )and
            P_MBOM_STATUS = 0 ORDER BY P_UPDATE_TIME DESC
            )u
        </where>
        WHERE ROWNUM &lt;=#{limit,jdbcType=INTEGER}) where rn &gt;#{offset,jdbcType=INTEGER}
    </select>


    <!--查询 回收站-->
    <select id="HzMbomRecordDAOImpl_getRecycleTotalCount" resultType="java.lang.Integer" parameterType="java.util.HashMap">
        SELECT count(*) from HZ_MBOM_RECORD t1
        where t1.p_bom_digifax_id=(
        select t3.puid from Hz_Bom_Main_Record t3 where t3.p_cfg0_of_which_project_puid=(
        select t2.puid from Hz_project_libs t2
        <where>
            t2.puid=#{projectId,jdbcType=VARCHAR}))
            and( t1.P_UPDATE_TIME BETWEEN
            (SYSDATE-7) and
            (sysdate) )and
            t1.P_MBOM_STATUS = 0

        </where>
    </select>



    <!--获取MBOM 2Y层 对应的lineIndex的第一个字母最大值-->
    <select id="HzMbomRecordDAOImpl_getMaxLineIndexFirstNum" parameterType="java.lang.String" resultType="java.lang.Integer">
        select max(TO_NUMBER((substr(P_LINE_INDEX,instr(P_LINE_INDEX,'.',0),instr(P_LINE_INDEX,'.',1)-1)))) m
        from HZ_MBOM_RECORD t
        where t.p_bom_digifax_id=(
        select t3.puid from Hz_Bom_Main_Record t3 where t3.p_cfg0_of_which_project_puid=(
        select t2.puid from Hz_project_libs t2
        <where>
            t2.puid = #{projectId,jdbcType=VARCHAR}))
            and LENGTH(TRANSLATE(P_LINE_INDEX,',0123456789','.'))=1
        </where>
    </select>


    <!--找出大于当前排序号的最小排序号-->
    <select id="HzMbomRecordDAOImpl_findMinOrderNumWhichGreaterThanThisOrderNum" parameterType="java.util.HashMap" resultType="java.lang.String">
        SELECT * FROM (
        SELECT P_SORT_NUM  FROM HZ_MBOM_RECORD
        where p_bom_digifax_id=(
        select t3.puid from Hz_Bom_Main_Record t3 where t3.p_cfg0_of_which_project_puid=(
        select t2.puid from Hz_project_libs t2
        <where>
            t2.puid=#{projectId,jdbcType=VARCHAR}))
        </where>
        and P_MBOM_STATUS<![CDATA[ <> ]]>0
        and  CAST(P_SORT_NUM as FLOAT) &gt;#{sortNum,jdbcType=DOUBLE}
        ORDER BY  CAST(P_SORT_NUM as FLOAT))WHERE rownum =1
    </select>


    <!--查询全部的MBOM-->
    <select id="HzMbomRecordDAOImpl_findHzMbomAll" parameterType="java.util.HashMap" resultMap="MbomResultMap" >

        SELECT * FROM ${tableName}
        where p_bom_digifax_id=(
        select t3.puid from Hz_Bom_Main_Record t3 where t3.p_cfg0_of_which_project_puid=(
        select t2.puid from Hz_project_libs t2
        <where>
            t2.puid=#{projectId,jdbcType=VARCHAR}))
        </where>
        and P_MBOM_STATUS<![CDATA[ <> ]]>0
    </select>


    <insert id="HzMbomRecordDAOImpl_insertVO" useGeneratedKeys="false" parameterType="java.util.HashMap">
        insert  into ${tableName} (PUID,P_PARENT_UID,P_BOM_DIGIFAX_ID,P_BOM_PUID,
        P_LINE_INDEX,P_BOM_LINE_IS_HAS,P_BOM_LINE_PUID,P_BOM_LINE_ID,P_BOM_LINE_IS_2Y,
        P_BOM_LINE_IS_PART,P_BOM_LINE_IS_DEPT,P_BOM_OF_WHICH_DEPT,P_BOM_LINE_PART_NAME,
        P_BOM_LINE_PART_CLASS,P_BOM_LINE_PART_EN_NAME,P_BOM_LINE_PART_RESOURCE,P_SORT_NUM,P_MBOM_STATUS,
        P_CREATE_TIME, P_UPDATE_TIME, P_CREATE_NAME,
        P_UPDATE_NAME,P_COLOR_PUID)
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
            select
            #{item.puid,jdbcType=VARCHAR},#{item.parentUid,jdbcType=VARCHAR},
            #{item.bomDigifaxId,jdbcType=VARCHAR},
            #{item.eBomPuid,jdbcType=VARCHAR},
            #{item.lineIndex,jdbcType=VARCHAR},
            #{item.isHas,jdbcType=INTEGER},
            #{item.linePuid,jdbcType=VARCHAR}, #{item.lineId,jdbcType=VARCHAR}, #{item.is2Y,jdbcType=INTEGER},
            #{item.isPart,jdbcType=INTEGER}, #{item.isDept,jdbcType=INTEGER}, #{item.pBomOfWhichDept,jdbcType=VARCHAR},
            #{item.pBomLinePartName,jdbcType=VARCHAR}, #{item.pBomLinePartClass,jdbcType=VARCHAR}, #{item.pBomLinePartEnName,jdbcType=VARCHAR},
            #{item.pBomLinePartResource,jdbcType=VARCHAR},#{item.sortNum,jdbcType=VARCHAR},1,
            sysdate, sysdate, #{item.createName,jdbcType=VARCHAR},#{item.updateName,jdbcType=VARCHAR},#{item.colorId,jdbcType=VARCHAR}
            from DUAL
        </foreach>
    </insert>


    <!--根据层级和ebomPuid获取一条MBOM-->
    <select id="HzMbomRecordDAOImpl_findHzMbomByEbomIdAndLineIndex" parameterType="java.util.HashMap" resultMap="MbomResultMap" >
        SELECT * FROM ${tableName}

        <where>
            1=1
            <if test="puid != null and  puid!='' " >
                and P_BOM_PUID = #{puid,jdbcType=VARCHAR}
            </if>
            <if test="lineIndex != null and  lineIndex!='' " >
                and P_LINE_INDEX = #{lineIndex,jdbcType=VARCHAR}
            </if>
        </where>
        and P_MBOM_STATUS<![CDATA[ <> ]]>0
    </select>



    <!--批量更新MBOM-->
    <update id="HzMbomRecordDAOImpl_updateVO" parameterType="java.util.HashMap">
        <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
            update ${tableName}
            <set>
                P_UPDATE_TIME =sysdate,
                <if test="item.updateName != null">
                    P_UPDATE_NAME = #{item.updateName,jdbcType=VARCHAR},
                </if>
                <if test="item.parentUid != null">
                    P_PARENT_UID = #{item.parentUid,jdbcType=VARCHAR},
                </if>
                <if test="item.bomDigifaxId != null">
                    P_BOM_DIGIFAX_ID = #{item.bomDigifaxId,jdbcType=VARCHAR},
                </if>
                <if test="item.lineIndex != null">
                    P_LINE_INDEX = #{item.lineIndex,jdbcType=VARCHAR},
                </if>
                <if test="item.isHas != null">
                    P_BOM_LINE_IS_HAS = #{item.isHas,jdbcType=INTEGER},
                </if>
                <if test="item.lineId != null">
                    P_BOM_LINE_ID = #{item.lineId,jdbcType=VARCHAR},
                </if>
                <if test="item.is2Y != null">
                    P_BOM_LINE_IS_2Y = #{item.is2Y,jdbcType=INTEGER},
                </if>
                <if test="item.isPart != null">
                    P_BOM_LINE_IS_PART = #{item.isPart,jdbcType=INTEGER},
                </if>
                <if test="item.isDept != null">
                    P_BOM_LINE_IS_DEPT = #{item.isDept,jdbcType=INTEGER},
                </if>
                <if test="item.pBomOfWhichDept != null">
                    P_BOM_OF_WHICH_DEPT = #{item.pBomOfWhichDept,jdbcType=VARCHAR},
                </if>
                <if test="item.pBomLinePartName != null">
                    P_BOM_LINE_PART_NAME = #{item.pBomLinePartName,jdbcType=VARCHAR},
                </if>
                <if test="item.pBomLinePartClass != null">
                    P_BOM_LINE_PART_CLASS = #{item.pBomLinePartClass,jdbcType=VARCHAR},
                </if>
                <if test="item.pBomLinePartEnName != null">
                    P_BOM_LINE_PART_EN_NAME = #{item.pBomLinePartEnName,jdbcType=VARCHAR},
                </if>
                <if test="item.pBomLinePartResource != null">
                    P_BOM_LINE_PART_RESOURCE = #{item.pBomLinePartResource,jdbcType=VARCHAR},
                </if>
                <if test="item.pBomType != null">
                    P_BOM_TYPE = #{item.pBomType,jdbcType=INTEGER},
                </if>
                <if test="item.pStockLocation != null">
                    P_STOCK_LOCATION = #{item.pStockLocation,jdbcType=VARCHAR},
                </if>
                <if test="item.pFactoryId != null">
                    P_FACTORY_ID = #{item.pFactoryId,jdbcType=VARCHAR},
                </if>
                <if test="item.colorId != null">
                    P_COLOR_PUID = #{item.colorId,jdbcType=VARCHAR}
                </if>
            </set>
            where PUID = #{item.puid,jdbcType=VARCHAR}
        </foreach>
    </update>

    <!--删除MBOM-->
    <delete id="HzMbomRecordDAOImpl_deleteMbomList" parameterType="java.util.HashMap">
        <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
            delete ${tableName}
            where PUID = #{item.puid,jdbcType=VARCHAR}
        </foreach>
    </delete>



    <!--删除当前项目下的全部MBOM-->
    <delete id="HzMbomRecordDAOImpl_deleteMbomByProjectId" parameterType="java.util.HashMap">
            delete ${tableName}
            where p_bom_digifax_id=(
            select t3.puid from Hz_Bom_Main_Record t3 where t3.p_cfg0_of_which_project_puid=(
            select t2.puid from Hz_project_libs t2
            <where>
                t2.puid=#{projectId,jdbcType=VARCHAR}))
            </where>
    </delete>







    <!--分页获取MBOM结构树-->
    <select id="HzMbomRecordDAOImpl_getHzMbomTreeByPage" parameterType="java.util.HashMap" resultMap="MbomResultMap">
        <if test="colorIds != null">
            <if test="eBomPuids != null and eBomPuids.size()>0">
                select * from(
                select u.*,rownum as rn from (
                <foreach collection="eBomPuids" index="index" item="item" separator="union all">
                    select * from
                    (
                    select * from ${tableName} t
                    where t.p_bom_digifax_id=(
                    select t3.puid from Hz_Bom_Main_Record t3 where t3.p_cfg0_of_which_project_puid=(
                    select t2.puid from Hz_project_libs t2
                    <where>
                        t2.puid = #{projectId,jdbcType=VARCHAR}))
                    </where>
                    start with t.P_BOM_PUID = #{eBomPuids[${index}]}
                    <if test="null !=colorIds[index] and colorIds[index] !='null' " >
                        and t.P_COLOR_PUID =#{colorIds[${index}]}
                    </if>
                    and t.P_MBOM_STATUS <![CDATA[ <> ]]>0
                    connect by nocycle prior t.P_BOM_PUID = t.p_parent_uid
                    <if test="null !=colorIds[index] and colorIds[index] !='null' " >
                        and t.P_COLOR_PUID =#{colorIds[${index}]}
                    </if>
                    and t.P_MBOM_STATUS<![CDATA[ <> ]]>0
                    order by CAST(t.P_SORT_NUM as FLOAT)
                    )
                </foreach>
                ) u
                where  ROWNUM &lt;=#{limit,jdbcType=INTEGER})
                where  rn &gt;#{offset,jdbcType=INTEGER}
            </if>
        </if>
    </select>


    <!--分页获取MBOM结构树总数-->
    <select id="HzMbomRecordDAOImpl_getHzMbomTreeTotalCount" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        <if test="colorIds != null">
            <if test="eBomPuids != null and eBomPuids.size()>0">
            select sum(c) from
            (
            <foreach collection="eBomPuids" index="index" item="item" separator="union all">
                select count(*) c
                from ${tableName} t
                where t.p_bom_digifax_id=(
                select t3.puid from Hz_Bom_Main_Record t3 where t3.p_cfg0_of_which_project_puid=(
                select t2.puid from Hz_project_libs t2
                <where>
                    t2.puid = #{projectId,jdbcType=VARCHAR}))
                </where>
                start with t.P_BOM_PUID = #{eBomPuids[${index}]}
                <if test="null !=colorIds[index] and colorIds[index] !='null' " >
                    and t.P_COLOR_PUID =#{colorIds[${index}]}
                </if>
                and t.P_MBOM_STATUS <![CDATA[ <> ]]>0
                connect by nocycle prior t.P_BOM_PUID = t.p_parent_uid
                <if test="null !=colorIds[index] and colorIds[index] !='null' " >
                    and t.P_COLOR_PUID =#{colorIds[${index}]}
                </if>
                and t.P_MBOM_STATUS<![CDATA[ <> ]]>0
            </foreach>
            )
            </if>
        </if>
    </select>



</mapper>