<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HzPbomRecord">
  <resultMap id="BaseResultMap" type="sql.pojo.bom.HzPbomRecord">
    <id column="PUID" jdbcType="VARCHAR" property="puid" />
    <result column="ITEM_RESOURCE" jdbcType="VARCHAR" property="itemResource" />
    <result column="RESOURCE" jdbcType="VARCHAR" property="resource" />
    <result column="TYPE" jdbcType="DECIMAL" property="type" />
    <result column="BUY_UNIT" jdbcType="DECIMAL" property="buyUnit" />
    <result column="WORK_SHOP1" jdbcType="VARCHAR" property="workShop1" />
    <result column="WORK_SHOP2" jdbcType="VARCHAR" property="workShop2" />
    <result column="PRODUCT_LINE" jdbcType="VARCHAR" property="productLine" />
    <result column="MOULD_TYPE" jdbcType="VARCHAR" property="mouldType" />
    <result column="OUTER_PART" jdbcType="VARCHAR" property="outerPart" />
    <result column="COLOR_PART" jdbcType="DECIMAL" property="colorPart" />
    <result column="E_BOM_PUID" jdbcType="VARCHAR" property="eBomPuid" />
  </resultMap>

  <resultMap extends="BaseResultMap"  id="HzPbomLineRecord" type="sql.pojo.bom.HzPbomLineRecord">
    <id column="P_PUID" jdbcType="VARCHAR" property="pPuid" />
    <result column="P_LINE_INDEX" jdbcType="VARCHAR" property="lineIndex" />
    <result column="P_BOM_LINE_IS_HAS" jdbcType="INTEGER" property="isHas" />
    <result column="P_BOM_LINE_ID" jdbcType="VARCHAR" property="lineId" />
    <result column="P_BOM_LINE_IS_2Y" jdbcType="INTEGER" property="is2Y" />
    <result column="P_BOM_OF_WHICH_DEPT" jdbcType="VARCHAR" property="pBomOfWhichDept" />
  </resultMap>

  <sql id="Pbom_List">
    P_PUID,P_LINE_INDEX,P_BOM_LINE_IS_HAS,P_BOM_LINE_ID,P_BOM_LINE_IS_2Y,P_BOM_OF_WHICH_DEPT
  </sql>


  <sql id="Base_Column_List">
    PUID, ITEM_RESOURCE, RESOURCE, TYPE, BUY_UNIT, WORK_SHOP1, WORK_SHOP2, PRODUCT_LINE, 
    MOULD_TYPE, OUTER_PART, COLOR_PART, E_BOM_PUID
  </sql>



  <!--联表查询 EBOM PBOM信息-->
  <select id="HzPbomRecordDAOImpl_getPbomRecord" resultMap="HzPbomLineRecord">
    select
    <include refid="Pbom_List" />,t2.*
    from HZ_BOM_LINE_RECORD t1 LEFT OUTER JOIN HZ_PBOM_RECORD t2
    on t1.P_PUID = t2.E_BOM_PUID
  </select>


  <!--模糊搜索的分组号 零件号 暂时没有 模糊匹配后期需要加-->
  <select id="HzPbomRecordDAOImpl_searchPbomLineDetail" parameterType="sql.pojo.bom.HzPbomLineRecord" resultMap="HzPbomLineRecord">
    select
    <include refid="Pbom_List" />,t2.*
    from HZ_BOM_LINE_RECORD t1 LEFT OUTER JOIN HZ_PBOM_RECORD t2
    on t1.P_PUID = t2.E_BOM_PUID
  <where>
    1=1
    <if test="pBomOfWhichDept != null and  pBomOfWhichDept!='' " >
      and t1.P_BOM_OF_WHICH_DEPT = #{pBomOfWhichDept,jdbcType=VARCHAR}
    </if>
    <if test="lineID != null and  lineID!=''">
      and t1.P_BOM_LINE_ID = #{lineID,jdbcType=VARCHAR}
    </if>
    <if test="isHas != null">
    and t1.P_BOM_LINE_IS_HAS = #{isHas,jdbcType=INTEGER}
    </if>
    <if test="lineIndex != null and  lineIndex!=''">
      and length(t1.P_LINE_INDEX) = #{lineIndex,jdbcType=VARCHAR}
    </if>
  </where>
  </select>





  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from HZ_PBOM_RECORD
    where PUID = #{puid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from HZ_PBOM_RECORD
    where PUID = #{puid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="sql.pojo.bom.HzPbomRecord">
    insert into HZ_PBOM_RECORD (PUID, ITEM_RESOURCE, RESOURCE, 
      TYPE, BUY_UNIT, WORK_SHOP1, 
      WORK_SHOP2, PRODUCT_LINE, MOULD_TYPE, 
      OUTER_PART, COLOR_PART, E_BOM_PUID
      )
    values (#{puid,jdbcType=VARCHAR}, #{itemResource,jdbcType=VARCHAR}, #{resource,jdbcType=VARCHAR}, 
      #{type,jdbcType=DECIMAL}, #{buyUnit,jdbcType=DECIMAL}, #{workShop1,jdbcType=VARCHAR}, 
      #{workShop2,jdbcType=VARCHAR}, #{productLine,jdbcType=VARCHAR}, #{mouldType,jdbcType=VARCHAR}, 
      #{outerPart,jdbcType=VARCHAR}, #{colorPart,jdbcType=DECIMAL}, #{eBomPuid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="sql.pojo.bom.HzPbomRecord">
    insert into HZ_PBOM_RECORD
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="puid != null">
        PUID,
      </if>
      <if test="itemResource != null">
        ITEM_RESOURCE,
      </if>
      <if test="resource != null">
        RESOURCE,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="buyUnit != null">
        BUY_UNIT,
      </if>
      <if test="workShop1 != null">
        WORK_SHOP1,
      </if>
      <if test="workShop2 != null">
        WORK_SHOP2,
      </if>
      <if test="productLine != null">
        PRODUCT_LINE,
      </if>
      <if test="mouldType != null">
        MOULD_TYPE,
      </if>
      <if test="outerPart != null">
        OUTER_PART,
      </if>
      <if test="colorPart != null">
        COLOR_PART,
      </if>
      <if test="eBomPuid != null">
        E_BOM_PUID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="puid != null">
        #{puid,jdbcType=VARCHAR},
      </if>
      <if test="itemResource != null">
        #{itemResource,jdbcType=VARCHAR},
      </if>
      <if test="resource != null">
        #{resource,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=DECIMAL},
      </if>
      <if test="buyUnit != null">
        #{buyUnit,jdbcType=DECIMAL},
      </if>
      <if test="workShop1 != null">
        #{workShop1,jdbcType=VARCHAR},
      </if>
      <if test="workShop2 != null">
        #{workShop2,jdbcType=VARCHAR},
      </if>
      <if test="productLine != null">
        #{productLine,jdbcType=VARCHAR},
      </if>
      <if test="mouldType != null">
        #{mouldType,jdbcType=VARCHAR},
      </if>
      <if test="outerPart != null">
        #{outerPart,jdbcType=VARCHAR},
      </if>
      <if test="colorPart != null">
        #{colorPart,jdbcType=DECIMAL},
      </if>
      <if test="eBomPuid != null">
        #{eBomPuid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="sql.pojo.bom.HzPbomRecord">
    update HZ_PBOM_RECORD
    <set>
      <if test="itemResource != null">
        ITEM_RESOURCE = #{itemResource,jdbcType=VARCHAR},
      </if>
      <if test="resource != null">
        RESOURCE = #{resource,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=DECIMAL},
      </if>
      <if test="buyUnit != null">
        BUY_UNIT = #{buyUnit,jdbcType=DECIMAL},
      </if>
      <if test="workShop1 != null">
        WORK_SHOP1 = #{workShop1,jdbcType=VARCHAR},
      </if>
      <if test="workShop2 != null">
        WORK_SHOP2 = #{workShop2,jdbcType=VARCHAR},
      </if>
      <if test="productLine != null">
        PRODUCT_LINE = #{productLine,jdbcType=VARCHAR},
      </if>
      <if test="mouldType != null">
        MOULD_TYPE = #{mouldType,jdbcType=VARCHAR},
      </if>
      <if test="outerPart != null">
        OUTER_PART = #{outerPart,jdbcType=VARCHAR},
      </if>
      <if test="colorPart != null">
        COLOR_PART = #{colorPart,jdbcType=DECIMAL},
      </if>
      <if test="eBomPuid != null">
        E_BOM_PUID = #{eBomPuid,jdbcType=VARCHAR},
      </if>
    </set>
    where PUID = #{puid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="sql.pojo.bom.HzPbomRecord">
    update HZ_PBOM_RECORD
    set ITEM_RESOURCE = #{itemResource,jdbcType=VARCHAR},
      RESOURCE = #{resource,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=DECIMAL},
      BUY_UNIT = #{buyUnit,jdbcType=DECIMAL},
      WORK_SHOP1 = #{workShop1,jdbcType=VARCHAR},
      WORK_SHOP2 = #{workShop2,jdbcType=VARCHAR},
      PRODUCT_LINE = #{productLine,jdbcType=VARCHAR},
      MOULD_TYPE = #{mouldType,jdbcType=VARCHAR},
      OUTER_PART = #{outerPart,jdbcType=VARCHAR},
      COLOR_PART = #{colorPart,jdbcType=DECIMAL},
      E_BOM_PUID = #{eBomPuid,jdbcType=VARCHAR}
    where PUID = #{puid,jdbcType=VARCHAR}
  </update>
</mapper>