<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HzPbomRecord">
  <resultMap id="BaseResultMap" type="sql.pojo.bom.HzPbomRecord">
    <id column="PUID" jdbcType="VARCHAR" property="puid" />
    <result column="P_RESOURCE" jdbcType="VARCHAR" property="resource" />
    <result column="P_TYPE" jdbcType="INTEGER" property="type" />
    <result column="P_BUY_UNIT" jdbcType="INTEGER" property="buyUnit" />
    <result column="P_WORK_SHOP1" jdbcType="VARCHAR" property="workShop1" />
    <result column="P_WORK_SHOP2" jdbcType="VARCHAR" property="workShop2" />
    <result column="P_PRODUCT_LINE" jdbcType="VARCHAR" property="productLine" />
    <result column="P_MOULD_TYPE" jdbcType="VARCHAR" property="mouldType" />
    <result column="P_OUTER_PART" jdbcType="VARCHAR" property="outerPart" />
    <result column="P_COLOR_PART" jdbcType="INTEGER" property="colorPart" />
    <result column="P_STATION" jdbcType="VARCHAR" property="station" />
    <result column="P_CREATE_TIME" jdbcType="DATE" property="createTime" />
    <result column="P_UPDATE_TIME" jdbcType="DATE" property="updateTime" />
    <result column="P_CREATE_NAME" jdbcType="VARCHAR" property="createName" />
    <result column="P_UPDATE_NAME" jdbcType="VARCHAR" property="updateName" />
    <result column="P_PBOM_STATUS" jdbcType="INTEGER" property="status" />
    <result column="P_E_BOM_PUID" jdbcType="VARCHAR" property="eBomPuid" />
  </resultMap>

  <resultMap extends="BaseResultMap"  id="HzPbomLineRecord" type="sql.pojo.bom.HzPbomLineRecord">
    <result column="P_PARENT_UID" jdbcType="VARCHAR" property="parentUid" />
    <result column="P_BOM_DIGIFAX_ID" jdbcType="VARCHAR" property="bomDigifaxId" />
    <result column="P_LINE_INDEX" jdbcType="VARCHAR" property="lineIndex" />
    <result column="P_BOM_LINE_IS_HAS" jdbcType="INTEGER" property="isHas" />
    <result column="P_BOM_LINE_PUID" jdbcType="VARCHAR" property="linePuid" />
    <result column="P_BOM_LINE_ID" jdbcType="VARCHAR" property="lineId" />
    <result column="P_BOM_LINE_IS_2Y" jdbcType="INTEGER" property="is2Y" />
    <result column="P_BOM_LINE_IS_PART" jdbcType="INTEGER" property="isPart" />
    <result column="P_BOM_LINE_IS_DEPT" jdbcType="INTEGER" property="isDept" />
    <result column="P_BOM_OF_WHICH_DEPT" jdbcType="VARCHAR" property="pBomOfWhichDept" />
    <result column="P_BOM_LINE_PART_NAME" jdbcType="VARCHAR" property="pBomLinePartName" />
    <result column="P_BOM_LINE_PART_CLASS" jdbcType="VARCHAR" property="pBomLinePartClass" />
    <result column="P_BOM_LINE_PART_EN_NAME" jdbcType="VARCHAR" property="pBomLinePartEnName" />
    <result column="P_BOM_LINE_PART_RESOURCE" jdbcType="VARCHAR" property="pBomLinePartResource" />
    <result column="P_BOM_ORDER_NUM" jdbcType="INTEGER" property="orderNum" />

  </resultMap>

  <sql id="Pbom_List">
     PUID, P_RESOURCE, P_COLOR_PART, P_E_BOM_PUID, P_PBOM_STATUS, P_TYPE, P_BUY_UNIT,
    P_WORK_SHOP1, P_WORK_SHOP2, P_PRODUCT_LINE, P_MOULD_TYPE, P_OUTER_PART, P_CREATE_TIME,
    P_UPDATE_TIME, P_CREATE_NAME, P_UPDATE_NAME, P_STATION, P_PARENT_UID, P_BOM_DIGIFAX_ID,
    P_LINE_INDEX, P_BOM_LINE_IS_HAS, P_BOM_LINE_PUID, P_BOM_LINE_ID, P_BOM_LINE_IS_2Y,
    P_BOM_LINE_IS_PART, P_BOM_LINE_IS_DEPT, P_BOM_OF_WHICH_DEPT, P_BOM_LINE_PART_NAME,
    P_BOM_LINE_PART_CLASS, P_BOM_LINE_PART_EN_NAME, P_BOM_LINE_PART_RESOURCE,P_BOM_ORDER_NUM
  </sql>


  <sql id="Base_Column_List">
    PUID, P_STATION, P_RESOURCE, P_TYPE, P_BUY_UNIT, P_WORK_SHOP1, P_WORK_SHOP2, P_PRODUCT_LINE,
    P_MOULD_TYPE, P_OUTER_PART, P_COLOR_PART, P_E_BOM_PUID,P_PBOM_STATUS,P_CREATE_TIME,P_UPDATE_TIME
    P_CREATE_NAME,P_UPDATE_NAME,P_PBOM_STATUS,P_BOM_ORDER_NUM
  </sql>

  <!--联表查询  PBOM信息-->
  <select id="HzPbomRecordDAOImpl_getPbomRecord" resultMap="HzPbomLineRecord" parameterType="java.util.HashMap">
    select  t.*
    from HZ_PBOM_RECORD t
    where t.p_bom_digifax_id=(
    select t3.puid from Hz_Bom_Main_Record t3 where t3.p_cfg0_of_which_project_puid=(
    select t2.puid from Hz_project_libs t2
    <where>
      t2.puid=#{projectId,jdbcType=VARCHAR}))
      <if test="lineIndex != null and lineIndex!=''">
        and LENGTH(TRANSLATE(t.P_LINE_INDEX,',0123456789','.'))=#{lineIndex,jdbcType=VARCHAR}
      </if>
      <if test="isHas != null and isHas==0">
        and (t.P_BOM_LINE_IS_HAS = 0 or t.P_BOM_LINE_IS_HAS = 1)
      </if>
      <if test="isHas != null and isHas==1">
        and t.P_BOM_LINE_IS_HAS = 1
      </if>
      <if test="lineId != null and lineId!=''" >
        and t.P_BOM_LINE_ID like CONCAT(CONCAT('%',#{lineId,jdbcType=VARCHAR}),'%')
      </if>
      <if test="pBomOfWhichDept != null and  pBomOfWhichDept!='' " >
        and t.P_BOM_OF_WHICH_DEPT like CONCAT(CONCAT('%',#{pBomOfWhichDept,jdbcType=VARCHAR}),'%')
      </if>
      and t.P_PBOM_STATUS=1 order by P_BOM_ORDER_NUM
    </where>
  </select>


  <!--联表查询PBOM 总数-->
  <select id="HzPbomRecordDAOImpl_getTotalCount" resultType="java.lang.Integer" parameterType="java.util.HashMap">
    select  count(*)
    from HZ_PBOM_RECORD t
    where t.p_bom_digifax_id=(
    select t3.puid from Hz_Bom_Main_Record t3 where t3.p_cfg0_of_which_project_puid=(
    select t2.puid from Hz_project_libs t2
    <where>
      t2.puid=#{projectId,jdbcType=VARCHAR}))
      <if test="lineIndex != null and lineIndex!=''">
        and LENGTH(TRANSLATE(t.P_LINE_INDEX,',0123456789','.'))=#{lineIndex,jdbcType=VARCHAR}
      </if>
      <if test="isHas != null and isHas==0">
        and (t.P_BOM_LINE_IS_HAS = 0 or t.P_BOM_LINE_IS_HAS = 1)
      </if>
      <if test="isHas != null and isHas==1">
        and t.P_BOM_LINE_IS_HAS = 1
      </if>
      <if test="lineId != null and lineId!=''" >
        and t.P_BOM_LINE_ID like CONCAT(CONCAT('%',#{lineId,jdbcType=VARCHAR}),'%')
      </if>
      <if test="pBomOfWhichDept != null and  pBomOfWhichDept!='' " >
        and t.P_BOM_OF_WHICH_DEPT like CONCAT(CONCAT('%',#{pBomOfWhichDept,jdbcType=VARCHAR}),'%')
      </if>
      and t.P_PBOM_STATUS=1
    </where>
  </select>


  <!--查询PBOM子层信息-->
  <select id="HzPbomRecordDAOImpl_getHzPbomById" resultMap="HzPbomLineRecord" parameterType="java.util.HashMap">

    select t.* from HZ_PBOM_RECORD t
    where t.p_bom_digifax_id=(
    select t3.puid from Hz_Bom_Main_Record t3 where t3.p_cfg0_of_which_project_puid=(
    select t2.puid from Hz_project_libs t2
    <where>
      1=1
      <if test="projectId != null and  projectId!='' " >
         and t2.puid = #{projectId,jdbcType=VARCHAR}))
      </if>
      <if test="parentUid != null and  parentUid!='' " >
        and t.P_PARENT_UID = #{parentUid,jdbcType=VARCHAR}
      </if>
      and t.P_PBOM_STATUS=1
    </where>
  </select>



  <!--获取一条PBOM信息-->
  <select id="HzPbomRecordDAOImpl_getPbomById" resultMap="HzPbomLineRecord" parameterType="java.util.HashMap">

    select t6.* from  HZ_PBOM_RECORD t6
    where t6.p_bom_digifax_id=(
    select t3.puid from Hz_Bom_Main_Record t3 where t3.p_cfg0_of_which_project_puid=(
    select t2.puid from Hz_project_libs t2
    <where>
      1=1
      <if test="projectId != null and  projectId!='' " >
        and t2.puid = #{projectId,jdbcType=VARCHAR}))
      </if>
      <if test="lineId != null and  lineId!='' " >
        and t6.P_BOM_LINE_ID = #{lineId,jdbcType=VARCHAR}
      </if>
      <if test="pPuid != null and  pPuid!='' " >
        and t6.P_E_BOM_PUID = #{pPuid,jdbcType=VARCHAR}
      </if>
      <if test="status != null  " >
        and t6.P_PBOM_STATUS= #{status,jdbcType=INTEGER}
      </if>
      <if test="status == null " >
        and t6.P_PBOM_STATUS= 1
      </if>
    </where>
  </select>


  <!--批量插入-->
  <insert id="HzPbomRecordDAOImpl_insertList" useGeneratedKeys="false" parameterType="java.util.List">
    insert into HZ_PBOM_RECORD (PUID,P_RESOURCE, P_COLOR_PART,P_TYPE,
    P_BUY_UNIT, P_WORK_SHOP1, P_WORK_SHOP2,
    P_PRODUCT_LINE, P_MOULD_TYPE, P_OUTER_PART,
    P_CREATE_TIME, P_UPDATE_TIME, P_CREATE_NAME,
    P_UPDATE_NAME, P_STATION,P_PARENT_UID,P_BOM_DIGIFAX_ID,P_E_BOM_PUID,
    P_LINE_INDEX,P_BOM_LINE_IS_HAS,P_BOM_LINE_PUID,P_BOM_LINE_ID,P_BOM_LINE_IS_2Y,
    P_BOM_LINE_IS_PART,P_BOM_LINE_IS_DEPT,P_BOM_OF_WHICH_DEPT,P_BOM_LINE_PART_NAME,
    P_BOM_LINE_PART_CLASS,P_BOM_LINE_PART_EN_NAME,P_BOM_LINE_PART_RESOURCE,P_BOM_ORDER_NUM,P_PBOM_STATUS)
    <foreach collection="list" item="item" index="index" separator="UNION ALL">
      select
      #{item.puid,jdbcType=VARCHAR},#{item.resource,jdbcType=VARCHAR}, #{item.colorPart,jdbcType=INTEGER},
      #{item.type,jdbcType=INTEGER},#{item.buyUnit,jdbcType=INTEGER}, #{item.workShop1,jdbcType=VARCHAR},
      #{item.workShop2,jdbcType=VARCHAR},#{item.productLine,jdbcType=VARCHAR}, #{item.mouldType,jdbcType=VARCHAR},
      #{item.outerPart,jdbcType=VARCHAR},sysdate, sysdate, #{item.createName,jdbcType=VARCHAR},
      #{item.updateName,jdbcType=VARCHAR}, #{item.station,jdbcType=VARCHAR},#{item.parentUid,jdbcType=VARCHAR},
      #{item.bomDigifaxId,jdbcType=VARCHAR},#{item.eBomPuid,jdbcType=VARCHAR},#{item.lineIndex,jdbcType=VARCHAR},
      #{item.isHas,jdbcType=INTEGER},#{item.linePuid,jdbcType=VARCHAR}, #{item.lineId,jdbcType=VARCHAR}, #{item.is2Y,jdbcType=INTEGER},
      #{item.isPart,jdbcType=INTEGER}, #{item.isDept,jdbcType=INTEGER}, #{item.pBomOfWhichDept,jdbcType=VARCHAR},
      #{item.pBomLinePartName,jdbcType=VARCHAR}, #{item.pBomLinePartClass,jdbcType=VARCHAR}, #{item.pBomLinePartEnName,jdbcType=VARCHAR},
      #{item.pBomLinePartResource,jdbcType=VARCHAR}，#{item.orderNum,jdbcType=INTEGER},1
      from DUAL
    </foreach>
  </insert>


  <!--获取一条 PBOM记录-->
  <select id="HzPbomRecordDAOImpl_getHzPbomByEbomPuid" resultMap="HzPbomLineRecord" parameterType="java.util.HashMap">

    SELECT * FROM HZ_PBOM_RECORD
    where  p_bom_digifax_id=(
    select t3.puid from Hz_Bom_Main_Record t3 where t3.p_cfg0_of_which_project_puid=(
    select t2.puid from Hz_project_libs t2
    <where>
    1=1
    <if test="projectId != null and  projectId!='' " >
      and t2.puid = #{projectId,jdbcType=VARCHAR}))
    </if>
    <if test="eBomPuid != null and  eBomPuid!='' " >
      and P_E_BOM_PUID = #{eBomPuid,jdbcType=VARCHAR}
    </if>
     and P_PBOM_STATUS=1
    </where>
  </select>
  

  <!--插入-->
  <insert id="HzPbomRecordDAOImpl_insert" parameterType="sql.pojo.bom.HzPbomRecord">
    insert into HZ_PBOM_RECORD
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="puid != null">
        PUID,
      </if>
      <if test="station != null">
        P_STATION,
      </if>
      <if test="resource != null">
        P_RESOURCE,
      </if>
      <if test="type != null">
        P_TYPE,
      </if>
      <if test="buyUnit != null">
        P_BUY_UNIT,
      </if>
      <if test="workShop1 != null">
        P_WORK_SHOP1,
      </if>
      <if test="workShop2 != null">
        P_WORK_SHOP2,
      </if>
      <if test="productLine != null">
        P_PRODUCT_LINE,
      </if>
      <if test="mouldType != null">
        P_MOULD_TYPE,
      </if>
      <if test="outerPart != null">
        P_OUTER_PART,
      </if>
      <if test="colorPart != null">
        P_COLOR_PART,
      </if>
        P_CREATE_TIME,
        P_UPDATE_TIME,
      <if test="createName != null">
        P_CREATE_NAME,
      </if>
      <if test="updateName != null">
        P_UPDATE_NAME,
      </if>
      <if test="orderNum != null">
        P_BOM_ORDER_NUM,
      </if>
        P_PBOM_STATUS
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="puid != null">
        #{puid,jdbcType=VARCHAR},
      </if>
      <if test="station != null">
        #{station,jdbcType=VARCHAR},
      </if>
      <if test="resource != null">
        #{resource,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="buyUnit != null">
        #{buyUnit,jdbcType=INTEGER},
      </if>
      <if test="workShop1 != null">
        #{workShop1,jdbcType=VARCHAR},
      </if>
      <if test="workShop2 != null">
        #{workShop2,jdbcType=VARCHAR},
      </if>
      <if test="productLine != null">
        #{productLine,jdbcType=VARCHAR},
      </if>
      <if test="mouldType != null">
        #{mouldType,jdbcType=VARCHAR},
      </if>
      <if test="outerPart != null">
        #{outerPart,jdbcType=VARCHAR},
      </if>
      <if test="colorPart != null">
        #{colorPart,jdbcType=INTEGER},
      </if>
      sysdate,
      sysdate,
      <if test="createName != null">
          #{createName,jdbcType=VARCHAR},
      </if>
      <if test="updateName != null">
          #{updateName,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null">
        #{orderNum,jdbcType=VARCHAR},
      </if>
      1
    </trim>
  </insert>

  <!--更新-->
  <update id="HzPbomRecordDAOImpl_update" parameterType="sql.pojo.bom.HzPbomLineRecord">
    update HZ_PBOM_RECORD
    <set>
      <if test="resource != null">
        P_RESOURCE = #{resource,jdbcType=VARCHAR},
      </if>
      <if test="colorPart != null">
        P_COLOR_PART = #{colorPart,jdbcType=DECIMAL},
      </if>
      <if test="type != null">
        P_TYPE = #{type,jdbcType=DECIMAL},
      </if>
      <if test="buyUnit != null">
        P_BUY_UNIT = #{buyUnit,jdbcType=DECIMAL},
      </if>
      <if test="workShop1 != null">
        P_WORK_SHOP1 = #{workShop1,jdbcType=VARCHAR},
      </if>
      <if test="workShop2 != null">
        P_WORK_SHOP2 = #{workShop2,jdbcType=VARCHAR},
      </if>
      <if test="productLine != null">
        P_PRODUCT_LINE = #{productLine,jdbcType=VARCHAR},
      </if>
      <if test="mouldType != null">
        P_MOULD_TYPE = #{mouldType,jdbcType=VARCHAR},
      </if>
      <if test="outerPart != null">
        P_OUTER_PART = #{outerPart,jdbcType=VARCHAR},
      </if>

        P_UPDATE_TIME =sysdate,

      <if test="updateName != null">
        P_UPDATE_NAME = #{updateName,jdbcType=VARCHAR},
      </if>
      <if test="station != null">
        P_STATION = #{station,jdbcType=VARCHAR},
      </if>
      <if test="parentUid != null">
        P_PARENT_UID = #{parentUid,jdbcType=VARCHAR},
      </if>
      <if test="bomDigifaxId != null">
        P_BOM_DIGIFAX_ID = #{bomDigifaxId,jdbcType=VARCHAR},
      </if>
      <if test="lineIndex != null">
        P_LINE_INDEX = #{lineIndex,jdbcType=VARCHAR},
      </if>
      <if test="isHas != null">
        P_BOM_LINE_IS_HAS = #{isHas,jdbcType=DECIMAL},
      </if>

      <if test="lineId != null">
        P_BOM_LINE_ID = #{lineId,jdbcType=VARCHAR},
      </if>
      <if test="is2Y != null">
        P_BOM_LINE_IS_2Y = #{is2Y,jdbcType=DECIMAL},
      </if>
      <if test="isPart != null">
        P_BOM_LINE_IS_PART = #{isPart,jdbcType=DECIMAL},
      </if>
      <if test="isDept != null">
        P_BOM_LINE_IS_DEPT = #{isDept,jdbcType=DECIMAL},
      </if>
      <if test="pBomOfWhichDept != null">
        P_BOM_OF_WHICH_DEPT = #{pBomOfWhichDept,jdbcType=VARCHAR},
      </if>
      <if test="pBomLinePartName != null">
        P_BOM_LINE_PART_NAME = #{pBomLinePartName,jdbcType=VARCHAR},
      </if>
      <if test="pBomLinePartClass != null">
        P_BOM_LINE_PART_CLASS = #{pBomLinePartClass,jdbcType=VARCHAR},
      </if>
      <if test="pBomLinePartEnName != null">
        P_BOM_LINE_PART_EN_NAME = #{pBomLinePartEnName,jdbcType=VARCHAR},
      </if>
      <if test="pBomLinePartResource != null">
        P_BOM_LINE_PART_RESOURCE = #{pBomLinePartResource,jdbcType=VARCHAR}
      </if>
    </set>
    where P_E_BOM_PUID = #{eBomPuid,jdbcType=VARCHAR}
    and P_PBOM_STATUS = 1
  </update>


<!--恢复一条记录-->
  <update id="HzPbomRecordDAOImpl_recoverBomById" parameterType="java.lang.String">
    update HZ_PBOM_RECORD
    set P_PBOM_STATUS = 1
    where P_E_BOM_PUID = #{eBomPuid,jdbcType=VARCHAR}
 </update>

  <!--查询最大排序号-->
  <select id="HzPbomRecordDAOImpl_findMaxOrderNum" resultType="java.lang.Integer">
    select max(P_BOM_ORDER_NUM) from HZ_PBOM_RECORD
 </select>

    <!--获取PBOM结构树-->
<select id="HzPbomRecordDAOImpl_getHzPbomTree" parameterType="java.util.HashMap" resultMap="HzPbomLineRecord">
    select * from HZ_PBOM_RECORD t
    where t.p_bom_digifax_id=(
    select t3.puid from Hz_Bom_Main_Record t3 where t3.p_cfg0_of_which_project_puid=(
    select t2.puid from Hz_project_libs t2
    <where>
      t2.puid = #{projectId,jdbcType=VARCHAR}))
    </where>
    start with t.P_E_BOM_PUID = #{puid,jdbcType=VARCHAR} and t.P_PBOM_STATUS = 1
    connect by prior t.P_E_BOM_PUID = t.p_parent_uid and t.P_PBOM_STATUS = 1
</select>

  <!--获取PBOM 2Y层 对应的lineIndex的第一个字母最大值-->
  <select id="HzPbomRecordDAOImpl_getMaxLineIndexFirstNum" parameterType="java.lang.String" resultType="java.lang.Integer">
    select max(substr(P_LINE_INDEX,1,1)) from HZ_PBOM_RECORD t
    where t.p_bom_digifax_id=(
    select t3.puid from Hz_Bom_Main_Record t3 where t3.p_cfg0_of_which_project_puid=(
    select t2.puid from Hz_project_libs t2
    <where>
      t2.puid = #{projectId,jdbcType=VARCHAR}))
      and LENGTH(TRANSLATE(P_LINE_INDEX,',0123456789','.'))=1
    </where>
  </select>


  <!-- 查找重名 -->
  <select id="HzPbomRecordDAOImpl_checkItemIdIsRepeat" parameterType="map" resultType="int">
    SELECT count(*) from HZ_PBOM_RECORD t1
    where t1.p_bom_digifax_id=(
    select t3.puid from Hz_Bom_Main_Record t3 where t3.p_cfg0_of_which_project_puid=(
    select t2.puid from Hz_project_libs t2
    <where>
      t2.puid=#{projectId,jdbcType=VARCHAR}))
      and
      t1.P_BOM_LINE_ID = #{lineId,jdbcType=VARCHAR}
      and t1.P_PBOM_STATUS = 1
    </where>
  </select>

  <!--批量删除-->
  <update id="HzPbomRecordDAOImpl_deleteList"  parameterType="java.util.List">
    <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
      update HZ_PBOM_RECORD
      <set>
        P_PBOM_STATUS=0,
        P_UPDATE_TIME =sysdate
      </set>
      where P_E_BOM_PUID = #{item.eBomPuid,jdbcType=VARCHAR}
    </foreach>
  </update>




    <!--分页查询 回收站-->
    <select id="HzPbomRecordDAOImpl_getHzPbomRecycleRecord" resultMap="HzPbomLineRecord" parameterType="java.util.HashMap">
        select * FROM
        (SELECT u.*,rownum as rn from
        (SELECT <include refid="Pbom_List"/> from HZ_PBOM_RECORD
        where p_bom_digifax_id=(
        select t3.puid from Hz_Bom_Main_Record t3 where t3.p_cfg0_of_which_project_puid=(
        select t2.puid from Hz_project_libs t2
        <where>
            t2.puid=#{projectId,jdbcType=VARCHAR}))
            and (P_UPDATE_TIME BETWEEN
            (SYSDATE-7) and
            (sysdate)) and
            P_PBOM_STATUS = 0 ORDER BY P_UPDATE_TIME DESC
            )u
        </where>
        WHERE ROWNUM &lt;=#{limit,jdbcType=INTEGER}) where rn &gt;#{offset,jdbcType=INTEGER}
    </select>


    <!--查询 回收站-->
    <select id="HzPbomRecordDAOImpl_getRecycleTotalCount" resultType="java.lang.Integer" parameterType="java.util.HashMap">
        SELECT count(*) from HZ_PBOM_RECORD t1
        where t1.p_bom_digifax_id=(
        select t3.puid from Hz_Bom_Main_Record t3 where t3.p_cfg0_of_which_project_puid=(
        select t2.puid from Hz_project_libs t2
        <where>
            t2.puid=#{projectId,jdbcType=VARCHAR}))
            and (t1.P_UPDATE_TIME BETWEEN
            (SYSDATE-7) and
            (sysdate)) and
            t1.P_PBOM_STATUS = 0
        </where>
    </select>
</mapper>