<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.net.connor.hozon.dao.dao.change.breakpoint.HzBreakPointDao">
    <resultMap id="BaseResultMap" type="cn.net.connor.hozon.dao.pojo.integration.HzBreakPoint">
        <id column="PID" jdbcType="DECIMAL" property="pid"/>
        <result column="P_PACKNO" jdbcType="VARCHAR" property="packNo"/>
        <result column="P_ITEM" jdbcType="VARCHAR" property="item"/>
        <result column="P_TCECN" jdbcType="VARCHAR" property="tcEcn"/>
        <result column="P_ECN" jdbcType="VARCHAR" property="ecn"/>
        <result column="P_DATE" jdbcType="VARCHAR" property="breakDate"/>
        <result column="P_OECN" jdbcType="VARCHAR" property="preEcn"/>
        <result column="P_ODATE" jdbcType="VARCHAR" property="preEcnFinishDate"/>
        <result column="P_VIN" jdbcType="VARCHAR" property="startVin"/>
        <result column="P_USER" jdbcType="VARCHAR" property="executeUserNo"/>
        <result column="P_CDATE" jdbcType="VARCHAR" property="breakHandleDate"/>
        <result column="P_CTIME" jdbcType="VARCHAR" property="breakHandlerTime"/>
        <result column="P_RESERVE1" jdbcType="VARCHAR" property="reserve1"/>
        <result column="P_RESERVE2" jdbcType="VARCHAR" property="reserve2"/>
        <result column="P_RESERVE3" jdbcType="VARCHAR" property="reserve3"/>
        <result column="P_RESERVE4" jdbcType="VARCHAR" property="reserve4"/>
        <result column="P_RESERVE5" jdbcType="VARCHAR" property="reserve5"/>
        <result column="FEEDBACK_TIME" jdbcType="TIMESTAMP" property="feedbackTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    PID, P_PACKNO, P_ITEM, P_TCECN, P_ECN, P_DATE, P_OECN, P_ODATE, P_VIN, P_USER, P_CDATE, 
    P_CTIME, P_RESERVE1, P_RESERVE2, P_RESERVE3, P_RESERVE4, P_RESERVE5, FEEDBACK_TIME
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from HZ_BREAKPOINT
        where PID = #{pid,jdbcType=DECIMAL}
    </select>

    <!--分页：当前页数据-->
    <select id="selectByQueryObject" parameterType="cn.net.connor.hozon.dao.query.change.breakPoint.BreakPointQuery"
            resultMap="BaseResultMap">
        <!--select
        <include refid="Base_Column_List"/>
        from HZ_BREAKPOINT ORDER BY PID-->

        select
        <include refid="Base_Column_List"/>
        from
        ( select
        <include refid="Base_Column_List"/>,
        ROWNUM as rowno
        from HZ_BREAKPOINT
        <where>
            1=1
            <if test="P_TCECN!=null and P_TCECN !='' ">
                and P_TCECN=#{P_TCECN}
            </if>
            <if test="P_ECN!=null and P_ECN !=''">
                and P_ECN=#{P_ECN}
            </if>
            <if test="P_USER!=null and P_USER !=''">
                and P_USER=#{P_USER}
            </if>
            -- 精确到天
            <if test="P_CTIME!=null and P_CTIME !=''">
                and trunc(FEEDBACK_TIME,'dd')=to_date(#{P_CTIME},'yyyy-mm-dd')
            </if>
            <if test="limit!=null and  page!=null">
                and ROWNUM &lt;= ${page}*${limit}
            </if>
        </where>
        ) temp
        <if test="offset!=null">
            where temp.rowno &gt;= ${offset}+1
        </if>
        <if test="sort!=null">
            order by ${sort}
        </if>
        <if test="order!=null">
            ${order}
        </if>
        <if test="order==null">
            ASC
        </if>
    </select>

    <!--返回断点信息总数-->
    <select id="count" resultType="java.lang.Long">
        select count(*) from HZ_BREAKPOINT
    </select>

    <delete id="deleteByPrimaryKey" parameterType="cn.net.connor.hozon.dao.pojo.integration.HzBreakPoint">
    delete from HZ_BREAKPOINT
    where PID = #{pid,jdbcType=DECIMAL}
  </delete>
    <insert id="insert" parameterType="cn.net.connor.hozon.dao.pojo.integration.HzBreakPoint">
    insert into HZ_BREAKPOINT (PID, P_PACKNO, P_ITEM, 
      P_TCECN, P_ECN, P_DATE, 
      P_OECN, P_ODATE, P_VIN, 
      P_USER, P_CDATE, P_CTIME, 
      P_RESERVE1, P_RESERVE2, P_RESERVE3, 
      P_RESERVE4, P_RESERVE5, FEEDBACK_TIME
      )
    values (#{pid,jdbcType=DECIMAL}, #{packNo,jdbcType=VARCHAR}, #{item,jdbcType=VARCHAR},
      #{tcEcn,jdbcType=VARCHAR}, #{ecn,jdbcType=VARCHAR}, #{breakDate,jdbcType=VARCHAR},
      #{preEcn,jdbcType=VARCHAR}, #{preEcnFinishDate,jdbcType=VARCHAR}, #{startVin,jdbcType=VARCHAR},
      #{executeUserNo,jdbcType=VARCHAR}, #{breakHandleDate,jdbcType=VARCHAR}, #{breakHandlerTime,jdbcType=VARCHAR},
      #{reserve1,jdbcType=VARCHAR}, #{reserve2,jdbcType=VARCHAR}, #{reserve3,jdbcType=VARCHAR},
      #{reserve4,jdbcType=VARCHAR}, #{reserve5,jdbcType=VARCHAR}, #{feedbackTime,jdbcType=TIMESTAMP}
      )
  </insert>
    <insert id="insertSelective" parameterType="cn.net.connor.hozon.dao.pojo.integration.HzBreakPoint">
        insert into HZ_BREAKPOINT
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pid != null">
                PID,
            </if>
            <if test="packNo != null">
                P_PACKNO,
            </if>
            <if test="item != null">
                P_ITEM,
            </if>
            <if test="tcEcn != null">
                P_TCECN,
            </if>
            <if test="ecn != null">
                P_ECN,
            </if>
            <if test="breakDate != null">
                P_DATE,
            </if>
            <if test="preEcn != null">
                P_OECN,
            </if>
            <if test="preEcnFinishDate != null">
                P_ODATE,
            </if>
            <if test="startVin != null">
                P_VIN,
            </if>
            <if test="executeUserNo != null">
                P_USER,
            </if>
            <if test="breakHandleDate != null">
                P_CDATE,
            </if>
            <if test="breakHandlerTime != null">
                P_CTIME,
            </if>
            <if test="reserve1 != null">
                P_RESERVE1,
            </if>
            <if test="reserve2 != null">
                P_RESERVE2,
            </if>
            <if test="reserve3 != null">
                P_RESERVE3,
            </if>
            <if test="reserve4 != null">
                P_RESERVE4,
            </if>
            <if test="reserve5 != null">
                P_RESERVE5,
            </if>
            <if test="feedbackTime != null">
                FEEDBACK_TIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pid != null">
                #{pid,jdbcType=DECIMAL},
            </if>
            <if test="packNo != null">
                #{packNo,jdbcType=VARCHAR},
            </if>
            <if test="item != null">
                #{item,jdbcType=VARCHAR},
            </if>
            <if test="tcEcn != null">
                #{tcEcn,jdbcType=VARCHAR},
            </if>
            <if test="ecn != null">
                #{ecn,jdbcType=VARCHAR},
            </if>
            <if test="breakDate != null">
                #{breakDate,jdbcType=VARCHAR},
            </if>
            <if test="preEcn != null">
                #{preEcn,jdbcType=VARCHAR},
            </if>
            <if test="preEcnFinishDate != null">
                #{preEcnFinishDate,jdbcType=VARCHAR},
            </if>
            <if test="startVin != null">
                #{startVin,jdbcType=VARCHAR},
            </if>
            <if test="executeUserNo != null">
                #{executeUserNo,jdbcType=VARCHAR},
            </if>
            <if test="breakHandleDate != null">
                #{breakHandleDate,jdbcType=VARCHAR},
            </if>
            <if test="breakHandlerTime != null">
                #{breakHandlerTime,jdbcType=VARCHAR},
            </if>
            <if test="reserve1 != null">
                #{reserve1,jdbcType=VARCHAR},
            </if>
            <if test="reserve2 != null">
                #{reserve2,jdbcType=VARCHAR},
            </if>
            <if test="reserve3 != null">
                #{reserve3,jdbcType=VARCHAR},
            </if>
            <if test="reserve4 != null">
                #{reserve4,jdbcType=VARCHAR},
            </if>
            <if test="reserve5 != null">
                #{reserve5,jdbcType=VARCHAR},
            </if>
            <if test="feedbackTime != null">
                #{feedbackTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.net.connor.hozon.dao.pojo.integration.HzBreakPoint">
        update HZ_BREAKPOINT
        <set>
            <if test="packNo != null">
                P_PACKNO = #{packNo,jdbcType=VARCHAR},
            </if>
            <if test="item != null">
                P_ITEM = #{item,jdbcType=VARCHAR},
            </if>
            <if test="tcEcn != null">
                P_TCECN = #{tcEcn,jdbcType=VARCHAR},
            </if>
            <if test="ecn != null">
                P_ECN = #{ecn,jdbcType=VARCHAR},
            </if>
            <if test="breakDate != null">
                P_DATE = #{breakDate,jdbcType=VARCHAR},
            </if>
            <if test="preEcn != null">
                P_OECN = #{preEcn,jdbcType=VARCHAR},
            </if>
            <if test="preEcnFinishDate != null">
                P_ODATE = #{preEcnFinishDate,jdbcType=VARCHAR},
            </if>
            <if test="startVin != null">
                P_VIN = #{startVin,jdbcType=VARCHAR},
            </if>
            <if test="executeUserNo != null">
                P_USER = #{executeUserNo,jdbcType=VARCHAR},
            </if>
            <if test="breakHandleDate != null">
                P_CDATE = #{breakHandleDate,jdbcType=VARCHAR},
            </if>
            <if test="breakHandlerTime != null">
                P_CTIME = #{breakHandlerTime,jdbcType=VARCHAR},
            </if>
            <if test="reserve1 != null">
                P_RESERVE1 = #{reserve1,jdbcType=VARCHAR},
            </if>
            <if test="reserve2 != null">
                P_RESERVE2 = #{reserve2,jdbcType=VARCHAR},
            </if>
            <if test="reserve3 != null">
                P_RESERVE3 = #{reserve3,jdbcType=VARCHAR},
            </if>
            <if test="reserve4 != null">
                P_RESERVE4 = #{reserve4,jdbcType=VARCHAR},
            </if>
            <if test="reserve5 != null">
                P_RESERVE5 = #{reserve5,jdbcType=VARCHAR},
            </if>
            <if test="feedbackTime != null">
                FEEDBACK_TIME = #{feedbackTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where PID = #{pid,jdbcType=DECIMAL}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.net.connor.hozon.dao.pojo.integration.HzBreakPoint">
    update HZ_BREAKPOINT
    set P_PACKNO = #{packNo,jdbcType=VARCHAR},
      P_ITEM = #{item,jdbcType=VARCHAR},
      P_TCECN = #{tcEcn,jdbcType=VARCHAR},
      P_ECN = #{ecn,jdbcType=VARCHAR},
      P_DATE = #{breakDate,jdbcType=VARCHAR},
      P_OECN = #{preEcn,jdbcType=VARCHAR},
      P_ODATE = #{preEcnFinishDate,jdbcType=VARCHAR},
      P_VIN = #{startVin,jdbcType=VARCHAR},
      P_USER = #{executeUserNo,jdbcType=VARCHAR},
      P_CDATE = #{breakHandleDate,jdbcType=VARCHAR},
      P_CTIME = #{breakHandlerTime,jdbcType=VARCHAR},
      P_RESERVE1 = #{reserve1,jdbcType=VARCHAR},
      P_RESERVE2 = #{reserve2,jdbcType=VARCHAR},
      P_RESERVE3 = #{reserve3,jdbcType=VARCHAR},
      P_RESERVE4 = #{reserve4,jdbcType=VARCHAR},
      P_RESERVE5 = #{reserve5,jdbcType=VARCHAR},
      FEEDBACK_TIME = #{feedbackTime,jdbcType=TIMESTAMP}
    where PID = #{pid,jdbcType=DECIMAL}
  </update>
</mapper>