<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
<form id="modelForm" role="form" method="post" action="/hozon/colorSet/add">
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label for="pModelName">模型名称</label>
                <input class="form-control" id="pModelName" name="pModelName" type="text"
                       placeholder="请输入模型名称"
                />
            </div>
            <div class="form-group">
                <label for="pModelDesc">模型描述</label>
                <input class="form-control" id="pModelDesc" name="pModelDesc" type="text"
                       placeholder="请输入模型描述"/>
            </div>
            <div class="form-group">
                <label for="pModelSaleArea">销售地区</label>
                <input class="form-control" id="pModelSaleArea" name="pModelSaleArea" type="text"
                       placeholder="请输入销售地区"/>
            </div>
            <div class="form-group">
                <label for="pModelBrand">品牌</label>
                <input class="form-control" id="pModelBrand" name="pModelBrand" type="text"
                       placeholder="请输入品牌"/>
            </div>
            <div class="form-group">
                <label for="pModelVehicle">车辆</label>
                <input class="form-control" id="pModelVehicle" name="pModelVehicle" type="text"
                       placeholder="请输入车辆"/>
            </div>
            <div class="form-group">
                <label for="pModelPlatform">平台</label>
                <input class="form-control" id="pModelPlatform" name="pModelPlatform" type="text"
                       placeholder="请输入平台"/>
            </div>
            <div class="form-group">
                <label for="pModelMod">车型</label>
                <input class="form-control" id="pModelMod" name="pModelMod" type="text"
                       placeholder="请输入车型"/>
            </div>
            <div class="form-group">
                <label for="pModelTransform">变型</label>
                <input class="form-control" id="pModelTransform" name="pModelTransform" type="text"
                       placeholder="请输入变型"/>
            </div>
            <div class="form-group">
                <label for="pModelAnnual">年型</label>
                <input class="form-control" id="pModelAnnual" name="pModelAnnual" type="text"
                       placeholder="请输入年型"/>
            </div>
            <div class="form-group">
                <label for="pModelVersion">版型</label>
                <input class="form-control" id="pModelVersion" name="pModelVersion" type="text"
                       placeholder="请输入版型"/>
            </div>
            <div class="form-group">
                <label for="pModelDriverPosition">老司机位置</label>
                <input class="form-control" id="pModelDriverPosition" name="pModelDriverPosition" type="text"
                       placeholder="请输入老司机位置"/>
            </div>
            <div class="form-group">
                <label for="pModelMembers">乘客位置</label>
                <input class="form-control" id="pModelMembers" name="pModelMembers" type="text"
                       placeholder="请输入乘客位置"/>
            </div>
            <div class="form-group">
                <label for="pModelShape">车身形式</label>
                <input class="form-control" id="pModelShape" name="pModelShape" type="text"
                       placeholder="请输入车身形式"/>
            </div>
            <div class="form-group">
                <label for="pModelAnnouncement">公告</label>
                <input class="form-control" id="pModelAnnouncement" name="pModelAnnouncement" type="text"
                       placeholder="请输入公告"/>
            </div>
            <div class="form-group">
                <label for="pModelPowers">动总</label>
                <input class="form-control" id="pModelPowers" name="pModelPowers" type="text"
                       placeholder="请输入动总"/>
            </div>
            <div class="form-group">
                <label for="pModelCfgVersion">配置版本</label>
                <input class="form-control" id="pModelCfgVersion" name="pModelCfgVersion" type="text"
                       placeholder="请输入配置版本"/>
            </div>
            <div class="form-group">
                <label for="pModelCfgDesc">配置描述</label>
                <input class="form-control" id="pModelCfgDesc" name="pModelCfgDesc" type="text"
                       placeholder="请输入配置描述"/>
            </div>
            <div class="form-group">
                <label for="pModelTrailNum">试制号</label>
                <input class="form-control" id="pModelTrailNum" name="pModelTrailNum" type="text"
                       placeholder="请输入试制号"/>
            </div>
            <div class="form-group">
                <label for="pModelGoodsNum">商品号</label>
                <input class="form-control" id="pModelGoodsNum" name="pModelGoodsNum" type="text"
                       placeholder="请输入商品号"/>
            </div>
        </div>
        <div class="col-md-5" style="margin-top: 10px;">
            <input type="hidden" name=""/>
            <ul class="" style="width:200px; overflow:auto;"></ul>
        </div>
    </div>
</form>
<script th:inline="javascript">
    <![CDATA[
    $(function () {
        $('#colorForm').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                pColorOfSet: {
                    message: '颜色系列名称验证失败',
                    validators: {
                        notEmpty: {
                            message: '颜色系列名称不能为空'
                        }
                    }
                },
                pColorName: {
                    message: '颜色名称验证失败',
                    validators: {
                        notEmpty: {
                            message: '颜色名称不能为空'
                        }
                    }
                },
                pColorCode: {
                    message: '颜色代号验证失败',
                    validators: {
                        notEmpty: {
                            message: '颜色代号不能为空'
                        }
                    }
                }
            }
        });
        // 绑定dialog的确定按钮的监听事件
        $("#btnOk", window.top.document).click(function () {
            var bootstrapValidator = $("#colorForm", window.top.document).data('bootstrapValidator');
            bootstrapValidator.validate();
            if (bootstrapValidator.isValid()) {
                var url = $("#colorForm", window.top.document).attr('action');
                var myData = JSON.stringify({
                    "pColorCode": $("#pColorCode").val(),
                    "pColorComment": $("#pColorComment").val(),
                    "pColorName": $("#pColorName").val(),
                    "pColorOfSet": $("#pColorOfSet").val(),
                    "puid": $("#puid").val()
                });
                $.ajax({
                    contentType:
                        "application/json",
                    type:
                        'POST',
                    url: url,
                    data: myData,
                    success:
                        function (result) {
                            $('.modal-dialog', window.top.document).parent('div').remove()
                            $('body', window.top.document).find('.modal-backdrop').remove();
                            // jquery 调用刷新当前操作的table页面的refresh方法
                            $(window.parent.document).contents().find(".tab-pane.fade.active.in iframe")[0].contentWindow.doQuery();
                            if (result)
                                window.Ewin.alert({message: '修改数据成功!'});
                            else
                                window.Ewin.alert({message: '修改数据失败!'});
                        },
                    error: function (status) {
                        window.Ewin.alert({message: status.status + ':修改数据失败!'});
                    }
                });
            }
        });
    })
    ]]>
</script>
</body>
</html>