<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="include/includebase"></head>
<link th:href="@{/css/stage/bom-stage.css}" rel="stylesheet"/>
<meta charset="UTF-8">
<title>全BOM配置一级清单</title>
<style rel=""></style>
<body class="content-body">
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">×
                </button>
                <h4 class="modal-title" id="myModalLabel">操作错误</h4>
            </div>
            <div class="modal-body">请选择一个项目</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
            </div>
        </div>
    </div>
</div>
<div class="panel-body col-md-12">
    <div class="input-group">
        <button class="btn btn-default" id="myButton" type="button">刷新</button>
        <button class="btn btn-default" id="addVehicle" type="button">添加列信息</button>
        <button class="btn btn-default" id="setStage" type="button">设置阶段与版本</button>
        <button class="btn btn-default" id="release" type="button">发布</button>
        <!--<button class="btn btn-default" id="reflect2Y" type="button">特性关联2Y层</button>-->
        <!--<button class="btn btn-default" id="save" type="button" onclick="save()">保存</button>-->
    </div>
    <div class="panel panel-default" style="margin-top: 50px;">
        <div class="panel-body col-md-12">
            <form class="form-inline" role="form" style="float: left; width: 100%;margin-left: 20px;" method="post"
                  id="queryLoadBom">
                <div class="form-group">
                    <label for="platforms">车型平台:</label>
                    <input type="text" class="form-control" name="platforms" id="platforms" placeholder="请输入车型平台"/>
                </div>
                <div class="form-group">
                    <label for="modelnumber">车型项目编号:</label>
                    <input type="text" class="form-control" name="modelnumber" id="modelnumber"
                           placeholder="请输入车型项目编号"/>
                </div>
                <div class="form-group">
                    <label for="modelyear">车型年:</label>
                    <input type="text" class="form-control" name="modelyear" id="modelyear" placeholder="请输入车型年"/>
                </div>
                <div class="form-group">
                    <button type="button" id="searchBtn" onclick="" class="btn btn-primary">搜索</button>
                </div>
            </form>
            <div class="content col-lg-12" style="overflow: auto;max-height: 550px">
                <table class="table table-striped" id="cfg0Table" style="min-width: 1920px;"></table>
            </div>
        </div>
    </div>

</div>

</body>
<script th:src="@{/js/helper/projectHelper.js}"></script>
<script th:src="@{/js/stage/bom-all-cfg2.js}"></script>
<script th:inline="javascript">
    function doQuery() {
        $("#myButton").trigger('click');
        // $('#dataTable').bootstrapTable('refresh');    //刷新表格
    }
</script>
</html>