<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="include/includebase">
<meta charset="UTF-8">
    <title>特性表</title>
</head>
<body>
<div>
    <input id="demo1" type="text" value="9deb81ea-9544-473b-aeb5-d7683c7753c3" placeholder="请输入你要查询的id">
    <input type="button" value="查询" onclick="find()">

</div>

<div id="demo2">

</div>
    <script type="text/javascript">
        function find(){
            var id = $("#demo1").val();
            console.log(id);
            $.ajax({
                url: "config/getFeature",//登录的api
                data:{
                    pCfg0MainItemPuid:id
                },
                type: "GET",
                dataType:'json',
                success:function(result){
                    let data = document.getElementById("demo2");

                    let table ="<table border='1' cellpadding='0'>"+"<tr><th>特性名称</th><th>特性描述</th><th>特性英文名称</th><th>字符长度</th><th>特性值/配置代码</th><th>特性值/配置描述</th></tr>"
                    let array = result.data;

                    for(var i = 0;i<array.length;i++){
                        table+="<tr>"+"<td>"+array[i].pH9FeatureName+"</td><td>"+array[i].pCfg0Desc+"</td>"
                            +"<td>"+array[i].pH9FeatureEnName+"</td>"+"<td>10</td>"
                            +"<td>"+array[i].pCfg0ObjectId+"</td>"+"<td>"+array[i].pH9FeatureDesc+"</td>"
                            +"</tr>"
                    }
                    table+="</table>";
                    data.innerHTML = table;
                },
                error:function(err){

                    console.log(3333)//请求失败
                }
            });

        }
    </script>
</body>
</html>