<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2018.
  ~ This file was written by fancyears·milos·malvis @connor. Any question/bug you can post to 1243093366@qq.com.
  ~ ALL RIGHTS RESERVED.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.connor.hozon.bom.bomSystem.dao.main.HzCfg0MainRecordDao">
    <resultMap id="BaseResultMap" type="sql.pojo.cfg.main.HzCfg0MainRecord">
        <id column="PUID" jdbcType="VARCHAR" property="puid"/>
        <result column="P_ITEM_NAME" jdbcType="VARCHAR" property="pItemName"/>
        <result column="POST_DATE" jdbcType="TIMESTAMP" property="postDate"/>
        <result column="POSTER" jdbcType="VARCHAR" property="poster"/>
        <result column="P_CFG0_ORG_PUID" jdbcType="VARCHAR" property="pCfg0OrgPuid"/>
        <result column="P_CFG0_OF_WHICH_PROJECT" jdbcType="VARCHAR" property="pCfg0OfWhichProject"/>
        <result column="P_CFG0_OF_WHICH_PROJECT_PUID" jdbcType="VARCHAR" property="pCfg0OfWhichProjectPuid"/>
        <result column="P_CFG0_LAST_MOD_DATE" jdbcType="TIMESTAMP" property="pCfg0LastModDate"/>
        <result column="P_CFG0_ORG_POSTER" jdbcType="VARCHAR" property="pCfg0OrgPoster"/>
        <result column="FEATURE_SYN_DIC_FLAG" jdbcType="INTEGER" property="featureSynDicFlag"/>
    </resultMap>
    <sql id="Base_Column_List">
        PUID,
        P_ITEM_NAME,
        POST_DATE,
        POSTER,
        P_CFG0_ORG_PUID,
        P_CFG0_OF_WHICH_PROJECT,
        P_CFG0_OF_WHICH_PROJECT_PUID,
        P_CFG0_LAST_MOD_DATE,
        P_CFG0_ORG_POSTER,
        FEATURE_SYN_DIC_FLAG
  </sql>
    <sql id="Base_Values_List">
        #{puid,jdbcType=VARCHAR},
        #{pItemName,jdbcType=VARCHAR},
        #{postDate,jdbcType=TIMESTAMP},
        #{poster,jdbcType=VARCHAR},
        #{pCfg0OrgPuid,jdbcType=VARCHAR},
        #{pCfg0OfWhichProject,jdbcType=VARCHAR},
        #{pCfg0OfWhichProjectPuid,jdbcType=VARCHAR},
        #{pCfg0LastModDate,jdbcType=TIMESTAMP},
        #{pCfg0OrgPoster,jdbcType=VARCHAR},
        #{featureSynDicFlag,jdbcType=INTEGER}
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from HZ_CFG0_MAIN_RECORD
        where PUID = #{puid,jdbcType=VARCHAR}
    </select>
    <select id="selectByProjectPuid" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from HZ_CFG0_MAIN_RECORD
        where P_CFG0_OF_WHICH_PROJECT_PUID = #{projectPuid,jdbcType=VARCHAR}
    </select>
    <insert id="insert" parameterType="sql.pojo.cfg.main.HzCfg0MainRecord">
        insert into HZ_CFG0_MAIN_RECORD(
        <include refid="Base_Column_List"/>
        )
        values(
        <include refid="Base_Values_List"/>
        )
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="sql.pojo.cfg.main.HzCfg0MainRecord">
        UPDATE HZ_CFG0_MAIN_RECORD t
        <set>
            <if test="featureSynDicFlag!=null">
                FEATURE_SYN_DIC_FLAG=#{featureSynDicFlag,jdbcType=INTEGER}
            </if>
        </set>
        <where>
            t.PUID = #{puid,jdbcType=VARCHAR}
        </where>

    </update>
</mapper>